[2022-06-06 15:37] athei commented on #1252
It is still nightly. There is no stable way to use `alloc` in a `no_std` binary.

[2022-06-06 18:22] xgreenx commented on #10298
To confirm that assumption @0x7CFE can disable gas metering and do one more measurement.

Also, to avoid the influence of debug logs, you can measure the total time of the execution and the time to init the executor. The difference - is the time of call execution.

[2022-06-06 23:57] xlc commented on #11538
We really need a solution to this. I am doing a cargo check and it is downloading repos and I have already finished my coffee and it still downloading.

[2022-06-07 02:38] zjb0807 opened #11608 "parity_wasm are different versions"
https://github.com/open-web3-stack/open-runtime-module-library/runs/6765223030?check_suite_focus=true
[code]

https://github.com/alexcrichton/wasm-gc/blob/deb1c6dc3aec39a3f2bdc5595266212ead448490/wasm-gc-api/Cargo.toml#L17

https://github.com/paritytech/substrate/blob/a0a40adbf57b47b445012c6cbca940c991c94197/utils/wasm-builder/Cargo.toml#L23
the `parity-wasm = "0.32"` is old

[2022-06-07 02:58] xlc commented on #11608
related https://github.com/paritytech/substrate/issues/1262

[2022-06-07 05:13] nazar-pc commented on #11538
What I ended up doing is just using our fork of Substrate repo with most branches (including `gh-pages`) removed. This helped a lot with build times.

[2022-06-07 07:56] duktig666 opened #11612 "subkey build error on macos 12.4(M1)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

### env info
macos 12.4 M1
rust:

- stable-aarch64-apple-darwin (default)
- nightly-aarch64-apple-darwin
- rustc 1.61.0 (fe5b13d68 2022-05-18)

substrate: v2.0.1

### exec
[code]

### error in

[2022-06-07 08:06] duktig666 commented on #11612
Execute the following command to solve the problem:
[code]

[2022-06-07 08:46] bkchr commented on #11608
Not related at all.

[2022-06-07 08:58] nazar-pc opened #11614 "100% thread usage thread with ParityDB"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I have noticed that under heavy load some nodes get stuck with one thread using 100% of CPU core. Turns out this is what the core is doing:

<details>

[code]

[code]

[code]

</details>

Thos

[2022-06-07 09:08] bkchr commented on #11612
Should be fixed now, I yanked the problematic crate: https://github.com/paritytech/wasm-instrument/issues/20

[2022-06-07 09:08] #11612 closed

[2022-06-07 09:08] bkchr commented on #11608
I yanked the `wasm-instrument` crate, so this is solved for now: https://github.com/paritytech/wasm-instrument/issues/20

[2022-06-07 09:08] #11608 closed

[2022-06-07 09:12] bkchr commented on #11614
CC @arkpar

[2022-06-07 09:20] bkchr commented on #11604
Is this reproducible all the times? Regardless of the machine configuration etc?

[2022-06-07 09:39] arkpar commented on #11614
There are no loops in `Db::get` /`column::hash_key`, so it must be something in the networking.
Another possible issue is IOPS throttling by the cloud service provider. Make sure you are not hitting any limits.

[2022-06-07 09:42] arkpar commented on #11614
@nazar-pc could you get a `-lsync=trace` log?

[2022-06-07 09:43] Wizdave97 commented on #10579
@bkchr  Would host functions be removed entirely along side the  native runtime?
Or would there be a workaround for that?

[2022-06-07 11:56] hussein-aitlahcen commented on #11604
We are experiencing the same issue at Composable. All the machines, regardless of configuration. Only happening since v0.9.22 though

[2022-06-07 12:10] 0x7CFE commented on #10298
I no longer work on this.

[2022-06-07 12:43] dartdart26 commented on #7288
I've been thinking about chain extensions and ability to use external `std` libraries. What I am getting at is that the native runtime (very conveniently) allows usage of any Rust library (`std` or `no_std`) and expose functionalities from it to smart contracts via a chain extension. Can that be achieved by having the Wasm runtime only?

[2022-06-07 13:00] rajesh-nodle opened #11615 "Looking for some support on - Remove `without_storage_info` on pallets & migration to BoundedVec ..."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

* [Remove `without_storage_info` on pallets · Issue #8629 · paritytech/substrate](https://github.com/paritytech/substrate/issues/8629)

* [BoundedVec + Shims for Append/DecodeLength by kianeni

[2022-06-07 14:25] shawntabrizi commented on #11615
I think you need to just add the derive macro to the `UnlockChunk` type. Here is an example from a random struct in Substrate:

[code]

[2022-06-07 15:53] athei commented on #7288
You would need to add a new host function to your client in order to do that. However, by making use of that host function your runtime would become incompatible to be run on a relay chain validator. But using the native runtime would have the same effect. So this is essentially only useful for stand alone chains. But keep in mind that everything put in native makes forkless runtime upgrades much

[2022-06-07 15:55] athei commented on #10298
Yes I also thought of this. Redoing this with disabled gas metering would be interesting to conform the theory.

[2022-06-07 17:01] drskalman commented on #10469
Next step: https://github.com/w3f/bls/issues/46

[2022-06-08 02:39] xlc opened #11619 "ensure #[pallet::constant] is actually constant"
It is possible to annotate a field with `#[pallet::constant]` which is actually not a constant and causing unexpected behaviour.

We should have a way to assert the pallet constant are actually constant. Not exactly sure how it can be implemented but there must be some way.

Related: https://github.com/paritytech/polkadot/issues/4015 https://github.com/AcalaNetwork/Acala/issues/2184

[2022-06-08 02:54] ianhe8x commented on #9811
It's fixed. thanks.

[2022-06-08 02:54] #9811 closed

[2022-06-08 13:01] rithythul commented on #7458
Has anyone try this concept out yet?

[2022-06-08 14:07] AurevoirXavier commented on #7458
You could take a look at https://github.com/darwinia-network/fork-off-substrate

[2022-06-08 15:17] nazar-pc commented on #11619
We actually (ab)use the fact that it isn't actually a constant (at least in a sense that we can have different values without updating runtime) for implementing dynamic cost of storage (our `LengthToFee` is not constant, it is derived from consensus and changes every block).

Otherwise we'll need to refactor and make `LengthToFee` non-constant and that has significant implications.

[2022-06-08 21:27] xlc commented on #11619
In that case it should not be annotated with `#[pallet::constant]` and provide a different way to expose the value.

[2022-06-08 22:17] nazar-pc commented on #11619
Well, Bastian suggested that it is fine as long as value stays the same for the duration of a particular block, so we went with that.
I did find it counter-intuitive as well.

[2022-06-08 22:28] ggwpez commented on #7458
I tried out the `fork-off-substrate` but its hitting JS limits https://github.com/maxsam4/fork-off-substrate/issues/87
Not sure if the Darwinia fork fixed that?

[2022-06-09 03:24] shiyivei opened #11622 "The "LOCAL (fork-aware) DB" API is not available for offchain workers yet."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

when I started node, the terminal shows:

The "LOCAL (fork-aware) DB" API is not available for offchain workers yet.
And there is no block created

Any body can help me solve it, thanks

### S

[2022-06-09 04:51] bkchr commented on #11619
Did I? :D I can not remember :P

To the issue, I'm with you @xlc, but it will maybe also be hard to solve.Using the example of @nazar-pc, we may would need to introduce `LengthToFeeStatic` and a `LengthToFeeDynamic`. While one needs to be set and the other one could be `None` or something. However, I think there are more of these things hidden in the code base.

A trick to check if constants are r

[2022-06-09 05:30] bkchr commented on #11622
Which commit did you checked out? And this is the vanilla template?

[2022-06-09 07:24] xlc commented on #11619
I guess the short term solution will be have `#[pallet::constant]` generate an integrity test that calls get and ensure it doesn't access storages.

[2022-06-09 07:26] nazar-pc commented on #11619
But in our protocol it does for `LengthToFee` and will break our codebase,

[2022-06-09 08:26] xlc commented on #11619
It is not a constant so you should be fine

https://github.com/paritytech/substrate/blob/a0a40adbf57b47b445012c6cbca940c991c94197/frame/transaction-payment/src/lib.rs#L287-L288

[2022-06-09 08:56] rithythul commented on #7458
Thanks @AurevoirXavier, we tried once but didn't work.

[2022-06-09 08:58] AurevoirXavier commented on #7458
Weird, our state is more than 1g.

[2022-06-09 10:15] xlc commented on #11619
I can totally see this breaks a lot of chains, so it could be an opt-in feature to start with.

[2022-06-09 10:55] koute commented on #11604
I'm trying to reproduce the issue but so far no luck.

If anyone can reproduce this I'd appreciate if you could do the following:

1. Compile your node binary with debug symbols. (Open `Cargo.toml` and add `debug = true` to `[profile.release]` then run `cargo build --release`; this might not be necessary, but it's better to have it than not.)
2. Download and unpack in the same directory where your

[2022-06-09 11:10] dartdart26 commented on #7288
Thank you for the feedback!

Yes, I agree it has limitations. I guess my point was that using the native runtime with chain extensions in that way can be thought of as a Substrate feature in the same way as forkless runtime upgrades. I think it adds more flexibility to Substrate and allows for implementing different use cases.

[2022-06-09 15:03] #11615 closed

[2022-06-09 17:55] #11518 closed

[2022-06-09 23:40] #10384 closed

[2022-06-09 23:44] ggwpez commented on #10384
Did you close it since its stale or does it not panic anymore?
How do I reproduce this in case its still an issue? @ferrell-code

[2022-06-09 23:51] xlc opened #11626 "Transaction pause pallet"
A pallet that allow governance origin to pause a certain calls.

It can be used as an emergency mechanism to pause an exploitable transaction type.
It can be used to disable a new feature and enable it at a later date.
It can be used to pause certain transaction type during a multi block migration.

Examples:

Acala: https://github.com/AcalaNetwork/Acala/blob/master/modules/transaction-pause/src/l

[2022-06-09 23:59] xlc opened #11627 "Improved transaction payment pallet"
Currently transaction payment pallet made a lot of assumption of how the fee is calculated and charged and made it not suitable for many chains.

The asset tx payment pallet is also not generic enough to be reusable.

Parachain teams are making their own fork to support fee payments with different tokens. It will be good if we can have a generic transaction payment pallet to abstract common code t

[2022-06-10 00:12] ferrell-code commented on #10384
Yeah I know what the issue was, the benchmarks assume that `T::MembershipChanged::set_prime()` is implemented but for one of Acala's pallets we don't care about the prime member so `set_prime()` was not implemented... This breaks the benchmarking, but only for that particular case

[2022-06-10 00:17] xlc opened #11628 "Pallet to enable dynamic session length"
When network just launched, it is beneficial to have a low session length that allow session key rotation to be faster and therefore reduced impact time on misbehaving collator s/ validators.

When network is more stable, it is beneficial to have a long session length to reduce the overhead of rotate session.

Acala's implementation: https://github.com/AcalaNetwork/Acala/blob/master/modules/sessio

[2022-06-10 10:39] NZT48 commented on #11604
Thanks @koute, I have started it yesterday and now waiting for node to run out of memory. Can you contact me on element  (nzt:matrix.org) so I can provide you the download link for files?

[2022-06-10 10:48] AndreiNavoichyk commented on #8016
Hey @bkchr
We received the same error after applying the forkless upgrade with v3.0.0 to the network with v2.0.1.
Could you add more details about `you will need to update the nodes before applying the runtime upgrade on chain`?
Thanks.

[2022-06-10 20:28] tugytur opened #11638 "nomination-pools: allow pool operators to manage claimable funds"
Currently when someone joins a nomination pool they have to actively manage it by claiming rewards or increasing their bond.
From our experience delegators want to stake and forget. Depending on the complexity of the custody this would be a rather big burden.

It would be great if the pool operator could take over this task for their members.
A member could set a default action for claimable funds

[2022-06-11 12:48] kianenigma opened #11641 "staking: allow nominator to bail out of the automatic reward payment"
For accounting purposes, a nominator might prefer to receive their rewards exactly when they wish. I have not looked too much yet, but it seems like this is not trivially possible. Nonetheless, I think it is an avenue worth exploring.

[2022-06-11 12:50] kianenigma commented on #11409
Clearly proxies are the way to go.

[2022-06-11 12:50] #11409 closed

[2022-06-11 12:50] kianenigma commented on #11076
After trying this out once, it proved to not be worth the extra hassle.

[2022-06-11 12:50] #11076 closed

[2022-06-11 12:53] kianenigma commented on #8250
cc @georgesdib

[2022-06-11 15:58] ggwpez opened #11642 "Return the maximal key length from State Migration RPC"
Returning the max key len from the state migration RPC is good for https://github.com/paritytech/substrate/pull/11639 to get a sensible limit for the `MaxKeyLen`.
The default of `512` should be fine for most cases, but just to be sure.
@cheme already did it here https://github.com/paritytech/substrate/compare/master...cheme:example_rpc

[2022-06-11 17:42] MC-Terrence commented on #11352
Hello @kianenigma is this agreed to be worked on now?
I'd love to work on this.

[2022-06-11 18:46] ggwpez commented on #10777
`ParityDB` can be used since its not experimental anymore. Its much faster anyway.

[2022-06-11 18:46] #10777 closed

[2022-06-11 23:12] eldargab opened #11644 "WrapperKeepOpaque<T> types expose wrong metadata"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

For kusama chain, starting from spec version 9130, the `OpaqueCall` type from `Multisig` pallet is exposed as 2 field composite where the second field is typed as a regular `Call`.

This is ve

[2022-06-12 03:08] nazar-pc opened #11646 "Improve discoverability of NoTagsProvided error"
I hit this with an unsigned extrinsic that didn't (effectively) propagate (physically it did of course):
https://github.com/paritytech/substrate/blob/e0ccd008fe8bfaf29357ea87561e60f3baaae08c/client/transaction-pool/api/src/error.rs#L38-L43

It was really surprising and was actually hard to debug to find the root cause, it was mostly silently ignored.

I feel like there should be a louder message f

[2022-06-12 04:31] nazar-pc opened #11647 "ParityDb database corruption on power loss"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Got a user that had power loss on their machine with node using ParityDb. After restart they can't start the node anymore with following error:
[code]

I wasn't able to get my hands on databas

[2022-06-12 11:28] xlc opened #11648 "Include runtime API defs into metadata"
Context: https://github.com/polkadot-js/api/issues/4930

This will help client to query the available runtime APIs and able to invoke them with correct data.

[2022-06-12 12:43] ggwpez commented on #11647
\> Simulate power loss

How?
I think this was a point of discussion before, since just "simulating" a power loss does not cause the same kind of data corruption as an *actual* power loss.
cc @arkpar @cheme

[2022-06-12 12:45] nazar-pc commented on #11647
Hard to tell as this happened to a user, maybe running in a VM and force reset it. Still waiting for responses from user on file system used and any potential OS tunables changed.

[2022-06-12 16:40] #11096 closed

[2022-06-13 05:14] MC-Terrence commented on #11627
Hello @kianenigma I'm taking this up.

[2022-06-13 05:46] koute commented on #11647
Running in a VM and force resetting it will still probably not simulate a real power loss. It's really hard to design a database which guarantees that no corruption will happen on a real power loss, especially considering that for many drives `fsync` is actually broken in the presence of power loss.

I haven't done any tests myself, but I'm pretty sure [this is true](https://twitter.com/xenadu02/s

[2022-06-13 06:04] koute commented on #11614
@nazar-pc Depending on the exact bottleneck this might or might not be helpful, but could you do the following on that node when this happens? (This is safe to do even in production and shouldn't affect the node negatively in any way.)

1. Download and unpack this: https://github.com/koute/not-perf/releases/download/0.1.1/not-perf-x86_64-unknown-linux-gnu.tgz
2. Run: `./nperf record -p $PID_OF_YOU

[2022-06-13 06:07] nazar-pc commented on #11614
I think it was happening when configured to have large number of peers, decreasing it helped, but I still expected that degradation is graceful across the board rather than lockup for half an hour at times. Will try to do what you suggested :+1:

[2022-06-13 08:43] bkchr commented on #11644
Yes, that is the entire reason it is prepended with its length. Not sure what you now expect? How should the type express that it may fails to decode as `Call`?

[2022-06-13 09:13] eldargab commented on #11644
Any type wrapped with `WrapperKeepOpaque` should be exposed as `Vec<u8>` (as it was done before).

Imaging an indexer which ingests raw data, decodes it and stores as JSON in some database. For such indexer, `WrapperKeepOpaque<T>` looks like `(Compact<u32>, T)`. It will unexpectedly fail if bytes related to `T` will be incorrect, which is a standard situation and supposed to be a part of normal fl

[2022-06-13 09:55] kylezs opened #11652 "`..Default::default()` syntax in GenesisConfig causes infinite recursion."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Using the `..Default::default()` syntax within a pallet's Default impl causes infinite recursion on `my_runtime::GenesisConfig::default()`

### Steps to reproduce

In some custom pallet:
[code

[2022-06-13 11:01] kylezs commented on #11652
I'm not sure about existing substrate pallets, but either way, it's an issue with the framework.

This is valid rust code. It does not create infinite recursion.

[code]

However, when used in genesis storage, it does recurse infinitely.

[2022-06-13 11:20] nazar-pc commented on #11652
Well, you're calling method from within itself. What did you expect?

[2022-06-13 11:32] kylezs commented on #11652
Yeah after some more playing around, the way my intuition about how `..Default::default()` works was wrong. So yeah non-issue.

[2022-06-13 12:16] nazar-pc opened #11654 "Introduce ability to stop node programmatically"
Currently there is no way to stop Substrate node fully programmatically (and disable signal handling). This is a tracking issue for adding such support.

The first part is line 310 in TaskManager:
https://github.com/paritytech/substrate/blob/0ba251c9388452c879bfcca425ada66f1f9bc802/client/service/src/task_manager/mod.rs#L306-L327

The only way to create an instance of it is through `TaskManager::n

[2022-06-13 12:17] WB-Expert5007 commented on #3330
Hello, Everyone.
I hope you and your family are in good health.

When I run substrate node template, after some hours, server has been blocked.
I run this command, "./target/release/node-template --dev --tmp --ws-external --rpc-external"

How can I fix this problem?
Please help me.
Best Regards.

[2022-06-13 12:51] nazar-pc commented on #11654
It was that way I wouldn't be here :joy:
See issue linked above.

[2022-06-13 13:34] arkpar commented on #11647
Can't reproduce on my physical linux box with unplugging the power.
@nazar-pc Could you find out the disk drive model and the filesystem used by any chance?
Also a link or some instructions on how to build and sync subspace node would be appreciated.

[2022-06-13 13:58] koute commented on #11604
@NZT48 Thank you for the data!

I have done preliminary investigation of the problem; there's indeed a memory leak here:

![leak](https://user-images.githubusercontent.com/246574/173367485-0c3440ff-3a2f-443b-ba3d-09e7a18a378d.png)

The leak's in an unbound channel for the network service events; the other side of the channel stopped receiving these events (either due to a deadlock, or because it w

[2022-06-13 15:13] bkchr commented on #11654
The database isn't dropped until you have all `Client` references dropped.

And do you have this fix in your code base: https://github.com/paritytech/substrate/pull/11371?

[2022-06-13 16:08] nazar-pc commented on #11654
I know, for quick testing I'm downgrading `Arc<Client>` to `Weak<Client>`, drop everything and then trying to upgrade it and it always succeeds, meaning something still owns an instance of it.

Yes, I saw #11371 and we do have that only included, currently running 5f0aa1feb7250ac7b8c1b9928f87b2420b530e22 from June 3rd.

[2022-06-13 17:17] ggwpez commented on #3330
@WB-Expert5007 please consider opening a new issue with some more information.
For example the log output and how you tried to connect to the node. Please also include any error message.

[2022-06-13 17:41] flipchan commented on #8453
It would be really nice to get a freeze function that can freeze X amount of a certain asset's.  Similar to how it's doable with  "T::Currency::freeze(AccountId, Balance)?".
I am currently manually implementing this in the LLM pallet(the freeze X amount of a certain asset, where the use case is that asset's work similar to tokens) at https://github.com/liberland/liberland_substrate . It would be g

[2022-06-13 19:18] WB-Expert5007 commented on #3330
Hello, Oliver.
Thanks very much for your answer.
I sincerely hope to be friends with you.
If you are okay, please contact me via telegram or skype.
Here is my contact infos.
Skype: live:.cid.44ac462970fee555
Telegram: https://t.me/Worlddev5007
I look forward to your reply.
Best Regards.

[2022-06-13 19:40] ggwpez commented on #3330
Sorry @WB-Expert5007 but this GitHub is the place to reports issues for Substrate.
For more general questions please head here https://substrate.stackexchange.com/
I cannot and do not want to leave the official communications channels for reasons of fairness and safety.

[2022-06-14 04:31] nazar-pc commented on #11614
Log was like this, likely due to node running in a container:
<details>

[code]

</details>

[20220614_041342_633529_subspace_node.nperf.zip](https://github.com/paritytech/substrate/files/8896389/20220614_041342_633529_subspace_node.nperf.zip)

[2022-06-14 06:47] Doordashcon commented on #6042
Is this still a needed task to solve @shawntabrizi?

[2022-06-14 07:16] nazar-pc commented on #11647
https://docs.subspace.network/protocol/farm/farming has info on how to run pre-built binaries and how to build from source (nothing special if dependencies are in place). You don't need farmer app (and thus can skip `--validator`) to test the node itself, also you can use this to sync faster:
<details>

[code]

</details>

Waiting response on disk and fs from user.

[2022-06-14 09:15] bkchr commented on #6042
Yes, looks like their is still stuff to do.

[2022-06-14 09:40] kianenigma opened #11663 "Test"
Test

[2022-06-14 09:40] #11663 closed

[2022-06-14 09:40] kianenigma opened #11664 "nomination-pools: prevent `bonded_balance` to go below `MinJoinBond`"
Currently, once a member wants to join a pool, we enforce them to put at least `MinJoinBond` into the pool.

https://github.com/paritytech/substrate/blob/abb80e54aa260514a4f12712a9ff8ef944e3b4ec/frame/nomination-pools/src/lib.rs#L1422

But we allow them to immediately unbond and go below this value, without any checks. To fix this, the `unbond` transaction should ensure that the **bonded balance**

[2022-06-14 10:03] joepetrowski opened #11665 "Make `get_dispatch_info` and `weight_to_fee` Available via state_call"
When constructing XCM Transact calls, it's useful to have an idea of how much weight some call will consume and how much that weight will cost in order to `BuyExecution`. `query_info` only takes a fully encoded extrinsic and returns the weight and fee, but requires some hacks, namely:

- Users must add some bytes to represent an extrinsic (signature/signed extensions), but an XCM Transact will jus

[2022-06-14 10:24] bkchr commented on #11665
This is already returned by [`payment_querInfo`](https://github.com/paritytech/substrate/blob/bc7a1e6c19aec92bfa247d8ca68ec63e07061032/frame/transaction-payment/rpc/src/lib.rs#L94-L119).

And should that not be doable with `payment_queryFeeDetails`?

[2022-06-14 10:41] #11175 closed

[2022-06-14 10:58] joepetrowski commented on #11665
Ah, I didn't see that. OK :+1:

AFAIK, no, because it expects an extrinsic, not just a call.

[2022-06-14 11:50] xiyu1984 commented on #11410
I found if I use mapping, then I cannot use `Vec<User-defined structure>` as another member of the contract.
Like this:
[code]

and the `SimNode` is:
[code]

The error is: `cannot find derive macro PackedAllocate in this scope`

I need to iterate `sim_routers`, even if I put it in mapping it is not allowed.

So currently, is the only way we can implement things like this is that putting `SimNode`

[2022-06-14 12:08] muharem commented on #8896
To question 1.
The downstream function creating referendum (`inject_referendum`) accepts the `end` block pointing to the current block. May in in purpose. The function is private and used in many places. If new constraints should be added to it, we better have different issue.

[2022-06-14 15:01] ggwpez opened #11667 "pallet benchmarking: Incorrect step-size rounding"
Just writing this down so i dont forget it...

## Current Situation

Suppose you have a step size of 50 for a parameter `c` in range `[0, 999]`.
The step size will be calculated as integer division: `⌊999 / 50⌋ = ⌊19.98⌋ = 19`.
When the multiplied with up to 50, the final value is 950 instead of 998.

## Fix

Calculate the step size as float and then round the result of the following multiplicatio

[2022-06-14 16:24] cheme commented on #9174
Just checked again, looks a bit closer to 10% these day (for kusama compact wasm from 6.83M to 6.08M and zstd on compact compressed results in 1.29M, on striped compact results in 1.17M).
No opinion if worth losing symbol in trace (in theory could use try_runtime when needed).

[2022-06-14 22:35] athei commented on #9431
Thinking about this again I don't think that this allows the runtime to cause consensus errors: The runtime could include an invalid proof which would lead to an invalid block because while executing it transactions the validators determine that some storage is missing. But all validators would agree on that and it will just be a new class of block invalidity. I figure that case needs to be handle

[2022-06-15 05:40] WB-Expert5007 commented on #3330
@ggwpez
Hi, How are you?
Please help me.
Yesterday, I have tried to solve problem my server stop after some hours after running by execute this command "./target/release/node-template --dev  --ws-external --rpc-external"  .
But After more than 40 hours and server generated more than 9200 blocks, it has been stopped automatically again.
Here is the command error.
![Error](https://user-images.github

[2022-06-15 06:19] WB-Expert5007 commented on #6727
Everyone. Please help me.

When I run my substrate node server by running this command "./target/release/node-template --dev --ws-external --rpc-external", server works well and start generating blocks first. But after few hours, my server is been stopped and also stopped generating blocks automatically. How can I solve this problem? Here is Terminal Error.
![Error](https://user-images.githubuserc

[2022-06-15 06:59] WB-Expert5007 commented on #10992
Everyone. Please help me.

When I run my substrate node server by running this command "./target/release/node-template --dev --ws-external --rpc-external", server works well and start generating blocks first. But after few hours, my server is been stopped and also stopped generating blocks automatically. How can I solve this problem? Here is Terminal Error.
![Error](https://user-images.githubuserc

[2022-06-15 07:26] WB-Expert5007 commented on #4464
Everyone. Please help me.

When I run my substrate node server by running this command "./target/release/node-template --dev --ws-external --rpc-external", server works well and start generating blocks first. But after few hours, my server is been stopped and also stopped generating blocks automatically. How can I solve this problem? Here is Terminal Error.
Best Regards.
![Error](https://user-imag

[2022-06-15 07:55] kianenigma opened #11671 "nomination-pools: optimize re-bonding unclaimed rewards."
There is an option in pools to directly bond your unclaimed rewards. This is currently coded, as of https://github.com/paritytech/substrate/pull/11669, such that is basically like a transfer. The funds are literally transferred to your account, and taken out again.

We can and should optimize this such that the account of the pool member is not touched in this process. Although, since they pay the

[2022-06-15 07:56] kianenigma opened #11672 "nomination-pools: add optional commission"
Currently, we don't have commission, and we prefer to keep the code simple and ship without this. Nonetheless, it is reasonable to add an optional commission for pool operators.

[2022-06-15 07:58] kianenigma commented on #10861
This not relevant anymore as of #11669

[2022-06-15 07:58] #10861 closed

[2022-06-15 08:19] anonymousGiga opened #11673 "How to repair a Substrate Chain in the way time warp?"
# Issue
Our test network is suspended for some reason. We want to use the way time warp to restore it. I found the issue #4464. But there is a big difference between the  version which we use ( our version is polkadot-v0.9.18).

I also read here（https://substrate.stackexchange.com/questions/168/how-to-unbrick-a-substrate-chain-revert/175#175）, but there is no detailed description of how to perform

[2022-06-15 10:12] gdnathan opened #11674 "Compiler crash when using a storage with a hasher that implement `ReversibleStorageHasher`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When i try to use a storage with a hasher that implement ReversibleStorageHasher, so i can use `.iter()` on my storage, the copmiler crash (lsp crash, cargo crash...). More details in the step

[2022-06-15 11:08] andresilva commented on #11673
https://github.com/paritytech/substrate/commit/d0decd934335f98398f159b4c0ca7117e2641f91

These are the changes you need to apply temporarily to your nodes. You need to change `REVIVE_TIMESTAMP` to the time  in the future when you are expecting to start the warp (i.e. most validators will be running this code by then), and the `FORK_TIMESTAMP` to the time of the last block that was authored before

[2022-06-15 11:11] Janislav commented on #7383
I'm facing the same problem right now, but I'm not really sure if I understand the discussed solution here. As far as my understanding goes I've to do the following things:

1. Run the benchmark tool for grandpa against my runtime
2. Extend the resulting struct with the missed function
3. In this function I combine the resulting benchmarks of
    - session::check_membership_proof_current_session

[2022-06-15 12:52] nazar-pc commented on #11674
You should probably report this into rustc instead

[2022-06-15 12:56] bkchr commented on #11674
Yep, this is a rustc bug, not Substrate related. Going to close the issue.

[2022-06-15 12:56] #11674 closed

[2022-06-15 15:02] pepyakin opened #11677 "Benchmarking of Slacked Gas Metering performance impact"
This task aims to:
1. Test the performance impact of the slacked gas metering feature (write-up [here](https://github.com/bytecodealliance/wasmtime/issues/4109)) compared to no metering.
1. Find the best trade-off for the parameters. The prototype is available in my fork of wasmtime [here](https://github.com/pepyakin/wasmtime/commit/4c9795a99a99e52832deffadb3f0a5e91d23c2af).

In that fork, I abuse

[2022-06-15 15:15] gdnathan commented on #11674
Okay, thanks.

[2022-06-15 17:10] Szegoo commented on #10396
@shawntabrizi I would like to give this a try, I am going to make an early pull request so you can check if I am on the right track.

[2022-06-15 23:30] #11388 closed

[2022-06-16 01:33] shawntabrizi commented on #11595
Let's also use this issue to add an event to pallet assets tx payment

[2022-06-16 02:10] xiyu1984 commented on #11410
Thanks a lot. I get it~

[2022-06-16 06:09] joepetrowski opened #11683 "Add an event to Asset Transaction Payment"
Follow up to https://github.com/paritytech/substrate/pull/11618

Should address https://github.com/paritytech/cumulus/pull/1367#discussion_r897680999 for a consistent experience on Statemint regardless of what asset one pays a fee in.

[2022-06-16 06:20] anonymousGiga commented on #11673
I succeeded in repairing the chain in this way. Thank you very much.

[2022-06-16 06:50] hzy1919 commented on #11683
I will continue the job.

[2022-06-16 06:54] hzy1919 commented on #11595
@shawntabrizi  Yeah, I would like to continue that .

[2022-06-16 06:55] eldargab commented on #11644
The point, that WrapperKeepOpaque types can fail to decode was completely missed by https://github.com/paritytech/substrate/issues/10058.

Have a look at https://github.com/polkadot-js/api/issues/4415 to see what happened after that :)

Nevertheless, I think https://github.com/paritytech/substrate/issues/10058 relates to a broader topic of absence of any formal semantic information in substrate me

[2022-06-16 07:22] gdethier opened #11684 "Missing logs after `cargo update` in the node template"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When cloning the [substrate node template](https://github.com/substrate-developer-hub/substrate-node-template), upgrading all dependencies (i.e. running `cargo update`) and running the node, s

[2022-06-16 12:21] bakhtin commented on #1017
As it becomes exponentially hard for a multi-component multi-threaded application to track and fix latent issues in runtime without making a real progress, it is sometimes better to just crash the application. Exceptions should be properly handled, unhandled exceptions become errors which should lead to a crash. A supervisor process will take care of the restart.

Liveness probe is not required at

[2022-06-16 12:32] lexnv opened #11689 "RPC server: Implement backpressure for subscriptions"
## Details

RPC subscriptions produce items that are unbounded. This can lead to internal buffers growing too much,
especially when consumers are too slow.

This issue opens the discussion for implementing backpressure for the RPC subscriptions.

## Options

### JsonRpsee + Substrate

One option for implementing this would be to have a type of `BoundedStream` implemented in the JsonRPSee
which ens

[2022-06-16 12:33] lexnv commented on #11689
cc @niklasad1 @jsdw @koute

[2022-06-16 12:52] koute commented on #11689
At least for the storage change notifications my PR here adds backpressure support to `substrate`: https://github.com/paritytech/substrate/pull/11382

With that PR merged any pending storage notifications that get consumed too slowly get automatically dropped (but in a way where the client won't actually miss any notifications, so it's different than just blindly dropping them). I haven't looked i

[2022-06-16 13:34] koute commented on #11689
So just to make sure: if the client's too slow to consume the messages then `jsonspsee` will currently just infinitely buffer them, correct?

This might not necessarily make it easier, but when creating a subscription handler I think API-wise it'd make sense to be forced by `jsonrpsee` to either:

a) always specify a limit of how many messages `jsonrpsee` should buffer (or not buffer at all and ju

[2022-06-16 14:22] tomaka commented on #11689
cc https://paritytech.github.io/json-rpc-interface-spec/dos-attacks-resilience.html for a quick 101 about back-pressure

[2022-06-16 21:59] bernardoaraujor commented on #11667
yo @ggwpez can I give this a try?

[2022-06-16 23:30] shawntabrizi commented on #11667
@bernardoaraujor yes go for it. There is more than this to though, sometimes we allocate too many steps for a function.

For example:

assume a range between 0 and 99.

We want 50 steps.

The math is:

(99 - 0) / 50 = 1 with integer division.

Now we calculate the actual number of steps:

(99 - 0) / 1 = 99 steps

Ideally, we should only really take 50 steps, but make sure to always take at least 5

[2022-06-17 03:49] atenjin opened #11691 "sc-tracing may not print log in some case after the `tracing-log` update to v0.1.3 with feature `interest-cache`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

after substrate pr "Turn on logger's interest cache (#11264 )" , the `tracing-log` has updated to 0.1.3 with the feature  `interest-cache`. but it seems that the upstream crate `tracing-log` h

[2022-06-17 03:51] atenjin commented on #11691
@koute this pr is yours, so maybe you can help me..

[2022-06-17 03:57] #11477 closed

[2022-06-17 06:38] bkchr commented on #11691
Yeah, I already looked into this. Upstream changed some code. I identified the bug and planning to fix it today.

[2022-06-17 10:53] koute commented on #11604
Here's why it's leaking:

1. In `cumulus/client/relay-chain-inprocess-interface/src/lib.rs` we initialize the relay chain node like this with `enable_beefy` being always unconditionally set to `true`:

[code]

2. In `polkadot/node/service/src/lib.rs` if BEEFY is enabled we spawn the BEEFY gadget:

[code]

3. In `substrate/client/beefy/src/lib.rs` the gadget initializes `sc_network_gossip::GossipEn

[2022-06-17 10:57] koute commented on #11604
Fix available here: https://github.com/paritytech/substrate/pull/11694

[2022-06-17 11:38] bkchr commented on #11604
@skunert please fix this. Beefy should always be disabled (at least for now).

[2022-06-17 13:48] bkchr commented on #11684
Superseded by: https://github.com/paritytech/substrate/issues/11691

[2022-06-17 13:48] #11684 closed

[2022-06-17 14:11] Szegoo commented on #11472
I will give this a try.

[2022-06-17 14:27] #11604 closed

[2022-06-17 22:17] bkchr opened #11700 "Remove consesus/evaluation.rs?"
This file contains some initial checks that the block number increased or that we can decode/encode the block. It is questionable if we really to keep to do these checks after build each block. In the end other nodes would reject an invalid block anyway and we don't slash for invalid blocks.

Yeah this is mainly defensive, we can probably think about removing all these checks.

_Originally posted

[2022-06-17 23:02] drewstone opened #11701 "Genesis session handler runs before genesis build function"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I have a `OneSessionHandler` implementation in a pallet that executes some code on the genesis sesssion:
[code]

I also have a GenesisBuild code block that executes some logic with the genesis

[2022-06-18 02:45] atenjin commented on #11691
Cool work, thanks for @bkchr .

But I'm still confused why the log print is fine in substrate/cumulus/polkadot, but not work for a normal project... is there any config or code to trigger this?  though you have fix it in the upstream crate, but I wanna know why this happen...

So can you explain it in a short way? thanks.

[2022-06-18 10:06] atenjin commented on #5215
so if you are planning to add more api for subtrie, why not add more?

for example, for now
[code]

just provide put/get, however for substrate runtime level, it also provide `next` which can be used for mapping.

ink! has change the Btreemap to Mapping which reduces iter feature, why not add `next` for subtrie api, so that ink! can also iter map just like substrate runtime

[2022-06-18 10:31] athei commented on #5215
There is an issue for that: https://github.com/paritytech/substrate/issues/11410

[2022-06-18 16:07] WB-Expert5007 commented on #4334
Hi, Everyone. How are you? I am converting the consensus engine from poa to pos on substrate node template project. For it, I am referencing this github, https://github.com/ltfschoen/substrate-node-template/pull/4/files. But there is one problem. Reference project's version is 3.0.0 but my current substrate-node-template project's version is 4.0.0-dev. So I have modified some code and tried to bui

[2022-06-18 22:23] bkchr commented on #11691
Pin `tracing-core` to `0.1.26` in your project and it will work as before.

[2022-06-18 22:29] bkchr commented on #1017
@niklasad1 can you implement the `readiness` endpoint? It should check that we are not doing a major sync and that we have at least one peer. This should be fairly simple.

[2022-06-18 22:39] bkchr commented on #11701
This depends on the order of your pallets in your `construct_runtime`. The `on_genesis_session` is called when the `session-pallet` is initiated at genesis.

[2022-06-18 22:57] Doordashcon commented on #9724
@andresilva is this still a needed issue to solve?

[2022-06-19 14:25] 99Kies opened #11706 "`frame-support-procedural-tools` -- module `group` is private"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

parachain: v0.9.22

cargo build --release report log:
[code]

### Steps to reproduce

_No response_

[2022-06-19 17:11] jasl commented on #11706
meet this at `polkadot-v0.9.24` too

[code]

[2022-06-19 17:21] jasl commented on #11706
Pin syn to `1.0.82` resolve the issue, so it might be an upstream breaking

[2022-06-19 18:08] bernardoaraujor commented on #11667
I have a working solution here: https://github.com/bernardoaraujor/substrate/commit/541a28dd096f5c689d04040f8bdd08e258006a8c

please note that when doing the case in the original issue description (`self.steps=50`, `range=[0-999]`) the last value is `979`, not `998`.
[code]

the main point of the solution is that it sticks to the provided number of steps during the `for` loop, and rounding from `f

[2022-06-19 18:09] bernardoaraujor commented on #11667
should I also re-benchmark the FRAME pallets and include it in the PR?

[2022-06-19 19:41] WB-Expert5007 commented on #7220
Hello, Everyone.
I am getting this error.
Please help me.

error[E0277]: the trait bound `C: ProvideRuntimeApi<sp_runtime::generic::Block<sp_runtime::generic::Header<u32, BlakeTwo256>, sp_runtime::generic::UncheckedExtrinsic<MultiAddress<AccountId32, ()>, node_template_runtime::Call, MultiSignature, (frame_system::extensions::check_non_zero_sender::CheckNonZeroSender<node_template_runtime::Runtime

[2022-06-19 19:45] WB-Expert5007 opened #11708 "rpc create_full funtion error of substrate node template"
Hello, Everyone.
I am converting consensus engine from Poa to Pos of substrate-node-template_v4.0.0 project.
And I am getting this error when build the project.
How can I fix this error?

error[E0277]: the trait bound `C: ProvideRuntimeApi<sp_runtime::generic::Block<sp_runtime::generic::Header<u32, BlakeTwo256>, sp_runtime::generic::UncheckedExtrinsic<MultiAddress<AccountId32, ()>, node_template_r

[2022-06-19 19:49] jasl opened #11709 "Show boot-node PeerID != PeerID warning on that node"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

[code]

[code]

### Steps to reproduce

1 Add a node to boot-node in chainspec
2 Restart the node with the new chainspec

[2022-06-19 19:50] WB-Expert5007 commented on #11708
And Here is my source codebase.
Please check carefully.
https://github.com/WB-Expert5007/Poa_to_Pos
Best Regards.

[2022-06-19 21:58] WB-Expert5007 opened #11710 "How can I use substrate_frame_rpc_system & sc_client_api modules on substrate-node-template project?"
Hi, Everyone.
I am getting this error.
Please help me.

Compiling node-template v4.0.0-dev (/home/mersaid/Documents/HARRY/Task/Climacoin/node)
error[E0432]: unresolved import `substrate_frame_rpc_system::LightSystem`
   --> node/src/rpc.rs:196:35
    |
196 |     use substrate_frame_rpc_system::{LightSystem, SystemApi};
    |                                      ^^^^^^^^^^^ no `LightSystem` in the

[2022-06-19 22:01] WB-Expert5007 commented on #11710
Here is my Codebase.
Please check carefully and help me.
https://github.com/WB-Expert5007/Poa_to_Pos
Best Regards.

[2022-06-20 03:22] ethernomad commented on #11706
Set syn to 1.0.96 and remove the checksum in Cargo.lock to fix your build.

[2022-06-20 09:53] #11706 closed

[2022-06-20 13:56] IkerAlus opened #11714 "Add a note with more info about `num_slashing_spans` for the call `withdraw_unbonded` in the Staking pallet."
It would be nice to add a note or further explanation for [the documentation](https://github.com/paritytech/substrate/blob/6001b59f9f64a133d55fc13a495acc76eb4b532f/frame/staking/src/pallet/mod.rs#L967) around the input `num_slashing_spans` for the call `withdraw_unbonded` in the Staking pallet.

Tools offering staking services have asked about what is the right value to input for `withdraw_unbonde

[2022-06-20 16:50] ggera commented on #11709
faced the same error log ~ `X != X`
[code]

[2022-06-20 19:19] nazar-pc commented on #11709
I saw this happening if you add node to bootnode of itself.
There is a potential to handle it more gracefully of course.

[2022-06-20 20:19] #11178 closed

[2022-06-20 22:13] mikiquantum opened #11717 "WASM copy-on-write strategy breaks when running docker image on Mac M1"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When running `rococo-local` using image `parity/polkadot:v0.9.23` (same for `parity/polkadot:v0.9.24`), after a session change, ~20-30 blocks, both validators `alice` and `bob` fail with the f

[2022-06-21 02:23] wetalice opened #11718 "Exported method `TryRuntime_on_runtime_upgrade` is not found"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I according to this [document](https://docs.substrate.io/v3/tools/try-runtime/), the try-Runtime code written does not run.
my project [https://github.com/listenofficial/listen-parachain/blob/

[2022-06-21 08:04] bkchr commented on #11717
CC @koute

[2022-06-21 08:09] bkchr commented on #11718
Run with `--chain dev`. Your `test` chain spec is loaded from a file and this chain spec doesn't contain the wasm with the required runtime api.

[2022-06-21 08:36] koute commented on #11717
Hmm.... it's failing always at the same place, from the error it looks like it's accessing uninitialized memory, and that place where it's failing accesses a global variable. Looks like the memory might not be properly cleared between runtime invocations.

I've seen something like this before: qemu's user mode emulator has a bug where it doesn't properly emulate `madvise(MADV_DONTNEED)` that `wasm

[2022-06-21 08:41] bkchr commented on #11717
Ahhh! Good point. Yeah that is broken in Qemu. I was once confused why my tests are failing on my virtual machine on my M1. https://github.com/bytecodealliance/wasmtime/pull/3770 this is the solution in their CI. Maybe we could try to detect QEMU and then disable the instance reuse?

[2022-06-21 08:55] koute commented on #11717
So does Docker on M1 Macs use qemu's user mode emulation?

It is weird that legacy instance reuse scheme seems to work, because it also uses `madvise(MADV_DONTNEED)` to clear its memory. Although it's probably also subtly broken and only works by accident; for that instantiation scheme the whole WASM executor is never actually reinitialized from scratch, so it handles not clearing the memory bette

[2022-06-21 09:07] #11718 closed, assigned to nobody

[2022-06-21 14:06] koute commented on #11717
@mikiquantum Can you perhaps try to do a retest with the patch from this PR applied and see if the issue's still there? https://github.com/paritytech/substrate/pull/11722

[2022-06-21 14:54] mikiquantum commented on #11717
@koute thanks for the quick response and action! I will try running the tests in a docker env and try building the substrate node docker image and try running it too.

[2022-06-21 15:51] MrishoLukamba opened #11723 "assert_ne ,macro should be available"
I think this is missing in testing in substrate runtime

[2022-06-21 15:52] MrishoLukamba commented on #11723
@shawntabrizi @bkchr

[2022-06-21 19:32] bkchr commented on #11644
This was not missed, otherwise I had switched it directly to a `Call`. What you are here trying to construct is something, that even not the runtime can do. The runtime also can just try to decode this data and it can fail to decode. Or it decodes it, but accidentally into some different type. Nevertheless, the only possible solution here is to try the decoding.

[2022-06-22 00:54] xlc opened #11728 "rpc_methods did not include rpc_methods"
`rpc_methods` should include itself in the response

[2022-06-22 01:07] mikiquantum commented on #11717
@koute Trying to build a polkadot docker image with updated dependencies based on your fork/branch and I am getting this compilation error when running the docker build:
[code]
For context:
- ubuntu 20.04 / amd host
- This patch https://github.com/mikiquantum/polkadot/commit/d0f6f69e7716b42a2ca95452ed3d0004044f797b
- This docker file: https://github.com/mikiquantum/polkadot/blob/master/scripts/ci/

[2022-06-22 02:33] sunfishcode commented on #11717
The issue is related to [this line](https://github.com/koute/substrate/commit/d6e2395e658ccef69780bdd73b09f5f4b49b8838#diff-9ab040b7afb04c13017e840a895b6f4034e759b2595856628265de40ae80d246R36). This might be fixable by removing the `default-features = false`, or adding the "std" as a feature on that line. Or, it might be fixed by compiling with nightly Rust.

Rustix has an experimental no-std mode

[2022-06-22 03:57] apiscerena opened #11729 "Calling seal_debug_message func in wasm bytecode is unreachable?"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

This is one piece of code in erc20.wasm using wasm2wat.
`(if $I13
        (i32.ne
          (call $seal0.seal_debug_message
            (local.get $p0)
            (local.get $p1))
          (

[2022-06-22 05:18] mikiquantum commented on #11717
Thanks @sunfishcode , that is it. I modified the docker image slightly to use nightly instead and the compilation went through. I guess that `polkadot_builder.Dockerfile` file is not used to build the docker images that are published. Possibly, instead the binary is built elsewhere using some nightly and later injected in the docker image when building.

In any case, @koute seems that the fix is w

[2022-06-22 05:47] koute commented on #11717
@sunfishcode Thanks for your explanation and @mikiquantum thanks for the retest!

Technically my fix is more of a workaround instead of a proper fix, but since the issue's not in our code there's not much else we can do. It'd probably be a good idea to raise this issue with Docker to let them know that this is broken; [this function](https://github.com/paritytech/substrate/blob/0c1bbf92e9116d82489

[2022-06-22 07:00] ntn-x2 opened #11731 "Latest tagged ci-linux Docker image failing"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

It seems that using the latest tagged `ci-linux` Docker image fails to compile/test our project in a GitLab runner.

We have an [open PR](https://github.com/KILTprotocol/kilt-node/pull/370) to

[2022-06-22 09:43] niklasad1 commented on #11728
Hey, it's been like that for a very long time IIRC.

The format is:
`{"jsonrpc":"2.0","result":{"methods":[<methods here>]}`

Are you saying that you want it in the list methods such as `[<methods>, "rpc_methods"]`?

[2022-06-22 10:47] xlc commented on #11728
We implemented a nodejs server that can forwards RPC calls to Substrate RPC node. It uses `rpc_methods` to determine the available rpc methods. And it failed to forward `rpc_methods` because that's not included from the response from `rpc_methods`.

[2022-06-22 13:20] nazar-pc opened #11734 "Allow timezone configuration for logs"
It is easier to deal and correlate logs in UTC, but currently node uses local timezone for logs and there is no config option that I can see to change that.

Would be great to support such customization or even disabling default log handler such that node implementation can create its own.

[2022-06-22 13:51] bkchr commented on #11729
CC @athei

[2022-06-22 14:05] kianenigma opened #11736 "Rename outer enums to `RuntimeCall`, `RuntimeEvent`, etc"
we should really just rename the `Call` generated by the construct_runtime! to `RuntimeCall`.

_Originally posted by @kianenigma in https://github.com/paritytech/substrate/pull/8458#discussion_r602125898_

- [x] Call
- [x] Event
- [x] Origin

---

See confusions such as https://substrate.stackexchange.com/questions/3360/using-scheduler-pallet-to-schedule-contract-pallet-call

[2022-06-22 16:03] #11526 closed

[2022-06-23 10:53] bkchr commented on #11731
CC @TriplEight

[2022-06-23 12:10] #11029 closed

[2022-06-24 10:21] TriplEight commented on #11731
This is correct. `error: failed to run custom build command for `prost-build v0.10.4` [error](https://gitlab.parity.io/parity/mirrors/substrate/-/jobs/1624127/raw) was caused by the fact is started to require `protoc`, which wasn't installed into a CI image. Now it is [added](https://github.com/paritytech/scripts/blob/master/dockerfiles/base-ci-linux/Dockerfile#L43) (the base image for `ci-linux`)

[2022-06-24 11:10] #11731 closed

[2022-06-25 18:27] Doordashcon commented on #9724
@andresilva is this still a needed issue to solve?

[2022-06-25 19:00] JoshOrndorff opened #11742 "Offchain Worker Api should be optional"
Currently the Substrate client requires that every runtime implement the Offchain worker runtime Api. Many (maybe even most?) runtimes do not use offchain workers and have to stub this Api like

[code]

While it isn't the hardest thing to paste that code into your runtime, it adds an entire dependency on `sp_offchain` for runtimes that don't otherwise need it.

I suggest the offchain worker api no

[2022-06-25 19:07] JoshOrndorff opened #11743 "Metadata Api should be optional"
Currently the Substrate client requires that every runtime implement the Metadata runtime Api. But not all runtimes will need this Api. When writing a simple runtime, probably without frame, you have to stub this runtime api with something like this

[code]

Is metadata intended for use in FRAME only? If so, I don't think it should be required.

cc @kianenigma
[code]

[2022-06-25 19:29] burdges commented on #9724
I'm confused by "static" here.  You want a global limit no chain ever exceeds?  Or you want some more authoritative governance controlled limit?

We believe no substrate chain will ever exceed 3072 validators because we believe the [OmniLedger](https://eprint.iacr.org/2017/406) sharding approach kicks in before 1500 validators, possibly before 768, and someone might require a factor of two so the

[2022-06-26 05:13] crystalin commented on #7006
@shawntabrizi I see this has never been solved. Should we consider the current state to be the intended behavior ? (cc @bkchr )

The current behavior is problematic as it makes the state impossible to validate without having the history of the block. Ex:
It is not possible to do:
[code]

[2022-06-26 07:05] Szegoo commented on #11672
I have a couple of questions about this issue.

If I understand this correctly by pool operators you mean all the pool roles inside the ```PoolRoles``` struct?

- Do all of the administrative roles get the commission? Maybe we could make choosing who receives a commission configurable(e.g setting that only the nominator gets the commission). Also, do all of them get the same share of the commissio

[2022-06-27 05:34] apiscerena commented on #11729
thanks for your reply, i just wanna know if there is a way to disable the compiler to  compile the seal_debug_message function into wasm bytecode?

[2022-06-27 07:27] athei commented on #11729
Pass `--release` to `cargo contract build`.

[2022-06-27 09:18] sudipghimire533 commented on #11723
It's already available isn't it? `assert_eq` and `assert_ne` is not to be defines by substrate but should already be there from rust

[2022-06-27 11:15] andresilva commented on #9724
We want a static limit that can only be changed by a runtime upgrade, similar to what exists here: https://github.com/paritytech/substrate/blob/master/frame/babe/src/lib.rs#L176-L178, so that we can use this limit to use size-bounded collections like here: https://github.com/paritytech/substrate/blob/master/frame/babe/src/lib.rs#L198-L205.

For example this vector in session pallet can currently g

[2022-06-27 13:04] KiChjang commented on #11723
Yes indeed: https://doc.rust-lang.org/stable/std/macro.assert_ne.html.

[2022-06-27 13:04] #11723 closed

[2022-06-27 14:23] koute commented on #11677
Here are some benchmark numbers. The times in the first three benchmarks are in microseconds, and for the last benchmark they're in seconds.

---

call_empty_function (this measures instantiation overhead when no memory is touched)
| threads | fuel  | without_fuel |
|---------|-------|--------------|
| 1       |  6.83 |  6.96        |
| 2       | 16.37 | 16.88        |
| 4       | 27.45 | 28.78

[2022-06-27 14:37] wirednkod opened #11749 "nomination-pools: Add era to `Unbonded` event"
In nomination-pools tests that test cases that has Era as part of the case, it is a good idea to add in the `assert_eq!` of `pool_events_since_last_call` the era as part of the `eq`.
E.g. in the [partial_unbond_max_chunks](https://github.com/paritytech/substrate/blob/master/frame/nomination-pools/src/tests.rs#L2099) and [this assert_eq!](https://github.com/paritytech/substrate/blob/master/frame/no

[2022-06-27 14:44] lucasvanmol opened #11750 "Docker image used in `node-template`'s docker-compose.yml is outdated"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The docker image in the node template's `docker-compose.yml`  seems to be using an outdated version of Cargo (see steps to reproduce below). [This line](https://github.com/substrate-developer-

[2022-06-28 05:43] bkchr commented on #11750
CC @NukeManDan

[2022-06-28 06:54] #11717 closed

[2022-06-28 09:42] athei opened #11751 "contracts: Make chain extensions composeable"
Currently, you can only have one chain extension per `pallet-contracts`. The runtime author needs to provide a type implementing `ChainExtension` to the `Config` trait which is then called into whenever a contract uses a chain extension:

[code]

The meaning of the `func_id` is defined by the chain extension itself. The chain extension would use it to select which sub functionality (function) it s

[2022-06-28 09:43] athei commented on #10144
We will do the MVP as a chain extension in a separate repository to get around the fact that we can't depend on polkadot from substrate. This will be useful for that: https://github.com/paritytech/substrate/issues/11751

[2022-06-28 10:59] athei opened #11752 "Refactor `sp-sandbox` to accomodate new `wasmi` API"
## Background

Within substrate we have two places where `wasmi` is used:

### [`sc-executor`](https://github.com/paritytech/substrate/tree/master/client/executor)

This is the part of substrate which is responsible for executing the **runtime**. Hence `sc-executor` is part of the client and is never compiled to wasm as it is the part that actually executes the wasm. Another responsibility of `sc-

[2022-06-28 11:26] acatangiu opened #11753 "pallet-mmr: batch proofs are sometimes broken"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

https://github.com/paritytech/substrate/pull/10635 added support for generating and/or verifying proofs for multiple leaves at a time.

Single leaf proof generation/verification seems to alway

[2022-06-28 11:27] acatangiu commented on #11753
ping @Wizdave97 as original PR author
ping @Lederstrumpf for ideas, looks more like a MMR library bug

[2022-06-28 11:44] acatangiu commented on #11231
Added [BEEFY project](https://github.com/orgs/paritytech/projects/25) to track relevant issues and PRs.

[2022-06-28 11:44] #11231 closed

[2022-06-28 15:24] koute commented on #11677
Some more numbers. Everything is in microseconds, and for all of the benchmarks their 1 thread variant was run. Exactly the same base commit of `wasmtime` was used in all of the benchmarks, that is: the `no_fuel` and `vanilla_fuel` were run with `wasmtime` from `f19d8cc8510535b03eb92e6eb9a643bd47f5314e`, while `async_fuel` were run with @pepyakin 's fork from [here](https://github.com/pepyakin/was

[2022-06-28 16:29] Wizdave97 commented on #11753
Seems this is the line causing the failure in that case is this line here https://github.com/paritytech/substrate/blob/master/frame/merkle-mountain-range/src/lib.rs#L293
`proof.items.len() as u32 > mmr::utils::NodesUtils::new(proof.leaf_count).depth()`

The depth is less than the proof items length by difference of 1, so it fails at that point, If that check is commented out the test passes, seems

[2022-06-28 16:42] pepyakin commented on #11677
Those are fascinating findings.

Unless my benchmarks were broken, they showed vanilla had a considerable overhead. The lowest difference was in keccak and the highest difference was in regex and wasmi.

The question is now how that applies to workflows we are interested in (and even, what those workflows are). The situation with wasmi is concerning since I anticipate that people would like to imp

[2022-06-28 19:30] burdges commented on #9724
How do the size-bounded collections help?  It's weight computations?

I suppose 3072 fits nicely if you do not matter a factor of 2x or 3x but likely going that high requires other runtime upgrades, so it could be set lower if required.

[2022-06-29 02:22] apiscerena commented on #11729
really appreciate it. BTW, could you please tell me if I could find the docs or any references about the execution mechanism of wasmi, specifically the workflow between value_stack and call_stack in the wasmi Interpreter.

[2022-06-29 08:22] koute commented on #11677
Okay, indeed, the difference can be bigger depending on the benchmark. I ported the [regex_redux benchmark](https://github.com/paritytech/wasmi/blob/29110ed2469702b23ea6263e1a936eb2af6701c6/benches/benches.rs#L283) into our test runtime (it uses wasmi from within the runtime to interpret a WASM kernel which uses the regex crate) and here are the results:

| threads           | no_fuel            |

[2022-06-29 10:26] pepyakin commented on #11677
Those numbers are significantly different from whatever I saw locally and I am curious to know why we see this difference. Could you update your branch if you haven't so that I can reproduce?

Those are fascinating results. It looks like maybe using vanilla can be used already. Later on we might optimize it with the slacked metering it needed and it is worth it. For that we can refocus on implemen

[2022-06-29 11:03] koute commented on #11677
Yeah, it'd be a good idea if another set of eyes could double-check those results.

I've pushed all of the changes to my branch; go into the `wasmtime-benches` in the root directory and run the `run2.sh` to rerun the wasmi_regex_redux benchmark and `run1.sh` for the other benchmarks.

I could check if necessary, but it's certainly doing less work in the WASM. It's still not an insignificant amount

[2022-06-29 14:46] flipchan commented on #9303
did this solve the problem?

Cant this be solved with a runtime migration?
I'm having the same problem:
[code]

https://github.com/edgeware-network/edgeware-node/issues/20

[2022-06-29 18:31] tifecool commented on #11736
I'd like to pick up this issue. Would I have to work in-depth with macros?

[2022-06-29 21:07] pepyakin commented on #11677
Below are the results of running `./run2.sh`. I used two machines: a bare metal hetzner AMD Ryzen x5950 and my unplugged laptop based on Apple Silicon (M1 Max, aarch64). I was also using my laptop a bit so I guess it is noisy, but it is still significantly faster than x5950.

The numbers in ns so I converted them into us. Weird thing I had to increase the amount of fuel for M1 Max by adding 3 zero

[2022-06-30 06:13] koute commented on #11677
Those are very interesting results, I wouldn't expect that a newer microarchitecture would make the fuel checks essentially zero cost. This is a stupid question, but you *did* enable the fuel checks for the async fuel benchmarks and if you lower the amount of fuel it interrupts itself properly, right? (:

Anyway, I just had an idea. I ran a quick experiment: I took your `wasmtime` branch and appli

[2022-06-30 11:20] acatangiu opened #11761 "BEEFY: add one/more zombienet tests"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

BEEFY is currently only tested with simple 4-node unit-tests. It would benefit of a larger integration test most easily done using zombie-net.

### Steps to reproduce

_No response_

[2022-06-30 11:32] kianenigma opened #11762 "EPM/Staking-miner: commit-reveal based submission"
# Overview

The current signed phase of the election-provider-multi-phase pallet has a major flaw: There is a single transaction, quite heavy, that submits both the solution and the payload of a signed solution.

This is a lot of burden on the chain, and a lot of tx-fee for miners, even if they are honest.

To partially fix this, we introduced #11002, so that a number of honest miners get their tr

[2022-06-30 11:40] kianenigma commented on #11762
Marking it as unconfirmed for now to allow discussion around the design.

cc @niklasad1 your input will be useful.

[2022-06-30 15:17] pepyakin commented on #11677
I just re-ran all the benchmarks and can confirm that they result in the very similar numbers. Lowering the fuel available results in a proper interrupt, which indicates it actually doing metering.

Regarding the vanilla fuel + pinned reg. I think your snippet lacks the fuel check in the loop headers. I uncommented it there and run the benchmarks.

I actually tried this (I think revisions before b

[2022-06-30 15:42] pepyakin commented on #11677
M1 results

- No fuel: 286486 us
- Vanilla fuel: 375514 us (31% increase)
- Vanilla fuel + pinned reg: 385862 us (34.6% increase)
- Async fuel: 296153 us (3.37% increase from no fuel)

I cross-checked the result several times, and yes, it seems that the vanilla metering that leverages pinned register is slower than flushing/reloading the counter allowing it to spill.

[2022-06-30 16:24] pepyakin commented on #11677
And to top it off, run1.sh on x5950 shows similar performance on the block production benchmark.

- no fuel: 2159813 us
- vanilla fuel: 2208390 us (2.2% increase)
- vanilla fuel + pinned reg: 2165488 us (2.2% increase)
- async fuel: 2198707 us (1.8% increase)

[2022-06-30 16:45] shawntabrizi commented on #11677
From what I understand with what @pepyakin told me in DM, that this fuel metering is baked into the Wasm runtime, and exists whether or not we use it.

If so, can we generate a Wasm runtime with the fuel metering, and simply run all the runtime benchmarks to see the impact of each extrinsic?

[2022-06-30 17:03] pepyakin commented on #11677
To give the context,

When you initialize wasmtime, you need to create an engine. You can [configure](https://docs.rs/wasmtime/latest/wasmtime/struct.Config.html#method.consume_fuel) it to embed the fuel metering. If you do so, then all the modules you [create](https://docs.rs/wasmtime/latest/wasmtime/struct.Module.html#method.new) with that engine will consume gas. When you create a module from w

[2022-06-30 18:48] burdges commented on #8055
We still need this, which requires updating https://github.com/paritytech/substrate/pull/8764.

We now need to understand the difference between ed25519-zebra and ed25519-consensus, which forked after 3 Dec 2020 --- commit https://github.com/ZcashFoundation/ed25519-zebra/commit/0e7a96a267a756e642e102a28a44dd79b9c7df69

https://github.com/penumbra-zone/ed25519-consensus/commits/main
https://github.

[2022-06-30 18:53] burdges commented on #8055
We'll stick with ed25519-zebra so #8764 needs to be updated.

[2022-07-01 05:12] koute commented on #11677
If my math is right the pinned reg percentage should be 0.2% here, no? (: Which is faster than even the async fuel run, but from what I've seen in my runs I'm assuming this is in the margin of error and they're essentially comparable here.

I guess this is a side effect of M1's huge internal register file; since that memory location is accessed so often it's kept in a register internally *anyway*,

[2022-07-01 09:16] pepyakin commented on #11677
Oh god, I am not sure what happened there. Decided not to risk it and re-run:

- no fuel: 2200360581 ns
- vanilla fuel: 2245729077 ns (2% increase)
- vanilla fuel + pinned reg: 2245572724 ns (2% increase)
- async fuel: 2185571063 ns (0.6% decrease)

When I said "replenish as needed" I did not mean it between calls but within a call. If you run the code without metering you should never observe OOG

[2022-07-01 09:49] hirschenberger commented on #11749
So a `EraIndex` has to be added to `Event::Unbonded`. Does it make sense to add it to other events as well?

[2022-07-01 10:41] koute commented on #11677
Yep. I'm currently doing that; I got a moonbeam node running, and got the EVM benches from the [smart-bench](https://github.com/paritytech/smart-bench) running. It's little awkward and slow to run, but it works. The benches don't provide actual real execution time, but I hacked that in and it seems to work and is reliable enough from run-to-run; the execution time increases the more extrinsic I qu

[2022-07-01 12:16] kianenigma commented on #11749
Which other events you have in mind @hirschenberger? It should be events that are era-related. Unbonding has a clear link to eras, because you will be unbnded 28 eras after. For, bonding for example doesn't have any significant semantical relation.

[2022-07-01 12:34] kianenigma commented on #11743
cc @bkchr @koute

[2022-07-01 12:35] kianenigma commented on #11742
Probably has the same answer as https://github.com/paritytech/substrate/issues/11743, so will close to keep our enormous issue backlog at least one less :D

[2022-07-01 12:35] #11742 closed

[2022-07-01 12:39] kianenigma commented on #11749
Updated the title to clarify what is meant :)

[2022-07-01 13:16] Szegoo commented on #11641
Currently, the rewards are paid out for every era one by one using ```payout_stakers```. If I understand correctly you want to make it so that the nominator doesn't get paid out every era, but they can withdraw their rewards whenever they want. This would be of course optional.

Could there be another incentive to bail out of the automatic reward payment other than accounting?

For doing this ther

[2022-07-01 14:51] koute commented on #11677
Here are the numbers for block execution on Moonbeam running 256 extrinsics of the erc20 contract benchmark in a single block on my Threadripper 3070x:

* no fuel: 175ms
* vanilla fuel: 234ms
* async fuel: 177ms

This looks really really good. At least for this benchmark there's essentially no impact on performance with the async fuel checks. (I made sure to check that lowering the fuel breaks the

[2022-07-02 11:15] Szegoo commented on #11671
I am going to give this a try.

[2022-07-03 13:25] jasl opened #11768 "WS error: i/o error: Transport endpoint is not connected (os error 107); and terminate connection 1056"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

*Disclaimer: I can't reproduce the problem but I get many reports from our users, including other parachain teams*

The node log only showed `WS error: i/o error: Transport endpoint is not con

[2022-07-04 07:16] athei commented on #10297
No one is working on this anymore.

[2022-07-04 07:16] athei commented on #11444
Please keep in mind that we can't actually rename as this would break existing contract. We would need to add another version with the prefix removed that does the same thing. Since that would add a lot of repetitive code it should be solved in the macro (like allowing alias names for a function). We probably want to solve https://github.com/paritytech/substrate/issues/11344 first.

[2022-07-04 07:38] niklasad1 commented on #11768
Hey,

Is the connection accepted by the server at all?

Can you elaborate how the you run the node i.e., if it's inside a kubernetes cluster, reverse proxy or something else?
Additional logs from the node, subxt, wireshark would useful for sure.

That can occur just if the some client disconnects so I think that's it's not really the issue.
Thus,  my guess is that the connection is denied and has

[2022-07-04 07:39] athei commented on #10298
No one working on this anymore. De-prioritized because we go with in-runtime wasmi for now which will get some performance updates soon.

[2022-07-04 07:51] jasl commented on #11768
For our chain usage it's usually only 1 or 2 clients connect to a node (people run a node then run another service connect to it), and they can't connect to the node at all, report by our users.

Sadly, My Ops colleague and I can't reproduce

Here's another parachain team report this issue @99Kies can you share some details?

[2022-07-04 07:56] jasl commented on #11768
BTW, the SO question isn't report by me and our users, they found the link and shared to me

This is the node start command <https://github.com/Phala-Network/khala-docker/blob/main/dockerfile.d/start_node.sh>

[2022-07-04 09:58] niklasad1 commented on #11768
I'm getting confused but this.

@jasl

From the log the above it looks like that RPC node crashes because of a segfault which led to that the connections were not accepted anymore?

Have your "users" done any investigations on the segfault (that's quite concerning)?
Would be super useful to have a backtrace so we actually know what is causing the segfault.

Can you double check if this is only rep

[2022-07-04 10:10] niklasad1 commented on #11768
@99Kies

You are saying the RPC node runs but the block production stopped after ~1 hour and then you restart the RPC node?
So it sounds like you and @jasl run into different things.

The logs you linked to is just the a connection was just closed by "client" and nothing serious what I can tell.
I don't why your block production has halted but the RPC stuff looks alright to me but I could be wrong

[2022-07-04 10:20] niklasad1 commented on #11768
However, if the entire connection is denied and it's possible to connect to a RPC node via your "app"

It's possible that your users may run [into to a host filtering/origin filter bug because `*` didn't work properly ](https://github.com/paritytech/substrate/issues/11480)

[2022-07-04 10:23] 99Kies commented on #11768
Sorry, I meant the upgraded nodes were killed, but since we have 3 collators, the block production is still normal.

[2022-07-04 10:27] jasl commented on #11768
Thank for advice! I'll asking who suffered the problem try `export RUST_LOG="jsonrpsee=trace"` first

[2022-07-04 10:37] jasl commented on #11768
@niklasad1 sorry for one more question, as you can see the error messages are not include chain tag, so it impossible to locate the parachain or the relaychain trigger this, could Substrate can improve this?

[2022-07-04 10:38] koute commented on #11677
Here are the numbers from our reference hardware. (i7-7700K running on bare metal)

## time/iter [us]
|                     | no_fuel            | vanilla_fuel       | async_fuel_10000us | async_fuel_1000us  | async_fuel_500us   | async_fuel_250us   | async_fuel_100us   | async_fuel_50us    |
|---------------------|--------------------|--------------------|--------------------|--------------------

[2022-07-04 10:50] Szegoo commented on #11352
@omadoyeabraham @gitwithterrence Are you working on this, or is the issue free to work on?

[2022-07-04 11:07] pepyakin commented on #11677
I think we would need to perform more tests. Specifically:

1. We need to see the impact on the weight benchmarks with the fuel metering enabled.
2. I think we should enable parachains teams to test how this change impacts their workflows more closely. I guess we can ask the teams to perform those tests.
3. More specifically, we need more data for EVM execution and wasmi execution on various contr

[2022-07-04 12:58] TriplEight commented on #11731
@ntn-x2 usually, we've had every `production` image also released with a SHA, it's just wasn't the case this time. Thanks for the headsoup anyway, I'll have this in mind the next time.

[2022-07-04 13:13] Marcin-Radecki opened #11772 "[try-runtime] Missing logs from try-runtime CLI"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hello, we're working on integrating `try-runtime` feature into our chain, and we faced issue in which nothing is being logged to std out, despite setting correct (as per docs) `RUST_LOG` and t

[2022-07-04 15:27] pepyakin commented on #11677
Each instruction takes 1 fuel **currently**, but as I mentioned in the last message, we should override that behavior in wasmtime with a proper schedule. We would probably want to assign a value that is higher than 1 for the cheapest instruction. We may want to accommodate for quicker hardware and/or compilers in the future. Maybe setting the cheapest instruction to 10-100 would make sense.

Then,

[2022-07-05 08:40] tdimitrov commented on #11577
@rphmeier @bkchr may I have some initial feedback on this: https://github.com/paritytech/substrate/pull/11779 ?It needs more work, but I want to check if I'm working in the right direction.

The biggest issue so far is how to implement safety check for an unimplemented method. E.g. in @bkchr 's example [above](https://github.com/paritytech/substrate/issues/11577#issuecomment-1145347025) - if `fn n

[2022-07-05 09:16] shunjizhan commented on #9921
it's potentially useful to disable banning pools completely for dev. Not only bad transactions, but also recently mined tx gets blocked. This behavior blocks implementation of any state revert for dev.

For example, this common testing flow will fail
[code]

[2022-07-05 10:31] athei commented on #11677
I think for a start you could run the `pallet-contracts` weight benchmarks off your branch. You could even use the bot for that. For some computation heavy contracts you could use the ones from here: https://medium.com/pendulum-chain/the-bright-future-of-webassembly-smart-contracts-fd7e74301aea

What we need to do is benchmark every instruction and every host function. This is exactly what the `pa

[2022-07-05 10:46] athei commented on #11665
But is there any reason why you couldn't turn your call into an extrinsic and then submit it? It shouldn't matter with which key the extrinsic is signed.

[2022-07-05 11:07] joepetrowski commented on #11665
It's _possible_ but it's also kind of a hack IMO. @TarikGul wrote [this script](https://github.com/TarikGul/yarn-pjs-template/blob/master/main.ts) to do that and that's what I use now.

It also doesn't give you the weight and execution cost of the call, because it includes `ExtrinsicBaseWeight` and the length fee. Calls made over XCM don't have this overhead. Again, it's OK-ish as it's an overesti

[2022-07-05 11:45] xlc commented on #11665
One thing I would like to add is that as we want to start using light client more, which doesn't supports custom RPC, we should avoid adding more custom RPC instead. The alternative solution is add new runtime API and use `state_call` to call the runtime API.

[2022-07-05 11:58] joepetrowski commented on #11665
Yes, that's why I linked to the runtime API source in the main body.
https://github.com/paritytech/substrate/blob/ef66142/frame/transaction-payment/rpc/runtime-api/src/lib.rs

[2022-07-05 12:44] TarikGul opened #11780 "[Frame-Feature] queryActualFee for when the weight from an extrinsic success event in known."
## Summary

Currently, we can find the estimated fee for an extrinsic that had yet to be submitted using `payment_queryInfo`, but there is no easy way to find the precise fee information about an extrinsic that is already a part of a block. I would love to add an RPC method to address this. From my understanding and testing, for chains such as Polkadot, Kusama, and Westend `rpc::payment::queryInfo

[2022-07-05 16:51] jsidorenko opened #11783 "Uniques V2 Roadmap 2022 (Tracking Issue)"
## Goals

The main goal is to apply the best standards we currently have in the NFTs space while keeping the pallet as generic as possible.

## Roadmap

### Changes to the existing core (Uniques V1):

- [x]  auto-incremental collections ids (https://github.com/paritytech/substrate/pull/12223)
- [x] new approvals structure ([Discussion thread](https://github.com/paritytech/substrate/discussions/117

[2022-07-06 04:41] #8994 closed

[2022-07-06 04:42] xlc commented on #8975
transactional is default now

[2022-07-06 04:42] #8975 closed

[2022-07-06 04:45] xlc commented on #5731
Custom RPC will be deprecated in favor or runtime API so this is no longer relevant

[2022-07-06 04:45] #5731 closed

[2022-07-06 04:45] #5255 closed

[2022-07-06 04:49] #10870 closed

[2022-07-06 11:11] acatangiu opened #11788 "BEEFY clients should import BEEFY justifications"
Plug BEEFY client into `import_block` get `SignedCommitments` from imported blocks, when available.

[2022-07-06 11:22] acatangiu opened #11789 "BEEFY voters should block on mandatory blocks"
BEEFY voters shouldn't vote on any block until all **previous mandatory blocks** have been BEEFY finalized.

[2022-07-06 12:11] athei commented on #11648
cc @ascjones

This should be added to the `sp_api::decl_runtime_apis!` proc macro. It is essentially the same that ink! does for its messages minus selector generation.

[2022-07-06 13:41] tomaka opened #11793 "Block announces handshake should use compact encoding for the block number"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The block announces handshake sent in the networking sends the block number.
Unfortunately, this block number doesn't use the compact SCALE encoding, which means that the format of the message

[2022-07-06 13:56] tomaka commented on #11793
This can be done by tweaking the `Decode` (and later `Encode`) implementations of:

https://github.com/paritytech/substrate/blob/58fd5b71021a36f835744fd14b08ae1631b9b856/client/network/src/protocol.rs#L271

[2022-07-06 14:08] tomaka commented on #10623
https://github.com/paritytech/substrate/pull/9732 has been merged, but none of the main relay chains has been updated to `state_version = 2` yet, is that correct?

Assuming that we have a migrated state, we just need to add a new boolean flag to the request in the network protocol, so that the proof in the response doesn't include the unhashed values.

[2022-07-06 14:19] cheme commented on #10623
yes (update is 0 to 1), you can follow https://github.com/paritytech/devops/issues/1508

I did not think about mixing hash only and value request, does not sounds like a bad idea. Maybe I will still prefer have global setting for compactness of query, but it is only because I don't expect user to mix both query in practice. But can be done this way.

[2022-07-07 08:33] Szegoo commented on #11783
What would the new approvals structure exactly be? Could you please provide a bit more details on that? Is there a document where these tasks are a bit more detailed?

[2022-07-07 11:37] acatangiu opened #11797 "MMR Leaf Data: off-by-one error in beefy_next_authority_set"
A given Leaf with MMR 0-based leaf index `N-1` is constructed and added to MMR during construction of block `N` [here](https://github.com/paritytech/substrate/blob/6a946fc36d68b89599d7ca1ab03803d10c78468c/frame/merkle-mountain-range/src/lib.rs#L205).

The Leaf data/contents can be seen populated [here](https://github.com/paritytech/substrate/blob/6a946fc36d68b89599d7ca1ab03803d10c78468c/frame/beef

[2022-07-07 11:50] acatangiu commented on #11797
AFAICT an easy fix is to move [Mmr: pallet_mmr](https://github.com/paritytech/polkadot/blob/5a09bf62ec7be0e90dfae335a80459728a896d95/runtime/rococo/src/lib.rs#L222) before `pallet_session` so that it builds its leaf before session is rotated.

But I would prefer a fix contained in `pallet_mmr` itself since above is prone to developer error when adding `pallet_mmr` to their runtime.

[2022-07-07 12:18] Lederstrumpf commented on #11797
So since session is rotated prior to leaf construction currently, `next_auth_set: <next_auth_set_of<N>>,` can be distinct for forks of depth 1?

[2022-07-07 12:56] vgeddes commented on #11797
We haven't really been affected by this off-by-one issue while developing our light client (or we just worked around it).

The proposed change may affect how our light client detects authority handovers. But I have a feeling there shouldn't be any impact. If there is we can update our code.

Some background on our light client: It receives updates like the following at the start of every beefy ses

[2022-07-07 14:23] acatangiu opened #11799 "pallet-mmr: improve offchain storage, relax LeafData requirements"
### Issue

PR https://github.com/paritytech/substrate/pull/11594 introduced fork-resistant offchain storage for MMR leaves.

Leaves are now saved offchain using `(parent_hash, pos)`-based key to be fork-resistant and later canonicalized to `pos`-based key.

Relying on `(parent_hash, pos)`-based keys means that conflicts could now only happen on 1-block deep forks, where two forks with identical li

[2022-07-07 15:56] Szegoo commented on #11641
For this, to work we cannot store information about the payout type(i.e automatic or manual) in the ```StakingLedger```. Every nominator should have a similar field to ```claimed_rewards``` like the one inside the ```StakingLedger```. Also, we need to keep information about the payout type for the nominators.

There should probably be a new struct for the nominator similar to ```StakingLedger```,

[2022-07-07 19:01] order-flow-labs opened #11801 "--reserved-nodes flag giving issues"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I have a list of ip4 addresses and ports of nodes/collators I'd like to connect to as peers. Unfortunately when passing in this peer list via `--reserved-nodes` I am required to supply a peer

[2022-07-07 22:16] #11801 closed

[2022-07-08 07:10] koute commented on #11677
Okay, I got the numbers from the reference hardware. However, after analyzing how these are calculated I don't think these numbers are appropriate for comparison purposes. The reason for that is twofold:

1) The weights are a product of running linear regression over the raw measurements. In some cases this produces *very* noisy results. The component weights which represent the slope of the regre

[2022-07-08 07:59] tdimitrov commented on #11577
I did a quick and dirty implementation of the above idea in the PR. Then I've added the modified substrate version in Polkadot.
Here are some cases I've tested and the compiler errors generated:

You'll see a method with `staging_` prefix. This is  because I'm using the current code. It's not a requirement.

First I tried to add a method with a version older than the stable one. Note that the api

[2022-07-08 11:09] athei commented on #11677
FWIW: All the contract benchmarks which have `/r` end up disregarding the base weight (by using `benchmark(1) - benchmark(0)`).

Is there an issue for this bug?

[2022-07-08 11:23] the-right-joyce opened #11803 "Analyse executor requirements"
# The Vision

As part of the substrate refactoring we want to analyse the requirements of the wasm executor component and figure out what improvements can be made. In particular we want to make it a separate standalone component (that isn't owned by any other component).

# The Plan

1. Analyse what kind of prioritization is required by the different users of the executor, in particular we want to

[2022-07-08 11:40] koute opened #11804 "Base weights can be zero due to a negative intercept value from the linear regression calculated during benchmarks"
By default [min squares linear regression](https://github.com/paritytech/substrate/blob/158cdfd1a43a122f8cfbf70473fcd54a3b418f3d/frame/benchmarking/src/analysis.rs#L201) is used to calculate weights for extrinsics with components. The linear regression returns two values: a single intercept value (used as the base weight which represents the constant cost for a given extrinsic) and one or more slo

[2022-07-08 11:40] koute commented on #11677
Okay, I've [made an issue](https://github.com/paritytech/substrate/issues/11804) describing this.

[2022-07-08 22:04] rphmeier commented on #11577
Could you elaborate on why this is big trouble?

[2022-07-09 15:50] tdimitrov commented on #11577
I see it as a big trouble because the developer can implement a runtime version without providing all required method implementations. And when any such method is called - runtime will crash. In my eyes this was an apocalyptic outcome but you explained this is not the case :)

I think a found a nice 'hack' which yields compilation error if a required method implementation is missing. The idea came

[2022-07-09 16:20] Szegoo opened #11808 "uniques: universal Id for items"
There is no universal id for items in the ```uniques``` pallet. I believe that it would make writing code much easier to have something like that. Currently, to identify an item we use its ``` CollectionId``` and its ```ItemId```.

We should still categorize items into collections and give them the ```ItemId``` that is specific to that collection, but we should probably introduce an id that is uni

[2022-07-09 18:51] Benzales commented on #10185
Yeah. It's not working for me either.

[2022-07-10 11:27] kianenigma opened #11810 "Rewrite proportional slashing to to not leak dust into chunks that should not be slashed."
The purpose of proportional slashing, as per #10982 and https://github.com/paritytech/substrate/pull/11782 to slash certain chunks and the active ledger, and leave the rest untouched.

This helps applications like nomination pools on top of the current staking provide better guarantees to their users.

For example, in `Ledger { active: 10, unlokcing: vec![(10, 10) (10, 11)] }`, we want to slash 5

[2022-07-11 00:34] Lederstrumpf commented on #11753
It's more than an off-by-one error - discrepancy grows with decreasing overlap of copaths of leaves to be proven.

Within a merkle tree with n leaves, a proof for a single leaf to its peak requires $\log_2(n)$ proof items (where leaves are height 0).
For proving two leaves, as long their closest mutual ancestor is of height 3 or less, you need at most $\log_2(n) +1$ proof items. Else, the proof is

[2022-07-11 09:03] muharem commented on #11665
Had a chat with @bkontur
Picking up the issue

[2022-07-11 11:55] joao-paulo-parity opened #11812 "`sync_to_tip_when_we_sync_together_with_multiple_peers` hangs test-linux-stable"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

As noted by https://gitlab.parity.io/parity/mirrors/substrate/-/jobs/1668403#L3170, which timed out after 2h, and the ongoing https://gitlab.parity.io/parity/mirrors/substrate/-/jobs/1668967#L

[2022-07-11 12:10] athei commented on #11665
Please keep in mind what @xlc said: Don't add a new RPC. Having a new runtime API should be enough in order to call it through `state_call`.

[2022-07-11 12:50] athei commented on #11677
I can't explain why `pallet_contracts/seal_ecdsa_to_eth_address` behaves so weird. It is one of the rare occurences of of in-runtime crypto code:

[code]

The hashing is delegated to the client but `k256` is compiled to wasm.

[2022-07-11 13:24] kianenigma opened #11814 "Rename `node-runtime` to something containing `kitchen-sink`"
the point of this is to further emphasize that `node-runtime` is NOTHING production-like, and should not be used, nor inspired from. It is, by all means, a kitchen sink:

https://stackoverflow.com/questions/33779296/what-is-exact-meaning-of-kitchen-sink-in-programming

[2022-07-11 13:25] kianenigma commented on #11814
A reasonable candidate in my opinion is `node-kitchensink-runtime` instead of `frame-kitchensink-runtime`.

[2022-07-11 13:39] KiChjang commented on #11814
I would probably call it a `playground` or a `sandbox` rather than a `kitchen-sink`, as it better communicates the intent behind what it is.

[2022-07-11 15:28] kianenigma commented on #11814
I think playground is actually more resemblance of a _minimal_ example that you build upon, more like `node-template`, but a kitchen sink (in programming context) is "galley of everything that has existed", which is almost exactly how we use node-runtime as it stands now.

[2022-07-12 11:13] lamafab opened #11820 "[Dicussion] Most on-chain identity fields should only allow ASCII."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

(_This possible security concern was brought forward to us by @shashank-In_)

![image](https://user-images.githubusercontent.com/42901763/178475964-4bdcb042-249c-4e4c-bd5d-aeafbe746212.png)

S

[2022-07-12 11:14] #11812 closed

[2022-07-12 11:19] #9921 closed

[2022-07-12 16:54] nazar-pc commented on #8686
With [latest PR](https://github.com/paritytech/substrate/pull/11412) still not merged I already started working on more changes. First of all addressing some of review comments from that PR that'll land separately, but also on refactorings around `NetworkService`.

On `NetworkService` specifically I noticed that there were traits here and there that were proxying calls into `NetworkService`, so I

[2022-07-13 03:38] xlc commented on #11820
That makes no sense. Web address supports unicode characters. Most of the population's legal name cannot be represented with ASCII. The runtime shouldn't enforce anything. It is up to each individual applications that consumes the data should do the normalization and handle ambiguity appropriately.

[2022-07-13 07:27] Shashank-In commented on #11820
Hi @xlc
I partially agree with this. Yes, you are right. Going for only ASCII characters won't work for many people as their names have special characters. But I strongly recommend that all emails and domain names can be converted into punny code characters to make them visible to the users. This was fixed in the past when I reported, or at least a warning or some highlighting can be used wherever

[2022-07-13 07:42] xlc commented on #11820
It is simply infeasible to perform complicated utf string validation and normalization in wasm runtime. We should just require clients does the work.

[2022-07-13 11:07] EgorPopelyaev opened #11828 "Suppress panic error message in logs while running calls from PolkadotJS"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Currently if some JSON-RPC call triggered from PolkadotJS, it leads to the runtime throwing panic error. For example, if the `Core_execute_block` is called manually, the following error is dis

[2022-07-13 11:38] kianenigma opened #11830 "nomination-pools: RPC for pending reward"
I started this in the past, but decided to close it. Now, we need it again. Continue down the same path of my original PR.

Let's start with something a lot simpler for now: just one rpc endpoint, `nominationPools_pending_rewards` that returns just the bending rewards. The rest of the data is pretty trivial to read from the chain state.

[2022-07-13 11:41] kianenigma commented on #11830
@Szegoo

[2022-07-13 14:30] Szegoo commented on #11830
@kianenigma I will look into this.

[2022-07-13 14:30] Szegoo commented on #11830
@kianenigma I will look into this.

[2022-07-14 02:36] jiguantong opened #11834 "The benchmark result of `pallet-babe` does not match `WeightInfo` trait"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Version: 4.0.0-dev

### Benchmark result [benchmarking.rs](https://github.com/paritytech/substrate/blob/master/frame/babe/src/benchmarking.rs#L26)
[code]
### `pallet_babe::WeightInfo` [trait](

[2022-07-14 02:47] jiguantong opened #11835 "The benchmark result of pallet-grandpa does not match WeightInfo trait"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Version: 4.0.0-dev

### Benchmark result [benchmarking.rs](https://github.com/paritytech/substrate/blob/master/frame/grandpa/src/benchmarking.rs#L26)
[code]
### `pallet_grandpa::WeightInfo` [t

[2022-07-14 08:24] ggwpez commented on #11835
Some pallets do not have automatic benchmarking. It is tracked in https://github.com/paritytech/substrate/issues/10780.
This is also a duplicate of https://github.com/paritytech/substrate/issues/7383.

The reason here is that the offences pallet is interlinked very tightly, and that needs benchmarks first.
It is quite complicated but doable (see https://github.com/paritytech/substrate/issues/10781

[2022-07-14 08:24] #11835 closed

[2022-07-14 08:27] ggwpez commented on #11834
This is already tracked here as well https://github.com/paritytech/substrate/issues/10780...
I dont really have the bandwidth to work on it, but it would definitely be good to have.

[2022-07-14 08:49] acatangiu opened #11837 "BEEFY: persist voter state"
BEEFY gadget in always initialized from scratch and depends on block-import, voting and sync protocol to get up to speed.

It should also persist its state so it can just resume where it left off following a shutdown/restart.

[2022-07-14 09:24] acatangiu opened #11838 "beefy: SignedCommitment/Justification channels should use versioned struct"
There are multiple component sending [BEEFY SignedCommitments](https://github.com/paritytech/substrate/blob/ded44948e2d5a398abcb4e342b0513cb690961bb/primitives/beefy/src/commitment.rs#L142) between them:

- block-import <-> voter channel
- voter <-> RPC-worker channel
- **RPC public API**

All of the above (and possibly others) should instead be using [VersionedFinalityProof](https://github.com/pa

[2022-07-14 09:58] #11417 closed

[2022-07-14 09:58] #11664 closed

[2022-07-14 10:30] TriplEight commented on #11307
Good idea, thanks.

A short explainer about how CI automatically updates Rust versions currently:
On the example of CI image for Substrate. The [job](https://github.com/paritytech/scripts/blob/master/.gitlab-ci.yml#L102) rebuilds the images [nightly](https://gitlab.parity.io/parity/mirrors/scripts/-/pipeline_schedules). While `stable` is [installed](https://github.com/paritytech/scripts/blob/maste

[2022-07-14 13:14] bkchr commented on #11780
Shouldn't this be fixed by https://github.com/paritytech/substrate/issues/11595?
Aka there is no need for a rpc?

[2022-07-14 14:26] TarikGul commented on #11780
Yea so that would work for all future blocks, but in our case we would need something like the calculation above for historic blocks to maintain that integrity for all fees in the past.

I can see from substrate's perspective how this could just cloud the runtime with more rpcs when there is a current solution already in place. Happy to have this closed if that makes sense, currently writing a sol

[2022-07-14 14:53] muddlebee opened #11842 "Substrate RPC : Response too big, Exceeded max limit of 15728640"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

error response ⬇️
[code]

curl request ⬇️

[code]

### Steps to reproduce

Hit the above curl request

[2022-07-14 15:21] bkchr commented on #11780
As the rpc would require a runtime api, it would also not be backwards compatible. So, for the past you probably can only use a custom solution.

[2022-07-14 15:33] #11780 closed

[2022-07-14 16:18] memorycancel commented on #11814
Hi @kianenigma Can I pick this issue up? I'd like to have a try.

[2022-07-14 16:19] pepyakin opened #11845 "Additional tightening against stackoverflows for runtimes and PVFs"
Don't allow to allocate the last page.

When compilers target wasm32-unknown-unknown, they would use a shadow stack. Quote from a [writeup](https://hackmd.io/@pepyakin/SkmPKGhiq) on this topic:

However, the OOB will be produced only if the last page is not accessible. If it is accessible, the data at the higher addresses will be silently corrupted when the shadow stack overflow happens.

To make

[2022-07-14 18:14] #11751 closed

[2022-07-14 19:38] crystalin commented on #10898
+1
This is a real issue because it creates inconsistency in the "reserve" amounts :(

[2022-07-15 04:51] jacogr commented on #11842
The `state_getKeys` should rather not be used, the `state_getKeysPaged` version is preferred. See https://github.com/paritytech/substrate/blob/37cca710eed3dadd4ed5364c7686608f5175cce1/client/rpc-api/src/state/mod.rs#L40-L43

Like the unsafe `state_getPairs` this version adds a lot of load on the Node since it has to iterate the trie to retrieve all matching keys, in this case it is even blowing th

[2022-07-15 10:29] Kaktus-green commented on #4611
@thiolliere any updates on this one?

[2022-07-15 10:59] jsdw commented on #11691
Just as another data point; I rely on log output from substrate telling us which port the jsonrpc WS server starts on, and on current master those lines aren't printed at all (at least on my mac) (which means the subxt integration tests are stuck waiting for the port to connect on indefinitely).

I found that removeing the the couple of `.with_interest_cache` lines in `client/tracing/src/logging/m

[2022-07-15 11:03] jsdw commented on #11691
(since the upstream fix has been lingering for a while now, wha twould be the impact of removing the interest cache from substrate until it's in? I'd quite like to have the port logging back if possible!)

[2022-07-15 12:03] pepyakin opened #11848 "Do not swallow the errors from wasmtime"
Several Polkadot validators reported errors that looked like the following:

[code]

They managed to identify that the error happened due to virtualization and KVM. It would be interesting to know what happened there exactly. However, we cannot as of now. wasmtime uses anyhow to provide rich errors, but we convert the error to string early losing all that additional information. Also, note that th

[2022-07-15 12:10] pepyakin commented on #11803
I've been collating [this project](https://github.com/paritytech/substrate/projects/11) to collect issues for the executor. I would really appreciate it if that was taken into account.

[2022-07-16 08:36] AzadNikarthil opened #11852 "Cargo build --package node-template --release failed to compile with error fatal error: 'stdarg.h' file not found"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

cargo build --package node-template --release, failed to compile with the below error

error: failed to run custom build command for `librocksdb-sys v0.6.1+6.28.2`

Caused by:
  process didn't

[2022-07-16 08:53] AzadNikarthil commented on #11852
Abe to resolve the issue by installing clang

Maybe we can add this to the documentation
https://docs.substrate.io/quick-start/

[2022-07-16 08:53] #11852 closed

[2022-07-16 12:37] bkchr commented on #11828
This will not happen anymore when we enable the following feature: https://github.com/paritytech/substrate/blob/4a19d408095ebcb47840ad1f2f086f53a0020cb7/primitives/io/Cargo.toml#L89

[2022-07-16 21:24] #11709 closed

[2022-07-16 21:29] bkchr commented on #10185
@Benzales do you get the same error? What rustc are you using?

[2022-07-16 21:38] #11700 closed

[2022-07-17 15:53] nazar-pc opened #11853 "Node must remember peers from previous runs"
Right now there is no persistence of known peers in Substrate's networking. This is a problem though because every time on node restart it'll reach out to the same bootstrap nodes over and over again, which is a point of centralization. It gets a bit better if node didn't have a long downtime and other peers will try to reconnect back to it, but overall it is something that needs to be fixed.

Som

[2022-07-17 22:36] bkchr commented on #11772
Try downgrading `tracing-core`: https://github.com/paritytech/substrate/issues/11691

[2022-07-17 22:58] bkchr commented on #11853
Duplicate of: https://github.com/paritytech/substrate/issues/4750

[2022-07-17 22:58] #11853 closed

[2022-07-17 22:59] bkchr commented on #11691
https://github.com/paritytech/substrate/pull/11854 disables it for now.

[2022-07-18 05:32] koute commented on #11848
That happens because it automatically implements `Error::source` (because the inner field is marked with `#[from]`) which returns the inner error, and in this case whatever's printing the error (it was `eyre` IIRC?) is looping over those printing them all out.

I think depending on this behavior is not an option though; yes, in this one place it does this, but we have hundreds/thousands of other p

[2022-07-18 06:16] zjb0807 opened #11855 "There is no system log with `polkadot-v0.9.26`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

polkadot-v0.9.26:
[code]

polkadot-v0.9.24:
[code]

### Steps to reproduce

https://github.com/AcalaNetwork/Acala/pull/2269

`make run`

[2022-07-18 09:39] shawntabrizi commented on #6917
See my comment in the PR above:

[2022-07-18 13:42] shunsukew opened #11857 "Cannot resolve multiaddr(`/dnsaddr`) of bootnodes in chainspec"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

libp2p supports `/dnsaddr` multiaddr(s) by looking up TXT records in DNS. https://github.com/multiformats/multiaddr/blob/master/protocols/DNSADDR.md
However, Substrate returns errors when `/dn

[2022-07-18 22:42] muddlebee opened #11860 "Build issue in MacOS while installing substrate-node-project"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

https://github.com/substrate-developer-hub/substrate-front-end-template
in sync with https://github.com/paritytech/substrate/commits/master/bin/node-template

cargo build --release
error trace

[2022-07-19 00:53] #11855 closed

[2022-07-19 06:17] ggwpez commented on #11860
This looks like a build error from rocksdb, nothing that we can change (besides updating) in Substrate.
You could try to update your compiler, like its advised in your provided link or install GCC.

[2022-07-19 07:56] bkchr commented on #11857
We have the custom `MultiaddrWithPeerId` in Substrate. This requires that you have a multi-address that has a peer id attached. A lot of our code currently "requires" that we already know the peer id. We would probably need to change the code to first resolve the peer ids. However, I don't know how to do this actually. @kpp @tomaka do you maybe know if we can resolve a multiaddr that starts with `

[2022-07-19 10:53] kpp commented on #11857
Well, our transport is wrapped into a dns resolver. The issue should be in a correct validation of the given addr. I can prepare a PR, but I don't know how to test it. Can you help me?

[2022-07-19 11:04] kpp commented on #11857
There could be multiple records associated with the provided dnsaddr, section [`#suffix-matching`](https://github.com/multiformats/multiaddr/blob/master/protocols/DNSADDR.md#suffix-matching) says how to match against peer id in order to get the right record. Even ipfs has to specify p2p|ipfs peer id in their list of bootstrap nodes.

@bkchr do we need a different approach? Something like `resolve

[2022-07-19 15:53] Garandor opened #11862 "Unconfirmed Bug: Consumer ref from session.set_keys not removed in some cases when keys are purged"
https://github.com/paritytech/substrate/issues/11836

This is likely not actually an issue for us because we never use the `set_controller` extrinsic

[2022-07-19 15:57] #11862 closed

[2022-07-19 16:16] shawntabrizi opened #11863 "Add Force Remove Vesting for Vesting Pallet"
This is an issue for @nzt48

There is already a function inside the Vesting Pallet:

[code]

This should be exposed through a ROOT call, so that developers and governance can have access to such things.

Steps:

* [ ] Create a new extrinsic `force_remove_vesting_schedule` which checks for the root user, and then calls this already implemented function.
* [ ] Add a test which verifies the function

[2022-07-19 18:07] MrishoLukamba commented on #11863
Would love to work on it shawn

[2022-07-19 21:56] benluelo opened #11866 "map/try_map for BoundedBTreeMap"
It would be useful if there was a way to iterate over an `&mut BoundedBTreeMap` and mutate each key in place. This wouldn't affect the length of the map at all, so it would be safe. Perhaps a `try_map` or something similar would be good as well, to allow for short circuiting.

I would be happy to take this on if it's deemed useful.

(BoundedBTreeMap link for the lazy: https://github.com/paritytech

[2022-07-19 23:08] shawntabrizi commented on #11866
Sounds reasonable. Would you like to work on this?

[2022-07-19 23:19] benluelo commented on #11866
Absolutely! I will open a PR shortly :+1:

[2022-07-19 23:44] crystalin opened #11867 "Deserializing big JSON genesis state is very slow"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

We are often using exported state to run "forked" network for testing. We noticed that it takes a long time to load the genesis of those network. The file is big (~5GB) but the loading time is

[2022-07-20 00:18] crystalin commented on #11867
It seems someone already worked on it, but was reverted maybe?
https://github.com/paritytech/substrate/pull/10137/files

[2022-07-20 01:13] nazar-pc commented on #11867
Did you check Git history to see why it was reverted?

[2022-07-20 01:59] crystalin commented on #11867
@nazar-pc it wasn't revert, it is just that the file is read in 2 places:
https://github.com/paritytech/substrate/blob/master/client/chain-spec/src/chain_spec.rs#L61 ( fixed in the PR I just proposed #11868)
and
https://github.com/paritytech/substrate/blob/master/client/chain-spec/src/chain_spec.rs#L310 (which is the fix I referred previously)

[2022-07-20 07:38] Doordashcon commented on #9970
@bkchr I would like to take it on.

[2022-07-20 08:15] shawntabrizi commented on #11863
@MrishoLukamba please read the issue, this is assigned to @NTZ48

[2022-07-20 08:23] NZT48 commented on #11863
Thanks @shawntabrizi, I have already started working on it

[2022-07-20 09:16] IkerAlus opened #11870 "Doc bug: `clear_metadata` is a privileged function"
In the doc comments in the assets pallet at [line 83](https://github.com/paritytech/substrate/blob/752980bf4a16488f0b37a4741bdefdd2f90e93bf/frame/assets/src/lib.rs#L83), it says that the function `clear_metadata` is a permissionless function. However, if we go to [the function definition](https://github.com/paritytech/substrate/blob/752980bf4a16488f0b37a4741bdefdd2f90e93bf/frame/assets/src/lib.rs#

[2022-07-20 11:03] acatangiu commented on #11838
hi @hzy1919, please wait for https://github.com/paritytech/substrate/pull/11821 to be merged before doing this issue,
or at least build your changes on top of https://github.com/paritytech/substrate/pull/11821.

[2022-07-20 14:31] gilescope opened #11871 "Runtime upgrade block numbers should be queryable from state"
At the moment front ends like polkadot-js hard code lists of blocks where it's known that the runtime upgrades happened at that point.

For ease of use for people building on the blockchain, it would be great if this little amount of state could be stored on-chain and made available via an RPC call / a runtime call as something that by default a substrate node would get out of the box.

[2022-07-20 17:14] agryaznov commented on #11344
So the new way we define the env (in `wasm/runtime.rs`) would be as follows:
[code]
@athei wdyt?

[2022-07-20 19:13] bkchr commented on #11871
What would be the purpose of knowing when a previous runtime upgrade happened?

[2022-07-20 19:13] bkchr commented on #11871
For me this just sounds like wasted effort, especially as we have a digest that tells you when a runtime upgrade happened.

[2022-07-20 22:04] #11867 closed

[2022-07-21 10:05] gilescope commented on #11871
I'm curious on the digest front - have asked that as
 a specific question here https://substrate.stackexchange.com/questions/3861/how-do-you-tell-which-block-number-the-last-runtime-upgrade-happened-on-a-chain

I might have expected to find the last upgrade block number here: https://github.com/polkadot-js/api/blob/12750bc83d8d7f01957896a80a7ba948ba3690b7/packages/types-augment/src/lookup/substrat

[2022-07-21 10:44] Marcin-Radecki commented on #11772
Indeed, this was the issue. Thanks!

[2022-07-21 10:44] #11772 closed

[2022-07-21 12:26] pepyakin opened #11883 "Move the allocator inside of the runtime"
It is actually not a new idea and was considered very early. We ended up having the allocator provided by the host.

Lately, there were several discussions about moving the allocator back into the runtime.

- One of those discussions anecdotally mentioned that there is a lot of overhead coming from the fact that the wasm-host boundary has to be crossed each time allocation and deallocation is perf

[2022-07-21 12:33] pepyakin opened #11884 "allocator: support realloc"
Currently, the runtimes use the memory allocator provided by the host. The host only provides `alloc` and `free` functions. So our `GlobalAlloc` implementation does not support the `realloc` function.

Also, the allocator relies on K-buckets. Each bucket contains the allocations of sizes of powers of two.

It's possible to implement the `realloc` by just checking the current bucket of the allocati

[2022-07-21 12:59] koute commented on #11883
Another disadvantage of the current approach is that we can't effectively make any non-trivial behavior affecting changes to the current allocator. There are various improvements to the allocator's internals which would be nice to make, however due to backward-compatibility concerns that carries with it a lot of risk.

Since the allocator is provided by the host any changes to its behavior will af

[2022-07-21 13:01] gilescope commented on #11648
Given that we're pushing more people to use state Call on the grounds that runtime api calls are on-chain upgradable (unlike rpc calls), we really do need to include them in the metadata. It's currently not a great dev experience that people code them up and then don't see them in the polkadot-js when they run it against their new chain.

[2022-07-21 13:52] bakhtin opened #11886 "RPC response time distribtuion metrics"
I'm running multiple Westend RPC nodes. To get more insights about the runtime I'm building a Grafana dashboard. Substrate exposes `substrate_rpc_calls_time_bucket` metric which shows the response time distribution of RPC calls. The response time is distributed over 12 buckets but most of them are empty.

Querying calls per second for the last 1 day returns the following (`sum(rate(substrate_rpc_c

[2022-07-21 14:06] dmitry-markin commented on #10800
What is the desired behavior? Not to count reserved peer connections as occupying slots?

[2022-07-21 14:29] tomaka commented on #10800
Indeed

[2022-07-21 14:50] ggwpez commented on #11667
Thanks @bernardoaraujor. Please open a Merge Request.
Regarding the 998 vs 979, we should probably divide by `self.steps-1` instead of `self.steps`, since it starts at 0 and `self.steps-1` will be the highest value that the step size will be multiplied with. Then the values should be very close.

[2022-07-21 15:09] #11753 closed

[2022-07-21 15:19] bakhtin opened #11887 "Prometheus metrics for successful/erroneous RPC calls are misplaced"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Substrate exposes a metric called `substrate_rpc_calls_finished`. Among others it returns a flag whether a request was successful or not in `is_error` label.
![image](https://user-images.githu

[2022-07-21 15:26] athei commented on #11344
Looks good in general. I have the following suggestions

1. Don't require a special attribute to flag something as host function. Everything in this module is a host function implicitly. So it won't get polluted with other stuff.
2. Let's don't allow setting the module manually. Add a numeric version so we can do some arithmetic on it when necessary.
3. Added `#[prefixed_alias]` just as an example

[2022-07-21 15:28] athei commented on #11648
I agree. However, the same is true for RPC's. So it doesn't make it worse at least.

[2022-07-21 17:24] artlotz commented on #6727
I also had a similar error.

After deleting the chain data in --base-path, it was executed normally.

The command below may help.

`./target/release/node-template purge-chain --base-path /tmp/node01 --chain local -y`

`/tmp/node01` <-- --base-path value used when starting the node

[2022-07-21 23:09] irsal commented on #11604
Hey @bkchr - this ended up being a pretty gnarly issue for us (Turing Network on Kusama) when we upgraded to 0.9.23. https://github.com/OAK-Foundation/OAK-blockchain/wiki/2022-07-21:-Node-Memory-Leak-Issue

Was there any way we could've been notified of the implications for this version upgrade? Perhaps I'm just missing a notification channel or tag to track.

[2022-07-22 10:07] Nexus2k commented on #4846
I would even extend this feature request with an ability to switch an full/archive node to a pruned node, iiuc it would be just a matter of deleting DB entries older than block X.

[2022-07-22 10:09] Nexus2k commented on #11289
Potentially related issues: https://github.com/paritytech/substrate/issues/3661 / https://github.com/paritytech/substrate/issues/4846

[2022-07-22 11:42] agryaznov commented on #11344
This one delayed for now for a follow-up PR.

Applying all other suggestions, here is how environment definition will look like (in `wasm/runtime.rs`):
[code]

[2022-07-22 12:08] #8868 closed

[2022-07-22 15:13] Dinonard opened #11891 "Cannot sync chain from scratch due to block import error"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

## Description

Since we've upgraded from `polkadot-v0.9.19` to `polkadot-v0.9.24`, we cannot sync a node from scratch.
It always get stuck trying to import block **1086612** but it fails due

[2022-07-22 15:21] athei commented on #11344
Cool but let's not make one letter attributes :) : `v -> version`.

[2022-07-22 15:29] TorstenStueber commented on #6917
I did not look at the pallet-proxy but at least for the pallet-multisig I would propose not to make the transaction entirely feeless but charge a small fair fee that reflects the space and computation time usage for wrapping the execution. So that for example the `PostDispatchInfo` returned by the wrapped call would be transformed into the following `PostDispatchInfo` of the `operate` extrinsic of

[2022-07-22 16:02] bkchr commented on #11604
@irsal sadly there is no good channel for this at the moment.

[2022-07-22 17:46] agryaznov commented on #11344
Ok. Also added attribute for the environment identifier, like `#[define_env(Env)]` or `#[define_env(Test)]`

[2022-07-22 18:55] ggwpez opened #11892 "Slow `conviction-voting` benchmarks"
The benchmarks of the conviction voting pallet take nearly 3 hrs with the proposed Kusama config from https://github.com/paritytech/polkadot/pull/5205
That is a bit long even for our standards.

PS: A quick investigation showed that its the tracks config; 16 for Kusama vs 1 in the mock runtime.

[2022-07-22 23:25] omadoyeabraham commented on #11141
@ggwpez I have a draft PR for this here: https://github.com/paritytech/substrate/pull/11893

But I need clarity on results to save to JSON, and also where/how the `--block-weight-key` should be utilized

[2022-07-23 19:28] #11870 closed

[2022-07-23 21:03] kianenigma opened #11896 "Allow dispatchable to be test-only"
The target is simple. Make this call, which was added for testing only anyways, be actually gated by `#[cfg(test)]`:

https://github.com/paritytech/substrate/blob/7bb4936d788c84bfd9ed1bbde49336538459c5aa/frame/system/src/lib.rs#L370-L374

Once done, this call should be removed.

[2022-07-23 21:09] kianenigma commented on #6632
This is not really possible with Rust, so bye bye.

[2022-07-23 21:09] #6632 closed

[2022-07-23 21:11] kianenigma commented on #11896
This caused issues like: #11754

[2022-07-23 21:47] bkchr commented on #11896
We can not use `test` for this. The problem being that `test` is only being set when you compile the crate itself with the tests enabled. We would need some extra feature for this.

[2022-07-24 21:55] xlc commented on #11896
need to make sure call index remains the same after this is removed

[2022-07-25 07:48] koute commented on #11820
While that's the easiest kind of a fix I don't think restricting fields to ASCII only (where the data they contain is not inherently ASCII-only) is a great idea. For people primarily using the latin alphabet this might not seem like a big deal, but we need to remember that the world is actually a lot more diverse, and there are *billions* of people who use non-latin scripts on a daily basis.

Ther

[2022-07-25 08:20] kianenigma opened #11902 "make `MAX_VOTERS` and `MAX_CANDIDATES` in `elections-phragmen` configurable"
Make these two magic constants added in https://github.com/paritytech/substrate/pull/11790 be `type X: Get<_>`, set them to the same value as now in the polkadot companion. Document that parachain teams should chose these values carefully, ensuring that both the weight and PoV is within reason.

[2022-07-25 08:22] kianenigma commented on #11902
@Szegoo interested?

[2022-07-25 08:23] Szegoo commented on #11902
Yes.

[2022-07-25 09:47] koute commented on #11891
It shouldn't be related to anything `wasmi`, since that's compiled into the runtime AFAIK, so any change to its maximum callstack length limit wouldn't affect historical blocks.

It's probably due to a new version of `wasmtime`, and their new register allocator being the culprit is a good guess considering how deep the stack trace is.

I'll take a look at this. It shouldn't be too hard to verify w

[2022-07-25 10:14] pepyakin commented on #11891
Oh, absolutely.

[2022-07-25 11:14] ggwpez opened #11905 "Cleanup `String::from_utf8` usage in the pallet benchmarking"
The state machine that is used in the `benchmark pallet` command returns a `[u8]` instead of a string.
This slice is then stored and converted to a string *every time* its needed somewhere.
It would be nice to instead directly convert it and then store the string. This would get rid of a many `String::from_utf8(…).expect("Encoded from String; qed")`.

[2022-07-25 12:21] ggwpez opened #11906 "Fix Governance v2 benchmarks"
The proposed Kusama config from https://github.com/paritytech/polkadot/pull/5205 breaks a few pallet benchmarks. Related https://github.com/paritytech/substrate/issues/11892

- [x] `Referenda`
[code]
- [x] `Ranked-Collective`
[code]
- [x] `Whitelist`
[code]

Hopefully just something with the origin config.
cc @gavofyork

[2022-07-25 13:51] lamafab commented on #11820
Alright, thanks for the feedback everyone.

[2022-07-25 13:51] #11820 closed

[2022-07-25 13:51] sudipghimire533 commented on #11905
I can take on this guys if you are ok with it @ggwpez

[2022-07-25 13:56] kianenigma opened #11907 "Rename `--pruning` and `--keep-blocks` to be more similar to one another."
I actually very recently learned that we have a flag called `--keep-blocks`. We where also teaching students about Polkadot recently in Polkadot academy and they are somewhat confused about the concept of "block state" and "blocks" themselves, and how keeping one is optional, and the name of these two flags being totally unrelated does not help.

I think these two flags are very similar, and shoul

[2022-07-25 14:53] #11749 closed

[2022-07-25 16:03] RGafiyatullin commented on #4750
I had a look into the `sc-network` and `sc-peerset` cratres.

I would like to proceed with the following solution.

Add another CLI argument `--persist-peers`.
If set the node shall periodically save the information about the currently connected (and recently connected) peers, and upon startup — will prefer the persisted peers over the provided `--bootnodes <NODES>`  .

In order to implement such

[2022-07-25 16:11] bkchr commented on #4750
Why do we need a CLI option for this?

How should you only have inbound connections? If you only have these, you would have some problems already. You would for example running into a eclipse attack. You can just ignore this setting.

[2022-07-25 16:12] tomaka commented on #4750
The `debug` module contains the `identity` system, which asks the peers we are connected to what their addresses are.

[2022-07-25 16:50] bkchr commented on #11907
`--keep-blocks` is about pruning block bodies. This is currently disabled by default, aka we keep all block bodies. So, you rename would be wrong. `--state-pruning` is actually about the state and how much state we keep before we prune it.

[2022-07-25 16:57] arkpar opened #11911 "Allow longer state pruning history"
Currently when state pruning is enabled `state-db` reqeuires O(n) memory w.r.t. the number of blocks pending pruning. Therefore long pruning history requires a lot of memory. It should be possible to get rid of the memory requirement using the reference counting feature of parity-db.

This basically means removing `death_rows` and `death_index` fields in `RefWindow` struct. Journals that are curre

[2022-07-25 17:00] bkchr commented on #11911
So that first requires that we get rid off Rocksdb?

[2022-07-25 17:00] arkpar commented on #11907
`--keep-blocks` only accepts a number. `--pruning` also accepts "archive" and potentially other values for pruning modes.

[2022-07-25 17:07] arkpar commented on #11911
@bkchr Not necessarily. There's a [compatibility layer ](https://github.com/paritytech/substrate/blob/master/primitives/database/src/kvdb.rs#L85-L103)that adds refernce counting support for rocksdb as well, albeit inefficiently.

[2022-07-25 17:12] sudipghimire533 commented on #10769
Renamed issue accordingly.

[2022-07-25 17:19] arkpar opened #11912 "Remove discarded block bodies and states from the database."
Block header and bodies currently account for 90% of the database size on disk. By default the node keeps all headers and bodies in the database, even ones that are not in the finalized chain. There no point in keeping old blocks that are not in the finalized chain, as they are of no interest to anyone. Such blocks should be removed by default, potentially saving a lot of disk space. An option to

[2022-07-25 17:20] sudipghimire533 commented on #10769
For those who happen to land here, here is a quick fix: ( please consider side-effect )

My original intent was ( I was just getting started with substrate & all ) that I need to keep adding incoming parameters in offchain storage block wise. For this purpose, temporary fix was something like:
- Add a storage with some name like `_TemporaryUse`
- In extrinsic keep modifying/adding data to that sti

[2022-07-25 17:44] mustermeiszer opened #11913 "Future ChildStorage design and capabilities"
Before submitting a PR, I thought it would be best to agree on a "spec",  and more importantly if you guys even want such a core element to be externally submitted. I have thought about it for the past few days and wanted to draft my approach here and get some feedback.

### Referencing:
#11216
#4611
#3187

As a disclaimer, in my "design" I am assuming that it is wanted, that the child storage is

[2022-07-25 17:49] #11913 closed

[2022-07-25 19:09] ggwpez commented on #11905
Yes thats good, thanks @sudipghimire533

[2022-07-25 19:57] kianenigma commented on #11907
the fact that pruning has different possible values doesn't justify its confusing name to. I think at the minimum, we should rename `--pruning` to `--state-pruning`, with the exact same semantics, to distinguish it with keeping block bodies.

[2022-07-25 20:25] rvalle commented on #11911
Or perhaps the latest (up to) 256 blocks in in-memory cache and the rest loaded on demand from db?

[2022-07-25 22:12] bkchr commented on #11907
Okay fuck, sorry. I did read your first comment wrongly.

Reading it again, I like:
[code]

[2022-07-25 22:34] bkchr commented on #11883
How would the host allocate the return value of a host function?

[2022-07-26 03:51] sudipghimire533 commented on #11905
@ggwpez Looks like I am not sure which part are we referring. Can you please mention a example where the change should be brought. Thank you :)

[2022-07-26 05:36] arkpar commented on #11911
`death_rows` is not actual block data, but a journal. A list of keys that would need to be removed from the database when the block is purged. There's no point in keeping recent journals in memory. When you insert block N and need to prune block N - 10000000 which was inserted months ago, the journal won't be in the cache. Only with small pruning window can you keep journals in memory and avoid a

[2022-07-26 05:49] sudipghimire533 commented on #11814
What if we name it `node-the-most-powerful-blockchain-in-galaxy-runtime` :rofl:

[2022-07-26 07:25] Doordashcon commented on #9970
@bkchr can I get some assist?

I'm assuming reusing a nonce is the same as creating 2 nodes then having the second node execute the same transaction(i.e `create_benchmark_extrinsic`)?

How would the second node be aware of the transactions that have taken place on the first node?

[2022-07-26 07:30] skunert opened #11915 "Replace manual `TypeInfo` implementation for `PiecewiseLinear` and `BoundedVec`"
In https://github.com/paritytech/substrate/pull/11903, we introduced some manual trait implementations for `TypeInfo` as a workaround to silence some warnings: https://github.com/rust-lang/rust/issues/96956.

Once the compiler issue is fixed, we should reintroduce the derive implementations.

[2022-07-26 08:13] koute commented on #11883
That is a good question. That is currently one of the biggest issues which we'd need to resolve, since currently some types marshaled across the FFI boundary are directly allocated by the client itself inside of WASM's linear memory.

Some random ideas off the top of my head (not all are necessarily great ideas; just typing out whatever comes to my mind):
1. Simply do this in two steps. The first

[2022-07-26 08:14] ggwpez commented on #11905
You can start by searching for `String::from_utf8` in the `utils/frame/benchmarking-cli` folder.
Once you see where its used, you can start to put it into a `String` variable, should be easy.

[2022-07-26 09:06] #11830 closed

[2022-07-26 09:33] pepyakin commented on #11883
Since this is not new, back in the day, I thought we would go with something like @koute described in the 2nd point. Specifically, I imagined that the host API would gain a function that would initialize the allocator. That function accepted parameters for function pointers to `malloc`, `free` (and today I would maybe add [`realloc`](https://github.com/paritytech/substrate/issues/11884)). Then the

[2022-07-26 13:06] koute commented on #4750
I second what @bkchr said, it'd make more sense to me to just have this behavior be the default instead of requiring the user to pass a CLI argument to enable it. (On the other hand adding an option to *disable* it might make some sense, e.g. for debugging purposes or something.)

[2022-07-26 14:25] Garandor commented on #10579
A question on this popped up at https://github.com/Manta-Network/Manta/pull/701

The gist of it is:
There already exists a commandline flag to force WASM execution: `--execution wasm`

While stopping validators on a nondeterminism issue is certainly bad and should be avoided ( e.g. using that same CLI flag ), it might be tolerable for other *full node* network participants - as a downtime on their

[2022-07-26 14:53] bkchr commented on #10579
Did you benchmark the execution? And do you have that many calls into the runtime on your RPC nodes?

[2022-07-26 15:48] bkchr commented on #9970
Creating 2 nodes? What you mean?

By syncing & importing the blocks that have included the transactions?

[2022-07-26 15:57] bkchr commented on #11648
Yeah, you also only see available rpc calls, but that is all. You don't see parameters that you need to pass and that you get back.

[2022-07-26 15:58] bkchr commented on #11886
CC @niklasad1

[2022-07-26 16:07] Garandor commented on #10579
No benchmarks yet. Can only intuit at this point that in the case of full-ish blocks and benchmark-scale machines a 2x performance penalty would hurt RPC throughput.

We do expect high RPC load on our nodes through custom wallet syncing logic in the near future.
I realize these RPC serving nodes can be easily scaled horizontally, but what I'm arguing here is that this change would condemn non-crit

[2022-07-26 17:07] maltekliemann opened #11921 "Specify behavior of `pallet-timestamp`"
The documentation of `pallet-timestamp` seems unclear in regard to when `now()` will actually produce correct results (within reasonable precision). Specifically:

- It is not mentioned in the docs that calling `now()` on block `0` is undefined (in the current implmentation, it returns zero)
- It is not mentioned when during a block the time is updated (for example, querying `now()` during `on_ini

[2022-07-26 17:17] tomaka commented on #10579
A "2x" slowdown estimate in the runtime execution speed does in no way translate in a 2x slowdown in the number of RPC requests that can be served. The slowdown obviously depends on the kind of requests that you get, but I actually expect it to be basically 0. Until recently, PolkadotJS didn't even expose the possibility to call into the runtime through the RPC layer.

I don't think it is reasonab

[2022-07-26 17:41] Garandor commented on #10579
I agree, which is why I'm pointing to the general wasting of CPU cycles here. RPC is just our use-case. Other people will be running indexing (i.e. subsquid) or offchain-workers on their full nodes - they're all impacted by this change.

[2022-07-26 17:54] ggwpez commented on #9970
I think its enough if you modify this logic and use multiple accounts with nonce re-using.
No need for multiple nodes, the test runs all within one binary.
https://github.com/paritytech/substrate/blob/9acfbc0e88f5a6df873d222a3e01c2b59868b2e3/bin/node/cli/benches/transaction_pool.rs#L176

[2022-07-26 19:03] tomaka commented on #10579
If the runtime execution speed suddenly divided by 2, then the weights would be multiplied by 2 in return.

The CPU usage problem that you describe is indeed correct, but it's actually independent of the time it takes to execute. No matter whether it takes 5 microseconds or 5 milliseconds to verify for example a balance transfer, the weights are adjusted so that a node running on the reference mac

[2022-07-26 19:31] Garandor commented on #10579
There's some subtlety here. Weights are always benchmarked with the WASM runtime, as it's obviously important for validators who always use it to not overflow execution time.

Full nodes executing the native runtime thus use weights created with the WASM runtime, but execute them 2x faster => lower CPU usage on full nodes executing native.

[2022-07-27 03:04] sudipghimire533 commented on #11905
Ahh ok PR 11908 took longer than expected. I'll try if I can give time. Thanks anyway :)

[2022-07-27 04:26] joao-paulo-parity commented on #9719
This was fixed a long time ago for https://github.com/paritytech/pipeline-scripts/blob/master/check_dependent_project.sh.

[2022-07-27 04:26] #9719 closed

[2022-07-27 07:08] wigy-opensource-developer commented on #10579
You also need to consider how much of the RPC requests are querying recent state and how much of them are interested in "archive" data. The current native approach only helps if most of the calls are querying recent data, and the node is upgraded soon after an on-chain runtime upgrade. But yeah, we need hard benchmarking data to see how much extra resources are needed to avoid this native runtime

[2022-07-27 07:40] tomaka commented on #10579
There's no relationship between the runtime and querying data through RPC requests.
When an RPC requests wants to read a storage value, it just reads directly from the database. The runtime is completely unrelated to this.

[2022-07-27 07:58] arkpar commented on #10579
It is also worth mentioning that RPC throughput scales well with the number of CPU cores. Whilst block import is serialized at the moment. Weight calculations do not account for any extra cores, that may be used for serving RPC requests.

[2022-07-27 08:48] dmitry-markin opened #11922 "Replace async `sc_peerset::PeersetHandle` interface with a shared struct"
Currently `PeersetHandle` allows sending only async updates to `Peerset`, but not getting the information back. As discussed in https://github.com/paritytech/substrate/pull/11909#issuecomment-1195747677, there is no reason for `PeersetHandle` to be an async interface.

Making `Peerset`/`PeersetHandle` a synchronous struct shared with `Arc` will make it possible to access sets from other parts of t

[2022-07-27 08:53] wirednkod commented on #11907
@kianenigma I will take this issue if you are ok with that.

[2022-07-27 09:08] tomaka commented on #11922
The `PeersetHandle` should be shared with an `Arc`, while the `Peerset` should just take `&mut self` as parameter and not use any internal locking.

[2022-07-27 09:40] Zaryab-Programmer opened #11923 "Unable to get the RPC URL to connect MetaMask, When running multiple nodes on single machine"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

**Node 1:**
2022-07-27 14:32:35 〽️ Prometheus exporter started at 127.0.0.1:9615
2022-07-27 14:32:35 Running JSON-RPC HTTP server: addr=127.0.0.1:9933, allowed origins=Some(["http://localhost:

[2022-07-27 12:20] Zaryab-Programmer commented on #11923
@shawntabrizi kindly check this and provide guidance how to fix this issue

[2022-07-27 12:42] ozgunozerk commented on #11654
Even after the merged PR,
when the node instance is to be restarted, it can fail with the `database file is in use` error.

AFAIK from our conversations with @nazar-pc , it is not yet possible to deterministically know if the node instance is completely shutdown.
So I continuously tried to `upgrade()` on the `Weak<Client>` in a loop until it fails. Even with this approach, the error of `database f

[2022-07-27 13:27] bkchr commented on #11654
Could you add some more timeout after the client is gone? Maybe 10 seconds. Just for testing.

[2022-07-27 13:37] nazar-pc commented on #11654
It does exit eventually with https://github.com/paritytech/substrate/pull/11679, which is good and allows to have a workaround, but there is no way to know when exactly.
Ideally `Drop` would block the thread until everything stops properly and only when nothing is left in memory it would return.

[2022-07-27 13:43] ozgunozerk commented on #11654
I can of course. But what our approach ultimately does for solving this issue is: adding `sleep` every time it fails, and eventually it succeeds.
So I assume, yeah, 10 seconds would be more than enough and this bug won't reproduce (at least for my machine).
If it still would be helpful to have 10 seconds of sleep for testing purposes, I can gladly do it, just let me know :)

[2022-07-27 13:59] bkchr commented on #11887
What you mean by they are shown as error in the output? In what way?

[2022-07-27 14:07] AmadeusGB commented on #11673
@anonymousGiga A simple idea.
First, you need to backup the chain's data beforehand, saving the VALIDATOR KEY.
Second, when the chain is down for any reason, you can use the backup file to restore it on multiple nodes, and it needs to be noted that your time needs to be adjusted to the recorded time of the backup file;.
Third, keep generating blocks for each epoch, you can make it out of 10 blocks

[2022-07-27 14:10] AmadeusGB commented on #11673
You can also use the link for hard spoon: https://github.com/maxsam4/fork-off-substrate, which I think would be a different application scenario.

When you need to keep historical block data, or want the block to roll back, then you can use the method I described.

When you don't need to keep historical block data, just use the script in the link directly.

[2022-07-27 17:58] #8756 closed

[2022-07-27 18:01] kianenigma opened #11925 "Deprecate individual hooks traits like `OnInitialize`"
because as far as I know, as as of FRAME v2, they are not really used in any meaningful way. I recall Gui mentioning this, and from myself scouting the code, I don't see a string reason to have it either.

The only benefit of the current separation is that you could manually implement `OnInitialize` for your pallet, without using `#[hooks]`, and not the others.

But, through the default #[hooks],

[2022-07-28 00:01] athei commented on #11444
Blocked on [#11344](https://github.com/paritytech/substrate/issues/11344)

[2022-07-28 00:02] athei commented on #10297
Since we decided to go with wasmi for now and we don't really have the resources to work on that we will close it.

[2022-07-28 00:02] #10297 closed

[2022-07-28 08:48] bkchr commented on #11857
Sounds correct to me.

[2022-07-28 09:45] bakhtin commented on #11887
`is_error=false` selector actually shows requests that completed with an error rather that showing successful requests.

[2022-07-28 11:04] joepetrowski opened #11928 "Alliance: Replace `init_members` with `force_set_members`"
The Alliance pallet's `init_members` function is a root call with a check that only allows it to be called if there are no members yet. This makes the logic simpler, but Root should always have the ability to change the membership of the Alliance.

The function signature should be the same, but `force_set_members` would remove all current members and set each role according to the supplied paramet

[2022-07-28 11:04] hzy1919 commented on #11912
hi @arkpar , is anyone working on this ?  If not , I'd like to have a try .

[2022-07-28 11:42] koute commented on #11891
Okay, I can confirm that the issue is due to a `wasmtime` upgrade. From what I can see the `wasmtime` 0.34 does **not** exhibit this issue, while `wasmtime` 0.35 **does**. If we look at `wasmtime`'s changelog we can see this:

I've restored the original maximum stack size and I can confirm that it fixes this issue.

So the culprit here is **not** a different register allocator, but just simply a r

[2022-07-28 13:08] koute commented on #11891
Agreed. This is precisely why I'd rather not increase it any further, but since we already implicitly guaranteed a stack size of 1MB and then accidentally reduced it to 512KB it'd make sense to me to just restore the original status quo, especially since (as we can see here) some people actually depended on it.

Although if there's a good reason to stay at the 512KB stack size I'm willing to be co

[2022-07-28 13:44] pepyakin commented on #11891
If going this way, I think a better way would be instead of adding code subs, just allowing to tweak executor parameters for particular blocks.

I am leaning toward fixing this on our side though.

When I said cautiously, I meant that we should inspect the code on having any host functions that do recursive calls or consume stack space excessively, with a feeling that it's probably alright. Also,

[2022-07-28 13:49] koute commented on #11891
Currently the runtime calls are made on whatever threads they incidentally end up being made, but I do want to refactor how we call into the runtime anyway to support async calls + QoS prioritization and that will entail running the executor on its own thread pool anyway, so yeah, that's something we definitely can do to have full control over the stack size.

[2022-07-28 14:55] bkchr commented on #11533
I think we should **not** do this. The point here being that Pallet developers should be aware of what is the standard, aka either always transactional or not transactional. As we want transactional, I would vote for transactional as the default and this default should not be configurable. Otherwise we may open some attack vectors/bugs when it comes to nested calls where a developer needs to do so

[2022-07-28 17:04] samelamin opened #11933 "Header was not found in the database:"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hi, our parachain (on `0.9.20`) was strangely removed from Rococo, we are still unclear on how it was removed precisely and if the way it was removed is related or not.

We could not find it u

[2022-07-28 18:30] arkpar commented on #11912
@hzy1919 You are welcome to try. Reach me (`@arkadiy:matrix.parity.io`
) or @cheme (`@emeric:matrix.parity.io`)  on element if you need any hints.

[2022-07-29 00:29] hzy1919 commented on #11912
@arkpar OK , thanks!

[2022-07-29 12:41] dmitry-markin commented on #10800
Partially resolved (for reserved nodes, added on startup) in https://github.com/paritytech/substrate/pull/11909

We should also account for reserved nodes, added at runtime via RPC. To implement this, we should refactor `Peerset` first into a sync struct https://github.com/paritytech/substrate/issues/11922. See the discussion in https://github.com/paritytech/substrate/pull/11909

[2022-07-29 13:34] joepetrowski commented on #11928
Yeah, that is what I had in mind.

I agree, and we could add another Root call, `force_disband_alliance` that takes no args and just clears everything, slashing any remaining members. (Or it could take one arg, `slash: bool`.) This would be the ultimate expression of the network's dissatisfaction with the Alliance.

So then we could require that `force_set_members` actually includes some founders

[2022-07-29 13:44] muharem opened #11936 "Alliance: member can't retire if was set once up for kicking"
### Description of bug

One of the requirements to retire and return deposit is to be not considered by alliance to be kicked - [link](https://github.com/paritytech/substrate/blob/969a344684d9b79b6bb6bab591ac73df4017fea9/frame/alliance/src/lib.rs#L795).
To keep track of all members proposed for kicking there is a storage map with AccountIDs (UpForKicking) - [link](https://github.com/paritytech/sub

[2022-07-29 13:44] acatangiu opened #11937 "add BEEFY support to `chain-spec-builder`"
`chain-spec-builder` should [generate authority keys and store](https://github.com/paritytech/substrate/blob/969a344684d9b79b6bb6bab591ac73df4017fea9/bin/utils/chain-spec-builder/src/main.rs#L165) for BEEFY as well

[2022-07-29 13:50] muharem commented on #11928
Then we need one more method to remove proposal, currently there is only close (which executes it if its voted).

[2022-07-29 15:24] joepetrowski commented on #11936
Just adding a note here from DM so it doesn't get lost:

We could do like Staking and have a "retirement period" (like unbonding period). You'd lose your voting rights during the period, and at the end of it you could actually retire. That would do away with the `UpForKicking` storage item entirely. This also aligns more with the principle that the system shouldn't need to know about the contents

[2022-07-29 15:47] #11788 closed

[2022-07-29 15:47] #11789 closed

[2022-07-29 16:16] bkchr commented on #11937
The chain-spec-builder is not really used anywhere, it is mainly some unmaintained piece of software. TLDR: We don't need this.

[2022-07-29 17:59] #11683 closed

[2022-07-29 17:59] #11595 closed

[2022-07-30 08:27] Szegoo commented on #11352
@kianenigma Could you assign this to me? I am currently working on this.

[2022-07-30 13:30] kianenigma commented on #11925
cc @wirednkod

[2022-07-30 13:35] wirednkod commented on #11925
I'll take this issue. Thank you @kianenigma

[2022-07-30 15:48] KiChjang commented on #11352
@Szegoo You might want to consider getting your outstanding PRs to the finish line. As of my typing, you have 4.

[2022-07-30 16:03] Szegoo commented on #11352
Thanks for reminding me, out of the 4 PRs two of them need to be closed(I closed them now) and for the other two, I am awaiting reviews.

[2022-07-30 19:32] KiChjang commented on #10686
So, in line with the spirit discussed in #11736, I think instead of calling it `OuterEvent`, we should instead call it `RuntimeEvent`.

`SystemEvent` and `PalletEvent` looks fine to me.

[2022-07-30 21:39] shawntabrizi commented on #10686
@KiChjang 100%

[2022-07-31 11:23] rymnc opened #11944 "Explore the usage of Episub for distributing PoV chunks"
The [Episub](https://github.com/libp2p/specs/blob/master/pubsub/gossipsub/episub.md#introduction) gossip protocol is a successor to the FloodSub protocol, which allows two types of peers to exist, `eager`, and `lazy` peers. The lazy peers are just used to transmit metadata about the message, whereas eager peers receive the whole message.

In the context of [distributing PoV's](https://w3f.github.i

[2022-07-31 14:52] kianenigma commented on #11472
Won't be solved as explained in the linked PR.

[2022-07-31 14:52] #11472 closed

[2022-07-31 16:25] kianenigma commented on #8436
With @rossbulat we came up with a different approach to solving this:

By default, in the current polkadot config, the cost of checking if someone is exposed or not is 28 * 300 = 8400 storage reads. In kusama, it is 28000. The reason is that we have to check every validator, every era. Ross's suggestion was that if we knew historical nomination info, we can only check a smaller subset of validator

[2022-07-31 18:50] acatangiu commented on #11838
#11821 has been merged, feel free to take this on whenever you like

[2022-07-31 19:39] bkchr commented on #11944
@rymnc could you please add your comment to the relevant issue 😁

https://github.com/paritytech/polkadot/issues/3307

Thank you :)

[2022-07-31 19:39] #11944 closed

[2022-07-31 22:59] burdges commented on #11944
I'm think pub-sub would never be useful for parachains:  https://github.com/paritytech/polkadot/issues/3307#issuecomment-1200516641

We de facto have the eager vs lazy abstraction discussed here now, but it's proved way too slow.  We're therefore replacing it with something more direct: https://github.com/paritytech/polkadot/issues/5055#issuecomment-1180914398

In other words, if you think you wan

[2022-08-01 01:00] hzy1919 commented on #11838
Ok , I'm working on this .

[2022-08-01 08:05] rossbulat commented on #8436
To throw another idea out there, we could eliminate the `EraIndex` in the map if we have a "try before you buy" model, where there is a set limit of 28 eras to quick-unbond in the event the nominator is not exposed.

Users can opt-in when they call `nominate`.  `HistoricalNominations` would then be:
[code]
where `when` is the block they opted-in (batch this call with `nominate`.

This is more of a

[2022-08-01 08:36] niklasad1 commented on #11886
Sure, sounds reasonable to me.

[2022-08-01 09:47] haroldsphinx opened #11949 "Introduce extra flags for Instance Limits"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

With the new pooling strategies for wasm instance created, parity deprecated the InstanceReuse strategy (which was the default until 0.9.24)

The issue comes from the hardcoded limits set if t

[2022-08-01 09:52] bkchr commented on #11949
We could make it configurable at initialization of the wasm executor. Not convinced that we should add CLI flags for this. However, we could also just use the default values of this config which are way higher than the currently set values. CC @koute

[2022-08-01 10:15] niklasad1 commented on #11887
Yes, you are correct.

The actual label is `"is_error"` so if `success == true` it should be `is_error="false"` and not `is_error="true"`

[2022-08-01 11:09] armyhaylenko opened #11953 "Propagate transaction pool error to `submit_at` in `OffchainSubmitTransaction`"
Hey, I've been using the `SubmitTransaction::submit_unsigned_transaction` API, and whenever it fails, I just get a log like that:
`(offchain call) Error submitting a transaction to the pool: Transaction pool error`.
I feel like it would be useful to propagate this error to `submit_at` in `OffchainSubmitTransaction`, and from there - to `frame_system::offchain::SubmitTransaction::submit_transaction

[2022-08-01 11:58] acatangiu opened #11954 "client/beefy: walk finality tree_route looking for session change header digest"
## Bug

Right now BEEFY voter assumes it's getting explicit finality notifications for any block containing `authorities_change` digest:
https://github.com/paritytech/substrate/blob/4d598040e0369b02cd24e8e67eaf317d09f74f85/client/beefy/src/worker.rs#L349-L353

But zombienet tests in https://github.com/paritytech/polkadot/pull/5840 show that is not always the case, sometimes the `authorities_change

[2022-08-01 12:35] bkchr commented on #11953
Is this really the full output?
[code]

There should a reason following the `Transaction pool error`.

Forwarding the entire error to the runtime would be a little bit complicated from a perspective of staying compatible over time, aka the error type could not change that easily. There would also be the question on what you would do from the runtime? You can not really handle the error and it just

[2022-08-01 12:47] armyhaylenko commented on #11953
Yes, it's all. Everything would be fine if we could see the actual reason - but both in Native and in Wasm I can't see the error:

`2022-08-01 12:53:44.986  WARN tokio-runtime-worker txpool: [Parachain] (offchain call) Error submitting a transaction to the pool: Transaction pool error    `

[2022-08-01 15:23] NukeManDan commented on #11750
@alvicsam thanks for the downstream update - it's fix here now too?

[2022-08-01 21:59] NingLin-P commented on #11911
Hi @arkpar , looks like `RefWindow` already utilized the reference counting feature of `parity-db` by setting `RefWindow::count_insertions` to `false`, which can eliminate the memory needed by `RefWindow::death_index` (also the disk space of `JournalRecord::inserted`)

But `DeathRow::deleted` may still be required, because in `parity-db` the reference counter is placed alongside with the referenci

[2022-08-02 02:46] nazar-pc commented on #11953
I believe I was fixing a similar problem in https://github.com/paritytech/substrate/pull/11629, are you on recent enough version of Substrate?

[2022-08-02 06:12] Doordashcon commented on #9724
The static limit can be set by entities adding staking and session pallets to their runtimes, for the node I believe 3072 is acceptable?

Might be an over simplification on my part.

[2022-08-02 07:07] niklasad1 commented on #11887
Closed by #11951

[2022-08-02 07:07] #11887 closed

[2022-08-02 07:28] armyhaylenko commented on #11953
Hey, yeah, I'm on `polkadot-v0.9.24`. I think these changes are included in that branch. Let me clone the latest node template & see if that works.

[2022-08-02 07:30] nazar-pc commented on #11953
0.9.24 was out 5 days after that PR was merged, maybe 0.9.24 branched out without that fix. Try upgrading.

[2022-08-02 07:30] armyhaylenko commented on #11953
No, turns out this is available only from `polkadot-v0.9.25`... I think that closes the issue. Thanks guys.

[2022-08-02 07:30] #11953 closed

[2022-08-02 08:36] arkpar commented on #11911
Right, this part is already implemented :)

It is required indeed, but we don't need to keep it in memory. On each block import a journal record is written to the database [here](https://github.com/paritytech/substrate/blob/master/client/state-db/src/pruning.rs#L190)  which contains a list of deleted keys. When it is time to prune a block we can get that record from the database.

[2022-08-02 08:54] NingLin-P commented on #11911
Right, I would like to have a try.

[2022-08-02 10:09] kylezs opened #11958 "`Timestamp::set_timestamp` does not set `DidUpdate`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When runtime/integration testing using `AllPalletsWithSystem::on_initialize()`it makes sense to also use `AllPalletsWithSystem::on_finalize()`, and require timestamp updates as you progress in

[2022-08-02 11:08] shawntabrizi commented on #11958
This is for a unit test? Why not just set this variable to true manually?

[2022-08-02 11:12] kylezs commented on #11958
Yeah, I could, my point is more that the utility (AllPallets...) isn't as useful/intuitive as it could be if I have to do manual steps in between... and I have to *know* which manual steps to do. Defeats the purpose of the utility a little.

[2022-08-02 11:13] muharem commented on #11936
@joepetrowski
There will be one possibility left for a member to retire even though there is approved proposal to kick the member.
It can happened if no one executes the proposal for kicking the member within retirement period.

Since the retirement period is supposed to be set greater than the motion duration and alliance will be willing to execute such proposals within motion duration, I think w

[2022-08-02 11:32] bkchr commented on #11958
Yeah, I also think that this utility function is a little bit weird. I'm open a pr to fix this.

[2022-08-02 12:24] joepetrowski commented on #11936
Yeah, I agree. The Alliance members are meant to be active participants. If someone gets away from a slash because everyone in the Alliance was too lazy to close it, well then the Alliance isn't working very well :).

[2022-08-02 12:43] #11667 closed

[2022-08-02 12:50] alvicsam commented on #11750
@NukeManDan it can be fixed in https://github.com/paritytech/substrate/pull/11802 but I think the `docker-compose.yml` can be removed since it doesn't work (there is no Cargo.toml file)

[2022-08-02 13:15] Dinonard commented on #11891
Hi @koute, thanks for looking into this!

Can you perhaps share when will the revert/fix for stack size be merged into substrate?

This is making lives of our node operators quite messy (they have to switch between old and new node to bypass the problematic block). If this cannot be done soon, we can look into forking `wasmtime` and increasing the stack size to what it was before, just to fix Asta

[2022-08-02 15:25] #11814 closed

[2022-08-02 15:31] kianenigma opened #11965 "Clear process to update `MinimumUntrustedScore`"
We deployed this last year, and it is a great security addition, but we need a better way to update it.

Currently I mostly do it manually, every quarter or so, through a proposal to the governance.

We need a new system where this value is updated automatically, either via bots offchain, or preferably via a simple onchain mechanism.

The onchain mechanism should still be overwritten by any govern

[2022-08-02 16:20] KiChjang commented on #11736
I could if it's urgent, otherwise other people can pick this up if they're interested.

[2022-08-02 16:21] kianenigma commented on #11736
yeah was just wondering since we talked about it in person. Nah, I don't think it is urgent and it is a good first-issue for other contributors to FRAME.

[2022-08-02 23:48] tifecool commented on #11736
Couldn't figure out where to change the Calls. I don't mind someone else picking the issue up. Would be nice to see the solution

[2022-08-03 09:32] sander2 commented on #10279
I have done some re-testing and found that this is still not fixed in 0.9.24.

I believe that the root cause of this issue is one of notification ordering. The `inBlock` jsonrpc event gets sent in the [pruned](https://github.com/paritytech/substrate/blob/b27c470eaff379f512d1dec052aff5d551ed3b03/client/transaction-pool/src/graph/listener.rs#L105-L117) function, while the `finalized` events get sent

[2022-08-03 10:36] jacogr opened #11969 "Gov2 referenda - expose track information"
The full track configuration would be quite beneficial to be exposed. Specifically this part - https://github.com/paritytech/substrate/blob/b27c470eaff379f512d1dec052aff5d551ed3b03/frame/referenda/src/lib.rs#L184-L190 where `Tracks: TracksInfo` is defined.

Without this info is is currently impossible (without duplicating all on a per-chain basis) for consumers such as API and UIs to determine som

[2022-08-03 11:04] koute commented on #11891
@Dinonard Sorry for the inconvenience. Fixing this won't require forking `wasmtime` and can be easily patched on Substrate's side. I will have a PR ready next week.

[2022-08-03 11:10] Dinonard commented on #11891
@koute no inconvenience, thanks for looking into it!

Will it be possible to backport this fix into `polkadot-v0.9.26` or `polkadot-v0.9.27` perhaps?

[2022-08-03 13:00] gregzaitsev commented on #7911
Hi @JoshOrndorff! Is there a way Unique team can contribute to this issue?

[2022-08-04 03:06] nicolasochem commented on #4689
Hi, when can we have a remote signer for substrate session keys?

I just re-read the description and everything is still very relevant. Let's prioritize this?

[2022-08-04 06:31] burdges commented on #4689
We've several major projects that shall further change the session key crypto: beefy, including optimized signing, sassafras, including ring VRFs and ephemeral block signing keys, new session certificates for shashing reform, post-quantum options, and equivocation prevention.

All development is path dependent..  It's possible if complex to implement remote signers for these after they're working,

[2022-08-04 07:16] #11750 closed

[2022-08-04 07:28] acatangiu commented on #11761
https://github.com/paritytech/substrate/issues/11761 added a simple BEEFY test, now we build on it

[2022-08-04 07:47] #11838 closed

[2022-08-04 07:57] FlorianFranzen commented on #4689
It should also be mentioned, that Zondax has a working external signer that allows the management of session keys inside of an ARMs TrustZone, however it seems Parity has not interest to support this officially yet (see #10423 for details).

[2022-08-04 09:07] acatangiu opened #11972 "zombienet: add test for BEEFY and MMR RPCs"
We now have zombienet test for BEEFY and MMR. The test is currently focused on consensus, but it could also test RPCs.

A simple JS could be added [here](https://github.com/paritytech/polkadot/blob/3d78ec66b2dc26c39fb21c09a72fcddc29f20851/zombienet_tests/functional/0003-beefy-and-mmr.feature#L40) to test BEEFY and MMR RPCs.

[2022-08-04 09:08] acatangiu commented on #11761
added follow-up issue https://github.com/paritytech/substrate/issues/11972

[2022-08-04 09:18] ggwpez opened #11974 "Network benchmarking"
The idea of adding a network benchmark came up in the chat. The reason is that validators have a required minimum network speed of 500 Mbit/s.
It seems that multiple hosters promise one thing and then deliver another. Adding a network benchmark will help with sieving out subpar hardware quicker.

### How?
Some infrastructure would be required for this. There are three ways that I can think of (fee

[2022-08-04 09:32] bkchr commented on #11974
Adding some networking benchmark sounds nice first. However, we would need to ensure that we don't ddos someone. And 1000 other things that we need to ensure.

IMO this should be solved by recommending some external tool in the validator setup to verify their download/upload speed.

[2022-08-04 09:34] #11958 closed

[2022-08-04 11:27] Szegoo commented on #11736
Have you managed to get it working? If not I may make a PR. I believe that the files that need to be modified are: `frame/support/procedural/src/construct_runtime/expand/call.rs` and `frame/support/procedural/src/construct_runtime/expand/event.rs`

[2022-08-04 13:12] muddlebee opened #11977 "Substrate docs link broken at https://github.com/paritytech/substrate/blob/master/bin/node-template/README.md"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

https://docs.substrate.io/
docs substrate links broken in the node-template README
https://github.com/paritytech/substrate/blob/master/bin/node-template/README.md

### Steps to reproduce

_No

[2022-08-04 16:33] Szegoo commented on #11977
Are you referring to the `README.md` file inside the `node-template`, because I cannot find any broken links there? Could you please be a bit more specific?

[2022-08-04 16:54] tifecool commented on #11736
Hey @Szegoo. Funny enough just figured that out yesterday hence the "Still attempting" edit. Now I'm getting the error:
`error[E0433]: failed to resolve: use of undeclared type "Call" `

Dropping the issue now. Please go ahead 😇️

[2022-08-04 17:16] Szegoo commented on #11736
@tifecool Sorry, I didn't notice the "Still attempting" edit. Feel free to continue working on this if you want to, I didn't want to make any pressure on you. If you really want to drop this issue, I would be happy to work on this.

[2022-08-04 17:19] tifecool commented on #11736
@Szegoo It's no pressure. You're welcome to work on it. I'll learn from your solution.

[2022-08-05 02:58] siman commented on #7054
This is a very needed feature. It will improve the UX of the dapps built on top of Substrate when dealing with dapp's session keys (proxy accounts).

[2022-08-05 14:00] AuroraLantean commented on #4333
[code]
How do I solve this? I am trying to use Frontier as a dependency in my parachain

[2022-08-05 14:04] acatangiu opened #11984 "MMR Proof Generation is broken"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Shortly after deploying `polkadot:v0.9.27`, Rococo fails to generate MMR proofs using `mmr` RPC, for example on block `1353786`:
[code]

### Steps to reproduce

1. Open polkadot.js/apps
2. Con

[2022-08-05 14:11] acatangiu commented on #11984
`ckb-merkle-mountain-range-0.3.2` used by `pallet-mmr` is throwing `InconsistentStore` error when trying to generate proofs:

[code]

Need to dive deeper for root cause, but likely culprit is recent PR https://github.com/paritytech/substrate/pull/11594

[2022-08-07 22:12] xlc commented on #11309
I feel this is a bit over engineered so closing this.

[2022-08-07 22:14] xlc commented on #10818
Closed by https://github.com/paritytech/substrate/pull/11198

[2022-08-07 22:14] #10818 closed

[2022-08-08 03:17] shunsukew opened #11987 "ChainExtensions' caller should be contract AccountId"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Using pallet contracts polkadot-v0.9.26

According to the [Substrate Stack Exchange](https://substrate.stackexchange.com/questions/1681/how-to-access-environmental-information-about-a-contract

[2022-08-08 05:41] koute commented on #11949
It's good to know that people are hitting the limits as it shows that we need to improve the situation here.

However I don't think we should necessarily add new CLI flags to control this. That'll require a little bit of refactoring, but as I've already said elsewhere we can just make the executor autodetect the minimum necessary values for a given runtime and use exactly what's necessary as the l

[2022-08-08 06:31] koute commented on #11891
@Dinonard Well, I suppose we could backport it, but unless it's a more widespread issue it might not actually be necessary? The fix's not going to be anything complex, and it should be trivial to even just make your own temporary fork of `polkadot-v0.9.26` and apply it there (I could even prepare it for you if necessary).

Anyway, I'll ping you again once I push the PR with the fix.

[2022-08-08 06:50] Dinonard commented on #11891
Sure, we can do that, it's not a problem if fix won't be complex.
Atm we're at `polkadot-v0.9.27` so I doubt there will have been any major changes since that branch released.

[2022-08-08 06:51] koute commented on #11974
Yeah, this is tricky. As Basti said, there are many potential problems here that need to be handled to make sure this is reliable and doesn't DoS any third-party.

The way I see it, *if* we want to do this and have the benchmark be fully automatic and do it at least semi-reliably then I don't really see any other way than having our own infrastructure that we control.

Basically, something like th

[2022-08-08 08:18] athei commented on #11987
`caller()` means the caller of your smart contract (which is Alice if you call the message directly with that account). **Not** the caller of the chain extension. You are looking for your own accountid: `env.ext().address()`.

[2022-08-08 08:18] #11987 closed

[2022-08-08 09:18] bkchr commented on #10279
I just looked through the code and it is correct what you are saying. However, your proposed solution is not correct. I think we need to fix the following code: https://github.com/paritytech/substrate/blob/c172d0f683fab3792b90d876fd6ca27056af9fe9/client/transaction-pool/src/lib.rs#L713-L723

The code needs to be written in a way that when we first receive a finalized event, we first enact the bloc

[2022-08-08 09:24] AuroraLantean commented on #4333
Solved by by adding default-features = false, in my Frontier dependencies in my runtime/Cargo.toml https://substrate.stackexchange.com/questions/4133/cannot-find-macro-vec-in-this-scope/4137#4137

[2022-08-08 09:25] bkchr commented on #11949
Sounds like a good idea at hand, however what happens at runtime upgrades? :D

[2022-08-08 09:31] #11907 closed

[2022-08-08 09:44] Dinonard opened #11990 "Issue with deposit_creating in Currency trait"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hello!

I raised an [issue](https://github.com/paritytech/polkadot/issues/5823) recently in polkadot repo regarding XCM's `CurrencyAdapter`, however I was told this is more of a issue with the

[2022-08-08 09:54] koute commented on #11949
The limits get recalculated, the new runtime's compiled, and everyone's happy. (: All of those limits (besides `count`, but that one can be kept hardcoded and be mitigated in a different way) can essentially be calculated statically based only on the uncompiled raw runtime blob, and they are (in the current implementation) only set *per runtime*, not globally (although we *do* hardcode them curren

[2022-08-08 11:11] mustermeiszer opened #11992 "Wrong impl of `KeyLenOf` for `Map` and `DoubleMap`"
If I am not mistaken the length of the Patricia-Key for a storage object is determined by

* StorageValue = `Twox_128("PALLET_NAME") + Twox_128("STORAGE_NAME")`
* StorageMap = `Twox_128("PALLET_NAME") + Twox_128("STORAGE_NAME") + HASHER(key)`
* StorageDoubleMap = `Twox_128("PALLET_NAME") + Twox_128("STORAGE_NAME") + HASHER(key_1) + HASHER(key_2)`

But the current implementation of `KeyLenOf` for b

[2022-08-08 13:48] koute commented on #11891
@Dinonard PR's available here: https://github.com/paritytech/substrate/pull/11993

[2022-08-08 14:11] Dinonard commented on #11891
Awesome!
I'll prepare a fork, apply your PR and test just to confirm this particular issue is gone.

Thanks!

[2022-08-09 07:06] nazar-pc commented on #10740
Is this supposed to work with chain that doesn't have finality? I'm worried about growing number of places where finality is implicitly assumed to exist in Substrate, making it less generic.

Also I'm interested in clearer separation between initial and keep-up sync here.

[2022-08-09 10:49] Lederstrumpf commented on #11984
Maybe I'm missing something, but I don't think that's the cause since the onchain runtime version on rococo is still 9250, which barely precedes inclusion of that PR.

I've tried this for a couple thousand blocks, and the instantiation the `InconsistentStore` error is consistently this line: https://github.com/nervosnetwork/merkle-mountain-range/blob/master/src/mmr.rs#L125

I've attached a tracelo

[2022-08-09 11:04] #11891 closed

[2022-08-09 11:18] Dinonard commented on #11891
I can confirm that the issue is gone :+1:

[2022-08-09 11:46] acatangiu commented on #11984
Running a node from genesis doesn't exhibit this problem, only nodes started from snapshot have this broken db issue.

Unfortunately we only have snapshots from the last 5 days and they are all broken - all current nodes have been semi-recently upgraded and restarted from a broken snapshot, and so we have no older good snapshot.

[2022-08-09 13:30] acatangiu commented on #11984
The problem is that the offchainDB is incomplete, it holds no entries for old leaves (such as leaf indexes `0`, `1`, `3`, `1000000`); only for leaves pertaining to blocks added _after_ node was started from snapshot.

This is most likely due to the node being started from an incomplete snapshot. The incomplete snapshot was most likely generated on a node without `--enable-offchain-indexing=true` p

[2022-08-09 15:18] acatangiu commented on #11984
The sync nodes have been restarted with the correct flags and are currently re-syncing.

[2022-08-09 19:53] arkpar commented on #10740
It may not be finality in the same sense, as the the actual finality engine used. Substrate indeed already has a limit on maximum possible re-org. So in the simplest case sync may consider "final" any block past that threshold. But yes, this strategy uses the notion of finality to make thing simpler. We may make the sync strategy pluggable to support other cases though.

[2022-08-10 01:52] dutterbutter commented on #10185
@Benzales this worked for me for future reference:
[code]

[2022-08-10 05:55] memorycancel opened #11999 "Rename `spec_name` to `runtime_name` or `name`"
https://github.com/paritytech/substrate/blob/fece0657f20e15df94be5833b164dfacd44823eb/primitives/version/proc-macro/src/decl_runtime_version.rs#L71-L74

The point of this is more straight-forward, the `spec_name` here should not be confused with `spec_version`, this make people think it's specification name as opposed to runtime name. As same as the definition in document make people confusing.

!

[2022-08-10 08:05] Dairston commented on #11999
Sent from Proton Mail for iOS

On Wed, Aug 10, 2022 at 1:56 AM, memorycancel ***@***.***> wrote:

[2022-08-10 08:28] xlc commented on #11999
It is also specification name? I mean what exactly is the difference between specification name and runtime name? The spec_version is the specification version and you are not suggesting to rename it as well.

[2022-08-10 10:55] kianenigma opened #12001 "nomination-pools: allow pool-ids to be reused"
Currently, pool ids only ever increase. While generally we suggest using a `MaxPools` limits, this allows one to spam the pool ids and consume a lot of them by creating a pool and immediately destroying it.

This is not a cheap or fast process, so it is not a huge risk either. Nonetheless, it would be nice to have a simple id-reuse system.

A simple way to do it is that `create` can have an `Optio

[2022-08-10 13:18] rossbulat commented on #8436
Added on master, thanks!

<img width="554" alt="Screenshot 2022-08-10 at 14 17 52" src="https://user-images.githubusercontent.com/13929023/183911405-f203f839-6511-4ba9-a5eb-ed1fb5f9fa5e.png">

[2022-08-10 14:25] ggwpez opened #12003 "Generalize node test helpers"
Stuff like `wait_n_finalized_blocks` is now part or Substrate, Polkadot and Cumulus, always in a slight variation.
Other candidates are `wait_n_finalized_blocks_from`, `wait_n_finalized_blocks` or `find_ws_url_from_output`, that seem useful in multiple projects.

We could probably generalize the implementations to be more maintainable instead of copy & pasting it.

[2022-08-10 14:28] ggwpez commented on #11974
Yea also from a cost-benefit perspective this is nothing that we *have to* do ourselves.
Then I will look for some external tooling that already offers this and recommend it.

Leaving the issue open until this is done.

[2022-08-10 15:05] shawntabrizi commented on #12003
We should save this for onboarding some of our new employees

[2022-08-10 15:30] Lederstrumpf commented on #11984
Can report that it's working on rococo for me too when syncing from scratch with `--enable-offchain-indexing=true` enabled from the beginning.

In case we run into this again, I've debugged with a local chain to confirm that the offchainDB *can* actually be incomplete, so long as all leaves required in the proof are present.

Using a local chain where I:

- enabled indexing until block 35,
- disab

[2022-08-10 21:11] burdges commented on #10740
We must support chains without their _own_ finality, since this describes parachains.  We do not afaik need chains without *any* notion of finality, because afaik they're not really secure anyways.

A priori, I think this proposal makes sync easier to understand, which maybe helps us do async time thing by Handan (and Peter Czaban) and do my slashing reform idea.  I've not really thought about the

[2022-08-11 02:02] seunlanlege commented on #11797
actually have encountered this issue and i created this pr as a fix: https://github.com/paritytech/substrate/pull/10907

[2022-08-11 03:27] memorycancel commented on #11999
Yes, I have the same confusion as you, about the definition of the parameter literally, I am not sure what name to rename.

So, Could we handle this as a expressive issue. Like, we can change the definition
[code]
to
[code]
From my view, the runtime is just a part of specification, right?

[2022-08-11 07:01] kianenigma opened #12007 "Avoid re-defining the entire Proxy type per-runtime"
Just thinking out loud: re-writing all of this HIGHLY risky logic every time seems very dangerous to me. Ideally, we would have a base proxy builder that constructs the default `NonTransfer`, `Any`, `Cancel` etc, and we only extend it with the custom ones.

_Originally posted by @kianenigma in https://github.com/paritytech/cumulus/pull/1346#discussion_r943154966_

The answer can be a builder patte

[2022-08-11 09:48] puzzle-rusher opened #12009 "sign(...) in sr25519 requires random"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When I tried to use `sign` function from  sp-core  with default-features = false, features = ["full_crypto"] I ran into an error like
[code]
Then I added "getrandom" in the sp-core's `cargo.to

[2022-08-11 10:23] bkchr commented on #12007
Writing blockchains isn't easy ;)

Here the question would also be how to find out what is non-transfer in your runtime? How should we do this on the Substrate level?

IMO the current approach is the best approach. It doesn't involve any magic and you have some concrete place where you can look up all of this.

[2022-08-11 10:40] xlc commented on #12007
I would actually want to propose to remove `NonTransfer`. It is just a footgun. We simply don't have it at Acala and just have more fine grained proxy types https://github.com/AcalaNetwork/Acala/blob/e8998a4d323ec17b5d98f7cf6963df4048fcce5e/runtime/common/src/lib.rs#L326-L337

We can setup multiple proxy to achieve union of permissions and I figured that's just the better way.

[2022-08-11 11:02] ggwpez commented on #12009
What are you trying to do?
Where do you want to call the sign function? In a test, a pallet or off-chain?

Creating a signature always requires randomness.

[2022-08-11 12:13] MrShiposha commented on #7911
Hi everyone!

It seems to me that the lazy migration would have some issues, namely:
* If we do the migration only on reads/writes and we don't use the remaining weight (as in the `on_idle` hook) then we can't tell when the migration will complete
* If we do the migration on writes and continue the migration using the remaining weight then the state could become inconsistent. For instance, the `St

[2022-08-11 14:05] athei commented on #11367
Can't you split this up in two contracts? One has the storage (**A**) and mutable calls but no floats and can be easily run on-chain. Then you have another one (**B**) which contains floats and is responsible for the calculation.

In case of off-chain calculation **B** would query all the data from **A** by calling it and then does its calculation on it. It doesn't matter if a lot of data is dumpe

[2022-08-11 14:53] #11992 closed

[2022-08-11 15:06] ggwpez opened #12012 "Vision: Review `can_*` extrinsics/methods"
We should review all `can_*` extrinsics that got created under the old paradigm since we now have storage layers per default.
A lot of code can be simplified and maybe some extrinsics can be removed or deprecated. This should also reduce the weights.

@KiChjang could you please add your related issues?

[2022-08-11 17:04] h4x3rotab commented on #11367
Brilliant solution! Let's do it in this way.

[2022-08-11 17:19] shawntabrizi commented on #10762
@ggwpez do you think this is still needed given the improvements to the benchmarking pipeline accuracy?

[2022-08-11 17:24] shawntabrizi commented on #9513
i think this is all done or covered in other issues cc @ggwpez

[2022-08-11 17:24] #9513 closed

[2022-08-11 17:26] shawntabrizi commented on #8827
i believe this should be fixed now

[2022-08-11 17:26] #8827 closed

[2022-08-11 17:30] shawntabrizi commented on #1820
I think this can be closed?

[2022-08-11 17:32] shawntabrizi commented on #1467
stale

[2022-08-11 17:32] #1467 closed

[2022-08-11 17:34] shawntabrizi commented on #1569
fixed it seems

[2022-08-11 17:34] #1569 closed

[2022-08-11 17:49] shawntabrizi commented on #10762
ill leave it open. doesn't sound like something that would be bad to have

[2022-08-11 20:32] Szegoo commented on #11352
@kianenigma @bkchr Could you please take a look at my PR?

[2022-08-12 08:13] seunlanlege commented on #11181
Having rpc metadata greatly simplifies the lives of people who directly use substrate.

Here i am writing a relayer and having to have a tab open of my custom rpc methods, when intellisense + subxt generated types would've made this a breeze.

the old jsonrpc actually supported this by generating a client interface, i'm not sure if the new one does.

[2022-08-12 08:23] xlc commented on #11181
I think this one could be closed in favor of https://github.com/paritytech/substrate/issues/11648
Implementation-wise it is more easier to annotate runtime APIs compare to custom RPCs.

[2022-08-12 08:33] ascjones commented on #11181
Agreed

[2022-08-12 08:33] #11181 closed

[2022-08-12 08:41] bkchr commented on #11999
I would then vote for:
[code]

[2022-08-12 10:02] burdges commented on #12009
There are derandomized signatures, but signatures always require secrets, and if you've a problem with randomness, then you typically also have a problem with secrets.

In fact, schnorrkel like ed25519 can derandomized, but it's easier to miss-use the interface provided.  We plan to fix the interface, but it's not a high priority..  https://github.com/w3f/schnorrkel/issues/82

There are variations

[2022-08-12 10:10] kvinwang commented on #11367
The solution is acceptable to us.
However, I am worrying about whether it is easy to implement.
I think in this solution, If a contract **B** contains floats, it would be marked as non-deteministic, and further, the pallet-contracts should forbid it to run in transaction mode. But a contract would at least requires executing its `constructor` even if it contains floats. How should we deal with thi

[2022-08-12 10:13] puzzle-rusher commented on #12009
I am trying to test my function that verifies the signature inside.
In a test, but it doesn't matter, I think.

I am not against the randomness in creating a signature, but I'm against the unclear API that makes it difficult to use.

[2022-08-12 10:27] rossbulat commented on #8436
I’ve thought quite deeply about how a quick unstake system can be introduced in staking. Here are my findings.

A nominator should be able to immediately unstake if their nominations have not been exposed in the last `BondingDuration` eras. But it is extremely costly to check this. Instead of iterating the entirety of `ErasStakers`, we could just keep track of a nominator's nominees, and check whe

[2022-08-12 10:42] athei commented on #11367
Yes you got that correctly. It is a good point: You can't create contract **B** cause you cannot run the constructor on-chain of a code that is flagged as in-deterministic.

There is a solution for that and I think this is even more elegant: You don't actually need a contract **B**. You only have a code hash **B** which is flagged as nondeterministic. What you would do is to use `seal_delegate_cal

[2022-08-12 11:06] kvinwang commented on #11367
Perfect!

[2022-08-12 11:23] ggwpez commented on #12009
It does matter, tremendously, that is why I asked.
In a test you can do anything; in a pallet not. Make sure to only add the `full_crypto` feature to your dev-dependencies for your test.

There is an SE answer here which covers signing and verifying in a test: https://substrate.stackexchange.com/a/4225/94
The main thread for pallet signature verification: https://substrate.stackexchange.com/a/316/

[2022-08-12 12:15] nazar-pc commented on #10740
Do you suggest for Substrate to not support PoW and similar consensus mechanisms that don't have deterministic finality at all?

[2022-08-12 14:20] bkchr commented on #12009
Not sure why you are writing your test in Wasm. You would need to provide some more information on what you are doing to get help.

The `full_crypto` feature is automatically enabled when `std` is enabled. So, no special handling is needed there.

[2022-08-12 14:26] ggwpez opened #12017 "Warn validators with slow hardware"
Upon starting a node we currently print some brief hardware metrics.
This could be extended to include a warning in case the node has bad performance and was started with `--validator`.

The logic for comparing results and having a baseline is currently in `utils/frame/benchmarking-cli`, some of this would probably move to `sc-sysinfo`. `sc-sysinfo` would profit from this since it can use `Through

[2022-08-12 15:41] niklasad1 commented on #11886
Closed by #11950

//cc @bakhtin I did want you suggested would be good if you test it in a burn-in or something on westend :)

[2022-08-12 15:41] #11886 closed

[2022-08-12 15:43] ggwpez opened #12018 "Add storage size check to `construct_runtime!`"
More of an idea:

Since we have https://github.com/paritytech/substrate/pull/11699, we could add it to `construct_runtime!` with some sensible (and configurable) default.
This would help us and para-chain teams (eg. https://github.com/NodleCode/chain/pull/655) to spot large storage structs, which bloat the PoV.

What do you think?

[2022-08-12 16:48] MrishoLukamba opened #12019 "sp-keystore does not compile"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

in doc.rs sp-keystore points to version 0.10.0-dev while inside substrate repo is 0.12.0, When attempting to include it does not compile

### Steps to reproduce

Including it in cargo.toml,
ca

[2022-08-12 16:49] MrishoLukamba commented on #12019
@bkchr @shawntabrizi

[2022-08-12 18:17] kianenigma opened #12020 "Use `parameter_types` instead of `thread_local` for test-setup"
[code]

and then you get `Members::get()` and `Members::set()` with the same functionality.

_Originally posted by @kianenigma in https://github.com/paritytech/substrate/pull/11996#discussion_r944701672_

---

As per explained in the above PR.

[2022-08-12 18:44] ggwpez commented on #12020
That should also fix this https://github.com/paritytech/substrate/issues/10479, if used everywhere.

[2022-08-12 20:35] bkchr commented on #12020
You can not use `parameter_types!` in all tests. The problem is that some tests require that you change the values between different tests.

[2022-08-12 20:42] bkchr commented on #12019
How do you include the crate?

[2022-08-12 22:06] kianenigma commented on #12020
I don't see any function difference between the two. It is merely for the nicer syntax. Can you provide an example?

[2022-08-13 00:20] MrishoLukamba commented on #12019
Inside cargo.toml. The name. The version of it git and the branch

[2022-08-13 01:58] burdges commented on #10740
Yes exactly..

Proof-of-work is not secure.  It's especially bad on smaller chains ala https://www.crypto51.app/ but bitcoin shall be double spent eventually too ala https://economics.princeton.edu/working-papers/on-the-instability-of-bitcoin-without-the-block-reward/

We'll never fully support proof-of-work parachains anyways. We need pre-collation proofs in too many places, like parachain block

[2022-08-13 07:21] bkchr commented on #12020
Okay, I mixed stuff up. There is some usage of `thread_local` in the frame tests, but none of them is used directly as alternative for parameter_types. More like some way to introspect operations.

[2022-08-13 08:21] xlc opened #12024 "/wss/p2p protocol not supported?"
I would like to verify if a node is configure properly for usages of substrate-connect. I usually starts with a Substrate node to verify it can indeed connect to the new node. However it seems like it just doesn't work with `/wss/p2p` multi addr at all?

I tried this
`docker run --rm parity/polkadot:v0.9.27 --reserved-only --reserved-nodes=/dns/polkadot-connect-7.parity.io/tcp/443/wss/p2p/12D3KooW

[2022-08-13 12:05] #11906 closed

[2022-08-13 12:06] KiChjang commented on #12012
This would imply that all of the `can_*` trait methods under the `frame_support::{fungible, fungibles}` path need to be updated as well. Not sure if this also includes the trait methods under `Currency` and `ReservableCurrency`, since the aim is to migrate away from them.

[2022-08-13 19:04] bkchr commented on #12024
@tomaka can you help here?

[2022-08-14 06:10] tomaka commented on #12024
I'm not responsible for anything networking anymore, and haven't been for at least 6 months

[2022-08-14 11:44] kianenigma opened #12027 "Standard way to initialize a pallet after genesis"
in the future probably would be nice to have an initialize function coming from the pallet itself.

_Originally posted by @shawntabrizi in https://github.com/paritytech/polkadot/pull/5582#discussion_r942502407_

Currently, we can easily initiate a pallet in the runtime by using `on_runtime_upgrade`. This is *fine*, but we can dp better and create a standard process for this.

Also, in the academy,

[2022-08-14 16:39] shawntabrizi opened #12029 "Gov V2 Follow Up Issues"
* Integrate a "fellowship" like setup into the kitchen sink runtime included in Substrate. This would have caught many of the issues with benchmarking which were debugged in: https://github.com/paritytech/substrate/pull/12022, https://github.com/paritytech/substrate/pull/12026, and https://github.com/paritytech/substrate/pull/12026
* Expose `add_member_to_rank` extrinsic which is callable by root

[2022-08-14 16:41] MrishoLukamba commented on #12029
Am taking it thanks Shawn

[2022-08-14 18:05] #11902 closed

[2022-08-14 19:51] tifecool commented on #12020
Would like to attempt this.

[2022-08-14 19:53] #12019 closed

[2022-08-15 07:53] #8055 closed

[2022-08-15 08:23] niklasad1 opened #12030 "[rpc api]: reduce dependency tree"
Currently, the jsonrpc related types from jsonrpsee introduces some needless dependencies which should be fixed shortly.

In addition the crate itself brings in `sc-chain-spec` which in turn brings in `sc-network` and it has lots of dependencies (libp2p and so on) which are not needed just because a couple of types are needed in the `system RPC API`.

Thus, would be nice to extract these types or

[2022-08-15 08:39] HamzaYasin1 opened #12031 "failed to select a version for the requirement `platforms = "^0.2.1"`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hi Folks,
I'm using substrate 2.0.0 as of baseline code, it was working fine a week ago but than it started giving this issue:

              error: failed to run custom build command for `nod

[2022-08-15 10:52] tomaka commented on #7467
Progress is done here:
https://github.com/libp2p/rust-libp2p/pull/2622
https://github.com/libp2p/specs/pull/412

[2022-08-15 12:39] #11665 closed

[2022-08-15 19:14] Doordashcon commented on #7557
Is this still needed to be worked on?

[2022-08-16 04:28] shunsukew opened #12038 "`system_syncState` RPC returns highestBlock null"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`system_syncState` RPC returns null for highestBlock.
Confirmed with several chains using Substrate.

<img width="1494" alt="Screen Shot 2022-08-16 at 13 20 53" src="https://user-images.github

[2022-08-16 06:37] kianenigma commented on #10941
@rossbulat This seems like a reasonable addition to me.

[2022-08-16 06:38] kianenigma commented on #9469
This was fixed as a part of https://github.com/paritytech/substrate/pull/11823

[2022-08-16 06:38] #9469 closed

[2022-08-16 07:06] kianenigma commented on #11638
This sounds like a good improvement to explore! we will look into it.

[2022-08-16 07:09] kianenigma commented on #11672
Some notes, I propose we re-think the commission and not make it be a "free forever commission" system like staking. Each pool member can set two commission values:

[code]

with the following rules:

1. `current` can NEVER be set to a value more than `max_ever`.
2. `max_ever` can never be increased.