[2022-03-21 16:35] ggwpez commented on #11080
Please explain what you did with a bit more detail.
Which tutorial did you follow, which commands did you execute?

[2022-03-21 18:16] xgreenx commented on #11018
And it will not affect the size, I forgot that it is a bit=D

You are right. It can be changed on the ink! side. `ALLOW_REENTRY` will always be true and the user, if wants can off that flag via `CallFlags::deny_reentry`.

[2022-03-21 19:03] xgreenx opened #11082 "`seal_is_reentrant` for `contract-pallet`"
`seal_is_reentrant` returns true if the contract presents in the call stack more than one time. More information about usage of that method in the [comment](https://github.com/paritytech/substrate/issues/11018#issuecomment-1072607951).

How that method should work for the `delegate_call` case? I will expect that the delegate call doesn't change the reentry state.

[2022-03-21 20:21] joepetrowski opened #11083 "Permissioned Lists for Assets Pallet"
## Assets Pallet Feature Request

Some asset issuers on Statemint have requested the ability to create explicit lists of accounts that may or may not hold an asset. Although it's technically possible to manage via a large set of time-delay proxies, it makes for a bad user experience (delays for transferrers) and cumbersome infrastructure (will require custom wallet development) and is not really w

[2022-03-21 20:41] Doordashcon commented on #11056
This will require writing tests?

[2022-03-21 21:12] bkchr commented on #11056
Not really.

[2022-03-21 21:14] Doordashcon commented on #11056
Noted, would like to attempt this issue

[2022-03-21 21:31] bkchr commented on #11056
Okay

[2022-03-21 21:50] bkchr commented on #11079
This is fixed in master. I will backport the fix to 0.9.18.

[2022-03-21 21:50] #11079 closed

[2022-03-22 07:47] #10794 closed

[2022-03-22 09:00] BeginArtem commented on #11080
Sorry, i forgot to tell my way.
To put it bluntly, I was refactoring a substrate-based blockchain from polkadot-v0.9.9 branch to an updated polkadot-v0.9.13 branch. The main changes were the addition of parachain pallets and the change in pallet staking (it is custom). Then I fixed all the errors and tried to run the blockchain to see if it was successfully or not to add the desired functionality

[2022-03-22 10:36] mmyyrroonn commented on #8103
Hi. @RGafiyatullin  I have a question here and hope you can shed some light on this. If all validators and watchers in the network are running in the pruned mode, for a new coming node(validator or watcher), is it able to sync the chain from scratch?

[2022-03-22 10:52] bkchr commented on #8103
Yes, pruning here is only about the state, not the blocks.

[2022-03-22 15:09] ggwpez opened #11090 "Copy weight files into `node-template`"
Analogous to https://github.com/paritytech/polkadot/pull/5064
Instead of using the default weights from `frame_support`, copy the files over to encourage developers to benchmark their own weights.
Concretely `block_weight.rs`, `extrinsic_weight.rs`, `rocksdb_weight.rs` and `paritydb_weight.rs`.

The parachain template needs this as well.

[2022-03-22 17:09] tifecool commented on #11090
@ggwpez  On this. Should the copied weights replace the frame_support weights anywhere?

[2022-03-22 17:14] kianenigma opened #11092 "Enforce `MaxEncodedLen` impl for `NposSolution`"
See: https://github.com/paritytech/substrate/pull/11032/files#r832354293 (https://github.com/paritytech/substrate/pull/11032/)

[2022-03-22 17:35] NukeManDan opened #11093 "Recovery pallet does not have benchmarking, or weights measured"
There are only hard-coded weights in the [pallet presently](https://github.com/paritytech/substrate/tree/master/frame/recovery) and no `benchmarking.rs` enabling `runtime-benchmarks` feature to measure/produce them.

[2022-03-22 20:02] kianenigma commented on #11076
https://github.com/paritytech/substrate/blob/kiz-multi-block-election/frame/election-provider-support/src/lib.rs#L264

[2022-03-22 22:09] xlc commented on #11056
@Doordashcon just so you know we already have PR for this.

[2022-03-23 05:38] Doordashcon commented on #11051
"solution id" means submission index and this index can be used to retrieve a signed submission?

[2022-03-23 08:17] emostov commented on #11051
Yes, it should be the submission index that is used as the key to this map:
`pub type SignedSubmissionsMap<T: Config> = StorageMap<_, Twox64Concat, u32, SignedSubmissionOf<T>, OptionQuery>;`

[2022-03-23 08:30] freehere107 opened #11096 "Democracy cancel_proposal Lack related event"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Subscan lacks the cancel proposal event when updating the democracy proposal state. Currently, this action is triggered through the council or TechnicalCommittee, which is difficult to obtain.

[2022-03-23 09:38] BeginArtem commented on #11080
I'm using standart polkadot chain-spec from branch "release-v0.9.13". Firstly i tried to use this without any changes, just to run a chain. But i'm using a custom pallet-staking that works earlier with substrate from branch "polkadot-v0.9.9".
At now i can't even generate spec.json file to run a chain with this command:
[code]
Before that i generated a customSpec.json with this command:
[code]

[2022-03-23 15:53] tsutsu opened #11101 "Proposal: configuration option to treat block-execution WASM panics as a node-level fatal"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

While work on having the node "react more intelligently" to WASM-execution panics is being done here (https://github.com/paritytech/substrate/pull/10741), could we also get the ability to advi

[2022-03-23 19:05] bkchr commented on #11101
This is a duplicate of: https://github.com/paritytech/substrate/issues/10585

Which is already implemented :) Just currently hidden behind a feature.

[2022-03-24 00:07] crystalin opened #11106 "Partial Fee returns invalid result for operational extrinsics"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When querying the fees through `api.rpc.payment.queryInfo` the value returns is different from what is expected.
The following program computes the fees using this rpc method and compares it t

[2022-03-24 00:08] crystalin commented on #11106
cc @jacogr as he might know better how to compute/handle the fees in polkadotjs

[2022-03-24 03:25] mmyyrroonn commented on #8103
oh. Thank you very much! Good to know

[2022-03-24 05:29] jacogr commented on #11106
As far as I understand the `queryInfo` actually executes the block and then returns the fees based on that - so it _should_ be 100%.

Where it does fall short is where refunds come into play. (I have a mental note of this somewhere, sometime ago to look at the actual Rust code in these cases, but sadly  have not had a gap since I made that note)

[2022-03-24 08:11] #8081 closed

[2022-03-24 08:35] ayevbeosa commented on #11093
I am interested in working on this.

[2022-03-24 10:05] ggwpez commented on #11093
Nice. Have you done benchmarking before? @ayevbeosa
Looking at the code of the recovery pallet; some extrinsics seem rather complex. So you can start with the easy ones like `set_recovered`.
That should already help to get the structure in place to further extend it. Otherwise if you aleady know benchmarking you can obviously do more.

[2022-03-24 10:06] mutobui commented on #8696
I try to implement transfer_all_free in runtime with KeepAlive then got the error
[code]

[2022-03-24 10:12] ggwpez commented on #8696
Why are you implementing it again? The function already exists now `Balances::transfer_all` @mutobui

[2022-03-24 11:26] ayevbeosa commented on #11093
I haven't really. I guess I will start from where you suggested. Thank you.

[2022-03-24 19:17] kianenigma commented on #9511
about reading relay chain state from parachain: https://github.com/paritytech/cumulus/issues/320

[2022-03-24 20:10] kianenigma opened #11111 "Benchmark different implementations of `Solver`"
All structs that implement `NposSolver` are currently returning a naive `max_block` weight, just because they don't have any better way to estimate them.

The weight of these implementations are not really runtime dependent, we can and should still leverage benchmarking pipeline. So, I propose the follwoing:

2. Create a sub-create in `election-provider-support` called `onchain-config`. This will

[2022-03-25 10:01] gavofyork opened #11116 "Treasury pallet should support multiple origins for spending levels"
Currently there's only one approve origin for the treasury pallet which is able to approve any spend.

Actually, the spend origin should accept a parameter, and the `Success` associated type should be a `Balance`. The value of this balance should be at least the amount of spending desired in the call.

[2022-03-25 17:58] ordian opened #11120 "`historical::offchain` is broken"
1. The `prove_session_membership` function, which is supposed to be used for dispute slashing, fetches the validator info data from a previous session: https://github.com/paritytech/substrate/blob/411d9bb4c551c65acb55bc67443f05fe631f9330/frame/session/src/historical/offchain.rs#L78-L84 but the session keys from the current session: https://github.com/paritytech/substrate/blob/411d9bb4c551c65acb55b

[2022-03-25 18:46] hkdollboy commented on #10931
The funny information from cargo really makes me confused about what happend in deps resolve :) I also have no idea to solve this fuck problem so I choice use the git submodule 233333

[2022-03-25 18:57] hkdollboy opened #11121 "dead-loop deps resolve"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

<img width="778" alt="image" src="https://user-images.githubusercontent.com/96910612/160183965-b5071fff-cc3c-4988-9909-49c948f88499.png">

as you can see that, when I use the branch polkadot-v

[2022-03-25 19:35] shawntabrizi commented on #11121
You have some conflicting information here. You say you used "branch polkadot-v0.9.18" but in the CLI screenshot above you can see "branch=master".

Can you clarify?

Also did you try `cargo update -p sp-runtime`?

[2022-03-25 20:15] #10334 closed

[2022-03-26 06:02] liuchengxu opened #11122 "Support custom externality extension"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Not a bug, but a feature request.

We'd like to call the execution proof API within the runtime hence an externality extension is need. Currently, I don't see there isn't a way exposed to add

[2022-03-26 06:25] bkchr commented on #11122
You can use [this](https://github.com/paritytech/substrate/blob/7a09b82772b0597cdae224f4b124d660dda9e82b/client/service/src/client/client.rs#L1405-L1407) to get access to the `ExecutionExtensions` to then call `set_extensions_factory` :)

[2022-03-26 06:25] #11122 closed

[2022-03-27 09:16] yong-sea commented on #10770
dps://p?url=https%3A%2F%2Fdetail.m.tmall.com%2Fitem.htm%2F_____tmd_____%2Fpage%2Flogin_jump%3Frand%3DS3WxGHAgAt756EpznwfNzJq2AFA2qBNla3j6EINUS8We9dazM_iKElp8DwVSHZUevpC41Bx7RzivXIj9RnZgdg%26_lgt_%3D87b4cd7292add4d1ad19620c933348ba___151901___9020e8fabcd48bdb71e3dbbf86ea2e8b___99083bda5d56ec87266c4ce0569daf06d9efd52f47f617f024cf50637fbdfbbae16115a68e64e9bc5e9dadbea0db0b394f577549a96e3db10daaf43b1b7

[2022-03-27 10:07] georgesdib commented on #11111
I am working on this.

[2022-03-27 17:48] nazar-pc commented on #7327
I just hit this as an obstacle for Subspace.

We are doing a lot of unusual things in our protocol, one of which is separating consensus nodes from execution nodes. We model them as two closely related, but physically distinct "chains", which means we technically have two runtimes.

It is desirable to combine two runtimes into one WASM bundle in our case, which I did and got weird errors that ulti

[2022-03-27 19:16] bkchr commented on #7327
@nazar-pc even when you strip the version section, it will not work. The runtime api is exposing the functions as extern C functions. Meaning you will have something like `Core_version` two times, which is also not allowed.

Without wanting to look into what you are doing there exactly, it just sounds wrong and will not be supported by us.

[2022-03-27 19:47] nazar-pc commented on #7327
Runtimes in their own submodules in Rust. As long as the same versions of dependencies are used (which is the case for me), both instances of `Core_version` are identical and only one copy is present in WASM bundle. Seems to work just fine. The only issue is those global `link_section`s right now.

I worked around that by removing `sp_version::runtime_version`, thus forcing legacy code path, but i

[2022-03-27 21:38] bkchr commented on #7327
@nazar-pc again, without having looked into what you are doing. I assume that by combining both runtimes into one wasm blob you try to only have one source of truth? If that is the case, you could just have the hash of the other runtime in the state of the other runtime.

[2022-03-28 06:47] g302ge opened #11129 "System pallet benchmarking compile failed"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When I introduce the substrate deps using the version v0.9.17 then I got this error

[code]

### Steps to reproduce

_No response_

[2022-03-28 09:20] joepetrowski commented on #11083
Closing after discussion with the users requesting this and other FRAME team devs. The lists will be too long and have too much of an impact on PoV size.

[2022-03-28 09:20] #11083 closed

[2022-03-28 09:39] ggwpez commented on #11129
No response

Well, what did you do to get that error?

`cargo run --features=runtime-benchmarks --  benchmark --chain=dev --steps=1 --repeat=1 --pallet="frame-system" --extrinsic='*' --execution=wasm --wasm-execution compiled`
works so the the systems pallet is not broken on current master.

[2022-03-28 11:00] ggwpez opened #11130 "Fix benchmark regression in `pallet_elections_phragmen`"
Somehow elections phragmen benchmark fails with `Invalid input: UnableToPayBond` discovered in https://github.com/paritytech/polkadot/pull/5207.

@kianenigma noted that it is probably similar to what was fixed here https://github.com/paritytech/substrate/pull/11057

that error can arise every time there's a vote transaction, would be helpful if you look into the full backtrace of the falirure as w

[2022-03-28 13:29] hirschenberger commented on #11054
@bkchr Question on lint: [Clone-on-copy](https://rust-lang.github.io/rust-clippy/master/index.html#clone_on_copy)

As I read from the former issue's context and comments: these extra clones should be left-as-is in functions where this cloned type is a generic parameter, bc. of future type changes or uses with non-copy types, right?

[2022-03-28 13:38] ggwpez commented on #10777
I conducted a Storage benchmark for `RUSTFLAGS='-C target-cpu=native'` on a recent Polkadot snapshot.
The performance is actually worse;
- with the native flag: 23.85µs read, 91.48µs write
- normal release: 20.66µs read, 86.12µs write

Executed like this:
[code]
I did not use the production profile since this would take an hour to build again, but the relativity should still hold.

[2022-03-28 14:52] ggwpez opened #11131 "Deterministic genesis hash for `--dev` runtime"
When I start a substrate node in `--dev` node, it sometimes has different genesis hashes.
It does not happen on every start but sometimes after building? I could not really track to what it is related.

It would be nice to have deterministic genesis hashes such that `import`/`export-block` can be used for testing and in CI.
Either by fixing it or using a `--seed` flag.

@athei said it could be bec

[2022-03-28 16:29] ggwpez opened #11132 "Dev wasm executor panics on block production"
I try to benchmark something and the wasm executor seems to panic for the `polkadot-dev` runtime by hitting a memory limit.
`Failed to allocate memory: "Requested allocation size is too large"` and `going to fail due to allocating 66774016`.

Following setup:
- Generate genesis spec with`build-spec --chain=polkadot-dev`
- Insert 1M accounts into the chain spec (download [here](https://drive.google

[2022-03-28 21:19] bkchr commented on #11054
If the generic type implements `Copy`, you can for sure remove `.clone()`.

Looks good.

[2022-03-29 04:34] arunsybex opened #11134 "Polkadot AsMulti signing offline"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`
const { ApiPromise, WsProvider, Keyring } = require('@polkadot/api');
const { u8aToHex } = require('@polkadot/util');
const { construct } = require('@substrate/txwrapper-polkadot');
const tx

[2022-03-29 09:54] RGafiyatullin commented on #10576
[Done (PR#10708)](https://github.com/paritytech/substrate/pull/10708)

[2022-03-29 09:54] #10576 closed

[2022-03-29 11:59] 99Kies commented on #6450
I had the same problem when I used `cargo build --release -p xxxx-runtime`, but I was able to run `cargo build --release` successfully.

[code]

[2022-03-29 20:33] #8681 closed

[2022-03-29 21:26] bkchr commented on #6450
@99Kies this very probably means that you don't have the `std` feature enabled for these pallets in your runtime Cargo.toml

[2022-03-29 22:00] nazar-pc commented on #8686
Hey, any progress here?

[2022-03-30 08:11] Kalanamith opened #11139 "AsEnsureOriginWithArg no longer available on frame_support"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

[code]

No longer available
Error
^^^^^^^^^^^^^^^^^^^^^ no `AsEnsureOriginWithArg` in `traits`

### Steps to reproduce

Clone Substrate Node Template
Make Sure to use frame_spport 4.0.0 dev ve

[2022-03-30 08:35] athei commented on #11131
I think it happens on every start. The chain spec is build at runtime. This is the code I was talking about:
https://github.com/paritytech/substrate/blob/41567c30da77a2546a90c1049042ebd7b0b09bc4/bin/node/cli/src/chain_spec.rs#L274-L291

[2022-03-30 09:19] bkchr commented on #11139
It is exported here: https://github.com/paritytech/substrate/blob/41567c30da77a2546a90c1049042ebd7b0b09bc4/frame/support/src/traits.rs#L97

I assume you are maybe using an older commit of Substrate?

[2022-03-30 09:53] Kalanamith commented on #11139
use Substrate version 4.0.0-dev

[2022-03-30 10:09] ggwpez commented on #11139
I think the substrate node template is using an older version, looking into the [Cargo.toml](https://github.com/substrate-developer-hub/substrate-node-template/blob/7c342164629e7871b4ee3f09de3d4e130bef6543/Cargo.lock#L1556) shows that it uses `32a4fe01` which does not have thing exposed:
https://github.com/paritytech/substrate/blob/32a4fe01f110a755bf22eb8f803cdfd7052d4f8b/frame/support/src/traits.

[2022-03-30 15:00] ggwpez opened #11140 "Refactor `benchmark` command structure"
Instead of having `benchmark`, `benchmark-block`, `benchmark-storage` and `benchmark-overhead` they should all be sub-commands of `benchmark` for easier usage.

[2022-03-30 16:38] shawntabrizi commented on #11134
What is your question?

[2022-03-30 16:39] ggwpez opened #11141 "Follow up `benchmark-block`"
Some follow-ups from https://github.com/paritytech/substrate/pull/11091:
- [ ] Polkadot integration https://github.com/paritytech/polkadot/pull/5137
- [ ] Add a minimal test https://github.com/paritytech/polkadot/pull/5137
- [ ] Save all results as JSON for further analysis, with split up into mandatory/operational weight
- [ ] Add `--block-weight-key` with default `26aa394eea5630e07c48ae0c9558cef

[2022-03-30 16:40] shawntabrizi commented on #11131
@kianenigma @emostov can you use some seeded randomness or something else here that is deterministic?

[2022-03-30 18:16] #11130 closed

[2022-03-30 22:52] Kalanamith commented on #11139
@ggwpez  it uses the Substrate version 4.0.0-dev if um not mistaken.

[2022-03-31 00:33] aramikm opened #11142 "Sr25519 signature verification fails on subkey and Node"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After generating an Sr25519 signature using PolkadotJS + polkadot{.js} extension in webapp the verification of this signature failed in substrate node and Subkey but it verifies as expected in

[2022-03-31 05:25] bkchr commented on #8686
Hey, no there is not yet any real progress. This will also still take quite some time to have something proper.

[2022-03-31 05:46] nazar-pc commented on #8686
Is there something I can do to speed up the process here? I can do some refactoring if I understand what it should look like in the end.

[2022-03-31 06:48] bkchr commented on #8686
Can you again say what you need @nazar-pc?

[2022-03-31 06:53] bkchr commented on #11139
But you don't use the correct commit. The version `4.0.0-dev` can be found for multiple different git commits.

[2022-03-31 07:21] xlc opened #11145 "Invalid BoundedVec test"
https://github.com/paritytech/substrate/blob/f2d34943b1e74a212e18dd1483755e72bb0f2f45/frame/support/src/storage/bounded_vec.rs#L695-L698

Either the test name is wrong or the test is wrong

[2022-03-31 08:37] Kalanamith commented on #11139
would like to know the solution to get this work with the node template? to go with the specified git commit hash?

[2022-03-31 10:09] ggwpez opened #11146 "Stand-alone `benchmark machine` command"
@koute is adding some Hardware benchmarking to the telemetry output over here https://github.com/paritytech/substrate/pull/11062
These benchmarks are optimized to run on every startup and should finish very quickly (~1s).
As [discussed internally](https://forum.parity.io/t/gauging-hardware-all-in-one/713), we want a way to explicitly compare HW specs to ref HW specs with a bit more precision.
This

[2022-03-31 12:34] ggwpez commented on #11146
Thinking out loud: If we put this into `bin/utils` instead, it does not need to build the whole substrate client, while still having the correct versioning.
Or do you definitely want it inside the existing `benchmark` command structure @shawntabrizi ?

[2022-03-31 12:54] #11092 closed, assigned to nobody

[2022-03-31 13:13] #11145 closed

[2022-03-31 18:12] nazar-pc commented on #8686
To replace sync mechanism with a custom one. Let's say node discovers it is significantly behind the tip of the chain and needs to reach out to archival node to get last 1000 blocks. I need that to happen over our distributed storage network instead, archival nodes in traditional sense will not be feasible on our network due to scale.

[2022-03-31 20:58] aramikm commented on #11142
After a bit of investigation it turns out that PolkadotJs library wrap raw messages inside `<Bytes></Bytes>` tag before signing which was causing the issue.

[code]

`Signature verifies correctly.`

[2022-03-31 20:58] #11142 closed

[2022-03-31 21:28] bkchr commented on #8686
Do you have any write up of your syncing algorithm? I mean it is enough to have some rough write up on how it works.

[2022-03-31 21:47] bkchr commented on #11139
You need to get a newer version of the node template. That basically uses a more recent commit.

[2022-03-31 22:48] nazar-pc commented on #8686
There is a lot to it, but somewhat abstractly the algorithm would be like this:
* for older archival history:
  * identify the tip of the chain and root of the archived history (used to verify individual pieces)
  * start pulling segments of archived history corresponding to desired blocks in parallel from different peers (each segment is 128 pieces erasure coded into 256)
  * verify witness embed

[2022-04-01 05:27] nazar-pc commented on #1262
`-C lto=fat -C codegen-units=1` is already used in `production` profile, does that mean there is nothing preventing `wasm-gc` from being removed?

[2022-04-01 09:21] koute commented on #11132
I can take a look at this if you want, if you can provide the Python script necessary to reproduce this.

[2022-04-01 09:55] ggwpez commented on #11132
Thanks @koute, here it is [killer.py.txt](https://github.com/paritytech/substrate/files/8396618/killer.py.txt) (+`pip install substrate-interface`).
I just tried it again on latest polkadot master and it still happens.
Make sure to always delete your `/tmp/dot-dev` folder before re-running the node so that it starts with a fresh genesis.
The node takes a minute to build the genesis block, so you c

[2022-04-01 10:45] athei commented on #2346
Closed by https://github.com/paritytech/substrate/pull/10933

[2022-04-01 10:45] #2346 closed

[2022-04-01 10:50] athei commented on #11082
I think we should implement it in a more general way: `seal_reentrant_count`. It returns how often the currently executing contract exists on the call stack in addition to the calling instance: So a value of `0` means no reentrancy.

I suppose so. Delegated calls should be counted as the same instance.

[2022-04-01 11:23] athei commented on #11018
I described my reasoning for having this error being fatal in my first reply. This discussion didn't convince me that we want to change that. Rather we should to these things:
https://github.com/paritytech/substrate/issues/11082
https://github.com/paritytech/ink/issues/1207

[2022-04-01 11:23] #11018 closed

[2022-04-01 11:25] athei commented on #1262
I think it sill reduces the code size a bit. Didn't check by how much, though.

[2022-04-01 11:50] athei commented on #5239
This is mostly done by having the debug buffer. I think this issue is way to convoluted. A follow up issue should be opened in case the debug buffer isn't sufficient.

[2022-04-01 11:50] #5239 closed

[2022-04-01 11:57] athei commented on #8423
I am closing this issue because any information included in wasm blob is essentially non verifiable. The use case we were thinking of is not properly implemented by just including a code hash in the wasm blob as it could be used by a malicious wasm to reference a misleading ABI. For example, naming a `transfer_from` function as `transfer_to`.

What actually needs to be done is making use of determ

[2022-04-01 11:57] #8423 closed

[2022-04-01 13:09] nbaztec opened #11151 "conditional compilation not possible on pallet calls"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

A pallet with a conditional compilation directive fails to compile as there are still references to it in the [generated code](https://github.com/paritytech/substrate/blob/master/frame/support

[2022-04-01 13:28] sulijia opened #11152 "Where is the TPS test tool"
Is there a script for testing TPS officially released, please provide it to me

[2022-04-01 13:36] athei commented on #10297
What exactly do you **need* it for?

[2022-04-01 13:48] ggwpez commented on #11151
I remember doing something like this for non-extrinsic functions of a pallet [here](https://github.com/perun-network/perun-polkadot-pallet/blob/b5a1897cdf5c7755cddfb2b1841331acab349aba/src/lib.rs#L476).
You could use that approach to put the actual logic into an associated non-member function and have a no-op in the case that the feature is not enabled.

I'm not sure if it makes sense to have feat

[2022-04-01 13:52] ggwpez commented on #11152
Legit question. There is no stable tooling *yet* but we are working on it.
cc @shawntabrizi

[2022-04-01 13:55] nbaztec commented on #11151
Yeah that was plan B, albeit ugly :)

Fair enough. The functionality would definitely have been useful for in case of providing configurable hotfix functions as a library.

[2022-04-01 13:55] #11151 closed

[2022-04-01 15:07] ggwpez opened #11153 "Better error message when `Benchmark_benchmark_metadata` it not found"
I think we can improve here so that questions like [these](https://substrate.stackexchange.com/questions/868/error-running-benchmarks-on-substrate-node) do not happen.

Could become part of #11140

[2022-04-01 16:37] Kalanamith commented on #11139
Please upload the tutorial as well ,Cheers!

[2022-04-01 22:57] nazar-pc commented on #1262
The difference right now is roughly this:
* zstd `polkadot_runtime.wasm` 1_182_538 bytes
* zstd `polkadot_runtime.compact.wasm` 1_120_459 bytes

So it is only ~5.2% increase, which is significant, but not deal-breaker, especially considering that things got smaller after `-C lto=fat -C codegen-units=1` introduction.

[2022-04-02 08:28] daanschutte commented on #10824
@emostov I've been stuck on this for way to long so thought I'd make use of the `mentor` tag ;)

In my tests, it appears that the `#[cfg(feature = "try-runtime")]` attribute is somehow preventing the functions from being called correctly.

If I drop the attribute altogether (including the trait definition) everything works as expected. If it is present somewhere I get a ```no function or associate

[2022-04-02 08:43] daanschutte commented on #10824
Of course 10 minutes after I sent that I figured out the problem... Turns out if I want to test the feature I should enable it when running the tests :facepalm:

[2022-04-02 18:06] daanschutte commented on #10824
This one is turning out to be lot more complicated than I anticipated, and unfortunately I just don't have the time available at the moment to dedicate finding a solution. I'll keep following it since I'd really like to see the solution here but if someone else wants to pick it up in the meantime it may be resolved sooner.

[2022-04-03 04:25] yourarj commented on #11153
@ggwpez I would like to take this up. Can we discuss?

[2022-04-03 15:35] apopiak commented on #10572
Why doesn't `saturating_from_integer` https://github.com/paritytech/substrate/blob/62fcc8abb7679221814fd3a76d36ad5eafb65657/primitives/arithmetic/src/fixed_point.rs#L113-L120

do what you want?
Is the problem that you would want to disallow a saturating conversion of `u128` to `FixedU128`?

[2022-04-03 16:04] apopiak commented on #10139
`Call` is defined here: https://github.com/paritytech/substrate/blob/ded44948e2d5a398abcb4e342b0513cb690961bb/frame/support/procedural/src/construct_runtime/expand/call.rs#L62

[2022-04-03 18:59] bkchr commented on #11139
Can you please open an issue in the relevant tutorial repo to update this? Ty!

[2022-04-03 18:59] #11139 closed

[2022-04-03 19:26] bkchr commented on #8686
Okay ty.

[2022-04-03 19:50] bkchr commented on #11131
This doesn't sounds like a good idea ;)

[2022-04-04 05:15] shawntabrizi commented on #10806
Now that transactional layers are tracked, we should make it so that a new transactional layer is not spawned by default, but instead, only spawned if a transactional layer does not exist.

A user can instead explicitly spawn a new nested transactional layer if they want.

Something like this? https://github.com/paritytech/substrate/compare/shawntabrizi-transactional-nesting?expand=1

[2022-04-04 07:00] kianenigma commented on #11131
Both development and staging testnets are actually passing `vec![]` to `initial_nominators`, so I am not sure if this is the issue. Nonetheless, I added this for my election-testing shenanigens, and I have been doing those in a separate repo now for sometime, so @ggwpez if this is an annoyance, feel free to remove the whole randomness.

[code]

[2022-04-04 07:20] kianenigma commented on #10572
No information is lost if you convert.

Nonetheless, we can improve this with: https://github.com/paritytech/substrate/pull/11159

[2022-04-04 07:59] kianenigma commented on #10903
closed by https://github.com/paritytech/substrate/pull/11100

[2022-04-04 07:59] #10903 closed

[2022-04-04 09:14] statictype commented on #11131
Contracts UI stores information about uploaded contracts in a local db, so when the chain is restarted we want to purge the db. We were using the genesis hash to check if there was a restart. Is there any value we can use that is unique to the chain instance? Worst case scenario we let the users deal with deleting contracts that are not on-chain anymore, but doing it automatically is much nicer UX

[2022-04-04 09:16] xlc commented on #11131
just use hash of block 1 instead of block 0?

[2022-04-04 09:24] georgesdib commented on #6639
I assume that you mean `algorithm 1` instead?

[2022-04-04 09:24] statictype commented on #11131
we were doing that before `substrate-contracts-node` started authoring blocks on demand. now blocks are created only when a transaction is submitted

[2022-04-04 09:30] ggwpez commented on #11131
We can keep the old behaviour with something like `--seed random`.

[2022-04-04 09:41] athei commented on #11131
I think `--dev` chains should actually have different genesis hashes on each startup. In contrast to a fixed chain spec they are supposed to be restarted regularly and hence represent different instances of a chain each time. Same for every local chain.

Where I agree with you us that reyling on this implementation detail (staking nomination randomization) is bad. We should make it explicit. Just

[2022-04-04 10:00] bkchr commented on #11131
How would that work on live networks? There you can not cache contracts as well? So you would need to scrape them on restart of the UI or something?

For local or dev networks, I would store something like latest block and if the chain is back at block 0, it means it was restarted. Or even less complicated, if the chain is at block 0 you know that there doesn't exists any contract, so you can dele

[2022-04-04 10:01] bkchr commented on #11131
I don't see why a dev chain should always have a different genesis hash. This was never the case before and only seems to be introduced by accident by @kianenigma.

[2022-04-04 10:12] athei commented on #11131
Yeah this is how polkadot.js Apps handles it currently. It is kind of annoying.

Contracts (more precisely the metadata) is stored in persistent browser memory. So unless the user resets the cache it stays there. It is about the opposite: The chain is purged and then we still have contracts shown in the UI which do not exist on-chain. Live chains do not have this problem as they are not restarted.

[2022-04-04 10:51] bkchr commented on #11131
For sure, but you can remove contracts? Aka contracts are not required to stay on chain indefinitely?

[2022-04-04 11:13] statictype commented on #11131
Basically what we do is:
Every chain has it's own [db](https://developer.mozilla.org/en-US/docs/Web/API/IndexedDB_API/Using_IndexedDB), we switch between dbs depending on what endpoint we're connected to. The db name is made of the endpoint url + genesis hash. When connecting to a different node we check if the genesis hash has changed for that endpoint and if it did we create a new db and delete

[2022-04-04 11:19] athei commented on #11131
A contract can self destruct if it chooses to do so. So yes, they can be removed.

[2022-04-04 11:26] ggwpez commented on #11153
@yourarj I appreciate your motivation, but for this issue it is probably not worth since it is so small.
Maybe https://github.com/paritytech/substrate/issues/11141 is better for you?
In general you can look for issues with the "Z1-mentor" tag.

[2022-04-04 12:16] athei commented on #10806
But this will change the behavior. When annotating `#[transactional]`  you would suspect that only the changes done in this extrinsic will be rolled back. If you are part of a batch you will also roll back the changes made by the other extrinsics of the batch?

[2022-04-04 12:24] ggwpez commented on #11129
Please re-open if you run into this again.

[2022-04-04 13:07] kianenigma commented on #6639
No, 2:

![Screen Shot 2022-04-04 at 15 06 58](https://user-images.githubusercontent.com/5588131/161550241-1c26ec8f-b58c-46da-9c92-97ed5f125d38.png)

[2022-04-04 14:54] bkchr commented on #11131
So that needs to be supported anyway for live chains?

[2022-04-04 20:45] shawntabrizi commented on #10806
The main thing we don't want is that when dispatching a call from one extrinsic, we don't go into another layer unless the user wants that.

so `call.dispatch(params)` doesnt spawn a new layer, but `call.dispatch_with_transactional(params)` will.

This will mean that all things like `batch` will be safe from any limits since it will never spawn more than 1 layer.

Also, some functions may be marke

[2022-04-04 22:17] athei commented on #11131
I guess in this case we would be OK to just have the user to click on "delete" as it is a rare occurrence as opposed to restarting a dev node.

[2022-04-05 04:42] TorstenStueber commented on #11129
@ggwpez I wanted to compile the [frontier template](https://github.com/paritytech/frontier/tree/master/template) (i.e., just execute `cargo build --release` without any further adaptations) and ran into the same issue.

I realized that running `cargo build --features=runtime-benchmarks --release` works without flaws, though, but shouldn't a standard `cargo build --release` work without throwing er

[2022-04-05 07:37] athei commented on #10806
Okay I misunderstood your changes. So `#[transactional]` will always spawn a layer but `#[with_transaction]` only on demand. I have a hard time imagining some code which wants to use the latter one. I can't find a single user of `#[require_transaction]` within substrate. Do you have an example?

[2022-04-05 07:43] xlc commented on #10806
I proposed & implemented `require_transaction` initially because we need it. You can find some usages at Acala & ORML

https://github.com/open-web3-stack/open-runtime-module-library/blob/c439a50e01944aedeef33231e0824a17ed1813bc/xtokens/src/lib.rs#L904

https://github.com/AcalaNetwork/Acala/blob/f4b80d7200c19b78d3777e8a4a87bc6893740d23/modules/nft/src/lib.rs#L387

[2022-04-05 09:03] bkchr commented on #10806
Please don't let us do this. If you want a new layer, just run with `with_transaction(|| call.dispatch(params))`.

But then we don't need `require_transactional` anymore? I mean both are expressing the same, but just a little bit differently?

[2022-04-05 09:07] athei commented on #10806
Yes. In Shawn's proposal require_transactional was renamed to with_transaction.

[2022-04-05 09:09] bkchr commented on #11131
How should the user know that the contract doesn't exist anymore? Sounds like some complicated UX to me? If the app can find this out, why not let it find out if a contract still exists?

[2022-04-05 09:31] athei commented on #10806
Why? It seems like a harmless convenience function to me.

[2022-04-05 09:46] statictype commented on #11131
Yes, it is complicated, but my goal is always to simplify the UX.
Live networks never restart, but Testnets do sometimes and local nodes restart maybe a few times / day, it's just expected behaviour.
The moment a restart happens all storage is gone (at least with --dev). It would be massively helpful for UIs to have an easy way to determine this event has occurred and invalidate all state througho

[2022-04-05 09:49] ggwpez commented on #11129
Not sure what rust version you are using, but that is a known source of problems @TorstenStueber.

I just built the frontier template master branch without a problem via `cargo build --release`.
My versions:
[code]

In general, a recent rust stable should work.

[2022-04-05 10:37] bkchr commented on #11131
I mean I get this, but I also don't see any reason why we can not just batch all these calls and then do some simple heuristic:

[code]

I mean I'm that far away from being anywhere an UX expert, you can not imagine, but I think you are good at this @statictype and come up with something way better than my stupid idea :D You will also don't need to use `contractInfoOf`. You can just use something

[2022-04-05 10:41] bkchr commented on #10806
Okay, I just checked the code and `dispatch_bypass_filter` is already in some kind of extension trait. If we add `dispatch_with_transactional` into another extension trait, I'm fine with it. I just had the fear that we add this all to the same trait, which was already not true from the beginning.

[2022-04-05 11:35] statictype commented on #11131
sure, we can find a workaround. indeed it's not ideal for UIs to rely on the randomness of the genesis hash to check for restarts.
@bkchr would a feature like a unique ID per chain instance when running in `--dev` mode be possible in the future?
sorry for going so off topic :)

[2022-04-05 12:27] ggwpez commented on #11131
I double checked the code, and @kianenigma is right. `vec![]` is used for nominators and therefore does not randomize.
After building two chain specs from where i got that problem from, the only difference is the wasm blob :facepalm:

So sadly the `import-blocks` command will not be able to be used in CI / Testing since in each build the runtime possibly changes, sorry I did not think about that e

[2022-04-05 12:44] athei commented on #11131
I thought it does because the wasm blob is different (which in itself is in genesis). But it is an unintended side effect.

[2022-04-05 12:59] pepyakin commented on #1262
i wonder where this difference comes from?

can you run `twiggy diff` over those two?

[2022-04-05 13:29] TorstenStueber commented on #11129
I have been using
[code]
and that fails. I tried it with the latest rust stable (the versions that you posted) and that works without problems – as you stated.

So could this be a bug in the latest nightly toolchain?

[2022-04-05 13:48] ggwpez commented on #11131
Because the build is non-deterministic between rust versions or which "unintended side effect" do you mean?

[2022-04-05 13:53] athei commented on #11131
Yeah this is what I meant. But yeah they shouldn't differ between launches of the same binary.

[2022-04-05 14:54] ggwpez commented on #11129
I honestly don't know. We normally just wait for a stable version, otherwise we need to constantly update to make it compile.

[2022-04-05 15:48] bkchr commented on #11131
This is also possible, however that is again chain specific. Aka we can not change this here on the Substrate side. Every chain implementation decides on its own about the `id`. Which means they could use whatever `id` they want and could also make it random.

[2022-04-05 16:30] nazar-pc commented on #1262
Uncompressed size:
* `polkadot_runtime.wasm` is 4_954_045 bytes
* `polkadot_runtime.compact.wasm` is 4_527_986 bytes

[code]

[2022-04-06 08:48] SoyEstrella opened #11172 "How to use pyo3 Library in substrate"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I imported the pyo3 library into the substrate code, however the code cannot be compiled, the error reports under Windows system are as follows:
[code]
So I searched for the solution and I fou

[2022-04-06 09:35] bkchr commented on #11172
Why do you want to execute python inside your runtime? That doesn't sound right :D

[2022-04-06 10:29] SoyEstrella commented on #11172
Because I want to call a library in Python, there is no corresponding implementation in rust.

[2022-04-06 10:36] bkchr commented on #11172
That is not really something we support nor want to support. I mean, if you want to build it that way, no one will stop you. However, we will not provide support for this. Sorry.

[2022-04-06 10:36] #11172 closed

[2022-04-06 10:39] SoyEstrella commented on #11172
Ok, thanks.

[2022-04-06 11:32] ggwpez commented on #11172
@SoyEstrella Compiling a Python interpreter to WASM and then incorporating that into your runtime could work.
But just trying to call a binary from a pallet is not possible.

[2022-04-06 11:39] SoyEstrella commented on #11172
Thank you, I will try it.

[2022-04-06 13:00] morelazers opened #11175 "Precommit equivocation caused a crash in ~2/3 of nodes (~120 Validator network)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

[Cross-post from StackExchange](https://substrate.stackexchange.com/questions/1541/equivocation-crash-network-with-100-aura-validators), I was asked to create an issue here.

We've had a test

[2022-04-06 13:11] EmisonLu opened #11177 "What is the relationship between `sandbox`, `executor` and `runtime`?"
I was recently reading the code for substrate wasmtime, but I ran into some problems. I don't really understand the difference between `runtime` and `sandbox`.

For example, in the file `substrate/client/executor/wasmtime/src/runtime.rs`, we can call the method `call()` of `WasmtimeInstance` to execute the functions in the wasm instance. Also, in the `substrate/client/executor/wasmtime/src/host.rs

[2022-04-06 13:45] ggwpez commented on #11177
I think this is a great question for our Stackexchange :point_right: https://substrate.stackexchange.com/
Would you mind asking it over there again?

[2022-04-06 13:57] EmisonLu commented on #11177
No problem!

[2022-04-06 15:21] davxy opened #11178 "Revert persistent data related to parachains management"
Substrate's CLI "revert" command is supposed to revert the node state by *N* blocks back to at most the last finalized one and leave the node in a consistent state.

Currently the command reverts:
- blockchain state;
- consensus related aux data (currently babe and grandpa)

It has been observed that some information related to parachains management should be reverted as well.

We can divide the i

[2022-04-06 16:24] drahnr commented on #11178
There are (from the top of my head) two node side databases availability-store and disputes coordinator which both store data referencing either parachain candidate hashes or relay chain hashes

[2022-04-06 16:40] andresilva commented on #11175
The root cause of this seems to be that more than 1/3 of grandpa validators equivocated, most certainly due to duplicate keys being present across different validators. BFT consensus requires that at least 2/3 + 1 validators are honest (non-byzantine), otherwise the consensus breaks down and it is possible to finalize inconsistent things, therefore breaking invariants in the code which leads to it

[2022-04-06 17:10] morelazers commented on #11175
I find this really difficult to believe, I've seen no equivocation messages until this started happening - the logs don't suggest that we had lots of different parties acting up. I would expect to see the number of equivocators going up over time and then eventually hitting 1/3 in a live environment, but instead this is the first sign of equivocation and everything went kaputt.

More logs (with `-

[2022-04-06 17:25] rphmeier commented on #11178
there's:
  * dispute-coordinator (stores votes by candidate hash / session index. probably doesn't need to be reverted. but there will be some orphaned data until the chain progresses further on the local node)
  * availability-store (stores chunks / full data by candidate hash / session index. same, probably)
  * chain-selection (does need to be reverted, should be fairly straightforward to do so

[2022-04-06 17:36] emostov commented on #10793
This was implemented as the `set_state_other` extrinsic

[2022-04-06 17:36] #10793 closed

[2022-04-07 01:01] burdges commented on #11172
<img alt="Rust Evangelism Strike Force - Rewrite it in Rust" src="https://ih1.redbubble.net/image.1597487820.9472/st,small,507x507-pad,600x600,f8f8f8.jpg">

[2022-04-07 07:33] bkchr commented on #11090
@shawntabrizi so we can also close this issue?

[2022-04-07 07:46] #10572 closed

[2022-04-07 07:59] #11177 closed

[2022-04-07 08:42] ascjones opened #11181 "RPC metadata with types"
Currently all client implementations must maintain manual mappings for available RPC methods.

We should provide metadata for the available RPC calls, together with [ `scale-info`](https://github.com/paritytech/scale-info/) type information for the parameters and return types. The metadata for an RPC call could take the following form:

[code]
So this metadata would need to be generated at the sit

[2022-04-07 11:38] tomaka opened #11184 "Light sync state needs a proper format"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The `sync_state_genSyncSpec` RPC call can be used in order to dump the current finalized state of the chain. This state is commonly called a "checkpoint". This is currently used by smoldot in

[2022-04-07 12:14] bkchr commented on #11181
I'm still not convinced that we need this. We already had this discussion once here: https://github.com/paritytech/substrate/issues/10065

[2022-04-07 12:29] bkchr commented on #11181
I mean I'm not against having some proper documentation, this is for sure required. @tomaka's approach [here](https://paritytech.github.io/json-rpc-interface-spec/) looks really good.

While I get this, it would still need the "end user dev" to change its code to use the new RPC method. We could cut out the middle man, aka you, to add these new rpc methods. However, I really hope that with the new

[2022-04-07 12:35] tomaka commented on #11184
To give an idea, these are the data structures that smoldot uses for a checkpoint:

https://github.com/paritytech/smoldot/blob/4da02f21a6278f100153d2878756a19bdfb216f2/src/chain/chain_information.rs#L121-L333

[2022-04-07 13:02] tomaka commented on #11181
This feels very strongly like solving an XY problem.

Adding metadata to the RPC calls that can be automatically parsed is cool if your objective is to just query data through an RPC call is display it to the user.

If you want to actually programmatically interpret the response (which is arguably what the JSON-RPC API is about), then this metadata is useless. You can't for example write a program

[2022-04-07 13:15] bkchr opened #11185 "Support multiple calls of `clear_prefix` with `limit`"
When calling `clear_prefix` with a `limit` multiple times in the same block it will always delete the same keys for the exact same input. The reason for this is that we don't check from the `overlay` on what we already have deleted. So, we always delete the same keys from the backend until the `limit` is reached. It was documented in https://github.com/paritytech/substrate/pull/11182 to make this

[2022-04-07 13:26] tomaka commented on #11181
What, for example, if the `RpcMetadata` struct that Andrew suggest above is modified?
You could add some meta-metadata that contains metadata about `RpcMetadata`, but then this meta-metadata could be modified as well. If you add a meta-meta-metadata, then it can be modified as well.
At some point you need stable foundation that is standard and is the same everywhere and whose definition is copy-pa

[2022-04-07 13:34] jacogr commented on #11181
The modification of the `RpcMetadata` struct, like with `Metadata` is alongside a version bump. The `rpc_methods` already provides it, but in this case I would suggest an endpoint in the same fashion as `getMetadata()`, i.e. no re-use altyhough the version _can_ be changed, since you need to convey information.

- in the runtime world, when the description structure changes, the version is bumped

[2022-04-07 13:52] shawntabrizi commented on #11090
Yes. My opinion at this moment is that the node template should be minimal, and just point to the "default substrate weights" for now.

[2022-04-07 13:52] #11090 closed

[2022-04-07 15:07] dvdplm commented on #11181
The API is the stable foundation, I don't think anyone here is arguing otherwise. Adding a machine readable and versioned description of that API's arguments and return types seems like a useful addition to me and I don't see a contradiction between the two.
I'm more sensible to @bkchr's argument of "do we really need this?"

[2022-04-07 15:14] tomaka commented on #11181
There's no contradiction between the two, I'm also defending the point of view that this is a useless addition that adds more complexity again and again.

[2022-04-07 15:17] tomaka commented on #11181
This is a string representing the operation, similar to a `subscriptionId`. It _must not_ be interpreted by the client.

In my new API you never need to know the block number in order to use the API. For example you can follow storage items without any problem without having to decode a header at any point.

If you need to know the block number, the `BlockNumber` type and the format of `Header` ar

[2022-04-07 15:23] tomaka commented on #11181
As a more meta remark, I think that proposals need to be better argued, presenting some context and motivation, rather than saying "hey I want to do X, what do you think?". One should explain why a change is desired, what its drawbacks are, and what the possible alternatives are and why they're not better than the proposed change.

[2022-04-07 15:30] jacogr commented on #11181
Ok. So I still want the header - I need to access it to get the parent hash and logs as an example. So I cannot get away from decoding it. Any API that doesn’t give me headers or blocks doesn’t quite expose the chain :)

You are only thinking of storage. It is a solved problem since we have the types in metadata.

[2022-04-07 16:01] ascjones commented on #11181
FWIW I am agnostic on this feature, I didn't spend a lot of time thinking about it (hence the underspecified issue). I have received multiple requests for this, so worth putting an issue to point people at if nothing else, and to spark the debate.

I think this _might_ be useful, but the question is would it be useful enough to be worth the costs (implementation, complexity etc.).

One pro would b

[2022-04-07 16:06] tomaka commented on #11181
The new API gives you the parent hash of each block when it notifies it: https://paritytech.github.io/json-rpc-interface-spec/api/chainHead_unstable_follow.html#newblock

[2022-04-07 16:17] PierreBesson opened #11186 "Add CLI subcommand to list the existing keystore keys"
When operating nodes, it is useful to inspect the node keystore to know which keys have been imported on the node. Currently, this can be done by looking the files in the `keystore` folder. However, the type of key is encoded in the key filename itself making it cumbersome to know which kind of key it is.

It would be very useful to have a subcommand such as to list the imported keys (it would onl

[2022-04-07 16:47] jacogr commented on #11181
I'm not fighting your specification, I'm saying I still need to decode the encoded values inside it and have a specification for it.

If I request and receive a `Header`, I need to know what is in it and how to decode it - these are not fixed, chain add fields to their own specification. When I get a block body, the same thing. If I request data from a contract RPC, I need to know what is inside i

[2022-04-07 17:07] tomaka commented on #11181
If you take all the contracts-related JSON-RPC calls, they do nothing but call in the runtime. In other words, they're literally nothing more but shortcuts for the `state_call` function. And the list of runtime calls and the format of their parameter and return value is already in the on-chain metadata.

Don't you find this design completely insane? We're adding RPC shortcuts that add no value, an

[2022-04-07 17:12] jacogr commented on #11181
I love a coherent API - where I can map the responses to be decoded.

`RpcCallRequest` does not appear in the metadata since -

(a) it is not used in storage
(b) it is not in an event
(c) it is not in an extrinsic
(d) ... it is only used on RPC

Point (d) is what I would like fixed and what this issue is all about :)

[2022-04-07 17:32] tomaka commented on #11181
`RpcCallRequest` is just [the list of parameters of `Contracts_call`](https://github.com/paritytech/substrate/blob/ded44948e2d5a398abcb4e342b0513cb690961bb/frame/contracts/rpc/runtime-api/src/lib.rs#L44-L49), right?
If so, then they *are* in the metadata that you've linked.

Again, `RpcCallRequest` is just part of a shortcut for `state_call`. You could simply directly call `state_call` with the li

[2022-04-07 17:36] jacogr commented on #11181
You are linking to a call which takes discrete params, the RPC call takes a struct. So basically in this case you the SDK developers me to map the runtime call and create and own struct out of it to pass? This means I need to have an in-depth understanding of the RPC myself to re-implement it.

I'm not suggesting the RPC _should_ be there - I'm suggesting that I cannot make stuff up here.

[2022-04-07 18:37] andresilva commented on #11175
Could you share the database of one of those broken nodes so that I can replicate locally? Also let me know how I should build your client.

[2022-04-07 18:56] andresilva commented on #11175
I think I have found the problem and it's indeed a bug. Sorry for my initial dismissal, someone just reported the exact same thing a couple of weeks ago and in that case it was indeed because they had more than 1/3 equivocators. Having your chain data would still be helpful to confirm it.

[2022-04-07 19:10] bkchr commented on #11186
We could implement this. However we could only print the public key plus the key type id. The scheme is not known to the keystore.

[2022-04-07 19:15] bkchr commented on #11185
That sounds already like some bug? The idea why you use `clear_prefix` with some limit is that you don't read too much in one block and instead do it over multiple blocks. If something tries to trigger an operation that should run over multiple blocks, is triggered twice per block sounds like a bug to me.

[2022-04-07 19:33] #11140 closed

[2022-04-07 20:26] morelazers commented on #11175
You can DM me on Element `@tomnashflip:matrix.org` - I'll respond tomorrow morning CET with instructions for downloading the chaindata and building the client - it's closed source atm.

[2022-04-07 21:14] CurlyBracketEffect opened #11188 "set_payee does not have an era delay"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

It mentions in the docs that the effects of a set_payee call will be felt a the beginning of the next era

https://github.com/paritytech/substrate/blob/2287cd80830b081bd51bd8c313c6213d312e541e

[2022-04-08 07:16] bkchr commented on #11188
CC @kianenigma

[2022-04-08 07:46] kianenigma commented on #11188
yeah, seems like your conclusion is right and the doc is outdated. PR will be appreciated!

[2022-04-08 13:22] cheme commented on #11184
Sounds very interesting definition to me, in the sense that it would be nice that we have a single encoding output and a way to associate a **unique** hash to such state.
Then of course being able to provide merkle proof for the different elements would be nice (I don't know serialization that support this, but sounds quite interesting thing to do, attaching merkle proof to scale surely would be f

[2022-04-08 13:34] tomaka commented on #11184
This is a bit nit-picky, but JSON makes sense to me. Performance for parsing this doesn't matter, and our chain specs are already in JSON. There's no need to make it more complicated to read than it already is.

[2022-04-08 13:44] cheme commented on #11184
My not JSON is not so much about perf (even if I enjoy compactness), more about having unique hash for the same set of info.
Certainly a good formatting rules can work here, or using another format from the json to achieve this goal.
I like this idea of unique hash to be able to build some trust around the snapshot (a bit like srtool for binary).
Also it might actually be a bit optimistic from my

[2022-04-10 04:17] yourarj commented on #11153
@ggwpez Thanks will have a look. This would be my very first contribution to open source project. I hope you'll assist me through this. If yes I'll be glad to take it up.

[2022-04-10 12:58] #11153 closed

[2022-04-10 15:07] atenjin commented on #10297
run a piece of wasm in runtime

[2022-04-11 07:19] tomaka commented on #11184
Note that if we instead provide runtime entry points that allow retrieving the consensus-related information, we could also only provide a finalized block header or even just a finalized block hash.

[2022-04-11 08:33] stepanLav commented on #10743
@[koute](https://github.com/koute)
Hello!
Any news about this problem? We are still encountering it.

[2022-04-11 08:37] bkchr commented on #11184
I can not really follow what you are talking here about @cheme. I mean you can just hash the file and get a unique hash? Or what kind of unique hash do you want to have?

[2022-04-11 08:58] cheme commented on #11184
I was targeting a unique snapshot hash for a state, (not unique hash for a encoded snapshot): having a single valid snapshot hash for a given block. So unique set of info at a state (may not be achievable), and unique encoding for this set of infos (so encoding would not allow different ordering of infos, not allow additional spaces...).

But in fact it may be something better abstracted from file

[2022-04-11 09:29] tomaka commented on #11184
What would be the purpose of that hash?

Slightly unrelated: a maybe controversial question is whether to include information about Babe in the checkpoint.

Strictly speaking, you could retrieve GrandPa and Babe information from the chain and the checkpoint would just be a finalized block header (or even hash). The problem with doing that is that you need to find a node that hasn't pruned the stor

[2022-04-11 10:01] cheme commented on #11184
Only use case I got in mind is trusted users signing the hash (of course you can sign if there is multiple hash, but it creates possible issues or less convergence if multiple signing are done on different hash: generally with a single snapshot builder everyone can ends up on same hash, but it sounds less good).
Probably a way to skip on usual proof check (but one idea could be to have the warp sy

[2022-04-11 12:09] koute commented on #10743
@stepanLav Yes, this is unfortunately not that trivial to fix as there are fundamental issues with the way the storage notifications subscriptions are currently implemented, which might necessitate some sort of redesign of the API.

---

So I had thought about this problem some more, and basically from what I can see we have three potential requirements here:

  a) Never re-execute blocks. Do not

[2022-04-11 13:14] koute commented on #11132
Stack trace from the runtime (after my two PRs it now gets printed out):

[code]

So it calls this function from `polkadot/runtime/parachains/src/runtime_api_impl/v2.rs`:

[code]

which in turn calls this from `substrate/frame/system/src/lib.rs`:

[code]

So it looks like it tries to decode this value, and it's too big, so it can't allocate a big enough `Vec` to fit all of it.

Curiously, we can s

[2022-04-11 13:33] ayevbeosa commented on #11093
I am having issues getting the tests to pass, I was hoping you could me out.

[2022-04-11 14:55] kianenigma commented on #11132
This is not really a surprise. When you shove a million transfers into one (or few) blocks, then you are going to have millions of events deposited (I think we deposit like 4 events per transfer), and reading them will cause the runtime to crash.

Interestingly, because we `::append`, inserting will not fail, but reading will.

As the name suggests, events should not, exactly for this reason, be r

[2022-04-11 15:09] kianenigma commented on #11132
UPDATE: this code is reading events in a runtime api call, not in a consensus-context runtime execution code. So while someone should look at the implications of this runtime api potentially failing, this has no severe consensus issues.

[2022-04-11 15:20] bkchr commented on #11132
I think I would go with this. Having some kind of special interface `stream_iter` or something that reads from the storage in chunks.

However, before we do this we should check the size of the Polkadot runtime level Event with `size_of`. If we would add some boxing we could probably reduce the in memory size as we have done this for `Call` already.

@ggwpez could you get us the size with `mem::si

[2022-04-11 15:52] ayevbeosa commented on #11093
Noted, thank you very much

[2022-04-11 16:20] bkchr commented on #11132
You also need to take into account the allocation strategy. They are probably always increasing by 2 or something when they hit the upper size of the vector. Otherwise you are running constantly into allocations. So, I would assume it is more around 34-40k events.

[2022-04-11 22:57] xlc commented on #11132
I have brought this up multiple times but can we just not having all the events stored in a single storage key? It is not light client / XCM friendly anyway. No one is using event topics but we should be using it.

[2022-04-12 06:54] kianenigma commented on #10792
@emostov provide a bit more context here, if any? I think this will be a good candidate for @rossbulat to tackle.

[2022-04-12 07:08] athei commented on #10297
You can still do that: Use [`sp_sandbox::embedded_executor`](https://paritytech.github.io/substrate/master/sp_sandbox/embedded_executor/index.html). It doesn't rely on this interface but includes a wasmi into the runtime.

[2022-04-12 07:33] kianenigma opened #11204 "Split `SolutionImprovementThresholds` into two types."
Currently, this type reads:

https://github.com/paritytech/substrate/blob/07d8c9d50cf5b8f92d04e134b8504167313b8d44/frame/election-provider-multi-phase/src/lib.rs#L587-L590

and the problem is in that *any phase*. For technical reasons beyond the scope of this issue, we want to be able to define `SolutionImprovementThresholds`, with the exact same semantic, for the different `Signed` and `Unsigned`

[2022-04-12 07:35] vinceferro opened #11205 "Provide executable for many archs"
Hey team,
Thanks for the awesome piece of technology!

I'm here to propose you to ship either a multi-arch docker image or to ship executable for many archs as it would make the adoption much easier given the rise of the Apple Silicon. I am currently trying to get the multi-arch docker image in place, but I am struggling a bit with some buildx issues.

Maybe you already have something along those

[2022-04-12 07:39] bkchr commented on #10743
I think we should do this.

While I don't really get why you want to send wildcards from the next finalized block? If you have a wildcard subscription you probably do some kind of indexing, aka are interested in all the blocks. However, that is no problem. I would just ignore the wildcard subscriptions when it is about to resend missed keys. Clients that are interested in all the changes of a bloc

[2022-04-12 07:53] vinceferro commented on #11205
Yes exactly, the binary for the node. We use it in the process of developing our smart contract, and unfortunately we are on different archs.

[2022-04-12 07:53] vinceferro commented on #11205
Yes exactly, the binary for the node. We use it in the process of developing our smart contract, and unfortunately we are on different archs.

[2022-04-12 11:18] #9330 closed

[2022-04-12 15:21] jacogr commented on #10743
IMHO, the wildcard subs where it means “any key changes in this block” should be unsafe. (It really has very specific use, once again, imho).

The majority of the subs are for specific keys in general dapps - “tell me when x changes”. I believe this is what we should aim to get right.

[2022-04-12 18:11] jjreedv commented on #11129
Same issue here, any resolutions?

[2022-04-12 20:05] georgesdib commented on #11204
Yes I am, please assign it to me, I will take a look.

[2022-04-12 21:12] ggwpez commented on #11129
It is supposed to work with the last stable rust (1.60 currently). Anything else is out of scope.
Does that work for you? @jjreedv

[2022-04-12 21:24] jjreedv commented on #11129
I did not try with v1.60 but I tried with an earlier version (1.4.0) I think. I worked around the error by going into my local dependencies and removing the entire erroring code block and removing from runtime.

[2022-04-13 00:19] rphmeier commented on #11132
Well, we could also optimize this on the parachains side by not using FRAME events for `CandidateEvents` (cc @drahnr) and instead having a separate storage entry for tracking candidate events. The migration from one mode to the other would need to be done carefully, since the first block where the new runtime code is used might have a parent that didn't use the new storage entry. I'd recommend a t

[2022-04-13 05:36] koute commented on #10743
Considering wildcard subscriptions will require extra work on the client to get right (unless it only wants to dump all changes and doesn't care about consistency of the final state) I like the idea of making those RPC-unsafe. We can then just document the caveats and leave it as-is.

Are we sure that won't break someone's usecase though? Is everyone who's using wildcard subscriptions already usin

[2022-04-13 05:41] rossbulat commented on #10792
Thank you @kianenigma ,  awaiting #10694 before implementing.

For reference, logic to be amended once the config item is introduced:

`lib.rs`: ensure at [602].(https://github.com/paritytech/substrate/blob/8c2e5e1f7af65ec925a3126a59d1f0c053806547/frame/nomination-pools/src/lib.rs#L602)
`tests.ts`: asserts at [197](https://github.com/paritytech/substrate/blob/8c2e5e1f7af65ec925a3126a59d1f0c0538065

[2022-04-13 06:04] jacogr commented on #10743
Since the RPC exposes it, yes, you can make wildcard subs with polkadot-js. Not on the general `api.query.*` interfaces there it is pin-point, but you can call the RPC directly.

I'm not quite sure it can be made unsafe on the RPC layer, well, probably not via the same interface we already have. (Granted, it has literally been a very long time since I delved into that). And yes, doing that will br

[2022-04-13 06:33] bkchr commented on #11132
@rphmeier we already have a fix for this. So not sure you need this.

@xlc I think we don't have a proper issue and idea for this yet?

[2022-04-13 08:29] bkchr commented on #10743
I'm also fine with making wildcard support unsafe and fix the normal use case :)

I still don't understand how wildcard support would work for finalized blocks because that would again mean we would need to store the changes that happened in a block. But as we don't want to do it, I don't really need to understand it :P

[2022-04-13 09:01] koute commented on #10743
Okay, so if there are no further objections I'll start working on a PR with a fix soon-ish. (:

Yes, you'd need to store the changes, so if we don't want to store those then this cannot be done in `substrate`. But it can be done by the client themselves, they just need to temporarily buffer all of the changes for the non-finalized blocks since the last finalized block, and then once a new block ge

[2022-04-13 09:58] xlc commented on #11132
This is one of the previous discussion  https://github.com/paritytech/substrate/issues/9480#issuecomment-1020699873

I don't see a simple solution to this so we really need to spend sometime to think about it and come up some potential solutions for further discussion.

I asked Gav about it last year May and what I got is "we may refactor the events system with a new cryptographic structure in the

[2022-04-13 10:00] ggwpez opened #11215 "Use weight `constants::` in the weight template"
The weight template currently outputs something like `(x as Weight)` which is semantically not very clear.
Changing this to `(x * constants::WEIGHT_PER_NANOS)` with the correct units would be much better.

One possible approach:
- Write a function that correctly formats the weight, eg. `38_000_000` becomes `38_000 * WEIGHT_PER_NANOS`
- PS: Better call this function directly from the template

`WEI

[2022-04-13 10:15] xlc opened #11216 "Redesign Event system"
Related issues: https://github.com/paritytech/substrate/issues/9480 https://github.com/paritytech/substrate/issues/11132

Currently all the events are stored in a single array. This means while we can emit events in the runtime, we can never be able to process them in runtime or light client efficiently and safely. This prevents people from using foreign events during cross chain interactions and

[2022-04-13 11:55] #11132 closed

[2022-04-13 12:26] bkchr commented on #11216
We could probably put events into their own child trie. The main problem I would see with this is the efficient removal, which would not work with a child trie.

[2022-04-13 16:28] nazar-pc commented on #8686
I need to expand that syncing Subspace from Subspace DSN using described approach is the first step. We'd like to enable other chains to be able to sync from Subspace DSN in a similar way, so ideally we'd write some kind module that others can import into their project if they so choose. We were discussing about enabling parachains on Rococo to sync this way for instance.

[2022-04-14 05:50] tylerztl opened #11222 "The substrate node restarts and crashes"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

# ./target/debug/substrate --dev --base-path=./node-data
2022-04-14 05:42:42 Low open file descriptor limit configured for the process. Current value: 4096, recommended value: 10000.
2022-04-1

[2022-04-14 08:46] bkchr commented on #11222
So you can reproduce this every time?

[2022-04-14 08:47] bkchr commented on #11222
Have you tried to use a different storage device?

[2022-04-14 11:13] tylerztl commented on #11222
Yes, tried several new virtual machines will appear.

[2022-04-14 11:13] tylerztl commented on #11222
I guess it is caused by upgrading the version of rocksdb, it is normal to use paritydb.

[2022-04-14 13:09] bkchr commented on #11222
What you mean by upgrading rocksdb?

[2022-04-14 14:04] hzy1919 commented on #11215
@ggwpez   hi , I am attempting this issue.

[2022-04-14 15:59] vovacha opened #11225 "Cannot upgrade the runtime"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Initially, I've raised [a support question on Substrate StackExchange](https://substrate.stackexchange.com/q/1862/1803) and @bkchr suggested opening an issue here.

Our goal is to migrate pall

[2022-04-14 18:39] bkchr commented on #11205
@athei can you help here? Is canvas better for developing contracts and do you may provide some more architectures?

[2022-04-14 18:53] bkchr commented on #11225
You can remove `forkBlocks` and `lightSyncState`. The genesis hash will not change as long as you not touch anything under `genesis`. Can you try this?

[2022-04-14 19:41] ggwpez commented on #11215
Ok great @hzy1919 !

I added some possible was of implementation. Should be rather easy.

[2022-04-14 19:41] #10927 closed

[2022-04-14 20:21] vovacha commented on #11225
@bkchr This is the Error after keys have been removed (dev chain). Probably the reason is that `chain_spec` contains old Wasm which is under `genesis`.
[code]

[2022-04-15 05:52] bkchr commented on #11225
I just checked and this method exists since 2018. From when is your genesis?

[2022-04-15 10:12] tylerztl commented on #11222
https://github.com/paritytech/substrate/pull/11144

[2022-04-15 10:15] #11111 closed

[2022-04-15 10:20] clearloop commented on #11222
Hi @bkchr,

we have compiled the `node-template` on branch [@polkadot-v0.9.18](https://github.com/paritytech/substrate/tree/polkadot-v0.9.18) on centos 7/ debian 11

## reproducing instructions

[code]

but, if we go with parity-db

[code]

everything works perfectly

[2022-04-15 11:15] vovacha commented on #11225
We are testing it locally with the `chain_spec` and genesis created from the [initial Substrate version (10.02.2021)](https://github.com/paritytech/substrate/commit/49a4103f4bfef55be20a5c6d26e18ff3003c3353).
And node was upgraded from the [newer Substrate version (14.01.2022)](https://github.com/paritytech/substrate/commit/afb74de23dfe2994e7ce38c0870efb9734e966f7).

[2022-04-15 12:27] koute commented on #5036
Since for `wasmtime` we always clear the memory now (and we patch the WASM binary to never import its memory anyway) this can be closed.

[2022-04-15 12:27] #5036 closed

[2022-04-15 12:42] ggwpez commented on #11222
I cannot reproduce this :thinking:  Can you repduce it with this python script?

[code]

[2022-04-15 13:26] koute opened #11227 "Pool tasks for `sp_tasks::spawn` and add execution limits"
Currently [the way we implement the `sp_tasks::spawn` runtime API](https://github.com/paritytech/substrate/blob/c9af3c6ae49c3720f4320ebbd6c5f936951dfdcf/client/executor/src/native_executor.rs#L413) (which is roughly equivalent to a `std::thread::spawn`, just called from *within* the runtime and without any shared memory between the caller and the callee) has a few problems from what I can see:

 -

[2022-04-17 07:22] bizzyvinci commented on #10383
This issue is still open?

[2022-04-18 07:23] athei commented on #11205
For developing smart contracts one should use https://github.com/paritytech/substrate-contracts-node . It uses instant consensus for ease of development. We also have Linux and Mac releases there. However, the Mac release in Intel only for now. We should adapt the CI to also include Apple Silicon.

[2022-04-18 09:47] AurevoirXavier opened #11231 "Can We Label BEEFY Things"
A little hard to track the update.
If there is a label for BEEFY. That would be better.

[2022-04-18 09:52] AurevoirXavier commented on #10966
Just remove all the related code simply?
Would like to know more detail.

[2022-04-18 13:53] hzy1919 commented on #11215
@ggwpez  Thanks for your help!  I commit a PR #11233 .

[2022-04-18 20:39] bkchr commented on #11231
We will not create a custom label.

However, we could create a custom project. But maybe there already exists one cc @acatangiu

[2022-04-18 20:51] bkchr commented on #11227
Fwiw, all this code is currently only a test implementation that should not really have hit master. As you already found out it is not used anywhere and it is also disabled for parachains. I would say we keep this issue open until we have decided on how to continue with this feature.

[2022-04-18 20:53] bkchr commented on #11222
@ggwpez did you tried CentOS?

[2022-04-18 21:01] bkchr commented on #10966
What details are you interested in?

[2022-04-19 08:08] bkchr commented on #10383
@bizzyvinci have you checked the mentioned code?

[2022-04-19 09:04] AurevoirXavier commented on #11231
This is what I do locally.

[code]

[2022-04-19 14:41] bkchr commented on #11231
@acatangiu you can have a github project where you can attach stuff in the entire organization.

[2022-04-19 15:26] krhougs opened #11239 "Calling `api.rpc.chain.getFinalizedHead` freezes whole WebSocket JSONRPC session"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

In some case, calling api.rpc.chain.getFinalizedHead in Polkadot.js with the parachain will fail without any error message but a timeout error. After this, whole JSONRPC WebSocket session is f

[2022-04-19 15:28] krhougs commented on #11239
Logs on the Polkadot.js client:
[code]

[2022-04-19 17:21] JoshOrndorff opened #11240 "Manual seal: support aura"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The aura block authoring engine uses a pre-runtime digest, like many other consensus engines.

In order to use an aura-compatible runtime with manual seal, we need to tell manual seal how to p

[2022-04-19 19:01] bkchr commented on #11240
Already exists: https://github.com/paritytech/substrate/blob/9461b2de04210c6c193726a745c3ec6552b4ce9f/client/consensus/manual-seal/src/consensus/aura.rs#L38

[2022-04-19 19:01] #11240 closed

[2022-04-19 19:25] bkchr commented on #11239
Do you have anymore information when this happens? Is there something happening on the Parachain? Can you reproduce this locally? Can you reproduce this always for the same block?

[2022-04-19 20:58] krhougs commented on #11239
### Background
To mine on Khala/Phala, there is a tool to synchronize block data to and verify them in the TEE enclave. This tool will query `api.rpc.chain.getFinalizedHead` to get the current finalized height in the synchronization loop.

### The issue
This issue is found by our mining community. There are several miners facing this issue but unfortunately we can not reproduce this in our develop

[2022-04-20 02:10] JoshOrndorff commented on #11240
Oh nice! Now I see https://github.com/paritytech/substrate/pull/10503

[2022-04-20 09:45] ggwpez commented on #11146
Done in #11198

[2022-04-20 09:45] #11146 closed

[2022-04-20 09:48] ggwpez opened #11245 "`benchmark machine` follow ups"
Extracted from #11198

Some additions for the `benchmark machine` command:
- [ ] Warn if not using the `production` profile. Could even be done for all benchmark commands.
- [ ] Extract more info from sc-sysinfo (eg. total time, reps, input len)
- [ ] Measure on ref-hardware to get polkadot thresholds
- [ ] Pass in thresholds such that every chain can have theirs own requirements
- [ ] Print resul

[2022-04-20 09:52] ggwpez commented on #11152
Will close in favor of #10720 since we already had some discussions in there.

[2022-04-20 09:52] #11152 closed

[2022-04-20 10:30] DylanVerstraete commented on #11225
I'm experiencing the same issue as @vovacha

We are trying to migration from the initially released v3 substrate version to polkadot 0.9.18. While trying to upgrade the runtime following error was returned:

[code]

[2022-04-20 12:15] #11204 closed

[2022-04-20 15:06] bizzyvinci commented on #10383
Yes.
[This] seems resolved already but the issue remains open

[2022-04-20 16:01] bkchr commented on #8686
@nazar-pc if you like you could start working on this. This is just the first iteration and is rather simple. It is really just about moving the code related to syncing to a new crate. sc-network for now will depend on this crate.

[2022-04-20 16:10] nazar-pc commented on #8686
Cool, I'll notify once I start actively working on it

[2022-04-20 17:45] shawntabrizi commented on #11216
Why cant we have a merkle trie as a single storage item?

[2022-04-21 08:06] bkchr commented on #11216
We can not have a merkle trie as a single storage item. It would be too costly. It would require reading the entire trie, when we want to add a new event. However, we could add some sort of post-processing into `on_finalize`. So, keep the current event structure and append events over the lifetime of a block and then at the end we read all events again and put them into a trie. Then we store this

[2022-04-21 08:07] bkchr commented on #11216
But maybe we can also think again about child tries and how to speedup their deletion.

[2022-04-21 08:42] GopherJ opened #11255 "pallet_assets cannot be compiled into no_std"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

error: cannot find macro `vec` in this scope
   --> /home/cheng/.cargo/git/checkouts/substrate-7e08433d4c370a21/174735e/frame/assets/src/functions.rs:672:46
    |
672 |         let mut dead_ac

[2022-04-21 15:43] kianenigma commented on #8564
cc @emostov we ran into this as well.

[2022-04-21 15:51] kianenigma commented on #10824
additionally, as @shawntabrizi pointed out in other mediums, we should assert that `pre_upgrade` and `post_upgrade` are actually `storage_noop!`. A `pre_upgrade` should never alter the storage, because then it can, in principle, affect the `on_runtime_upgrade` itself.

[2022-04-21 17:35] ggwpez opened #11262 "Polkadot node warning "unexpected canonical chain state…""
I synced a Polkadot from a Polkachu snapshot, which worked fine.
Then after some time it printed this:
[code]
It kept importing blocks but would print the following warning every now and then:
[code]
Here the `-lbabe=trace` log with these warnings in them: [log.txt](https://github.com/paritytech/substrate/files/8533320/log.txt).
@bkchr pobably knows what this means :smiley:

[2022-04-21 19:21] bkchr commented on #11255
False alarm.

[2022-04-21 19:21] #11255 closed

[2022-04-21 20:26] bkchr commented on #11262
With https://github.com/paritytech/substrate/pull/11263

should be gone.

I think the other error may comes from having a fork block in the queue while we already have finalized past this fork and then we get this error?

WDYT @andresilva @davxy

[2022-04-21 21:05] nazar-pc commented on #10130
We have a simple and reliable way to reproduce it (though inconvenient).

With blockchain size (`chains` directory) of ~200G and 2 nodes available, third node joining the network is fairly quickly banned by other nodes. This happens every time long before 100G mark. Last attempt failed after just a few gigabytes.

Are there some parameters right now that can be tweaked to fix this behavior?

[2022-04-21 21:23] andresilva commented on #11262
I think this can definitely happen. One option would be to add some leeway and prune N blocks after last finalized.

[2022-04-21 22:49] emostov commented on #10902
Closed by https://github.com/paritytech/substrate/pull/11212

[2022-04-21 22:49] #10902 closed

[2022-04-22 05:19] bkchr commented on #11262
Yeah, we could probably store the finalized heads/stale heads in the aux store and then remove them later when something else gets finalized.

[2022-04-22 06:38] bkchr commented on #11222
Here someone has experienced a similar crash with rocksdb: https://github.com/paritytech/cumulus/issues/1194

@tylerztl did you tried to revert the rocksdb upgrade?

[2022-04-22 06:47] bkchr commented on #11222
Okay, the mentioned rocksdb update only changed some features, so probably not our problem here.

[2022-04-22 07:41] abhath-labs commented on #11222
Regarding https://github.com/paritytech/cumulus/issues/1194, I tried using `--database paritydb` and the same issue happens.  Using `Ubuntu 16.04.7 LTS`

[2022-04-22 11:35] niklasad1 commented on #11239
hmm, so you don't have any logs from node that you connected to?

Did you try to drop the WebSocket connection and start a new one?

My hunch is that you run in to https://github.com/paritytech/substrate/issues/10672

[2022-04-23 08:07] cmichi opened #11271 "Document how indexers can build a contract dashboard"
- [ ] How can _Active Contracts_ be aggregated? Listen to extrinsics for `Contract::Call`, `Contract::Instantiate`, and `Contract::InstantiateWithCode`.

- [ ] _Consumed Gas_? Check `ExitrinsicSuccess` and `ExtrinsicFailed` for consumed gas (that's the `weight` field).

- [ ] _Gas Fee_? Read weight adjustment factor from storage and convert it to e.g. USD, this reflects the market demand based on

[2022-04-23 08:41] cmichi commented on #10144
Persisting some of our discussions:

[code]

The `max_gas_consumed` value is put into the metadata, so that the calling parachain has information about which value they should put for `BuyExecution`: it would be `weight_limit: Some(max_gas_consumed)`.

Note: Gas is a synonym for Weight.

How a contract would be called:
[code]

[2022-04-23 09:01] cmichi opened #11272 "Prevent PoV attack vector with minimal viable solution"
Prevent the PoV attack vector from https://github.com/paritytech/substrate/issues/10301 with a minimal solution by charging storage access from the weight meter.

[2022-04-24 08:57] yjhmelody opened #11273 "Can offchain worker create inherent data ?"
I cannot find a way or example to create inherent data.

But in example pallet:
[code]
Is the doc old ?  In my impression，There are different process flow for tx and inherent data. The tx is pushed to tx pool, but inherent data is not.
So is offchain currently unable to create inherent data?

[2022-04-24 20:07] nazar-pc opened #11275 "Runtime API calls on Windows are very expensive"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

We discovered in https://github.com/subspace/subspace/issues/307 that sync on Windows is extremely slow. I did some initial testing and discovered that every runtime API call on Windows takes

[2022-04-24 21:45] krhougs commented on #11239
For this case we used `RUST_LOG="trace,soketto=warn,jsonrpsee_ws_client=warn,remote-ext=warn,trie=warn,wasmtime_cranelift=warn"` but nothing valuable found from the output.

[2022-04-24 23:46] burdges commented on #11275
You've checked if wasmtime alone exhibits this problem?

[2022-04-25 02:32] nazar-pc commented on #11275
Just ran wasmtime benches on Linux and Windows (VM on the same machine, but should be close due to hardware acceleration).

Linux:
<details>

[code]

</details>

Windows:
<details>

[code]

</details>

I can see Windows almost always slower, with `host-to-wasm` and `wasm-to-host` benches being the most affected, around 8x slower in some cases.

However this doesn't explain the difference between 2

[2022-04-25 05:01] cmichi commented on #10144
Persisting this here: It's still unclear how the UI would display our MVP in a meaningful way.

[2022-04-25 07:35] niklasad1 commented on #11239
Hey again,

Thanks for the logs but there are only node logs from `2022-04-19 08:26` because the actual `getFinalizedHead` call was made around  `2022-04-19 08:24`. So can you provide the full logs from the node please?

It should be sufficient to run with rpc node with `RUST_LOG="rpc=debug"` to begin with.

[2022-04-25 08:00] bkchr commented on #11275
Do you compile it natively for Windows or do you use the Linux Subsystem under Windows?

[2022-04-25 08:32] bkchr commented on #11273
As inherent data is also just a tx, you can push it to the tx pool as well. However, your runtime logic should prevent that any inherent is applied twice.

[2022-04-25 09:26] kianenigma opened #11278 "Decouple `TransactionPayment` from `polynomial`"
Sorry @nazar-pc I deleted my comment cause I didnt read any code, but now I did.

It is strange to me that there is a `WeightToFeePolynomial` trait at all.

Seems the trait should simply be `WeightToFee` with a single function `fn calc` that should be implemented, and this is what should be required in the pallet.

Then there should be a subtrait `WeightToFeePolynomial`, or just a struct, which im

[2022-04-25 13:02] armanriazi commented on #4445
`    --telemetry-url 'wss://telemetry.polkadot.io/submit/ 0' `

[code]

[2022-04-25 14:59] bkchr commented on #11239
@niklasad1 something I thought about. Why isn't this "ping-pong" mechanism that polkadot-js uses not backed into the protocol?

[2022-04-25 15:20] DaviRain-Su opened #11283 "Openai support"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Whether openai can be supported to expose rpc methods

### Steps to reproduce

_No response_

[2022-04-25 17:10] ggwpez commented on #11283
This is not a bug.
What would OpenAI do in the context of Substrate?

[2022-04-25 18:30] bkchr commented on #11283
You can expose whatever rpc methods you like. However, we will not add openai to Substrate directly. Thus, I'm going to close this issue.

[2022-04-25 18:30] #11283 closed

[2022-04-25 18:48] bkchr commented on #11222
What error do you get with paritydb?

[2022-04-25 18:49] DaviRain-Su commented on #11283
oh, thx.

[2022-04-25 18:53] nazar-pc commented on #11275
Natively, `x86_64-pc-windows-msvc`

[2022-04-25 18:54] bkchr commented on #11275
And with the Linux Subsystem?

Point here being we don't really support Windows. So, we will not prevent you to fix it and we can merge it, but there will not be that much help from our side.

[2022-04-25 19:08] nazar-pc commented on #11275
For our use case (we're wrapping Substrate-based node into GUI desktop application among other things) WSL is not an option, so I'll not bother trying that.

Fair, we'll have to fix that for sure, I'd be thankful for any pointers or things to look into first if possible.

[2022-04-25 19:14] bkchr commented on #11275
I think @koute can you help here. I think he has some benchmarks for the wasm initialization etc.

[2022-04-25 20:05] niklasad1 commented on #11239
Good question, it should be "baked" into the WebSocket protocol but when I checked polkadot-js it doesn't really use WebSocket ping/pong instead the warnings are printed when a call takes longer than some pre-defined timeout but I could be wrong.

[2022-04-25 21:00] bkchr commented on #11239
@jacogr why not use the "ping-pong" protocol of websockets?

[2022-04-25 23:49] KiChjang commented on #11076
I honestly find this to be really ugly as it adds another type parameter to `BoundedVec`, and it isn't obvious at first glance what the extra `u16` parameter is about in `BoundedVec<u8, u16, MaxLen>`, and it'll be even worse if the `B` parameter happens to be the same type as the value type. If const eval is evolved to the point where we could drop the `Get`, then we should really use const generi

[2022-04-26 04:27] nazar-pc commented on #8686
I started working on this, will send a PR once I have something useful

[2022-04-26 04:54] koute commented on #11275
@nazar-pc This is somewhat to be expected. My guess would be (I haven't actually profiled this on Windows, so it's just a guess) that the slowness you're seeing is a side effect of how we currently clear the memory between instantiations. On Linux we use `madvise` for this which is accelerated by the kernel (doesn't clear the pages which don't need to be cleared) and asynchronous, while on Windows

[2022-04-26 06:42] jacogr commented on #11239
I honestly cannot recall as to why `system_health` is specifically used to keep the connection open in a ping/pong fashion. This is all from early 2018. All I know is that the server drops the connection is we don't specifically do it, i.e. if the server doesn't receive anything from the client inside a 60 second period it drops and assumes the client is dead ...which is not that useful if you hav

[2022-04-26 07:26] niklasad1 commented on #11239
Ok, we can add these as "server-side pings" to jsonrpsee if that works better because soketto supports it but it needs a fix in jsonrpsee (should be trivial though)

[2022-04-26 09:34] bkchr commented on #11076
Yeah looking at the current draft pr, this just looks like some huge overhead on code.

[2022-04-26 10:00] abhath-labs commented on #11222
Same as before, adding the `--database paritydb` did not make a difference.
[code]

[2022-04-26 10:24] #2384 closed

[2022-04-26 10:38] #5274 closed

[2022-04-26 10:47] #4453 closed

[2022-04-26 10:48] #4417 closed

[2022-04-26 10:48] #5330 closed

[2022-04-26 10:51] #5018 closed

[2022-04-26 11:05] #1968 closed

[2022-04-26 11:06] andresilva opened #11287 "Refactoring analysis: Executor prioritisation"
Analyse what kind of prioritisation we need (e.g. block authoring, off-chain workers, RPC calls) when sending requests to the executor. How is the implementation done in regards of prioritisation?

[2022-04-26 11:10] andresilva opened #11288 "Refactoring analysis: asynchronous runtime calls"
Can we make calls to the executor asynchronous? Is there any component that expects this to be sync?

[2022-04-26 11:11] the-right-joyce opened #11289 "Refactoring analysis: Analyse current state of the database"
State Database & Pruning: analyse current state, no force canonicalization, APIs to prune

[2022-04-26 11:37] the-right-joyce opened #11290 "Refactoring analysis: The separation of read and write into the database"

[2022-04-26 11:40] the-right-joyce opened #11291 "Refactoring preparation: Block centric storage"
Preparation for block centric storage (not using aux data, all data is attached to a certain block)
Outcome should be an API ready to use, but not in usage yet

[2022-04-26 11:42] the-right-joyce opened #11292 "Refactoring analysis: Analyse the usage of block numbers"
Research where block numbers are used (who needs to access block numbers and why)

[2022-04-26 11:45] the-right-joyce opened #11293 "Refactoring preparation: Break down/split Sync."
into: into: WARP, State, Initial, Normal Sync (without changing block import)

[2022-04-26 11:52] the-right-joyce opened #11294 "Refactoring preparation: Break apart verification and import"
Break apart verification (make sure verification doesn’t call into runtime) and import

[2022-04-26 11:55] the-right-joyce opened #11295 "Refactoring preparation: Extract import queue out of Sync."
Improve the import queue, allow importing blocks without execution.
Long-term it shouldn’t import justifications, we can remove the `JustificationImport` trait.

[2022-04-26 11:57] #11093 closed

[2022-04-26 11:59] the-right-joyce opened #11297 "Refactoring preparation: Move justifications out (GRANDPA and BEEFY)"

[2022-04-26 12:01] the-right-joyce opened #11298 "Refactoring preparation: Move protocols out"

[2022-04-26 12:25] jorgeantonio21 commented on #11076
@KiChjang I understand your point and I agree with it. I thought slightly in a way to deal with this fact and I think it should go along with the following lines

[code]

However, this approach might lead with backward/forward compatibility issues, when using `BoundedVec` down the road with other specific bound types (that do not implement the `Get` trait as in the above). Let me know your thought

[2022-04-26 13:49] Doordashcon commented on #10761
@georgesdib would you like to take over this PR?

[2022-04-26 14:31] #11245 closed

[2022-04-26 14:32] ruseinov opened #11300 "decl_storage! complaining about AccountId not having a default."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

While upgrading to substrate latest, where `Default` trait is no longer implemented for AccountId I'm facing problems with `!decl_storage` complaining about that.

### Steps to reproduce

Try

[2022-04-26 14:59] bkchr commented on #11273
Can this be closed?

[2022-04-26 15:02] tomaka commented on #3303
Light client support has been removed from Substrate altogether, so this is irrelevant.

[2022-04-26 15:02] #3303 closed

[2022-04-26 15:14] ruseinov commented on #11300
@ggwpez Thank you for the answer! Yep, I was not sure how exactly that macro works, it makes total sense that it expects a Default in case of returning the non-existent AccountId!

[2022-04-26 15:15] ggwpez commented on #11300
Great, hope this fixes it. Otherwise feel free to reopen the issue :smile:

[2022-04-26 15:15] #11300 closed

[2022-04-26 15:16] omadoyeabraham commented on #11140
@ggwpez I'm attempting this issue

[2022-04-26 15:27] ruseinov commented on #11300
Yep, that fixed it!

[2022-04-26 21:06] nazar-pc commented on #11275
I need to wait a bit for longer sync to kick in and print numbers, but it seems like #11232 makes it A LOT faster on Windows, should be on the same order of magnitude as Linux :fire:

How close is it to landing? I see it is already reviewed.

[2022-04-27 00:42] nazar-pc commented on #11275
Yeah, #11232 should be updated as such that closes this issue.

[2022-04-27 03:56] koute commented on #11275
That's good to know!

I didn't expect it to improve the performance on Windows, but I forgot that we were doing a `memset` there which now doesn't have to be executed, so I guess it does improve performance even on Windows. (:

Yeah, it's almost done. It still needs one more review and then it should be good to go.

[2022-04-27 04:12] yjhmelody commented on #11273
Okay, I will try

[2022-04-27 04:12] #11273 closed

[2022-04-27 09:13] davxy commented on #10962
Follow up for Polkadot specific tasks https://github.com/paritytech/substrate/issues/11178

[2022-04-27 09:13] #10962 closed

[2022-04-27 09:23] #10952 closed

[2022-04-27 09:50] koute commented on #8944
I've just merged the last piece of this in `substrate-telemetry`; it'll still most likely require some tweaks, but the initial MVP implementation is done, so I'll close this issue. Any further tweaks/fixes/extensions to this we can file under a new, more specific issue.

[2022-04-27 09:50] #8944 closed

[2022-04-27 10:59] koute commented on #11287
So I think this maybe could be split into two parts:
1) Refactor and extend our low-level executor interface/cache which we use to instantiate a runtime and call into it with a given priority.
2) Integrate it with higher-level APIs (which abstract over the low-level details of how we're calling into the runtime) and actually use it in specific places (block authoring, RPC calls, etc.)

The first p

[2022-04-27 11:32] bkchr commented on #11287
This issue is really more just about making runtime calls async. So you call `call_in_runtime().await`. That doesn't really require prioritization.

This issue is exactly something that we then can fix when we have some central component that owns the cache and the execution :)

And in general good that you already had thought about this stuff, as I had this planed for you :D

[2022-04-27 12:22] stanly-johnson opened #11305 "Custom struct fails to decode in chain-extension"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When writing a chain extension, using `read_as` with a custom struct produces an error

Example chain extension
[code]

Output
[code]

This code works
[code]

The read_as() works for basic typ

[2022-04-27 15:49] bkchr commented on #11305
CC @athei

[2022-04-27 18:28] andresilva opened #11307 "Explicit definition of required rust toolchain"
Currently we require a nightly toolchain to build the runtime (#1252). As part of CI we are currently using a nightly compiler for building the runtime and a stable compiler for the client code. It is not always obvious which nightly is needed to build Substrate at any given point (it's a common question in the support channels). Additionally, every time we need to bump the nightly version we need

[2022-04-27 20:03] georgesdib commented on #10761
cc @shawntabrizi Strange behaviour for the Voting pallet, not sure if it's intended. The below test succeed, while I would not have expected them to, is this normal?

[code]

[2022-04-27 21:29] pepyakin commented on #11307
There were ideas of using the `xtask` approach, specifically for building the runtime in post native-optimization world (for context about that world refer to https://github.com/paritytech/substrate/issues/7288 https://github.com/paritytech/substrate/issues/10579).

Maybe that thing could provide a proper interface hiding the `RUSTC_BOOTSTRAP` thing.

[2022-04-27 22:29] andresilva commented on #11307
We could also make `wasm-builder` inject the `RUSTC_BOOTSTRAP` environment variable.

[2022-04-27 23:39] xlc opened #11308 "Spawn multiple offchain workers per block"
To my understanding, currently we have one offchain worker per block which executes the `offchain_worker` hook of all the pallets sequentially.

It will be great if we can opt-in to have offchain worker for each pallet or some API to spawn new runtime thread from offchain worker.

This should allow offchain workers to be executed concurrently to leverage multi threaded machines.

We already suppor

[2022-04-27 23:44] xlc opened #11309 "Custom DispatchClass"
It will be good if we can define custom DispatchClass on top of the existing ones.

This will allow us to have more control on the block space usages. e.g. we can define certain transactions can only use up to x% of the block spaces.

Use case: I am designing a pallet to replace the pallet-scheduler that uses offchain worker + unsigned tx to trigger scheduled call instead of `on_initlaize` hook, t

[2022-04-28 00:46] KiChjang commented on #11076
I don't think you need to modify the `Get` trait to implement this:

[code]

If the type `T` needs to be a `u32`, then we can just modify it as follows:

[code]

[2022-04-28 08:51] bkchr commented on #11309
That sounds like an overkill :D Wouldn't having a hook that runs after inherents are applied be enough?

[2022-04-28 09:03] xlc commented on #11309
That could still overweight / panic and brick the chain? The benefit of unsigned tx is that it is optional to include them. Hooks are mandatory unless something like https://github.com/paritytech/substrate/issues/8740 is implemented.

[2022-04-28 09:14] bkchr commented on #11308
We could probably leverage the current runtime tasks feature for this, but that is currently highly experimental and also doesn't support writing at the moment AFAIK.

[2022-04-28 10:22] bkchr commented on #11309
But in this hook you can check the current weight consumption. `on_initialize` would already have been run and if that would have already used too much weight, you skip running the scheduled call for the current block and try again in the next block. I think overweight is solved with this. Panicking can not be solved by this, but you should not panic anyway :P

[2022-04-28 11:03] xlc commented on #11309
The main concern is about under estimated weights, which similar to panic, is not something suppose to happen, but still could happen.

Also not just about weights, as well as PoV size, which we don't yet have the ability to benchmark for.

[2022-04-28 11:09] bkchr commented on #11309
But even for PoV size your offchain solution will not really help. It can still run above the allowed PoV size.

[2022-04-28 12:10] xlc commented on #11309
It is easier ask collators to ban unsigned tx & disable offchain worker than recover a bad block with overflow PoV size due to a hook.

[2022-04-28 12:11] 0x7CFE commented on #10298
Intermediate results so far.

tldr: wasmer is ~twice as slow at instantiating modules and ~twice as fast at executing calls when compared to wasmi.

### The Setup

I used tracing library to instrument and measure timings of various parts of Substrate during transaction dispatch, such as instance creation, execution, parameter marshalling, etc. See https://github.com/paritytech/substrate/commit/ca2

[2022-04-28 13:10] dvdplm commented on #10298
This makes me a bit sad. Is there an issue in substrate for this? I believe others have struggled with this as well in the past (cc @Imod7 perhaps?).

I don't know how representative this call is, but imo it'd be good to repeat the benchmark with a few other function calls just to ensure that the overall conclusion is not overly skewed by the specific code in `flip`.

This seems like the most pres

[2022-04-28 13:21] 0x7CFE commented on #10298
Well, it's the simplest contract call I can imagine, so I essentially wanted to draw a baseline here. It could easily happen that for the simplest of calls wasmi can be faster because it exits early. However, what we see is that even on such a trivial method, wasmer still _executes_ faster than wasmi.

On the other hand, we surely need to measure something like ERC20 for the real world scenario, b

[2022-04-28 20:10] omadoyeabraham commented on #10861
@emostov I would like to work on this

[2022-04-28 22:01] emostov commented on #10861
cc @kianenigma

[2022-04-29 01:38] nazar-pc commented on #8686
I believe I have this covered (links in the comment above):

There are 24 mentions of `sc_network_sync` in `sc_network` in my branch and 4 mentions of `sc_network_light`.

Waiting for review and open to suggestions on next steps.

[2022-04-29 02:25] #10383 closed

[2022-04-29 06:05] farazahmadvaival commented on #11129
Hi @ggwpez i am compiling frontier template with rust 1.60.0 and i am getting the same error.

[code]

[2022-04-29 06:21] shabanovd opened #11315 "Implement serde::{Serialize, Deserialize} for BoundedVec"
BoundedVec does not currently implement serde::{Serialize, Deserialize}, because of that it can't be used at [GenesisBuild](https://github.com/paritytech/substrate/blob/master/frame/support/src/traits/hooks.rs#L302) as it require `sp_runtime::traits::MaybeSerializeDeserialize`.

[2022-04-29 07:00] shawntabrizi commented on #11129
The issue here is certainly related to feature flags. Let me take a look at the template and try to compile it myself

[2022-04-29 07:13] shawntabrizi commented on #11129
The solution

[2022-04-29 08:02] shawntabrizi opened #11317 "Rename `Epoch` to `Session` in BABE and throughout any parts in Substrate"
Everywhere we use the term `Session`, except in BABE where we use the term `epoch`.

Lets bring consistency to the terms, and leave a note that if you are reading the BABE technical paper, the word `epoch` in that paper means `session` in Substrate.

[2022-04-29 08:47] bkchr commented on #11309
Okay, I mean I will not prevent you from writing your solution :)

Regarding the custom dispatch class, do you think that having a variant that holds some u8 or something would be enough?

[2022-04-29 08:49] #10370 closed

[2022-04-29 08:49] #11007 closed

[2022-04-29 08:51] farazahmadvaival commented on #11129
It's working now. Thank you for your prompt reply.

[2022-04-29 09:22] adamdossa opened #11320 "Validators dropping peers and failing to gossip block production"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hi Substrate Team,

We've been trying to debug the issue below for the last few days, but are hitting a wall. Any advice or tips you can provide would be very much appreciated.

There is a sta

[2022-04-29 09:42] Neopallium commented on #11320
We have seen that when the bad operator produces a block and broadcasts the peers.  The peers begin validating the block and send a request to the operator for the block details, but the operator rejects the request `Reason: Request refused`.

Here are some log messages from another node (with `-lsync` flag).  This is for a different block that the one from Adam's logs.

The node receives the bloc

[2022-04-29 12:41] kianenigma commented on #10861
we're feature freezing pools for now for the initial release, so preferably let's wait out a bit. I will mark it as mentor again once it is ready.

[2022-04-29 16:36] xlc commented on #11309
Yes another u8 should be enough. I don’t think anyone will want more than 256 additional dispatch class

[2022-04-29 18:48] shabanovd commented on #11076
Maybe this was
[code]
it do cover u8, u18 and u32 (if I do not miss something)

Here the [commit](https://github.com/shabanovd/substrate/commit/27871b9a56e0a140cf3ae2acf9c6493bf5e0dce0) with [tests](https://github.com/shabanovd/substrate/blob/into_bound/frame/support/src/storage/bounded_vec.rs#L871-L893)

[2022-04-30 08:47] athei commented on #11305
Probably the `MaxEncodeLen` impls mismatch. Please provide a minimal reproducer. I would need to see the struct definition and all impls for your chain extension and in your contract.

[2022-04-30 09:37] athei commented on #10298
This suggests that we can rule out our theory that it is due to slow execution of host functions by wasmer. It is all about the startup which was the most likely scenario anyways. Transformation into machine code takes time. I still would like to see this repeated with an ink! ERC20 transfer, though. Also, having this somehow integrated into substrate or some other repo so it is easily repeatable

[2022-04-30 10:57] CREESTL commented on #4333
Yes, I also wonder what's the solution.

[2022-04-30 13:26] ggwpez commented on #11307
I am also in favor of adding a `rust-toolchain` file since that could reduce the number of people that experience compile errors and open issues for it.
Maybe we can use one of the overrides for the wasm code? Setting the `RUSTUP_TOOLCHAIN` in the wasm builder or using a directory override for it: https://rust-lang.github.io/rustup/overrides.html ?

[2022-04-30 16:34] MC-Terrence commented on #11317
Hello Shawn, can I take this on please?

[2022-04-30 21:28] #11054 closed

[2022-04-30 21:59] bkchr commented on #11307
While I'm for moving the control about the rust version to use into the repo instead of having the CI file defining this, I'm not convinced to introduce any kind of further magic. `RUSTC_BOOTSTRAP` is a hack, by the compiler team. We could use it in our CI, I'm fine with this, but not setting this by default by the `wasm-builder`.

The rust-toolchain will also not fix issues by people experiencing

[2022-04-30 23:45] yong-sea commented on #11307
t out
________________________________
发件人: Bastian Köcher ***@***.***>
发送时间: 2022年4月30日 21:59
收件人: paritytech/substrate ***@***.***>
抄送: Subscribed ***@***.***>
主题: Re: [paritytech/substrate] Explicit definition of required rust toolchain (Issue #11307)

While I'm for moving the control about the rust version to use into the repo instead of having the CI file defining this, I'm not convinced to i

[2022-04-30 23:45] yong-sea commented on #11307
get out!
________________________________
发件人: y g
发送时间: 2022年4月30日 23:44
收件人: Bastian Köcher ***@***.***>; paritytech/substrate ***@***.***>; paritytech/substrate ***@***.***>
抄送: Subscribed ***@***.***>
主题: 答复: [paritytech/substrate] Explicit definition of required rust toolchain (Issue #11307)

t out
________________________________
发件人: Bastian Köcher ***@***.***>
发送时间: 2022年4月30日 21:59
收件人: p

[2022-05-01 23:12] MC-Terrence commented on #10755
Hello @bkchr and @xlc  can I take this on?

[2022-05-02 06:35] stanly-johnson commented on #11305
[code]

[2022-05-02 10:04] athei commented on #11305
I meant like two repositories we can actually compile. It will be some mismatch between types. You are not doing anything wrong from this example. It will be some mismatch in types between what you posted here and whatever you use in your contracts. Could even be some custom `AccountId`.

[2022-05-02 10:22] 2075 commented on #11225
The `chain_spec` was generated like @DylanVerstraete for the initial release of v3. our scenario is the same with an attempt to upgrade to 0.9.18. maybe we could try an "intermediate" upgrade, but I do not see any advantage (yet), as the chain_spec genesis blob and therefore its contents will stay the same.

[2022-05-02 17:50] harrysolovay commented on #10910
I'm also running into this situation. With each subscription, one must buffer incoming messages, await the subscription call result, then iterate over the message buffer, match message subscription ids and then trigger the initial callback with the matched messages. To simply trust the response order would be preferable (to say the least). Any updates?

[2022-05-02 17:53] niklasad1 commented on #10910
it should go away once https://github.com/paritytech/substrate/pull/8783 is merged.

[2022-05-02 19:05] harrysolovay commented on #10910
Excellent! Thank you for the update.

[2022-05-03 10:31] nazar-pc commented on #3587
Is this issue still relevant?

[2022-05-03 10:58] bkchr commented on #3587
Probably not. Going to close it. If someone sees it differently, please report back.

[2022-05-03 10:58] #3587 closed

[2022-05-03 11:42] BulatSaif commented on #1017
Thank you for implementing the `/health` it is very useful.

## Problem definitions
When you are using automated deployment, you have limited options to check if the node is ready, compering to a manual deployment where you can check logs, run RPC calls and e.t.c.
By saying automating deployment I mostly refer to Kubernetes, but docker or AWS/GCP autoscaling groups have the same limited set of too

[2022-05-03 14:51] bkchr commented on #10755
Yes you can! :)

[2022-05-03 16:13] chevdor commented on #3587
For what it is worth:
[code]

returns:
[code]

using subkey 2.0.1

[2022-05-03 18:21] athei opened #11344 "Rewrite `define_env!` as a procedural macro"
Currently, the contracts pallet uses the [`define_env!`](https://github.com/paritytech/substrate/blob/c2fc4b3ca0d7a15cc3f9cb1e5f441d99ec8d6e0b/frame/contracts/src/wasm/env_def/macros.rs#L212) macro by example in order to [define which host functions are available for contracts](https://github.com/paritytech/substrate/blob/c2fc4b3ca0d7a15cc3f9cb1e5f441d99ec8d6e0b/frame/contracts/src/wasm/runtime.rs

[2022-05-03 19:38] KiChjang commented on #11076
I'd really rather not create new traits for this, as we can make it work as intended simply by creating more structs instead.

Moreover, the point I raised initially still stands -- we really should just be using const generics when it is mature enough, and I mean the following:

[code]

[2022-05-03 20:48] mexskican opened #11345 "Reserved nodes can not be specified using the Peer ID only"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

On substrate 2.0.z we were able to specify the reserved peer for a node using only the identity part of the multiaddress (eg. `/p2p/<peerId>`).

Since substrate 3.0.0 it is not possible anymor

[2022-05-04 00:10] bkchr commented on #1017
A node never needs a restart. So, this would always return `200`.

[2022-05-04 09:28] shabanovd commented on #11076
I wish it to be possible. Missing part is
[code]
and it do compile ever at nightly.

[2022-05-04 10:15] #11345 closed

[2022-05-04 10:24] bkchr commented on #11222
So you have resynced with ParityDb?

Can you maybe reproduce this in some docker image?

[2022-05-04 11:32] 0x7CFE commented on #10298
Ok, so I've made some measurements that I'm now confident of.

Please note that I redid the tests using manual measurement since I discovered that for some reason `tracing` introduced significant errors especially in the hot section of the code (`invoke_index`) where I tried to separately measure time it takes to prepare, invoke and finalize the call. Overall tracing output was unpredictable and n

[2022-05-04 11:50] seunlanlege commented on #4611
Yeah i figured i wasn't going to be the only one who's thought of this, I wonder if there's a tracking issue for custom keys for storage items 🤔

[2022-05-04 14:47] kianenigma opened #11352 "Allow submitting offences from root"
Would be very helpful for testing if there was a way for `root` e.g. sudo in a dev-chain to create an `offence`. This would help you test all sorts of things around the slashing and offence code.

Ideally, this transaction would only accept one parameters: `offenders: Vec<(T::AccountId, Perbill)>`, and slash each of them with that fraction.

One way to do this would be to add this transaction to t

[2022-05-04 17:18] shabanovd commented on #11076
Turns out it works a little differently
[code]

[2022-05-04 18:31] bkchr commented on #11352
I vote for this.

[2022-05-04 21:43] burdges commented on #11352
Can we do this from governance on non-sudo chains?

[2022-05-05 08:24] cr4pt0 opened #11359 "Pallet assets refactoring for PSP22 + chain extension."
Would be very helpful extract main logic of callable function in `pallet assets` to internal function.

Why we need it:
We are developing chain extension and use pallet assets for smart contact `PSP22`
We want reuse main logic of callable function without creating origin and dublicating instance of Lookup and etc..

In pallet assets exists some perfect example
`mint` function has main logic with i

[2022-05-05 10:06] bkchr commented on #1017
None of the named examples would have been able to be detected. The node is running multiple threads and could still report to your liveness requests, while it would for example hang in some other important component.

[2022-05-05 10:22] athei commented on #10298
I don't know how you come to this conclusion. Assuming that you mean imported function calls by "wasm calls". The values you measured for `invoke_index` even contradict this (wasmer isn't slower there). When look at `instantiate` I see that wasmi pulls ahead which is easily explainable by the fact that `instantiate` (just does some basic initialization) executed much less of the contract code than

[2022-05-05 10:41] 0x7CFE commented on #10298
Yes, you are absolutely right. Maybe I failed to express my point, but my conclusions are mostly the same.

My understanding is that compiled code should be an order of magnitude faster which is definitely not the case as we see in the measurements. Yes, `invoke_index` is generally faster when executed by wasmer, but it's not _that_ faster. So I thought maybe something is preventing wasmer to exec

[2022-05-05 11:02] athei commented on #10298
Correct me if I am wrong: Your measurement always measure compilation + execution. This means even if the execution is much faster it could still be offset by some very slow compilation. So you can't follow from that that the execution isn't a magnitude faster. For all we know it could be. As a matter of fact it is suggested by the synthetic instruction benchmarks I posted in the top post.

Same s

[2022-05-05 11:13] ggwpez commented on #1017
I like the idea of making Substrate more "deploy friendly".

Not sure on the solution though, maybe a PolkadotJS script within the docker image which exposes these endpoints would also work?

[2022-05-05 11:26] jimmychu0807 opened #11362 "Latest Substrate Node Template doesn't work with Polkadot-JS Apps"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The [latest Substrate Node Template](https://github.com/substrate-developer-hub/substrate-node-template/tree/polkadot-v0.9.20) no longer works with the hosted Polkadot-JS Apps.

After compiled

[2022-05-05 12:42] 0x7CFE commented on #10298
I can be wrong too, but my current understanding is that wasmer does the full compilation during module creation that accepts a wasm bytecode and a `Store` object. Then it does sanity checks and the acttual compilation in `wasmer::sys::module::Module::from_binary_unchecked`. Theoretically it could be that something is done during first invocation in a JIT manner but I doubt it's the case in Single

[2022-05-05 15:06] ggwpez opened #11363 "Whitelist transactional layer storage key"
[`Utility::batch_all`](https://github.com/paritytech/polkadot/blob/cac02e0dec59db5cb9539768479d0f19caa571bd/runtime/polkadot/src/weights/pallet_utility.rs#L55) now shows ups with one additional unknown read and write as of the last Polkadot benchmark.
Most likely since its `transactional` causes the the transactional limit to be read+written.
Solution: whitelist the key `0x3a7472616e73616374696f6e

[2022-05-05 16:44] athei commented on #10298
Okay I get confused because I didn't understand what is shown in the tables. We cleared that over element:

`deploy`: Calling the `deploy` exported function of a contract
`instantiate:` Calling the `instantiate` function of the wasmer backend (compiles the code and creates the instance). No contract code execution.
`call`:  Calls the `call` exported function of a contract: Does an ERC20 transfer.

[2022-05-05 17:45] gavofyork opened #11365 "Society v3: Groups & Factions"
- Factions
  - Creation/Founding
  - Deletion/Dissolving
  - Bid & vote
  - Challenge
  - Intake
  - Group-Control
- Moving of one faction's rank into rank ladder of another faction

[code]

[2022-05-05 23:07] bkchr commented on #1017
And what would this script do?

[2022-05-06 06:38] kvinwang opened #11367 "Allow off-chain floating point operations for Wasm smart contracts"
Floating point is common used in practice, in a json parser for example. Currently, the pallets-contrat forbid floating point types in the contract codes in order to be deterministic.

As discussed in the Element group, we may add a parameter like `bare_call(ALLOW_INDETERMINISM )` to allow non-deterministic operations like floats in immutable context.

[2022-05-06 07:31] 0x7CFE commented on #10298
The  `deploy` call takes 16ms. I added together time of all `invoke_index` calls that happen during deploy and they sum to 13420.98µs ≈ 13.4ms. So, the absolute majority of time is spent in 1600 host function calls.

In such a scenario, even if wasmer will perform 1000 times faster than wasmi it still can affect only those remaining ≈2.5 ms. Even in ideal case the deployment would take no less tha

[2022-05-06 07:46] athei commented on #10298
1600 host function calls for a single deploy of an ERC20 contract? That seems too much. Or is it a batch of calls?

Agreed. It does explain why it isn't able to outperform it by a huge margin but not why it is slower. Except if the host functions would be **much slower**. Maybe the slowness isn't correctly captured in your measurements because the context switch makes the following non host functi

[2022-05-06 07:56] 0x7CFE commented on #10298
Unfortunately, not. It's for a single deployment. I also think that it's a bit too much but I don't know the contract internals. Wasmi log shows the same story so it's definitely not Wasmer's fault.

Yes, I think that is the case, not to mention that massive log output introduces delays on its own. We need to aggregate data over many invocations with and without host function calls to say for sure

[2022-05-06 08:27] BulatSaif commented on #1017
We already have such [script](https://gitlab.parity.io/parity/infrastructure/ansible/collections/chain_operations/-/blob/master/roles/ws_health_exporter/files/exporter.py#L67), we use it to implement `readiness` probe for ws endpoint it returns `200` if ws endpoint available, node is not syncing, and peers > 0. The script deployed near the node and used by Loadbalancer. But it will be very useful

[2022-05-06 09:48] athei commented on #10298
I assume it is the gas metering then. It generates one host function call for every basic block. I think what we can learn from that is that adding disk caching to wasmer (with an IR language) + implementing https://github.com/paritytech/wasm-instrument/issues/11 could make wasmer competitive.

[2022-05-06 13:45] burdges commented on #11367
We cannot support real non-deterministic operations in polkadot or parachain runtimes.

[2022-05-06 17:19] cmichi commented on #11367
@burdges The team that is requesting this feature is using the `pallet-contracts` off-chain.

[2022-05-06 17:25] athei commented on #11367
* We allow floating points to be deployed as part of contract (guarded behind `Config` trait flag)
* Contracts using those instructions will be marked as unsafe for on-chain usage
* Calling such a contract on-chain will return an error (will not be called)
* Can only be called off-chain (indicated by argument to `pallet_contracts::pallet::Pallet::bare_call`)
* No benchmarks will be conducted for s

[2022-05-06 20:36] burdges commented on #11367
We do not necessarily even need restrictions then, merely that polkadot's wasm should not support floats.

If some parachain team configured their wasm time to support floats, then their chain could create invalid blocks, in that polkadot would reject them, or possibly not even compile their PVF, but if they never do so then everything remains fine.  They can do this in their own fork without us a

[2022-05-06 21:48] athei commented on #11367
wasmtime is not relevant here. This is about contracts.

[2022-05-06 21:56] burdges commented on #11367
I've no idea if contracts are implemented via wasmtime or not, but my point is:

We'll always enforce determinism in polkadot, so it does not matter if a pure parachain does not internally enforce determinism since polkadot will enforce determinism for the parachain.  It only matters if the parachain wants its own separate consensus.

[2022-05-07 02:23] h4x3rotab commented on #11367
@burdges Determinism is not always required, especially in our use case. Please allow me to add some context here.

Phala Network adopts ink! (with `pallet-contracts`) as its offchain computation programming model. We call it "Fat Contract". Unlike the common security model of blockchain / smart contracts, Fat Contract runs in trusted offchain workers. Its security is protected by hardware secure

[2022-05-07 06:48] KiChjang commented on #10408
Was trying to implement this lately, but found out that [enum discriminants on non-unit variants are experimental](https://github.com/rust-lang/rust/issues/60553). We'll need to figure out another mechanism for associating an index with every call in the enum, and use that to encode/decode correctly.

[2022-05-07 06:57] xlc commented on #10408
scale codec does support macro attributes to specific encode index

[2022-05-07 20:49] bkchr commented on #10408
Yeah and we use exactly this in `construct_runtime!` for pallets.

[2022-05-08 06:04] athei commented on #11367
Is this really required? The easiest solution would be to mark a whole contract  as off-chain only when it contains such instructions. Do you expect that parts of the contract will be executed on-chain?

[2022-05-08 16:11] burdges commented on #11367
As an aside, how do we enforce no floats in polkadot?  I'd always assumed we just disabled them entirely in wasmtime, so that polakdot could not even compile wasm with float instructions, which sounds safest..

[2022-05-08 18:10] h4x3rotab commented on #11367
Yes, Fat Contract in the first place works as a rollup solution. Although running off-chain, it still has the contract storage and reacts to the on-chain transactions where the storage can be modified. We call them mutable calls. They has the same effect as the vanilla ink!. On the other hand, it supports complex and async computation in queries (immutable calls), like what we have described above

[2022-05-09 07:32] athei commented on #11367
Again, we are not talking about wastime/polkadot here. It is about contracts. They are not run in the same instance if that is what you are thinking.

[2022-05-09 08:58] atenjin commented on #2116
not the full feature. for now, the export-state just can start the new chain from 0 height. but in fact, the best way is to start the new chain with the same height.

I think it needs a lot of modification for substrate backend part, and related to some consensus part.

[2022-05-09 09:10] atenjin commented on #6972
maybe I think just use `system.batch` for must of time.

[2022-05-09 09:10] #6972 closed

[2022-05-09 09:25] #11272 closed

[2022-05-09 09:29] #10301 closed

[2022-05-09 15:33] RGafiyatullin commented on #8103
The `--unsafe-pruning` emits an obsoletion-warning on the startup now.

This CLI-argument should be completely removed in some future release.

[2022-05-09 15:33] #8103 closed

[2022-05-09 15:40] RGafiyatullin opened #11380 "Remove Unsafe Pruning Flag (completely)"
This issue is the follow-up to the #8103 .
The flag (`--unsafe-pruning`) no longer makes any effect apart from the the obsoletion-warning on the node startup.

Within that issue that flag is to be removed completely.

[2022-05-09 15:41] kziemianek commented on #11141
@ggwpez the related issue is done.  Can I take this?

[2022-05-09 15:42] RGafiyatullin commented on #8103
[That](https://github.com/paritytech/substrate/issues/11380) will remove the CLI-argument completely.

For now it is left as an acceptable CLI-argument in order not to break the existing scripts that may launch the substrate.

[2022-05-09 18:17] vovacha commented on #11225
I'm going to close the issue. We've managed to upgrade the runtime and save the block history.
It's still not clear what was the exact root cause, but we've created a runtime from scratch and added all of the FRAME pallets. After upgrading the node, the runtime was upgraded successfully.

[2022-05-09 18:17] #11225 closed

[2022-05-09 20:08] ggwpez commented on #11141
Yea sure @kziemianek! Someone else also wanted to work on it, but I did not hear back from them.
@yourarj or @omadoyeabraham please tell us if you are working on this. Would re-assign it in otherwise.

[2022-05-09 20:42] omadoyeabraham commented on #11141
@ggwpez I'm working on this.

[2022-05-09 22:12] bkchr commented on #11225
Sounds good that you managed to fix it, sorry for not being very helpful here.

[2022-05-10 07:24] ggwpez commented on #11131
I will close this now since it arose from a misunderstanding of what was happening. Thanks for clearing it up!

[2022-05-10 07:24] #11131 closed

[2022-05-10 07:27] ggwpez commented on #10608
Does not seem to make a difference as shown here: https://github.com/paritytech/substrate/issues/10777#issuecomment-1080662752
Closing until we find new compiler flags that we want to test.

[2022-05-10 07:27] #10608 closed

[2022-05-10 09:48] gabreal commented on #1017
esp the `readiness` endpoint would be tremendously useful for large scale test networks where nodes cannot be maintained one by one and automation is inevitable.

[2022-05-10 10:32] ggwpez commented on #1017
As @bkchr said we cannot check all invariants and liveliness assumptions of the node.
But could we add a progress tracker that checks if the node is making progress on importing blocks?
If would then either return an error or time out if the node did not import a block withing the last x seconds.

[2022-05-10 12:55] kianenigma opened #11388 "combine `iteratons` and `tolerance` in `sp-npos-elections` API"
taken from https://github.com/paritytech/substrate/pull/11180

cc @georgesdib feel free to assign yourself.

[2022-05-10 19:21] georgesdib commented on #11388
I had actually started working on this in the branch:

[mms-election-followup](https://github.com/georgesdib/substrate/tree/mms-election-followup)

It needs the other PR to be merged first though.

[2022-05-11 09:08] andresilva opened #11393 "babe: allow skipping over empty epochs"
The security model of BABE assumes that we produce at least one block per epoch and the current implementation will halt block production with the error "unexpected epoch change" after an entire epoch with no blocks has elapsed. We should change the implementation to allow skipping over empty epochs which would allow block production to happen even if there are no blocks for multiple epochs.

[2022-05-11 09:09] #5304 closed

[2022-05-11 14:00] ggwpez opened #11397 "Expose benchmark component ranges"
## Problem

The range of a benchmarking component is not written to the weight file.
Any downstream software (like [substrate-weight-compare](https://github.com/ggwpez/substrate-weight-compare)) can therefore not use this information.

## Context

A benchmarking component is defined in the form:
[code]
Substrate then samples some values in this range and measures the weight at each.
The final weig

[2022-05-12 01:34] #11363 closed

[2022-05-12 03:59] nazar-pc commented on #8686
Part 4 is ready on my side, it makes `sc-network`, `sc-network-light` and `sc-network-sync` depend on `sc-network-common`, but not on each other. Everything is wired together at `sc-service` level and `sc-network-sync`/`sc-network-light` theoretically can be swapped/customized: https://github.com/nazar-pc/substrate/compare/network-sync-refactoring-part-3...nazar-pc:network-sync-refactoring-part-4

[2022-05-12 05:52] niklasad1 commented on #10910
Should be fixed by #8783, would be good if you try it out in JS/smoldot too.

[2022-05-12 05:52] #10910 closed

[2022-05-12 05:55] niklasad1 commented on #10672
This should be closed by #8783, please open this again if you encounter this again.

[2022-05-12 05:55] #10672 closed

[2022-05-12 06:16] niklasad1 opened #11400 "RPC servers: add resource limiting."
As substrate has switched to `jsonrpsee` it provides resources limiting for RPC calls.
It should be used to reject calls that exceeds the maximum resource allocation.

Requires profiling and to provide some base resources such as CPU, memory and similar.

[2022-05-12 06:26] niklasad1 opened #11401 "RPC server: inspect whether calls should be executed as `blocking`"
jsonrpsee supports three different types on calls `sync, async and blocking`

The  methods has just been ported how they were defined via https://github.com/paritytech/jsonrpc so just `sync or async` but some RPC calls that are blocking I/O such as reading DB might facilitate from using `tokio::spawn_blocking` instead of `tokio::spawn` which is used for async RPC calls.

[2022-05-12 08:11] echevrier opened #11402 "The node-template doesn't compile : error: failed to select a version for the requirement `libgit2-sys = "^0.13.2""
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I am trying to compile the node-template from master with `cargo build --release -p node-template`. I get :
error: failed to select a version for the requirement `libgit2-sys = "^0.13.2"`
cand

[2022-05-12 08:28] bkchr commented on #11400
@niklasad1 is that something you are going to work on or is this issue just for tracking this stuff?

[2022-05-12 08:48] bkchr commented on #11402
I can not reproduce this on latest master. Is your checkout clean? Without any changes?

[2022-05-12 08:56] niklasad1 commented on #11400
I haven't planned to work on this right now, it's a tracking issue so we don't forget about that.

So if anyone wants to work on this I'm happy to help out with this.

[2022-05-12 09:12] echevrier commented on #11402
You're right. Sorry. Substrate checkout was clean, but I had to make a cargo update. So I close it?

[2022-05-12 10:01] echevrier commented on #11402
Can you commit the right cargo.lock so that no cargo update is required?

[2022-05-12 12:52] gavofyork opened #11405 "Standard scale for transaction priority"
Right now the transaction priority is a `u64` with no inherent scale. While one is implied through the `ChargeTransactionPayment::get_priority` function impl, it's rather opaque and arbitrary. This makes it harder to compose different `SignedExtensions` and presents a notable pain point when attempting to use EVM prioritisation mechanics.

The calculation there and elsewhere should be altered so i

[2022-05-12 12:53] ggwpez commented on #11402
I think i saw the same thing, was fixed by `rustup update`.

[2022-05-12 19:27] bkchr commented on #11405
When the transaction would consume `4/10th` of the block. The priority would be `25,000,000`. So, less than in your example. The block producer would get paid more for this transaction (in fees), but it would favor the one that uses less resources?

And the current implementation of `ChargeTransactionPayment::get_priority` prioritizes operational transactions, to ensure that they are more likely b

[2022-05-12 19:37] #11402 closed

[2022-05-12 19:43] ggwpez commented on #11215
Will be drastically changed after https://github.com/paritytech/substrate/pull/10918 anyway. We can think of a better format in there.

[2022-05-12 19:43] #11215 closed

[2022-05-12 21:50] MrishoLukamba commented on #11359
The function destroy has already being refactored

[2022-05-13 05:47] koute commented on #11400
Sure; sounds good to me.

We can probably start with one or two RPC endpoints and see how it goes.

I'll assign myself to this issue and take a stab in the near future.

[2022-05-13 09:44] kianenigma opened #11409 "Allow multiple sudo keys in the sudo pallet"
With all having the same permission. Simply helps with testnet management, and makes calls traceable to a particular key that a team might know is owned by a certain person. All keys can add or remove keys.

Does this make sense? if so, this will make a perfect task for an interview candidate, or a first issue for an external contributor.

cc @lovelaced

[2022-05-13 10:06] athei opened #11410 "contracts: Allow iteration over contract storage"
The contracts pallet does not allow contracts to iterate over storage. The reason for that is that we expected contracts to store their own metadata in order to be able to iterate. The solution of ink! was to come up with elaborate high level data structures that allowed such iteration without any support from pallet-contracts. However, it turned out that those data structure are complex in terms

[2022-05-13 10:34] xlc commented on #11409
just add some proxy?

[2022-05-13 13:12] kianenigma commented on #11409
Hmmm yeah now I actually recall that we we did discuss this as well. @lovelaced was there any advantage to having multiple sudo keys than multiple Any proxies that I can't recall? otherwise I think this is superfluous.

[2022-05-13 13:16] lovelaced commented on #11409
The current state of the options we have is (quote from @SBalaguer ):

- Using the SUDO account.
   1. The most secure thing to do is to use a keyless account as a SUDO account, and not the original account when the runtime is created.
   2. The new SUDO keyless account could then have a bunch of proxies to act on behalf of it.
   3. It's going to be key to discuss if a multisig with a 1/n schema

[2022-05-13 13:46] bkchr commented on #11409
I also don't see why you need multiple sudo keys. All of this can be done with proxies. I also don't see that we need some offchain functionality that observes all the calls. At some point you have to trust people that they don't fuck it up.

[2022-05-13 14:16] lovelaced commented on #11409
The way I'm framing it in my head is just thinking about if we were to admin a production chain that still retained sudo (like a private PoA chain or whatever). In this setup you would probably want some level of distribution of privileges and never share private keys. The way I would expect it to look would be, from a high level:

a sudo account, probably a multisig
various accounts which have ab

[2022-05-13 14:57] bkchr commented on #11409
Proxy supports all pallets, not sure which one it doesn't support?

[2022-05-13 15:14] SBalaguer commented on #11409
May I misexplained myself or I'm outdated on the information, but AFAIK the `proxy_types` do not cover all the range of permissions that the SUDO pallet will want to give different users. For example for testnet management, a proxy can't only control parachain onboardings; for doing so it needs complete access which would be of type `Any`.

[2022-05-13 15:50] bkchr commented on #11409
The proxy type is defined in the runtime and it is completely up to you, how to design this. We can just add a variant for parachain related stuff.

[2022-05-13 16:00] SBalaguer commented on #11409
Perfect, that was my intended point! Not that it _didn't_ work, but we needed to configure it :)

[2022-05-13 16:28] lovelaced commented on #11409
Ok sgtm, then that is my request :)

[2022-05-14 07:14] bkchr commented on #8686
Sounds good :)

[2022-05-14 09:26] xlc commented on #11409
You either have sudo or not. If you have sudo access directly or indirectly, you have maximum permission. If you don't, you don't. There is not such mechanism that only allow limited sudo.

If you really need to only allow some account have limited access to parachain related calls, just write a custom pallet for it. It is easy.

[2022-05-14 10:00] nazar-pc commented on #9045
I had it failing on me once today:
[code]

Which is this line: https://github.com/paritytech/substrate/blob/97a2bf9b26357cbefa56cabbd1c4579240e170ff/client/network/src/service/tests.rs#L461

Tried to reproduce and wasn't able to (tried with high CPU load and idle system).

[2022-05-14 10:55] gavofyork commented on #11405
No.

This is only about defining a meaningful scale for the `TransactionPriority` type in order that different systems for prioritisation can be composed. Ordering would be preserved as it is now, so it would make no difference to the tip payment, fees or operational transactions.

[2022-05-14 11:23] MrishoLukamba opened #11413 "get_index() method not implemented on BoundedVec"
I think `BoundedVec` having contains method and  `get_index` methods will be helpful as for now getting an index on element inside BoundedVec is not quite clear.
**I think is necessary having those methods**

[2022-05-14 12:29] #11413 closed

[2022-05-14 12:30] MrishoLukamba commented on #11413
I see we can use the Vec<_> methods

[2022-05-15 07:22] hauni97 commented on #9836
I am getting the exact same error. After deleting and resyncing it solves the problem. However the same issue occurs a couple days later again.

[miners_log.txt](https://github.com/paritytech/substrate/files/8694452/miners_log.txt)

What causes the db to get corrupted again?

[2022-05-15 10:59] bkchr commented on #9836
@hauni97 not sure that is really a Substrate issue. The issue from last year was also from Khala, so maybe the db isn't closed properly?
How did you close the node? Was it killed?

[2022-05-15 11:06] sea212 opened #11416 "storage_key_iter does return invalid second keys for StorageDoubleMap"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When using [storage_key_iter](https://paritytech.github.io/substrate/master/frame_support/storage/migration/fn.storage_key_iter.html) on a [StorageDoubleMap](https://paritytech.github.io/subst

[2022-05-15 13:54] nazar-pc commented on #7357
I think I need this too. Wanted to change logs to print time in UTC instead of local timezone, which is different on every machine, but can't find a way to configure it :confused:

[2022-05-15 14:45] kianenigma opened #11417 "nomination-pools: Prevent exit deadlocks"
The nomination pools can encounter an exit deadlock through multiple ways. By deadlock I mean members wanting to leave, and them having the right to leave, but failing due to an error, most likely an error that is arising from the staking system, not the pools pallet.

1. While a member is unbonding, if the total active stake of the pool falls below `StakingInterface::minimum_bond` (i.e. `MinimumN

[2022-05-15 22:21] guzzit commented on #6284
Hi @shawntabrizi, I'm attempting this.

[2022-05-15 23:43] shawntabrizi commented on #6284
@guzzit as a first step, you should make society bounded in storage

[2022-05-15 23:45] shawntabrizi commented on #6284
closing this

[2022-05-15 23:45] #6284 closed

[2022-05-16 03:26] shawntabrizi opened #11421 "Make Pallet Bounties and Pallet Tips Instantible"
The Treasury Pallet is currently instantiable, but second instances of the pallet cannot have bounties or tips because these sub-pallets are not instantible.

We should make these other pallets instantible, and then create some tests which ensures that multiple instances of treasury with these extensions work.

[2022-05-16 04:13] Doordashcon commented on #11421
Hi @shawntabrizi i'd like to be assigned to this :)

[2022-05-16 04:36] shawntabrizi commented on #11421
@Doordashcon its yours

[2022-05-16 08:43] nazar-pc opened #11424 "Timelock support for transactions"
Currently Substrate doesn't seem to support notion that is equivalent to Bitcoin's `timelock`, meaning preventing transaction from being included in the block until certain block height. Transaction can only be valid (and included in the block) or not valid (and removed from transaction pool).

Would be handy to have such support for certain edge-cases though. Some dependencies can be expressed wi

[2022-05-16 09:22] ggwpez commented on #11424
Would this not bloat the tx-pool? This would also not guarantee that your TX gets included in that block, in case the block is already full.
I think the best solution currently is to use the scheduler `schedule` call, which takes a `when: BlockNumber` argument and executes your TX *not before* that block.

[2022-05-16 09:23] bkchr commented on #11424
I don't get this, you can just send the transaction after the required block? Than you ensure that it isn't included before.

[2022-05-16 09:37] nazar-pc commented on #11424
Not more than any other transaction, also longevity is still a thing.

Of course, it is fine.

It doesn't work if we're talking about unsigned extrinsics that might become invalid by the time `BlockNumber` is actually reached.

I'd really like the transaction to be propagated across network in the meantime or else if the delay is just one block, there is a pretty good chance it will not reach next

[2022-05-16 11:39] #11315 closed

[2022-05-16 12:44] burdges commented on #11424
In sassafras, we envision users sending tx directly to the slot where they want the tx posted.

As a similar aurababe hack, users could send a tx directly to the node with the aura secondary slot they like along with a "do not gossip until height N" message, so then they've a 75% chance the aura secondary slot occurs, and if the arua secondary slot gets replaced by a babe primary slot then the aur

[2022-05-16 19:03] bkchr commented on #11424
We could probably support custom "provides". Maybe provided by the runtime. So, it could then for example return `encode("block_number") ++ encode(current_block_number)`. In your signed extension you could then support this custom provides and insert it as required.

[2022-05-16 19:11] bkchr commented on #11416
I checked this and the code is actually working, but `storage_key_iter` is only for storage maps and not double maps.

For a double map you actually need to do something like this:
[code]

But you can not control the key decoding from the function you are calling. I propose that you switch to [`generate_storage_alias!`](https://github.com/paritytech/substrate/blob/master/frame/support/src/lib.rs#L

[2022-05-16 19:52] crystalin commented on #11106
Thank you @jacogr that was my understanding. I can't understand why it is different :(

[2022-05-17 06:44] nazar-pc commented on #11424
Yeah, I thought that might be the most natural way of doing it.

[2022-05-17 08:36] tomaka opened #11435 "Regression in output of sync_state_genSyncSpec"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Before https://github.com/paritytech/substrate/pull/8783, calling the `sync_state_genSyncSpec` JSON-RPC function would return something like this:

[code]

After the PR, the output looks like

[2022-05-17 08:42] niklasad1 commented on #11435
oops, sorry let me have a look

[2022-05-17 08:45] sea212 commented on #11416
@bkchr Thanks for the clarification and for providing an alternative approach. I suggest to document that `storage_key_iter` should only be used for `StorageMap` (I can create the PR if desired).

[2022-05-17 08:47] tomaka commented on #11435
Note that I haven't actually checked what the function was returning before the PR (I have only checked the *after*). However we have a script that started failing and this script is directly expecting an object instead of a string, so what I wrote is the only possible explanation.

[2022-05-17 08:55] niklasad1 commented on #11435
you are correct, it returned `serde_json::Value` before I think I was got annoyed that `as_json` already returned it as JSON but forgot that the Strings are serialized differently.

one sec, I think we need to block the current release for this right?

[2022-05-17 09:54] kianenigma opened #11439 "nomination-pools: Tracable defensive error enum"
Current nomination pools has an error variant called `DefensiveError`. This, in itself is a new pattern that we tried out here. I want to keep it like that, but not quite happy with the fact that Defensive errors are not tracable.

With #8081, we can have nested errors. I suggest something like:

[code]

Although, this in itself might also pollute the code a little but too much.

An alternative is

[2022-05-17 09:58] kianenigma opened #11440 "nomination-pools: fix usage of `stash` and `controller` around `StakingInterface`"
currently it is a bit of a mess. It should be aligned with the dispatch origin of the corresponding call. For example, the controller can call `bond_extra`, so it should be called `controller`.

[2022-05-17 14:47] ggwpez commented on #11439
The second approach seems easier to me. Any reason against it?

[2022-05-17 17:50] notlesh commented on #11106
After some more investigation, it looks like this affects extrinsics which return a `DispatchResultWithPostInfo` with a different weight than their declared `#[pallet::weight(..)]` fn.

Here are some we've noticed:

[code]

[2022-05-17 18:13] notlesh commented on #11106
I believe the problem is simply that `pallet_transaction_payment`'s `query_info` only queries the extrinsic's `get_dispatch_info` without actually executing it:

https://github.com/paritytech/substrate/blob/127536132f52b0a1ef0693a4adb5399a175a4aa1/frame/transaction-payment/src/lib.rs#L419

[2022-05-17 18:20] bkchr commented on #11106
Yeah that makes sense. Executing them would be way too costly.

[2022-05-17 18:29] bkchr commented on #11416
Yeah a pr would be nice @sea212 :)

[2022-05-17 21:12] #8564 closed

[2022-05-17 21:12] #10812 closed

[2022-05-18 05:02] cmichi opened #11444 "Remove `seal_` prefixes from `contracts` API function identifiers"
Introduce `seal2` with the only change of removing the `seal_` prefix from all `pallet-contracts` Wasm API functions.

Since all functions are prefixed with it anyway, the prefix is unnecessary and storing it on-chain as part of the function identifier is increasing the storage + user deposit + gas costs. The prefix is also an irritating thing for people looking into the pallet, we regularly get q

[2022-05-18 05:39] cmichi opened #11445 "Enable force-overwrite of contract code at `AccountId`"
The `pallet-contracts` should have functionality that enables `sudo`/governance to force-overwrite the contract code of a particular `AccountId`. AFAIK this is not a simple `set_storage(account_id, new_code)`, but more involved.

There will eventually be some mishap with a contract on some chain, we'll have to introduce this sooner or later anyway.

[2022-05-18 06:49] niklasad1 commented on #11401
So indeed, it looks like almost all `state_calls` should be `blocking` as those hasn't any awaits points and would mess with the scheduler, some of those calls are really slow and the public RPC nodes.

/cc @lexnv would be good to know if you could share your findings after investigating `state_getKeys`.

[2022-05-18 06:56] hbulgarini opened #11446 "Vesting feature for assets."
An interesting feature for chains using the assets pallet is the chance to vest those assets, similar to what is possible now with DOT and KSM on their respective relay chains. 

I can think of multiple use cases on Statemint/e for teams deploying their assets on these chains and extending their possibilities around their launch strategy.

The functionality can be implemented on the same assets pa

[2022-05-18 07:56] koute opened #11449 "Export child storage change notifications through RPC"
Currently you can't subscribe to child storage change notifications through RPC; we should figure out/document the semantics of such subscriptions, the exact API to be used, and expose them through (most likely) a new RPC endpoint.

[2022-05-18 16:40] nazar-pc opened #11460 "jsonrpsee: Server is busy, try again later"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I was testing node with upgraded Substrate (with jsonrpsee) and hit this on (also `jsonrpsee`) client:
[code]

It was just a subscription and some messages sent back as a reaction to subscript

[2022-05-18 20:08] nazar-pc commented on #11460
It was failing at 1024 subscriptions, turned out subscriptions were leaking on the client.

Nice to see it is finally handled by the node, but error message could have been better.

[2022-05-18 20:08] #11460 closed

[2022-05-18 20:14] niklasad1 commented on #11460
Right, feel to open an issue in jsonrpsee :)

[2022-05-18 23:50] #11445 closed

[2022-05-19 07:32] #10244 closed

[2022-05-19 08:09] arkpar opened #11471 "Add an integration test for warp sync"
Warp sync is not fully covered by tests, requiring manual testing on each release. There are unit tests in `sc-network-test` that test the warp sync protocol, but they don't cover ineractions with BABE and GRANDPA after the sync is complete. So a more real-life test is required, probably on the `sc-service` level, where we already have integration tests for sync and basic block authoring/consensus

[2022-05-19 08:21] bkchr commented on #11471
We should probably write a zombienet based test for this. We probably need some kind of chain restore. For that we need to be able to skip Babe epochs to not fail with the famous "unexpected epoch change error". I think @andresilva has some ideas for that?

[2022-05-19 09:43] kianenigma opened #11472 "election-provider: easier recovery from `Phase::Emergency`"
currently, if we go to `Phase::Emergency`, the only way out is governance:

1. `governance_fallback`
2. `submit_emergency_solution`

Both of which need complicated governance process.

It might be reasonable to relax this. Basically, if the signed phase fails, it should simply just continue, and miners should still be allowed to submit signed submissions that meet all criteria. The difference howe

[2022-05-19 16:27] kianenigma commented on #11417
A different wording for this issue is: Make sure the pool's bond never falls below a threshold, and this threshold must be provided by the depositor.

Currently, we have `MinCreateBond`, but the actual "minimum creation bond" is `max(MinCreateBond, MinNominatorBond, ED)`.

A small step that we can take to partially fix this is

- Instead of making sure the depositor does not unbond to less than `M

[2022-05-19 17:29] hauni97 commented on #9836
I found the error, the ssd drive is full, then the db gets corrupted.

[2022-05-19 18:31] nazar-pc opened #11475 "--validator doesn't imply --pruning archive anymore"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I suspect after https://github.com/paritytech/substrate/pull/10995 this description is no longer correct:
[code]

Node is no longer storing state for old blocks. It is either expected, but doc

[2022-05-19 18:59] gavofyork opened #11477 "Remove `multiply_by_rational`"
Everything that uses it should instead be moved to use `multiply_by_rational_with_rounding`. `SignedRounding` should be used whenever inputs/outputs may be negative.

[2022-05-19 19:49] shawntabrizi commented on #11421
@koushiro this is being worked on by @Doordashcon

I will merge from @Doordashcon assuming he finishes

[2022-05-19 21:41] bkchr commented on #11475
The docs are just not correct anymore. The new behavior is correct.

[2022-05-20 07:34] kianenigma commented on #11388
If you can rebase it on master, I am sure we can fix this one faster.

[2022-05-20 08:09] kianenigma opened #11479 "nomination pools: allow governance owned pools"
Currently, pools have explicit "**account Ids**" that are roles. These roles can either be set, or not set. So, a pool can now express (as of #11411) for example that they no longer keep control of their nominations.

We now want to extend this logic to allow a pool to hand over its control over itself to e.g. governance.

One way to go about this would be to duplicate the logic here:

https://git

[2022-05-20 08:54] ozgunozerk opened #11480 "The `*` in `"http://localhost:*"` does not get evaluated anymore"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

In our node configuration, we have the following list for `rpc_cors`:
[code]

Previously (using revision c4f3d028621edb293d2c423516221aa396f76a2d), we did not include `"http://localhost:8080".

[2022-05-20 08:57] yanganto opened #11481 "#[pallet::storage] can not use independently"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Base on the documentation to migration list as following,
- [storage-migrations](https://docs.substrate.io/how-to-guides/v3/storage-migrations/basics/)
- [Upgrades](https://docs.substrate.io/v

[2022-05-20 09:11] koute opened #11483 "Remove the legacy instance reuse mechanism from the `wasmtime` executor"
After we're sure that the new pooling instantiation strategy from https://github.com/paritytech/substrate/pull/11232 is stable and reliable we should remove the old legacy instance reuse mechanism from the `wasmtime` executor.

[2022-05-20 09:17] koute opened #11484 "Improve the performance of the pooling instantiation strategy on macOS"
On macOS the copy-on-write memory reuse mechanism of the pooling strategy from https://github.com/paritytech/substrate/pull/11232 requires the runtime to be loaded from the disk; we could automatically do this internally inside of the executor to also speed up the instantiation on macOS which should, in theory, make it as fast as on Linux.

Investigate whether that's actually the case and measure

[2022-05-20 09:39] koute opened #11485 "Rename `--wasm-execution=compiled` to `--wasm-execution=wasmtime`"
In the future we might add other compiled WASM executors besides `wasmtime` (`wasmer`?); rename the value of the CLI argument `--wasm-execution=compiled` to `--wasm-execution=wasmtime` so that we explicitly specify which one we're using.

[2022-05-20 11:51] gavofyork commented on #11185
That's one possibility, but it's not the only one. It's perfectly reasonable that a transactor calling a storage cleanup operation does so without using the entire (or even half of) the block's weight. One reason would be because they might not want to take the risk of the block having that amount of weight free. But regardless it should be supported. And if two of these transactions happen to be

[2022-05-20 12:42] kianenigma commented on #11481
This is the macro that you are supposed to use to maintain the old storage formats around for migration:

https://github.com/paritytech/substrate/pull/11387

[2022-05-20 12:42] #11481 closed

[2022-05-20 20:17] bkchr commented on #11480
CC @niklasad1

[2022-05-20 20:26] bkchr commented on #11485
Then it should directly be renamed to `wasm-execution-engine` or something. And `interpreted-i-know-what-i-do` should be renamed to `wasmi`.

However, I'm not really sure we need this in general.

[2022-05-20 20:38] nazar-pc opened #11491 "--dev doesn't enable listening on /ip4/0.0.0.0/tcp/30333"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Another thing I have noticed after recent Substrate upgrade is that node is no longer listening on `/ip4/0.0.0.0/tcp/30333` with `--dev` flag, but `--chain dev --validator --force-authoring` i

[2022-05-21 09:03] jasl commented on #1375
I'm trying this at latest Polkadot v0.9.22

[code]

it not revert finalized blocks, does the behavior changed?

[2022-05-21 12:33] georgesdib commented on #11388
Done in #11498

[2022-05-21 14:40] MrishoLukamba commented on #1375
Okey  am not an expert on consensus but a the meaning of finalization is irreversible

[2022-05-21 14:43] NukeManDan commented on #1252
https://github.com/rust-lang/rust/issues/51540#issuecomment-877939875

Just checking in here as a curious substrate user :) I see the last item in the OP is likely going a different direction. Will this be a blocker?

[2022-05-21 15:53] pepyakin commented on #1252
No, not really.

Right now, we have to specify `alloc_error_handler`. In case it's absent, the compilation will fail. If I understand correctly, they want it to make OOM panic by default, and I assume that implies that you will be able just to omit the `alloc_error_handler`. Thus we will be able to omit it and rely on panics in OOM.

We use `alloc_error_handler` as an opportunity to provide some d

[2022-05-21 16:06] pepyakin commented on #11485
Yeah, definitely not necessary. Works the way it is just fine. That said, compiled/interpreted is really unfortunate naming.

[2022-05-21 18:17] kris524 commented on #11479
Hello, can I pick this issue? Is there anything else I would need to know?
Thank you!

[2022-05-22 07:19] #11491 closed

[2022-05-22 09:05] davxy commented on #1375
Addressed by https://github.com/paritytech/substrate/pull/11500

[2022-05-22 10:55] kianenigma commented on #11479
I've already given this a try, so let's wait and see how that goes! See the linked PR

[2022-05-22 11:38] niklasad1 commented on #9811
@ianhe8x

The JSON-RPC servers has been replaced, can you please to re-run this again to see whether it's occurs?

[2022-05-22 11:40] niklasad1 commented on #5903
This should be fixed now, closing

[2022-05-22 11:40] #5903 closed

[2022-05-22 14:18] Doordashcon commented on #11439
@ggwpez @kianenigma Please I am unclear about what defensive errors are.

[2022-05-22 14:27] Szegoo commented on #11439
I would like to work on this issue.

[2022-05-22 14:32] Szegoo commented on #11439
I have already implemented the second method, but I am not really sure which variants to put inside the ```DefensiveError```
Currently, it seems like DefensiveError is used only in the ```unbond``` so I implemented only the variants that are used there. I am new to this codebase so I hope someone could help me with this.

[2022-05-22 16:59] kris524 commented on #11440
Hello again, can I pick this task instead? Is there any additional information I might need?

[2022-05-22 21:03] bkchr commented on #5903
@niklasad1 how does the output look like when you call such a method?

[2022-05-22 21:50] niklasad1 commented on #5903
This was fixed by Jan recently and ported back to the jsonrpsee branch

for example `system_peers` in polkadot-js reports:

v0.9.22
 `RPC-CORE: peers(): Vec<PeerInfo>:: -32601: RPC call is unsafe to be called externally`

v0.9.21
`RPC-CORE: peers(): Vec<PeerInfo>:: -32601: Method not found`

then I tested it myself I got:

[code]

So I think should be sufficient to close this issue right?
I should

[2022-05-23 03:49] shunsukew opened #11503 "Memory consumption by Transaction Pool"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Substrate node with large transaction pool limit configuration (for e.g. `--pool-limit 65536`. larger than default pool limit.) consumes whole Mem (32GB) of the machine when pooled transaction

[2022-05-23 05:06] shawntabrizi commented on #11440
We should instead try and drop the controller account logic imo, and just rely on proxies. Seems better than continually iterating on an obsolete api

[2022-05-23 05:49] tifecool commented on #11477
I would like to attempt this issue if @Szegoo is dropping it.

Is `SignedRounding` a struct or function or will I just add my own logic to round the inputs/outputs?

[2022-05-23 05:58] tifecool commented on #11477
From my understanding, we want to work with integers for input, decimals within the function then, at output, round either up or down to the nearest integer.

Is this correct?

[2022-05-23 05:58] Szegoo commented on #11477
@tifecool You can have the issue :)

[2022-05-23 08:04] bkchr commented on #11503
Did you also changed `--pool-kbytes`?

[2022-05-23 10:11] niklasad1 commented on #11480
Ok, thanks for reporting I can confirm that this is a jsonrpsee bug.

I will try to fix this coming week.

[2022-05-23 11:23] shunsukew commented on #11503
@bkchr Thank you for the comment.
No, I didn't set it. Please let me give it a try.
Do you have a suggested value for it in case we want to have a large tx pool as much as possible with Substrate?

[2022-05-23 11:24] duktig666 opened #11508 "Can Polkadot use the RPCAPI parameter to control the RPC method like ETH?"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Can Polkadot use the RPCAPI parameter to control the RPC method like ETH?

### Steps to reproduce

1. `--rpc-methods` only have `auto` `safe` `unsafe` model
2. Can Polkadot use the RPCAPI para

[2022-05-23 13:25] duktig666 opened #11509 "JSON-RPC method not found. code:-32601"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

env：parity/polkadot:v0.9.22
[code]

execute code:
[code]

error:
[code]

https://substrate.stackexchange.com/questions/2803/json-rpc-method-not-found-code-32601
It's my question.

### Steps to

[2022-05-23 13:57] nazar-pc opened #11510 "sc-consensus-slots tries to claim slot before fully synced"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After Substrate upgrade from c4f3d028621edb293d2c423516221aa396f76a2d to 5d3e7c4ee9f5c8e370022d5f3fa9723185710831 I have noticed that `sc-consensus-slots` tries to claim slot before it is full

[2022-05-23 16:52] bkchr commented on #11509
Cc @niklasad1

[2022-05-23 17:29] niklasad1 commented on #11509
I don't understand this issue, `polkadot v0.9.21` or `polkadot v0.9.22` doesn't provide `net_peerCount`.

I guess `net_peerCount` is some ethereum RPC supported by some bridge or some special pallet?

[2022-05-23 20:02] ozgunozerk commented on #11480
Sure. You can try our source-code:
https://github.com/subspace/subspace-desktop
If you try to run the application (Dev or Prod, does not matter), it will work -> node will start, frontend will connect to node, farmer will start, and you will see node is syncing in the GUI.

But, if you delete the line: https://github.com/subspace/subspace-desktop/blob/main/src-tauri/src/node.rs#L216

Then, if you

[2022-05-23 21:31] niklasad1 commented on #11480
Ok, I see it's the actual HTTP WebSocket upgrade request that gets the 403 error that could add up.

I thought this was "only HTTP" which I just tested in jsonrpsee which worked as intended.

[2022-05-23 21:59] niklasad1 commented on #11508
Polkadot doesn't provide the ETH RPC API

You can use https://github.com/paritytech/frontier or https://github.com/PureStake/moonbeam which provides the ETH RPC API.

[2022-05-23 21:59] #11508 closed

[2022-05-24 02:35] duktig666 commented on #11509
https://polkadot.js.org/docs/substrate/rpc/

I found `net_peerCount` json-rpc method from this link.

How should I get peer count？

Through system_ Do peers get the peers set and use the quantity to judge?

[2022-05-24 02:45] duktig666 commented on #11509
It's my question on StackOverflow.But no one has answered yet.

[2022-05-24 07:06] guzzit commented on #8834
Hi @kpp and @tomaka, can I attempt this?

[2022-05-24 08:10] bkchr commented on #11510
Hmm, so we should actually skip it:
https://github.com/paritytech/substrate/blob/master/client/consensus/slots/src/lib.rs#L495-L498

[2022-05-24 10:51] nazar-pc opened #11513 "High memory usage with RocksDB (ParityDB is fine)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Yet another thing I noticed after recent Substrate upgrade is that syncing a chain with ~50G of actual history (mostly full blocks in terms of size, but little to no compute) node consumes a l

[2022-05-24 14:17] #7817 closed

[2022-05-24 14:21] nazar-pc commented on #11510
Hm, but it does seem to skip already, isn't it?

[2022-05-24 15:27] nazar-pc commented on #11510
According to @liuchengxu we found `.is_major_syncing()` to not be reliable in other context as well, so there might be something there to investigate.

[2022-05-24 18:33] nazar-pc commented on #11510
I think the tricky part is that `is_major_syncing` is determined like this:
https://github.com/paritytech/substrate/blob/58fd5b71021a36f835744fd14b08ae1631b9b856/client/network/src/service.rs#L2104-L2108

While sync state like this:
https://github.com/paritytech/substrate/blob/c2fc4b3ca0d7a15cc3f9cb1e5f441d99ec8d6e0b/client/network/sync/src/lib.rs#L583-L590

And turns out max number of blocks queu

[2022-05-24 19:16] bkchr commented on #11475
@Szegoo go ahead.

[2022-05-24 19:29] bkchr commented on #11510
`MAJOR_SYNC_BLOCKS` is `5`. So, if there is a peer more than `5` blocks ahead of us, we switch to major sync mode.

[2022-05-24 19:41] nazar-pc commented on #11510
I'm reading it as follows:
* `is_major_sync = best_peer_number - best_queued_number > 5`
* `best_queued_number - client.info().best_number <= 2048`

Hence `best_number` can be up to `2048+5` blocks away from the actual network, yet would already try to claim slots.

[2022-05-24 20:30] nazar-pc commented on #10048
I saw #10025, is there a good reason schnorrkel wasn't updated yet?

[2022-05-25 00:01] guzzit commented on #8834
Thanks @bkchr . This means I'll also change the type in the system_add_reserved_peer method right?

https://github.com/paritytech/substrate/blob/48bcb390740638cb2aa83983cb4c3b0fb0f85db7/client/rpc/src/system/mod.rs#L141

[2022-05-25 00:48] liuchengxu commented on #11510
Yeah, I can provide more evidence. Use [this subspace branch](https://github.com/subspace/subspace/tree/prune-receipts-relative-to-best-execution-chain-number) with the following debugging patch, let the first node produce a number of blocks and then spin up another node, as you can see, the second node is connect to the first node, the best seen block is 183, the local best number is 1, but the s

[2022-05-25 05:32] #11278 closed

[2022-05-25 07:31] kpp commented on #8834
Yes

[2022-05-25 07:47] Szegoo commented on #11475
Just to check before committing, AFAIU currently, the default is to keep only the last 256 blocks. Is this correct? @bkchr @nazar-pc

[2022-05-25 08:54] aardbol opened #11518 "Subkey inspect-node-key is too strict about the private key format"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`inspect-node-key` requires the private key to have a strict HEX format, but this makes things complex sometimes, because editors automatically add newlines. Hence, I often get the error `Erro

[2022-05-25 12:27] davxy opened #11522 "Fork-Tree traversal and user assumptions"
Currently some Substrate users of fork-tree structure (i.e. Babe's epoch changes tree) **silently assume** that during a node lookup the tree traversal is performed using a **post-order DFS**.

This is a strong assumption that may lead to some bugs (https://github.com/paritytech/substrate/pull/11476) when this contract is broken.

In particular, post-order assumption follows after a warp synchroni

[2022-05-25 15:00] #11479 closed

[2022-05-25 17:10] nazar-pc commented on #10048
I see there is a verification bench in `schnorrkel`, did you use that to compare 0.9 to 0.10? Maybe other benches like signing should be added as well?

[2022-05-25 17:11] Szegoo commented on #11439
@ggwpez @kianenigma  Could you check my previous comment.

[2022-05-25 17:40] nazar-pc commented on #8686
Yes, I do expect more PRs after that, just need feedback and to sync with maintainers before moving forward.

I'd like to not only sync to be decoupled, but eventually to have networking interface where `sc-network` would be just one possible implementation with ability to wrap/swap it with a custom one. So there would be a set of traits where some of the methods you mentioned would go for instanc

[2022-05-25 17:47] burdges commented on #10048
Yes likely so, but verification is by far the most important benchmark.

I donno how big the substrate regression was either.

[2022-05-25 18:53] andresilva opened #11526 "Possible use of wrong epoch data"
While running zombienet tests from polkadot the following issue was observed:

[code]

This only happened on one of the validators and it did not recover from the error. Of the top of my head the only explanation I have is that the node is using the wrong epoch data (e.g. randomness) and therefore fails to verify the VRF that other nodes successfully validated.

Javier tried to replicate this by r

[2022-05-25 18:55] andresilva commented on #11526
The easiest thing to do is to try and run the same test with https://github.com/paritytech/substrate/pull/11228 and https://github.com/paritytech/substrate/pull/11476 reverted to see if the issue can still be replicated.

I'm also not sure if the issue happened on a node that already had https://github.com/paritytech/substrate/pull/11476.

[2022-05-25 21:36] ggwpez commented on #11439
Other languages call it assertion-failure. Something that *can not* happen, worse than an error.
In testing code this causes a panic, but in normal runtime this returns a `DefensiveError`.

I think what @kianenigma wants is a pallet error, called `DefensiveError` which can wrap other pallet errors.
So instead of
[code]

we could then write
[code]
the advantage is obviously that more information is

[2022-05-25 23:19] pepyakin commented on #10707
As a potential heads up, LLVM is enabling some default features in clang, [see here](https://reviews.llvm.org/D125728). I assume rustc is soon to follow (if not already).

We should be ready for it since one day we might build a runtime that won't pass [our checks](https://github.com/paritytech/substrate/blob/0f3f48962a3ede7f84c0bc4119a8eac08aebd43b/client/executor/wasmtime/src/runtime.rs#L321-L32

[2022-05-26 02:26] duktig666 commented on #11509
I'm resolved.
Start adding running parameters `--rpc-method=Unsafe`
Use `system_peers` json-rpc method.

[2022-05-26 02:38] duktig666 commented on #11509
stackexchange's answer （my question）

[2022-05-26 02:43] #11509 closed

[2022-05-26 04:55] Doordashcon commented on #11439
@Szegoo you can go ahead, it seems clear enough now. TY @ggwpez

[2022-05-26 19:28] #10806 closed

[2022-05-26 19:34] shawntabrizi opened #11533 "Add `#[without_storage_layer]` tag which explicitly allows an extrinsic to not have a storage layer"
Left over from: https://github.com/paritytech/substrate/issues/10806

Now that: https://github.com/paritytech/substrate/pull/11431 is merged, all extrinsics will have a transactional layer by default.

However, there may be situations you explicitly do not want a transactional layer, for example when you know that there is no need for it, or if you may even want to abuse this behavior(?)

We need

[2022-05-26 20:03] ggwpez commented on #11397
I tested the parsing and this works fine:
[code]
are you ok with the general syntax of this @shawntabrizi ?

[2022-05-26 22:32] guzzit commented on #9345
Hi @emostov, I'd like to attempt this.

[2022-05-27 08:03] shawntabrizi commented on #11397
looks reasonable to me :)

[2022-05-28 09:55] #11475 closed

[2022-05-28 11:55] apopiak opened #11538 "Reduce Repository Size"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The Substrate repository has gotten very big, so that other crates/repos depending on it need to download lots of datas when building.
It would be great to investigate how to reduce the size s

[2022-05-28 17:50] nazar-pc commented on #11538
The root problem is actually cargo, more specifically https://github.com/rust-lang/cargo/issues/1171

Because cargo doesn't support shallow clones it downloads the whole repo instead. Shallow clone takes a few seconds, full clone takes ~15 minutes for us in CI. As mentioned in that thread the root issue libgit2 limitation and gitoxide (git implementation in Rust) is not feature rich enough to repl

[2022-05-28 21:54] TomaszWaszczyk commented on #3067
What if I got this:

[code]

[2022-05-29 11:56] #11185 closed

[2022-05-29 16:22] Szegoo commented on #11472
@kianenigma I was reading the code of the election provider, and I am not sure I understand what the term 'target' means in the code. I am pretty new to this codebase, so I hope you can help me.

[2022-05-30 05:56] koute opened #11541 "Separately version the relay chain host and the collator in telemetry"
Currently the same field is used to send the version number of both normal relay nodes and collators to the telemetry, which makes the telemetry confusing:

![t](https://user-images.githubusercontent.com/246574/170925376-5308f495-0bed-42ab-bbc4-52db81096fce.png)

For example, the `0.23.0` on that list are actually Moonbeam collators which are using the 0.9.20 Polkadot host.

This makes it hard to

[2022-05-30 07:28] koute commented on #10707
There's always the `-mcpu=mvp` flag we could use to enforce the current baseline featureset; the question is whether that'll be perpetually supported into the future, and whether it will be *well* supported?

For x86 clang still supports `-march=i386` which allows you to generate code for essentially a 37-year old CPU, so is it safe to assume the WASM MVP target won't be quickly dropped? But even

[2022-05-30 09:34] apopiak commented on #11538
Sure, the root problem is cargo. But as the root problem might take a while to get fixed it would IMO be good to investigate which mitigations can be done on the repo size.
E.g. I remember that there was talk that the substrate and polkadot repos got a bunch heavier because of the docs being in branches that are getting quite heavy.

[2022-05-30 10:32] bkchr commented on #11538
CC @TriplEight

[2022-05-30 10:53] ggwpez commented on #3067
Did you install some of the dependencies prio with specific versions?
Looks like they clash. You can try to upgrade first, as it prints. @TomaszWaszczyk

[2022-05-30 11:36] arkpar commented on #11538
`gh-pages` should be moved to another repo or at least made it so that it overwrites a single commit instead of pushing a new one each time. I've tried changing the script to do so a while ago, but could not test it on my machine. Some of the generated doc files paths only differ by case, which makes that branch impossible to work with on an case-insensitive file system, such as APFS.

[2022-05-30 11:46] andresilva commented on #3067
The latest binaries are built against libc 2.33 while your distro is still shipping with libc 2.31. Either update your distro or you need to start building the binaries yourself.

[2022-05-30 12:23] TomaszWaszczyk commented on #3067
For those who uses Debian there was a need to install dependencies (`apt install clang`) from `unstable` repositories.

Thanks!!

[2022-05-30 14:05] emostov commented on #9345
cc @kianenigma @shawntabrizi

[2022-05-30 14:42] pepyakin commented on #10707
Yes, `-mcpu=mvp` is the short-term solution here, and thanks for mentioning it. The other points are great too.

Some features like multivalue, mutable globals, signext, and co are good to use since they are natural extensions of wasm. Bulk memory extensions are trickier since, e.g., `memory.copy` does a variable amount of work. This may be a problem for things like metering of runtimes/PVFs. Feat

[2022-05-30 15:42] pepyakin commented on #10707
Sure, did not mean to say that it is insurmountable. Just that it might introduce complications for metering like as you mentioned with attributing the costs but also potentially introducing edge-cases to the metering itself which may warrant just not implementing the proposal (if the cost/benefit analysis does not look too good).

[2022-05-30 17:50] #11541 closed

[2022-05-30 19:26] ggwpez commented on #2980
I think this can be closed as we now have default transactional behaviour for extrinsics.

[2022-05-30 19:58] bkchr commented on #11503
@koute could you may look into this?

[2022-05-31 05:10] koute commented on #11503
Sure; I'm on it.

[2022-05-31 07:33] bkchr commented on #11522
And how?

[2022-05-31 08:17] koute commented on #11503
The issue doesn't seem to reproduce on a normal Kusama node (or maybe it just needs to be sync'd from scratch; I haven't checked yet), however I think I've managed to reproduce it on the newest `astar-collator` (I haven't let it run until memory exhaustion, but it looks like the memory's growing). I'm profiling it to see why it is growing.

[2022-05-31 10:09] davxy commented on #11522
My first idea was to modify `is_descendent_of` to take a closure able to manage all the edge cases the user is aware of. This allows to change the traversal method as far as the user handles the edge cases correctly (e.g. a root that is not stored in the backend).

A rough description of the idea is here: https://github.com/paritytech/substrate/pull/11476#issuecomment-1132698029

As @arkpar (https

[2022-05-31 10:25] pepyakin commented on #2980
The issue is meant to be tracking general try catch where storage transactions are a part of. Let's keep it reopened until we get there.

[2022-05-31 11:00] koute commented on #11503
@shunsukew For reference, can you provide the *exact* command line you've used to launch your node?

[2022-05-31 12:47] koute commented on #11503
So I think I see the memory usage increase, but it's nowhere near as fast as on the screenshots posted by @shunsukew. I'll leave it running overnight, however it'd be nice if there was a way I could reproduce it to behave as in the original issue as that would make it a lot easier to investigate.

In the meantime I've also noticed that the Astar node uses the system allocator and doesn't use jemal

[2022-05-31 14:42] gavofyork opened #11549 "`Member` and `Parameter` should require `MaxEncodedLen`"
And basically anything else which may eventually need to be placed in a PoV block.

[2022-05-31 16:28] ggwpez opened #11553 "Automatically download the state for `benchmark storage`"
The `benchmark storage` command currently assumes to find a chain snapshot.
This is impractical especially for CI jobs since it would mean that a snapshot needs to be downloaded manually every time.

Something like `--state-from-endpoint` could be used to download the state from an RPC endpoint.
The `try-runtim` CLI has code for downloading a state which can probably be re-used.

[2022-05-31 18:29] #11510 closed

[2022-05-31 21:04] nazar-pc opened #11561 "Fork ID does almost nothing"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

There is a `fork_id` field in the chain spec with the following description:
https://github.com/paritytech/substrate/blob/4544e6d2ce398cadc03b56863f57c1ed6f53d046/client/chain-spec/src/chain_s

[2022-05-31 21:15] bkchr commented on #11561
This will be fixed by this issue: https://github.com/paritytech/substrate/issues/7746

[2022-05-31 21:15] #11561 closed

[2022-06-01 08:07] tifecool commented on #11477
Just finding out revision #11124 from yesterday adds SignedRounding. Is this issue now closed @gavofyork ?

[2022-06-01 08:44] bLd75 commented on #11503
Hi @koute thank you very much for the PR!

Below are tests made on a **collator node** with this simple command (before and after change made ~19:15):
`/usr/local/bin/astar-collator --collator --rpc-cors all --name collator --base-path /var/lib/astar --state-cache-size 0 --prometheus-external --pool-limit 65536 --port 30333 --chain astar --parachain-id 2006 --telemetry-url 'wss://telemetry.polkado

[2022-06-01 09:41] gavofyork opened #11565 "Scheduler pallet bloats `Agenda` too easily when there's lots of insertions/removals"
Right now, deleting a previously scheduled item results in a `None` "hole" in its `Agenda` for that block, which is not used since Scheduler just appends on `Agenda` when adding a new item. If items are continuously inserted and deleted then this can bloat storage and become a problem.

Instead, `None` items in the `Agenda` should be inserted into or the entire mechanism replaced with `remove` or

[2022-06-01 10:05] gavofyork commented on #10465
[code]

Basically if you supply an `input` of entropy, then for any type which implements this trait you'll be able to get an arbitrary but valid value.

This is different to just using `Decode::decode` since not that many types can be validly decoded from a random stream of bytes. E.g. for 254 of 256 possible byte values `bool` would fail to decode. So our impl for `FromEntropy` for `bool` is:

[

[2022-06-01 10:28] shunsukew commented on #11503
@koute @bLd75
Thank you for the investigation and PR, and additional information!

[2022-06-01 11:22] ggwpez opened #11568 "Add Hardware info the weight template"
Some info like machine name should be added to the weight templates in case we update the hardware to not get messed up.
Maybe also some info from `sc-sysinfo`.

[2022-06-01 14:27] zqhxuyuan opened #11571 "Can we make `Era` field in `CheckMortality` public?"
We have a [case](https://github.com/AcalaNetwork/Acala/pull/2177) that need use `Era` inside `CheckMortality` to do some [verification](https://github.com/AcalaNetwork/Acala/blob/61c3877faa672210c1528c1bea5f811c7ce6afa2/runtime/mandala/src/lib.rs#L1822-L1869):

It would be helpful if `Era` is public:  https://github.com/paritytech/substrate/blob/1b3ddae9dec6e7653b5d6ef0179df1af831f46f0/frame/syste

[2022-06-01 18:31] nazar-pc commented on #11513
Actually, while ParityDB seems to use less RAM generally, I still saw strange behaviors depending on how nodes are connected.

I saw than on the same kind of machine one node used ~1.8G/16G of RAM and another ~8.9G/16G. Syncing the same chain at the same time being connected together on a small network.

Will do more research, but I think this is distinct from #11503.

[2022-06-02 07:48] bkchr commented on #11513
Did you tried running with `--database-cache-size 0`?

[2022-06-02 09:03] tdimitrov opened #11577 "Staging Runtime API implementation"
This is a follow up from https://github.com/paritytech/substrate/discussions/11338, https://github.com/paritytech/polkadot/pull/5048 and some offline discussions.

# What we need
I write this from the point of view of a substrate user in polkadot. This problem might not be relevant for other projects.

At the moment we use the primitives provided by substrate to build versioned runtime API. We hav

[2022-06-02 09:53] bkchr commented on #11577
What is the stable staging api? The one that is "actually" stable but not yet enabled by the runtime?

In general I find this a good idea, what I did not yet understood. How many "different" versions do you need? Currently we have one version for a runtime api. I think we should keep this "main version" for when we need to iterate on the stable api, aka stuff that doesn't need interventions by the

[2022-06-02 10:05] koute opened #11579 "High CPU usage calling `Backend::usage_info`"
So I'm investigating this issue https://github.com/paritytech/substrate/issues/11503 and as part of the investigation had to sync a parachain node. I've noticed that after syncing a few hundred thousand blocks it got really slow, between 0~2 blocks per second. So I've fired up the profiler and I saw that the `usage_info` call (more specifically, the `malloc_size` called from `StateDb::memory_info`

[2022-06-02 11:14] tdimitrov commented on #11577
Sorry about that. It was a typo. It should read as STABLE API.

Probably my typo lead to this question, but let's clear this. We need two versions of the runtime - a stable and a staging one. Both APIs can 'grow' linearly. I don't expect to have forks. I think this is similar to the current situation. We've got a stable api v2. At some point it will become v3. The staging one will be the same but

[2022-06-02 13:20] koute commented on #11579
This fixes the excessive CPU usage:

[code]

(But isn't really a proper fix since it just ignores those fields.)

With this the `malloc_size` completely disappears from the profile and the bps increases from ~0.5bps to ~2.5bps, so still painfully slow, but at least a little faster.

[2022-06-02 13:30] bkchr commented on #11579
We should probably remove `info` from `usage_info()`. From a first glance, `usage_info().usage` is only used in one place in the entire code base, in the `informant`. And even there we didn't need to call it most of the times, because the trace log is not enabled.

Nice find :)

[2022-06-02 17:13] rphmeier commented on #11577
The most basic requirements of this feature at the Substrate level:
  * The `decl_runtime_apis` should allow us to declare multiple versions of the runtime API trait.
  * The `impl_runtime_apis` should allow us to choose which version of the runtime API trait to use.

In Polkadot, we will then create a special "vstaging" version of the runtime API which will eventually become v3. We'll upgrade thr

[2022-06-02 18:02] nazar-pc commented on #11513
No and it will only affect RocksDB, I think there must be something DB-independent, I'll share more info once I have it.

[2022-06-02 20:50] rphmeier commented on #11577
This suits our needs for the moment just fine.

[2022-06-02 21:03] rphmeier commented on #11577
However, shortly after that we will want the ability to choose the runtime API version we implement in a runtime beyond just `staging`. Otherwise, we will have to implement `#[staging]` on Kusama which feels wrong, as it is production.

[2022-06-02 21:13] bkchr commented on #11577
[code]

[code]

So something like this?

[2022-06-02 21:16] bkchr commented on #11513
`--database-cache-size` is only used by RocksDB, but okay that it didn't helped.

[2022-06-02 21:18] rphmeier commented on #11577
Yes, that'd definitely work. We don't need the 'staging' nomenclature in Substrate itself because we can make that distinction at a higher level.

[2022-06-02 21:19] rphmeier commented on #11577
btw I think @tdimitrov is happy to help as long as he has some guidance on the required code changes. @tdimitrov have you worked on proc-macros before?

[2022-06-03 05:28] bkchr commented on #11577
And I'm happy if I don't need to do it :D I can help as needed with instructions :)

[2022-06-03 07:13] tdimitrov commented on #11577
Yes I will help with the implementation. I've got basic knowledge about proc-macros but I'll ramp up. The task doesn't seem too complicated (I hope) :)

One question:

What about the case when another staging function is added to the staging API? We will want to differentiate between the two versions, won't we?

[2022-06-03 07:22] bkchr commented on #11577
The latest "iteration" didn't included this staging notion anymore. So, you can just ignore it. We want to go the way with the manual versioning as highlighted in my second last post above.

[2022-06-03 16:43] jak-pan commented on #10478
Is there any progress on this?

It looks like this will greatly enhance UX for everybody including developers and users. I'm currently working on implementation for HydraDX and Basilsik and we would love to see more widespread use of Parity signer so users can seamlessly use it between the parachains.

[2022-06-03 20:43] #11397 closed

[2022-06-04 14:01] Szegoo commented on #11533
I would like to work on this.

[2022-06-04 21:23] ggwpez commented on #11568
done in https://github.com/paritytech/substrate/pull/11583

[2022-06-04 21:23] #11568 closed

[2022-06-05 07:37] shawntabrizi commented on #11533
@Szegoo yup all yours! Presumably you are familiar with writing Rust macros?

Let me know if you need any help with finding the appropriate parts of code.

[2022-06-05 07:38] Szegoo commented on #11533
@shawntabrizi Yes, I am familiar with writing rust macros, I will let you know if I need any help 😀.

[2022-06-05 10:33] ggwpez commented on #11565
I will tackle this in https://github.com/paritytech/substrate/pull/11589 together with bound storage

[2022-06-05 10:59] shawntabrizi opened #11595 "Add `TransactionPayment` event to Pallet Tranascation Payment"
There have been many issues from various people, all asking how to get the transaction fee of a Substrate transaction.

Currently, the only events that are emitted are those from the Balances pallet, which are not specific enough to determine the actual transaction fee in all cases.

We should add a simple event to the Transaction Payment Pallet which emits exactly the final transaction fee, tip,

[2022-06-05 12:08] MrishoLukamba commented on #1252
So Should we use stable toolchain for compilation or still nightly?

[2022-06-05 14:18] rphmeier commented on #11577
Yep, that'll be for later.

For reference, we will make modifications for something like https://github.com/paritytech/substrate/issues/11577#issuecomment-1145347025 and then make the 'staging' distinction only at the higher level with Polkadot for the moment.

[2022-06-05 18:00] Szegoo commented on #11533
@shawntabrizi I have added a mode tag, that shows whether an extrinsic is gonna have a storage layer. So AFAIU I need now to write code that checks whether transactional is being used in the ```with_transaction``` and ```with_transaction_unchecked``` functions. Is this correct? If this is correct, what should I return when transactional is not being used?

[2022-06-06 13:35] shawntabrizi commented on #11595
@hzy1919 great!

[2022-06-06 13:38] #11571 closed

[2022-06-06 14:33] shawntabrizi commented on #11595
@Doordashcon I think someone else is already doing it, so lets wait until then.

[2022-06-06 15:28] NZT48 opened #11604 "Memory leak after node finishes syncing with relay chain"
### Is there an existing issue?

- [X] I have searched the existing issues
This can be potentially related issues, because they are recent and have memory issues, but this is not the same, no transactions were executed and memory leaking starts after syncing is finished:
- #11513
- #11503

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

#