[2022-08-16 07:10] kianenigma commented on #6920
https://github.com/paritytech/substrate/issues/11672#issuecomment-1216235876 Is a good related comment -- I think this is a good way to implement this.

[2022-08-16 07:29] kianenigma commented on #8701
This is still a nice addition, but very low quality, as doing a feasibility check before submitting offchain is not a big deal.

[2022-08-16 07:33] kianenigma commented on #9057
This, overall, is a call to add a `staking-election-provider` test crate. A test crate that tests the interactions of staking and `pallet-election-provider-multi-phase` in a realistic way. We can then test scenarios such as:

1. successful signed submission, unsigned submissions should not happen.
2. failed signed submission, unsigned submissions should help us recover.
3. both phases fail, emerge

[2022-08-16 07:33] kianenigma commented on #8488
Too stale, not related anymore.

[2022-08-16 07:33] #8488 closed

[2022-08-16 08:08] bkchr commented on #12038
This was fixed by: https://github.com/paritytech/substrate/pull/11979

[2022-08-16 08:08] #12038 closed

[2022-08-16 08:36] kianenigma commented on #7153
This has already been fixed.

https://github.com/paritytech/substrate/blob/34a0621761c4a333cb2074ff720f7acbfb92dbb8/frame/elections-phragmen/src/lib.rs#L359-L360

[2022-08-16 08:36] #7153 closed

[2022-08-16 08:38] kianenigma commented on #10976
A bit too opaque, closing to open something more tangible when needed.

[2022-08-16 08:38] #10976 closed

[2022-08-16 11:17] kianenigma opened #12039 "Bound `RewardPoints`in pallet-staking"
... and add a log every time a validators is rewarded.

This is a very low hanging fruit in the direction of bounding the staking pallet i.e. https://github.com/paritytech/substrate/issues/8629

[2022-08-16 11:23] kianenigma opened #12040 "Don't re-export `sp-arithmetic` from `sp-runtime`"
Currently, we are re-exporting this crate from sp-runtime. This makes it be a part of a lot of other crates, since sp-runtime is itself a wildly used crate. Consequently, this has prevented us from adding other 3rd party dependencies to sp-arithmetic, since it would naturally leak into the wider sp-runtime as well (https://github.com/encointer/substrate-fixed).

because of this, and the spirit of

[2022-08-16 11:25] kianenigma opened #12041 "Move pallet-staking to use the standard `#[pallet::storage_version]`"
and remove the damn `enum Release`.

Needs a small migration.

[2022-08-16 11:27] kianenigma opened #12042 "Name the score of the election in `ElectionFinalized` event"
.. a precursor to #11965.

[2022-08-16 13:08] kianenigma opened #12044 "remote-externalities: parallelize value download"
The way this tool works now is that we first download all of they keys, in a paginated way. Then, we start requesting the values of the corresponding keys in batches. My guess is that this process can still be optimized by parallelizing the requests.

[2022-08-16 14:39] ggwpez opened #12046 "Separate DB weights for `top` and `child` keys"
https://github.com/paritytech/substrate/pull/12021 allows to also benchmark child storage keys.
We can now then think about how to generate custom weights for both and combine them, instead of directly combining them.
One use-case is that some chains may have much more child than top keys or vice-versa.

There are multiple approaches:
- Extend `RuntimeDbWeight` struct
- Modify the template to cont

[2022-08-16 14:41] kianenigma opened #12047 "`OnPostDispatch` hook"
This came up during a FRAME call. Imagine:

[code]

Combined with transactional by default, we can then greatly simplify the balances pallet and do a existential deposit check after every transaction.

One question would be why and how would you use this if your pallet is not transactional? should it even be allowed?

[2022-08-16 16:03] shawntabrizi commented on #12047
FRAME cannot support both transactional and non transactional. We have to be entirely one or the other. In this case, we have chosen to make EVERYTHING transactional, and thus this kind of thing should now be allowable. (whereas it wasn't before)

We should not consider the case where things are not transactional, since this is just simply not supported.

[2022-08-16 18:39] bkchr commented on #12047
Hmmm. Can someone give a concrete example on what this should be used for?

These `Hooks` are also currently implemented for the `Pallet ` and not the `Call`. So, the pseudo code wouldn't really work :P We could pass the `Call` there as an argument. Or we support some kind of `post_dispatch` attribute. However, I'm still wondering what would be the purpose, as you can do these post dispatch checks

[2022-08-16 20:18] kianenigma commented on #12047
The pseudo code is there to demonstrate a dispatch is valid of _both its dispatch and post_dispatch_ are 'Ok', thus 'x.and(y)'.

[2022-08-17 07:27] dvdplm commented on #12017
@ordian Maybe this can be helpful in view of the disputes slashing roll-out as well?

[2022-08-17 07:46] bkchr commented on #12047
By check everywhere you mean at each possible return of your dispatchable?

[2022-08-17 08:07] bkchr commented on #12017
We already got the host performance check in Polkadot for this: https://github.com/paritytech/polkadot/blob/master/cli/src/host_perf_check.rs

[2022-08-17 08:55] bkchr commented on #12046
Why would you need to separate them? Is the db weight calculated based on the maximum depth of the main trie?

[2022-08-17 09:09] ggwpez commented on #12046
This would only help in case that the developer knows that child keys will be read with higher or lower probability than top keys.
The dev could then set `--child-key-weight-ratio` to 80% or whatever, to indicate that a random read/write has a 80% chance of being a child key.

So it's not strictly needed but more of an optimization for power users.

[2022-08-17 09:12] ggwpez commented on #12017
Do you mean that we should not add it to Polkadot then, but still to Substrate? Or not at all?
I keep seeing people in the Kusama 1KV channel actually using the `benchmark machine` command, so they seem to like it.

[2022-08-17 09:27] mustermeiszer opened #12053 "Carry over where clauses specified in `Config` trait to other trait impls"
I experience an issue, where I have a complex trait bound on my pallets `trait Config`. But not all automatical implementations for `Pallet<T>` do take over those bounds.

### Example
[code]

As far as I could see in the expansion the following impls do not take over the trait bounds
* frame_support::traits::Hooks
* frame_support::traits::OnFinalize
* frame_support::traits::OnIdle
* frame_support:

[2022-08-17 09:55] KiChjang commented on #12053
This might not be a good idea after all.

In vanilla Rust, one would not expect to have the where clause on one trait to be carried over onto another trait bound -- it is expected that you rewrite the bound, because it is entirely possible for the other trait to be implemented under different conditions.

Having such a replication of the where clause brings in more weirdness than it is worth IMHO,

[2022-08-17 10:48] bkchr commented on #12046
Yeah I got this. I just don't know how this influences the weight calculation.

[2022-08-17 10:51] bkchr commented on #12053
@mustermeiszer did you tried to add the where bound to the `Hooks` implementation? Doesn't this work?

I mean I would also expect the same for vanilla Rust. I still think that this is a bug/short coming of the current rustc implementation and that chalk will fix it. The point here being that you can only implement the trait when all the given bounds are matching. No need to carry it around all the

[2022-08-17 11:00] bkchr commented on #12017
We can add it to Substrate, if it is done in a generic way. Aka chain implementors like Polkadot provide their own expected numbers that are treated as "good".

My comment was more an answer to @dvdplm.

But if we have your stuff, we can deprecate the host perf check.

[2022-08-17 11:09] hzy1919 commented on #12042
Hi @kianenigma , I am attempting this issue.

[2022-08-17 11:21] NingLin-P commented on #11810
Just found that little change can fix this issue, namely changing slash ratio to remaining ratio, PTAL #12058

[2022-08-17 11:46] ggwpez commented on #12046
It does not influence the formula with which it is calculated, but how granular the output is.
Currently we throw all collected time samples into one bucket and then average.
The new version would have one `top`-, and one `child`-bucket to collect the results.
The developer could then compose the results from these two weights into a final weight.
I am not sure how this would best be exposed to th

[2022-08-17 12:43] acatangiu commented on #11984
Fixed by redeploying RPC nodes using correct snapshot.

MMR Proof generation RPC on Rococo:

[code]

[2022-08-17 12:43] #11984 closed

[2022-08-17 13:12] mustermeiszer commented on #12053
@bkchr I removed it from the trait and just use the bounds on the `impls`. This works. I was just not sure, how the compiler ensures, I am wireing the types with the right bounds at the runtime level. I guess it will, but wanted to have it on the trait level to be sure.

Anyways, it works like this. I will check if the runtime adheres to the bounds. If you have any insight on this, happy hear alre

[2022-08-17 16:24] ggwpez commented on #12044
You can also play with the `PAGE` and `BATCH_SIZE` parameters to see if there is a sweet-spot.

[2022-08-17 17:26] kianenigma opened #12060 "Nomination pools: allow for re-stake"
Similar to staking `rebond`, in case you change your mind.

[2022-08-17 17:28] kianenigma opened #12061 "Nomination pools: Allow funds to be used for democracy"
This should be possible fairly easily as long as we use `Split` voting stuff:

https://github.com/paritytech/substrate/blob/6ab64863c6e653da5cc468257650a970dbc8e9a1/frame/democracy/src/vote.rs#L70-L76

When moving pools to a new parachain, we should re-think this to allow conviction as well.

[2022-08-17 17:46] athei opened #12062 "Solidity on pallet-contracts"
# The Vision

In order to onboard Solidity developers to `pallet-contracts` we use the [solang](https://github.com/hyperledger-labs/solang) compiler. This software compiles Solidity contracts to WebAssembly. It doesn't only support `pallet-contracts` but also Solana. However, in recent times the `pallet-contracts` backend has fallen behind and it is no longer compatible.

We want to change that an

[2022-08-17 17:57] kianenigma commented on #6927
If and when we break down staking into smaller pallets (private writeup about it: https://forum.parity.io/c/frame/staking/51), this will be much simpler to approach.

[2022-08-18 07:15] athei commented on #10144
Delayed to next month because it needs to be merged into `polkadot` and that takes more work than just an MVP: Docs, Tests, Review cycle.

[2022-08-18 07:19] athei opened #12063 "Allow off-chain indetermisim"
# The Vision

Some users want to use contracts for number crunching (floats are banned cause of in-determinism) in off-chain situations. In these cases determinism is not required because the results are not subject to consensus.

In this case the requirement comes from the phala team who runs the contract in a secure enclave (off-chain) and wants allow users to to computation there.

# The Plan

[2022-08-18 07:31] athei commented on #11367
Replaced by https://github.com/paritytech/substrate/issues/12063

[2022-08-18 07:31] #11367 closed

[2022-08-18 07:40] mustermeiszer commented on #12053
@KiChjang and @bkchr, I think it would be nice to carry this over. The `trait Config` only exists in this version and can not exist without adhering to the given traitbounds. Its rather a shortcoming of syntax and compiler than anything else. And although it works to only restrict the impls, it would be better IMO to see the bounds on a pallets config directly in the `trait Config` rather than in

[2022-08-18 07:45] bkchr commented on #12053
Hmm. I mean I get your frustration. But the current FRAME macros also try to be as close as possible to normal rust. However, we could maybe support that if you don't provide these bounds manually that we add them for you.

[2022-08-18 07:52] athei opened #12064 "Make automatic storage deposits resistant against changing deposit prices"
# The Vision

Currently, [automatic storage deposits](https://github.com/paritytech/substrate/pull/10082) do not gracefully handle when the runtime changes the price per byte or per storage item: We just refund `bytes_removed * current_price`. One can easily see that for rising prices that can lead to the contract running dry of deposits (removing the incentive to cleanup)  or on falling prices ac

[2022-08-18 07:57] mustermeiszer commented on #12053
No, can totally understand this. It's just a bit ugly this way, as I need an empty hooks impl and append it everywhere.

Will close this then. It's rather an edge case anyways ^^

[2022-08-18 08:01] KiChjang commented on #12053
Actually, now that I think about it, you're right, because we've already trait bounded the `Config` trait, and so any time we try to access the `GetItem` associated item, we should expect its `ItemA` associated type to be trait bounded by `SomeOtherTraitB<ItemB = 32>`, because otherwise you would not have been able to implement the `Config` trait on the concrete type.

It does now sound like it's

[2022-08-18 09:30] #6042 closed

[2022-08-18 09:56] memorycancel commented on #11999
@bkchr Thanks for comment, actually I am not confused with the description of the parameter but the name `spec_name` according to `spec_version`, anyway this maybe a little nitpicky, just a parameter name.

[2022-08-18 13:19] shawntabrizi commented on #7100
i think we have appropriate automation for max block weight now, and this issue reads weird in hindsight

[2022-08-18 13:19] #7100 closed

[2022-08-18 13:20] shawntabrizi commented on #11421
should be completed

[2022-08-18 13:20] #11421 closed

[2022-08-18 15:42] ggwpez commented on #11626
I am doing a requirement assessment for this pallet. The current ones are:
- Per extrinsic banning
- Governance permissioned
- Callbacks on state-changes

Is this all that you need? Or do you long for something else (call to all Parachain teams)?

Some more features could be:
- Preset filters to have a one-fits-all solution to only allows the most crucial calls.
- Permissionless enacting of the sa

[2022-08-18 18:59] #9320 closed

[2022-08-18 18:59] #9769 closed

[2022-08-18 18:59] #9770 closed

[2022-08-18 18:59] #9697 closed

[2022-08-18 21:47] bkchr opened #12067 "Rewrite `Externalities` to take `&mut self` everywhere"
The `Externalities` trait should be rewritten to take `&mut self` everywhere. After that we should be able to change `as_trie_db_cache`/`as_trie_db_mut_cache` to take a `&mut self`. Then we should be able to remove the `Mutexes`.

_Originally posted by @arkpar in https://github.com/paritytech/substrate/pull/11407#discussion_r947981417_

[2022-08-19 02:36] Gauthamastro commented on #11626
I believe if we enforce an unavoidable delay to high-value transactions, we can prevent attackers from moving funds out of the parachain or swapping in AMMs.

For example, most of the attacks involve an attacker moving funds from one place to another, whether it be for swapping it or moving it out of the ecosystem. If the delay mechanism is implemented, such transactions are delayed by a certain n

[2022-08-19 09:49] kianenigma commented on #11671
We tried this with @Szegoo in the linked PR and it proved to complicate the code quite a lot. Not something that we want to do for now. If we want to re-visit, this is the best we've got so far: https://github.com/paritytech/substrate/pull/11767#issuecomment-1216302362

[2022-08-19 09:59] kianenigma commented on #12047
Yes.

[2022-08-19 10:28] ggwpez commented on #12047
I think this would be more useful on a per-extrinsic level, similar to how we have the `verify` block in benchmarks.
Some kind of post-conditions check is in general a good idea IMHO. Especially for testing because we can stuff it with `debug_asserts`.

[2022-08-19 10:35] ggwpez commented on #11626
Prevention of moving out large amounts of tokens is a really specific need. Thanks for raising it.
I think this is a good future idea, but does not really fit the scope of this pallet. This pallet should work for any kind of on-chain emergency situation, not just moving out funds.
This would need to be addressed in the Balances/Assets/Uniques pallets.

With the `SafeMode` pallet governance could s

[2022-08-19 10:47] shawntabrizi commented on #11626
This sounds like a bad idea, since now you open up huge transactions to front-running.

A design like this can be done, for example, a bridge could only allow X tokens to be transferred from it per time period, but these artificial "always on" barriers do not seem like the right approach.

Instead, a "stop switch" as proposed in the main issue and [here](https://github.com/paritytech/substrate/iss

[2022-08-19 10:55] Gauthamastro commented on #11626
In my opinion, the majority of the attacks in the blockchain ecosystem are motivated by the monetary value an attacker gains, so having an automatic system to delay such kinds of attack vectors would be more beneficial rather than a pallet to ban or pause certain extrinsic.

@shawntabrizi I agree there is a front-running attack vector to delay mechanism if implemented for swaps but I don't think t

[2022-08-19 11:08] bkchr commented on #12047
For per-extrinsic level we already have `SignedExtension` that have a `post_dispatch`.

[2022-08-19 11:40] gavofyork opened #12070 "Remove all bespoke implementations of preimage-lookup"
Avoid all unbounded preimage lookups since they are at risk from PoV-bloat-attack. Instead use Preimages pallet and, if dealing with `Call`s, `BoundedCall`.

- Multisig pallet's `Calls`
- Others?

[2022-08-19 11:50] jsdw opened #12071 "Implement new RPC API spec"
# The Vision

The goal here is to implement Pierre's new RPC API.

The spec is documented here:

https://paritytech.github.io/json-rpc-interface-spec/introduction.html

The repository for said spec:

https://github.com/paritytech/json-rpc-interface-spec/

# The Plan

- [x] Implement and merge the `chainSpec_*` methods. `properties` and `genesisHash` are two easy starting points.
   - This will als

[2022-08-19 12:07] tomaka commented on #7746
One last thing to do is change the Kademlia protocol name: https://github.com/paritytech/substrate/blob/c76c40ac94c1e66c38af6fcf2dba18e401b125b9/client/network/src/discovery.rs#L202

Unfortunately, this is maybe more complicated, because libp2p doesn't allow setting backwards compatible names for this protocol.

[2022-08-19 13:10] gdethier opened #12073 "Custom substrate node does not start in a VM without `--wasm-execution interpreted-i-know-what-i-do`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After an upgrade of the dependencies of our [node implementation](https://github.com/logion-network/logion-node) from substrate `polkadot-v0.9.25` to `polkadot-v0.9.26`, our nodes do not start

[2022-08-19 17:00] pepyakin commented on #12073
Good to know that it can be reproduced this way, thanks!

The issue you linked was about our code stripping the wasmtime error details. If you used a fresh enough version of Substrate with that fix, you should be able to see more information. I would be interested to see what wasmtime returns for this error. Is it there, and is there any chance you can post it here?

[2022-08-19 17:10] bkchr commented on #12073
For the record, the problem with qemu should be "solved": https://github.com/paritytech/substrate/pull/11722

[2022-08-19 17:15] pepyakin commented on #12073
Hmm, I am a bit confused: how would it fix the problem at hand?

From what I see, this problem is about wasmtime bailing early because it finds the cpuid is not compatible with wasmtime's requirements somehow.

The problem in #11722 is a problem that only shows up at runtime and leads to unexpected results.

[2022-08-19 17:20] bkchr commented on #12073
Yeah good point! I should have thought more than 5 seconds about this :P So, we can just ignore what I said.

Back to this. Weird that it fails with Qemu. I'm using Qemu also on my laptop and it works.

[2022-08-19 17:45] pepyakin commented on #12073
Yeah, `qemu-x86_64 version 6.1.0` running wasmtime **configured with defaults** would report

[code]

However, Substrate does not use SIMD, and disabling it via wasmtime's config makes it run just fine under qemu.

I cannot run Substrate itself, though, because of a SIGILL coming from qemu itself.

[2022-08-20 10:29] tifecool commented on #12040
Could I get some insight on what would need to be done if I take up this issue? I don't mind it taking time, could work on it for a stretch of time.

[2022-08-20 10:31] kianenigma opened #12077 "nomination-pools: clear pool metadata after a pool is deleted."
In `fn dissolve_pool`, the corresponding pool metadata has to be removed as well.

Currently, we forget to do this.

Also requires a small migration: iterate over all metadatas, if one does not have a corresponding bonded_pool, delete it. The migration could also be executed manually with providing the right `system::kill_storage`.

[2022-08-20 19:43] bkchr commented on #7746
@dmitry-markin could you check with upstream if adding support for backwards compatible names would be accepted? If yes, could you please do this.

[2022-08-20 19:51] bkchr commented on #11999
Sorry, but I don't understand what you mean ?

[2022-08-21 10:44] kianenigma commented on #8373
similar to #12027

[2022-08-21 10:46] kianenigma commented on #9584
Will be closed by https://github.com/paritytech/substrate/pull/10918

[2022-08-21 11:48] kianenigma commented on #12027
duplicate of https://github.com/paritytech/substrate/issues/8373

[2022-08-21 11:48] #12027 closed

[2022-08-21 11:52] nazar-pc commented on #8373
Maybe per-pallet versioning that could handle upgrade version upgrades from `None` to `Some(0)`. This both covers initialization and other cases that don't necessarily need runtime-wide upgrade. Though there is a concern of such upgrade taking too much weight when combined with other upgrades.

[2022-08-21 22:12] bellaj commented on #6727
Sr25519 instead Ed25519 for generating gp keys you will get this error

[2022-08-22 00:52] #11999 closed

[2022-08-22 01:22] memorycancel commented on #11999
I think this is Naming Habits issue, closing.

[2022-08-22 09:41] ggwpez opened #12080 "benchmarking: Handle pallet instances"
Currently the benchmarking does not like instances. This definition in the runtime:
[code]
results in the pallet being listed **twice** when listed with `--list`.

The cleanest solution IMO would be to additionally add an `--instance` arg. Such that this could be specified with:
`--pallet pallet-referenda --instance FellowshipReferenda …`.

This could possibly break existing tooling like the bench

[2022-08-22 11:00] gdethier commented on #12073
@pepyakin I guess that if I upgrade dependencies to `polkadot-v0.9.27`, I'll get the fix about wasmtime error reporting? I'll do that and post the logs by tomorrow.

[2022-08-22 11:11] bkchr commented on #12080
Why is `--list` returning the pallet name and not the name of the pallet instance in construct runtime? You are already passing both there any way, why not just choose the pallet instance name?

[2022-08-22 11:58] bkchr commented on #8686
@nazar-pc what is your future plans here? Do you still want to continue pursuing this issue or can I assign it to someone else?

[2022-08-22 12:01] ggwpez opened #12081 "CI: script for storage weight update"
The current procedure for updating the storage weights, as hinted in the [README](https://github.com/paritytech/substrate/blob/master/utils/frame/benchmarking-cli/src/storage/README.md), is to use Polkachu to download a snapshot.
That needs manual intervention and takes multiple hours, depending on connection speed.
I realized that it is much easier and faster (2-7 min) to just use warp-sync inste

[2022-08-22 12:03] ggwpez commented on #12080
Not quite sure, its legacy code after all :laughing:
I think it makes for easier scripting if the printed name correlates to the folder name, but that is a *very* weak argument.
Ideally the benchmarking CLI would be able to create multiple weight files itself so that we can get rid of the ugly shell scripts.

[2022-08-22 12:41] bkchr commented on #12081
`system_health`

[2022-08-22 12:44] bkchr commented on #8686
Okay :) Yeah, sync is still really deeply backed into `sc-network` and this assumptions needs to be removed. In the end sync should be its own protocol that just sits on top of `sc-network` like Polkadot networking for example.

[2022-08-22 12:45] Doordashcon commented on #12039
@kianenigma attempting this as well

[2022-08-22 13:06] #11344 closed

[2022-08-22 13:08] athei commented on #11444
No longer blocked.

[2022-08-22 17:23] MrishoLukamba commented on #12040
working on it

[2022-08-22 19:53] jasl opened #12086 "Parent hash mismatch"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Here is Phala Network team, we got several reports that `nextBlock.parentHash != block.hash`

### Steps to reproduce

Here is a Khala parachain node `wss://node-bugged.phala.network/ws`

<http

[2022-08-22 20:18] bkchr commented on #12086
So did this happen only to one user or is this reproducible? If yes, how?
What database are you using?

[2022-08-22 20:22] jasl commented on #12086
We hard-coded to use RocksDB

I've got serveral reports, but I only got a sample, It occured total randomly, the user said he tried remove db and resync again, then got 2 broken blocks.

[2022-08-22 20:26] jasl commented on #12086
This sample I only found #58602 isn't right

[2022-08-22 20:27] jasl commented on #12086
We found this issue because our offchain service requires scan blocks one by one to build state, this issue made it stuck on the broken block

[2022-08-22 20:32] jasl commented on #12086
The user said: "i have to check my nodes, but it looks other blocks, i have several nodes all diff broken blocks"

[2022-08-22 20:37] bellaj commented on #1335
A synchronization issue would cause such an error

check in both peers the sync time using `timedatectl` If there is a time lag between them
run
`systemctl status systemd-timesyncd.service
`
if the service is disabled enable it

`systemctl start systemd-timesyncd.service
`

[2022-08-22 21:08] bkchr commented on #12086
So, you could not reproduce this by resyncing?

[2022-08-22 21:14] jasl commented on #12086
I haven't tried resyncing, I'll try

I'm thinking this shouldn't happen, does Substrate has guard to validate blocks continuely?

[2022-08-22 21:40] PHA-SYSOPS commented on #12086
I have tried 2x resyncing and now running my 3rd attempt. Previous two attempts both yielded a diff broken blocks. In the past i noticed some block crashes which caused many nodes to be stuck, requiring a restart of the node to continue syncing. Sadly i dont think we ever logged those blocks, but i wonder if these might be related.

On existing nodes i found broken blocks, but no overlapping block

[2022-08-22 21:46] jasl commented on #12086
PRB and rest of other Phala components are rely on the node data, and you can see your node data isn't correct (the reason is unknown)

[2022-08-22 21:55] bkchr commented on #12086
The node you linked above has two blocks at this broken height. I think the problem is just that there is a broken mapping between block number and hash. I will need to dig a little bit in the code to find out how this can happen.

[2022-08-23 05:59] FazeelUsmani commented on #7150
Thanks a lot! @a-nickol it's working for me now.

[2022-08-23 06:14] athei opened #12088 "Create an RFC with the Bytecode Alliance to add `no_std` support"
# The Vision
The [Bytecode Alliance project](https://github.com/bytecodealliance) houses a multitude of useful WebAssembly related software projects written in Rust. The most prominent of them is probably [wasmtime](https://github.com/bytecodealliance/wasmtime) which we use to execute our runtime.

Wasmtime itself is not an obvious candidate for `no_std` support because it needs to execute native

[2022-08-23 08:12] gdethier commented on #12073
@pepyakin After upgrade to `polkadot-v0.9.27`, here are the startup logs of the node. I guess the steps to reproduce I provided are actually incomplete as the problem is linked to the hypervisor's hardware/configuration rather than qemu itself.

**without --wasm-execution interpreted-i-know-what-i-do**
[code]

**with --wasm-execution interpreted-i-know-what-i-do**
[code]

[2022-08-23 08:33] bkchr commented on #12073
Looks like it could be fixed by this: https://github.com/bytecodealliance/wasmtime/pull/4231?

[2022-08-23 08:35] gdethier commented on #12073
Someone pointed me to this issue: https://github.com/AstarNetwork/Astar/issues/727

Long story short, the reporter has the same error message (`compilation setting \"has_sse41\" is enabled, but not available on the host`) after an upgrade of node executed in a Proxmox VM. The problem was fixed by changing the CPU type of the VM (i.e. enable sse4.1 instruction set).

In our case however, we do not

[2022-08-23 08:36] bkchr commented on #12073
@gdethier when I give you a Substrate branch, can you try this?

[2022-08-23 08:37] gdethier commented on #12073
Sure!

[2022-08-23 08:42] bkchr commented on #12073
`bkchr-upgrade-wasmtime-0.40`

[2022-08-23 08:56] bkchr commented on #12073
Please report back @gdethier when you have tested it!

[2022-08-23 09:27] ggwpez commented on #12086
Do you think it would be worth to implement some kind of `db integrity-check` command which traverses through the DB and checks this?
It could serve as a platform for more custom checks as well.

[2022-08-23 09:33] bkchr commented on #12086
No. I mean there seems to be some bug. This should not happen.

[2022-08-23 09:40] ggwpez commented on #12086
Yes but how do you test that the DB is consistent after your fix?
Anyway, maybe it a dumb idea.

[2022-08-23 09:48] PHA-SYSOPS commented on #12086
There is a tool that dos this DB check, this is how we ended up finding the reason for the weird behaviour. Except this DB check logs we only got weird error 500's everywhere which over time got larger and larger but partially stuck software that uses the node. (would be offtopic to explain in detail).

node src/console.js debug fsck 1 25000000 --early-stop --progress  --substrate-ws-endpoint ws:/

[2022-08-23 10:20] bkchr commented on #12086
I'm not entirely against some tool, I'm just not convinced that it needs to be part of the node. If there is stuff that can also live outside of the node in its own, self contained binary, why not put it there?

[2022-08-23 10:22] tdimitrov commented on #11577
Fixed with https://github.com/paritytech/substrate/pull/11779

[2022-08-23 10:22] #11577 closed

[2022-08-23 10:36] jasl commented on #12086
Yeah I was considering that, but for lacking time and if I make it into Substrate we should checking more fields which I don't have enough knowledge yet.
So we made an external tool to checking blocks continuity first <https://github.com/Phala-Network/phala-blockchain/blob/master/scripts/js/src/console.js#L633-L673>

[2022-08-23 10:46] TomaszWaszczyk commented on #7150
Also `rustup update` can be helpful when after some days, you will have issues with compiling once more time.

[2022-08-23 11:44] acatangiu opened #12093 "BEEFY - justifications sync protocol"
This issue replaces https://github.com/paritytech/grandpa-bridge-gadget/issues/20 and tracks implementing `#3` below:

A node running BEEFY worker/gadget, generates/imports and stores BEEFY justifications as follows:
1. when synced, it participates in voting gossip and builds BEEFY justifications itself from gossiped votes,
2. when behind, it imports BEEFY justifications alongside imported blocks

[2022-08-23 12:13] acatangiu commented on #12093
I'm seeing all [current RequestResponse protocols](https://github.com/paritytech/substrate/blob/master/client/service/src/builder.rs#L861-L864) in Substrate network are [built around sync](https://github.com/paritytech/substrate/blob/master/client/network/src/protocol.rs#L1516-L1538) and are also kind of hardcoded, not really "pluggable".

Should we also "hardcode" BEEFY support (at most wrap it a

[2022-08-23 13:02] kianenigma commented on #6641
will be closed by #11935

[2022-08-23 13:45] gdethier commented on #12073
@bkchr The code in your branch fixes the issue!

[2022-08-23 15:21] nazar-pc opened #12094 ""archive-canonical" is not a supported state pruning mode"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`archive-canonical` is recommended in CLI help message: https://github.com/subspace/substrate/blob/8574647f2a3df620ef32eddb050bfe2adb34aeab/client/cli/src/params/pruning_params.rs#L26-L32

###

[2022-08-23 21:24] bkchr commented on #12086
@arkpar do you have ideas on how the storage could end up like this?

[2022-08-24 08:38] arkpar commented on #12086
Both headers for 58601 seem to be valid, so it looks like there was a reorg, but the block number to hash mapping was not updated correctly in the DB.
I'd add some logs here: https://github.com/paritytech/substrate/blob/master/client/db/src/lib.rs#L1219 and also enable sync logs to try and catch this.

[2022-08-24 08:45] PHA-SYSOPS commented on #12086
If its just a hash mapping in the DB that needs to be 'refreshed' would it be possible to add a method onto the node CLI or API to issue a 'refresh' of that specific block and/or range? This would solve a lot of nodes back to full integrity without the issue of resyncing weeks. That said, my 2 clean sync attempts failed (also random corrupt blocks) which i cannot clarify, its random and so far i d

[2022-08-24 11:13] bkchr commented on #12086
Did every time the same block was wrong? Or every time a different one?

[2022-08-24 11:58] PHA-SYSOPS commented on #12086
so far all different blocks, no duplicates anywhere :/

[2022-08-24 12:23] jasl commented on #12086
@PHA-SYSOPS did the resync recently, but 58601 is a very ancient block, does new node sync forked blocks also? Or some other nodes propaganda forked blocks to the node?

[2022-08-24 13:32] jasl commented on #12086
if you need, I can give you access of the bugged node, most of our users are use the same CLI args to start their nodes

[2022-08-24 13:34] jasl commented on #12086
And PHA-SYSOPS is at Nederlands, so the internet access shouldn't be a problem

[2022-08-24 15:23] DamianStraszak opened #12101 "Sync protocol gets stuck and node requires a restart."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

We use substrate (branch polkadot-v0.9.26) on our testnet (Aleph Zero testnet) and quite often (some nodes get that every couple of days) experience a problem with the sync protocol getting st

[2022-08-24 17:47] #11010 closed

[2022-08-24 18:09] KiChjang opened #12103 "Allow any error to be specified as the `Err` variant for `ResultQuery`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After #11257, we can now return a `Result<T, E>` for storage map APIs that return a `QueryKind`. The slight issue here is that the error type **must** be the pallet error type (i.e. the enum a

[2022-08-24 18:19] KiChjang opened #12104 "Syntax improvement for `ResultQuery` usage"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

#11257 introduces `ResultQuery`, which contain syntax that is in fact non-standard Rust when trying to use it as the `QueryKind` type parameter for a storage map. Example:

[code]

The reason

[2022-08-24 19:38] bkchr commented on #12093
If you take a look at Polkadot you see pluggable protocols and this is the way forward. We will not accept anymore hardcoded protocols if there is not any special reason for this.

No please don't do this. It should be its own protocol, living in its own crate.

Also just no to the other stuff above :see_no_evil:

I don't think there is a way currently. What would be other sources to receive a jus

[2022-08-24 19:45] bkchr commented on #12104
I don't get this? What you mean by this?

TBH, I don't get the entire issue. You want to improve the syntax, but from what to what? What kind of syntax do you would like to see?

I mean yes, this is currently not standard Rust and I don't see it being transformed to standard rust in the near future if we don't want to have very complicated syntax.

Why can we not accept error variants that have fi

[2022-08-24 20:57] bkchr commented on #12101
Have you run the node the entire time with `sync=trace`? There are gaps in the logs after the `POWER_OFF`. I would expect that we see disconnect messages or connect messages afterwards.

[2022-08-24 21:14] DamianStraszak commented on #12101
Thanks @bkchr -- these are indeed full `sync=trace` logs, but your response is likely on point. Should these disconnects be due to reputation change?

If that's the case, then here is my question (asking for a friend ofc :P) suppose "someone" got rid of the `ReputationChange` for `block_request_handler` as in this PR https://github.com/Cardinal-Cryptography/substrate/pull/12/files -- could this ca

[2022-08-24 21:29] bkchr commented on #12101
I don't know for sure, however I would expect that you see disconnects when a connection is closed. As you see in the logs the number of peers is decreasing, but there should be logs when this happens: https://github.com/paritytech/substrate/blob/40703f41167c718e13b491228efeafb4a6194448/client/network/src/protocol.rs#L558-L562

[2022-08-24 22:23] DamianStraszak commented on #12101
Oh, you are right, I'm sorry :/ The full `sync=trace` starts around `13:13:44` in these logs -- it was enabled via `system_addLogFilter` RPC call on the fly. Would it be helpful if I got full `sync=trace` logs?

[2022-08-25 04:25] liuchengxu opened #12105 "A larger data payload in the response of a block request can't be sent back due to KeepAliveTimeout and then peer disconnected"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When a node requests a chunk of blocks from another node, if these blocks happen to be huge, the block request is successfully handled on the server node but failed to be sent back to the requ

[2022-08-25 07:42] eleuname84 commented on #5418
in what way is --unsafe-ws-external actually unsafe? what risks does it imply using it?

[2022-08-25 07:47] chevdor commented on #5418
When you pass `--unsafe-ws-external`, you no longer listen only on the local interface `127.0.0.1` but also **any** interface (`0.0.0.0`). This is usually **not** required, unless you are running the node in a container where you **must** listen on more than the local interface 127.0.0.1 as it would response only to requests coming from wihtin the container.

[2022-08-25 08:03] bkchr commented on #12101
Yes that would helpful.

[2022-08-25 08:17] bkchr commented on #12105
CC @arkpar

[2022-08-25 08:41] KiChjang commented on #12103
Okay, then we can just allow the `Err` variant to be of any type.

[2022-08-25 08:49] KiChjang commented on #12104
There's only a finite amount of customization that we can make on top of the standard Rust syntax, before it gets too strange and hurts discoverability and hence usage. We can't always rely upon documentation to expose certain programming features that pallets support, and so the more we deviate from standard Rust, the more unexpected syntactical constructs that we have to maintain and explain.

I

[2022-08-25 08:56] #10286 closed

[2022-08-25 09:08] arkpar commented on #12105
@tomaka Could you pleas clarify when exactly `KeepAliveTimeout` is generated? Documentation says that the connection will be closed after being "idle" for specified time. Is it considered idle when the request is in progress? [Here](https://github.com/paritytech/substrate/blob/fece0657f20e15df94be5833b164dfacd44823eb/client/network/src/request_responses.rs#L191) we hardcode keep-alive timeout to 1

[2022-08-25 09:33] acatangiu commented on #12093
- Block import with attached justifications
- Gossiped votes -> enough of them trigger a locally generated justification

I guess it's fine even without canceling a pending request, we'll just drop the obsolete response.

We could use the votes gossiping to determine which peers have what (mandatory) justifications: any peer voting on block `N` will have all mandatory BEEFY justifications < N.
I'l

[2022-08-25 09:38] tomaka commented on #12105
The keep-alive timeout only starts after there is no activity on a connection anymore. It's the mechanism that we use to kill inactive connections.

Each protocol decides what "no activity" means. In our situation, it means no notifications protocols open and no request (in the request/response system) in progress.

Looking at the issue, the logs are cropped, and I don't see any hint of the fact t

[2022-08-25 09:59] arkpar commented on #12105
@liuchengxu Could you please full logs for both nodes for the same period of time.

[2022-08-25 10:03] shawntabrizi commented on #12103
Any type that implements `Into<DispatchError>`... what would be the use case for some other random error?

[2022-08-25 10:08] KiChjang commented on #12103
There's no real reason to be restrictive on the kinds of types that we can allow for the `Err` variant, but it makes sense that we can only allow those that implement `Into<DispatchError>` to be specified.

Ultimately, the issue here is simply to allow for more error types other than the pallet error enum.

[2022-08-25 10:13] ggwpez commented on #12103
There could also be a default error from `sp-primitives`. Something like `StorageItemNotFound`.
The the developer can use that or overwrite with a custom pallet error.

[2022-08-25 10:27] nazar-pc commented on #12105
Here is logs of the node that Liu-Cheng's node tried to sync from (we had them added as reserved nodes of each other with `--reserved-only`): https://nextcloud.mokrynskyi.com/s/xNtYpAsZTFY8YN7
This is with `debug` log level for everything, thus quite big.

[2022-08-25 10:44] liuchengxu commented on #12105
Thanks Nazar.

@arkpar For the convient review, here is the server node log: https://files.slack.com/files-pri/T03LJ85UR5G-F03UZ31SHC3/untitled.txt, the client node log: https://files.slack.com/files-pri/T03LJ85UR5G-F03V6JZ7HQC/client_node.txt Let me know if they are not sufficient.

[2022-08-25 11:29] AurevoirXavier opened #12111 "Using `array-bytes` for Array/Bytes/Hex Operation"
Hi! I'm the author of [array-bytes](https://github.com/hack-ink/array-bytes).

This crate is completely optimized for Substrate development.

It's pretty useful and easy to use. And it's completely no-std.

Did you consider replacing `hex` crate, `HexDisplay` struct, and any other `array`/`bytes`/`hex` operation with this crate?

[2022-08-25 12:28] bkchr commented on #12111
Can you elaborate?

[2022-08-25 12:53] DamianStraszak commented on #12101
[stuck.zip](https://github.com/paritytech/substrate/files/9424699/stuck.zip)
Here are the full logs. Important timestamps (note that the node process is running without interruptions):
1. 11:03:02.161 -- I have disconnected the node from the network.
2. 12:15:04.731 -- I have connected the node back. It starts syncing initially
3. 12:15:13.220 -- somewhere around here sync gets stuck on block `908

[2022-08-25 13:07] nazar-pc commented on #4750
FWIW we have [implemented simple networking persistence](https://github.com/subspace/subspace/blob/76f3cb535c48e1d72331aab3dc35610f42ba36a5/crates/subspace-networking/src/behavior/persistent_parameters.rs) in Subspace and decided that first failure time is the best thing to store, so we can kick non-responsive peers eventually.

[2022-08-25 13:24] AurevoirXavier commented on #12111
Sorry, let me elaborate on this.

There is no performance optimization. But this crate makes the developer's life much easier (IMO).

It is completely no-std. So, you don't need to write something like `array-bytes/std` in the toml file.

It provides a lot of handy functions.

For example, the `sp_core::H256` has implemented the `From<[u8; 32]>`. With this crate, you could write something like:
[c

[2022-08-25 14:00] DamianStraszak commented on #12101
Thanks @arkpar  -- we don't have these commits, we use the `polkadot-v0.9.26` branch and it seems these entered in `polkadot-v0.9.27`. Do you suspect updating to `polkadot-v0.9.27` or `polkadot-v0.9.28` should help?

[2022-08-25 14:43] tomaka commented on #4750
@bkchr It's actually insanely complicated. The whole story about how we store peers, addresses, how long (if you store them forever, you've got a memory leak), which addresses we try, when do we stop trying addresses, etc. is a big hack, because in 3 years of networking I've never figured out an algorithm to do this properly.

[2022-08-25 14:47] bkchr commented on #4750
Yeah, but for now I'm more interested in have an idea what would be the best place to hook this in. What kind of pruning strategy etc could be figured out over time.

[2022-08-25 19:15] gilescope opened #12113 "uniques / nfts: paged rpc call returning ones for sale"
We can now buy / sell uniques on statemine. But it's not that easy to tell what is for sale as at the moment you have to query each unique class at a time to see if any NFTs are for sale in that class:

[code]

It would be great if the first argument of itemPriceOf could take null too and the results were paged so we did not try and bring everything back.

[2022-08-25 19:20] ruseinov commented on #12113
It might also be interesting to have some sort if named search if at all possible. I need to familiarize myself more with the uniques pallet storage

[2022-08-25 19:57] bkchr commented on #12113
This is not the polkadot-js issue tracker. Substrate supports paged storage reads.

[2022-08-25 20:25] bkchr commented on #12101
I forgot this pr and it could help with the issue you are seeing. Could you please try?

[2022-08-25 21:30] bkchr commented on #12104
Never heard this claim since I work at Substrate ;)

Nevertheless, back to the topic. Could you give an example from current syntax to what syntax you would like to change?

[2022-08-25 21:56] bkchr commented on #12111
I'm fine with switching to this crate.

[2022-08-25 22:42] nazar-pc commented on #11510
On latest Substrate it still considers major sync to be over when 2k blocks are queued among other issues :disappointed:

I believe this is because of `median > self.best_queued_number` in https://github.com/paritytech/substrate/pull/11547, it should have been just best imported number for the purposes of `is_major_syncing` at least.

Current `master`:
[code]

Should I submit a PR leaving behavior

[2022-08-26 07:44] bkchr commented on #12093
So all validators will have the justifications and only normal nodes will need to request them from validators? While doing major sync we send the BEEFY justification directly alongside the block? (Just trying to understand when we will need to request a justification)

[2022-08-26 07:48] NingLin-P commented on #12060
Hi @kianenigma, I have been going through the code and would like to have a try on this one.

[2022-08-26 07:54] bkchr opened #12115 "Use custom type for ProtocolName"
Currently the protocol name in the networking is passed as `Cow<'static, str>` which made sense when it was introduced. Now with the switch to using the genesis hash as part of the protocol name, we need to create a `String` for this. This means that every time we want to send a notification or similar we will need to clone this `String`. Remember before it was most of the time a `&'static str` th

[2022-08-26 08:11] dmitry-markin commented on #12115
`Allocated` -> `OnHeap`?

[2022-08-26 08:33] bkchr commented on #12115
Fine by me, still doesn't sound "perfect" :D

[2022-08-26 10:29] gilescope commented on #12113
Good point. This is built in functionality.

[2022-08-26 10:29] #12113 closed

[2022-08-26 10:41] ggwpez opened #12120 "WeightInfo for traits `MembershipChanged` and `MembershipChanged`"
Some functions of these traits are used in `Alliance::force_set_members` but do not expose weight info.
Adding some additional WeightInfo would allow to correctly express the weight of `force_set_members`.

[2022-08-26 10:50] acatangiu commented on #12093
yup, and the worker/voter gets them through `BlockImport/JustificationImport`.

A validator was offline for a while and when coming back up syncs blocks from a node that also doesn't have (latest) BEEFY justifications => no justifs through block import, no justifs through voting because those rounds ended a while ago.
Worker/voter can then fallback to on-demand request missing mandatory justificat

[2022-08-26 11:24] timorl opened #12122 "`NotificationSender` should be `Send + Sync + 'static`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After the recent network refactor (#11940) the former `NetworkService` has been logically split into several traits providing separate functionalities (which is brilliant <3). One of these tra

[2022-08-26 11:31] shawntabrizi commented on #11595
test https://forum.polkadot.network/t/github-integration/134

[2022-08-26 15:08] agryaznov commented on #11444
Do we need to keep the `seal_` prefixed aliases for `__unstable__` versions though?

(for other versions the approach is nicely described [here](https://github.com/paritytech/substrate/issues/11344#issuecomment-1191628008),
*tl;dr: yes, we need it for all seal0,seal1,... versions of currently implemented host functions*)

[2022-08-26 15:47] athei commented on #11444
No. We are allowed to break `__unstable__` versions. So no need to generate versions with prefixes for backwards compatible.

[2022-08-26 21:34] bkchr commented on #12093
Okay, so the validator comes back online. Syncs blocks without justfication. While doing this its already running the BEEFY protocol and listens for votes. Any node that votes on stuff with a higher block number than we are missing the justification for should have all justifications of all blocks before including the one we are searching for?

[2022-08-27 06:00] tifecool commented on #12077
Would like to attempt this

[2022-08-27 06:06] tifecool commented on #12077
What do you mean by migration?

[2022-08-27 09:37] PHA-SYSOPS commented on #12086
Hi,

Although it is not fully related, i noticed something important during the syncing monitoring:

- It looks the best block is defined at startup of node (e.g. 1000)
- it would get the blocks (shows as best block) up to 1000. It DOES increase target, but not used
- once best block 1000 is reach, it will start to finalize, at that point it STOPS getting new blocks (best block is not increasing,

[2022-08-27 10:03] acatangiu commented on #12093
Yes, that’s right, any node voting for higher blocks _should_ (if behaving correctly) have all *mandatory* block justifications leading to block number they’re currently voting on. And we’re only on-demand syncing mandatory ones so this approach should work.

[2022-08-27 10:09] PHA-SYSOPS commented on #12086
after the long I/O wait it just jumped:

`
2022-08-27 09:46:44 [Parachain] ⚙️  Syncing  0.0 bps, target=#2215925 (38 peers), best: #2215856 (0x5b5b…d52c), finalized #614345 (0x55ef…8a3b), ⬇ 3.3kiB/s ⬆ 62.6kiB/s
2022-08-27 09:46:49 [Parachain] ⚙️  Syncing  1.8 bps, target=#2215926 (17 peers), best: #2215866 (0xa47a…b43e), finalized #2215856 (0x5b5b…d52c), ⬇ 253.1kiB/s ⬆ 107.7kiB/s
`

where it was s

[2022-08-27 10:11] PHA-SYSOPS commented on #12086
to be clear, the parent errors ONLY shown as above, no other errors before that. AFter that there is 1 error that i did not past here:

`
2022-08-27 09:59:10 [Relaychain] 💔 Error importing block 0x0f4ff91aa4d9db290016b7562f76753cd4786c0ca92815a4aaa3763b54e982fc: consensus error: Import failed: Parent block of 0x0f4f…82fc has no associated weight
`

This concludes all logs lines with 'error' or 'Er

[2022-08-27 12:14] mustermeiszer opened #12127 "Rounding behaviour in `implement_fixed!`"
Just ran into some issues with the rounding behavior of the primitive substrates fixed points and was wondering if it is intended that there exist different rounding preferences depending on which function I use.

### Examples:
* rounding on `fn checked_div_int`, `fn checked_dig`, `fn checked_mul_int`, `fn checked_mul`:  `Rounding::from_signed(SignedRounding::Minor, negative)` -> `Rounding::Down`

[2022-08-27 12:44] MathCryptoDoc commented on #10608
I wanted to reopen this issue since it seems that the production profile that uses ``opt-level=3, lto=fat, codegen-units=1`` is not always that good when compiling for the native arch. See the [summary](https://www.math-crypto.com/optimized/summary-0-9-27/) and more details are in these [Python notebooks](https://github.com/MathCryptoDoc/polkadot-optimized/tree/main/notebook) where I benchmarked b

[2022-08-27 12:51] nazar-pc commented on #10608
If you're compiling for native then you can tweak other flags too. Default builds are not tuned for native.

[2022-08-27 12:57] MathCryptoDoc commented on #10608
Ah, didn't know this was meant for only default build. Which flags would you use for tuning native then?

[2022-08-27 13:56] nazar-pc commented on #10608
I meant I believe flags in this repo don't impact compilation flags in project that use it as dependency. It is up to you to have whatever flags you want in your workspace's `Cargo.toml` or whatnot.

[2022-08-27 14:51] jasl commented on #11768
@niklasad1 finally a user willing to help me, I finally got a log contains `jsonrpsee=trace`

I uploaded first 100MB log to GH, and you can search `terminate` to quick locate the error

[zhe-node.splitted00.zip](https://github.com/paritytech/substrate/files/9438163/zhe-node.splitted00.zip)

I did a rough glance, I found an interesting logs

[code]

[2022-08-27 15:11] jasl commented on #11768
I can see the client got `{"jsonrpc":"2.0","error":{"code":-32000,"message":"Client error: UnknownBlock: State already discarded for BlockId::Hash(0xff93a4a903207ad45af110a3e15f8b66c903a0045f886c528c23fe7064532b08)"},"id":5}`

So if RPC returns error, the node will force disconnect the client?

[2022-08-27 16:45] jasl commented on #11768
OK, I wrap up all the things, so `WS error: i/o error: Transport endpoint is not connected (os error 107); terminate connection 6` is because the client panic that not disconnect gracefully.

Sorry for wasting time.

[2022-08-27 16:45] #11768 closed

[2022-08-28 07:42] niklasad1 commented on #11768
Ok, good to know that you figured it out and it wasn't a substrate issue :)

I don't know to be honest if it's related to the `tracing` bug that we were affected by or if it's always have been like that, sure let's create another issue for that

[2022-08-28 11:36] PHA-SYSOPS commented on #12086
Update: the 3rd node sync was successful, both DB checks are completed with no errors. The only change is i removed the --state-cache-size 0 argument. I will retry another system with this argument and see what happens.

[2022-08-28 13:24] kianenigma opened #12130 "`TryState`: automatically execute after each migration"
Not automatically yet, I think it is okay to leave it up to the pallet to do so, which is what you are seeing here.

We can make a follow-up and once `try_state` is a bit more standard, make it execute upon all migrations.

_Originally posted by @kianenigma in https://github.com/paritytech/substrate/pull/10174#discussion_r956728563_

---

Ofc, IFF `feature = try-runtime`

[2022-08-29 08:00] bkchr commented on #12127
CC @kianenigma

[2022-08-29 08:08] #12122 closed

[2022-08-29 08:14] jasl opened #12131 "Tagging chain for jsonrpsee log"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

This is extracted from https://github.com/paritytech/substrate/issues/11768

![image_2022-07-01_16-43-46](https://user-images.githubusercontent.com/1024162/177115700-67e06361-78ff-4f11-a4a2-7a

[2022-08-29 08:17] jasl commented on #11768
our node has upgrade `tracing` to the same version as Substrate (we're based on `polkadot-v0.9.27` Cumulus) so it might not relate to `tracing` bug, I'm thinking the logging issue could be reproduced on Cumulus template parachain, I've created a new issue for that, see https://github.com/paritytech/substrate/issues/12131

[2022-08-29 08:21] AlexiaChen opened #12132 "bug of building spec from plain spec to raw spec for node template"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

report error of  building spec from plain spec  to raw spec for node template

### Steps to reproduce

- download https://github.com/substrate-developer-hub/substrate-docs/blob/main/static/ass

[2022-08-29 08:26] bkchr opened #12133 "Move bitswap and transactions protocol out of `sc-network`"
Alongside https://github.com/paritytech/substrate/issues/8686 we should also move out `transactions` and `bitswap` protocol out of `sc-network`. These protocols should go on their own crates. While doing this we should also clear up [`Behaviour::new`](https://github.com/paritytech/substrate/blob/57e3486d9c7bb4deaef33cf9ba2da083b4e40314/client/network/src/behaviour.rs#L220-L233) to take all `Protoc

[2022-08-29 08:27] ggwpez opened #12134 "Trie LRU cache test fails"
`cache_lru_works` has a 2% chance of failing when run in a `for` loop. It fails at the last `assert_ne` where it assumes to have changed the LRU keys:
https://github.com/paritytech/substrate/blob/915f3c10f22777a1dc49c1ed894525280ce12244/primitives/trie/src/cache/mod.rs#L640

[code]

cc @bkchr

[2022-08-29 08:35] bkchr commented on #12134
Which pr? Does this pr includes the following pr: https://github.com/paritytech/substrate/pull/12075/commits/bb17b9f77f3e719e2ce4b25b9ea1630c8b6ca138?

[2022-08-29 09:09] ggwpez commented on #10608
Yes possibly. But there have to be *some* settings for a production build and we cant optimize for every CPU.
I think the default options are reasonable? We tried to pick options to let the compiler do all optimizations it can.

So the default release binary should be good enough for most cases. High performance users have to themselves anyway.

It prints all available ones if you call it with the

[2022-08-29 09:25] kianenigma commented on #12127
I don't think this is by intention. It was seemingly the more convenient option at the time. If you have specific recommendation, we look into it.

[2022-08-29 09:29] ggwpez commented on #12134
Master branch. Yea it includes that change.

[2022-08-29 09:34] kianenigma opened #12135 "Rename `IntegrityTest`"
as noted in https://github.com/paritytech/substrate/pull/10174, this hook has a very opaque name. Consequently, I think it has never been used as much as it should have been. TO this day, I bump into experienced substrate developers who don't know it exists, or can't really tell what it is from the name.

The first step is to rename this to `construct_runtime_check` or `on_construct_runtime()` to

[2022-08-29 09:40] mustermeiszer commented on #12127
@kianenigma I have no preference, just the same everwhere would be great. I would tend to `Rounding::from_signed(SignedRounding::NearestPrefLow, negative)`, so rounding always closest but choose to round to zero in case of equidistant.

But this is a subjective choice.

[2022-08-29 10:04] chrisdcosta opened #12137 "subkey.Dockerfile missing ability to pass in external key file for inspect-node-key"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Whilst attempting to execute the `inspect-node-key` functionality using the docker image you are unable to pass in an external (to the container) file in order to inspect the identity generate

[2022-08-29 10:08] kianenigma commented on #9169
This is outdated. Now, we have `#[pallet::storage_version]`. A fix for this issue should move all pallets to use this.

All in all though, I don't recommend doing this as the whole migration story is not clear. I am not sure if the effort here will be worthwhile.

[2022-08-29 10:11] MathCryptoDoc commented on #10608
Sure, I agree for a generic production profile, the current settings make a lot of sense of course. I thought this issue was meant to investigate performance of compiler flags in general, including specialised builds. My mistake...

Thanks, that convenient. Testing all that will take a long time, but might be interesting.

[2022-08-29 11:54] #8834 closed

[2022-08-29 15:11] #12134 closed

[2022-08-29 15:48] bkchr commented on #12131
@niklasad1 jsonrpsee is using its own thread pool or? If yes, the problem is that this is missing: https://github.com/paritytech/substrate/blob/915f3c10f22777a1dc49c1ed894525280ce12244/client/service/src/task_manager/mod.rs#L163

Basically forwarding of the current tracing span, that provides these information to which node the log belongs.

[2022-08-29 15:59] niklasad1 commented on #12131
No, it uses the tokio runtime from `sc-cli` https://github.com/paritytech/substrate/blob/master/client/rpc-servers/src/lib.rs#L159

[2022-08-29 16:02] #11936 closed

[2022-08-29 16:15] shawntabrizi commented on #10251
Here is a more specific breakdown of the parts of this PR:

There should be a new trait defined in `frame/suport/src/traits/storage.rs`:

[code]

In this case, `TrackedStorageKey` is already defined in `primitives/storage/src/lib.rs`.

This new trait should be implemented for every pallet, where by default it returns an empty `Vec`.

This trait should be implemented for tuples so that it can suppo

[2022-08-29 20:31] bkchr commented on #10251
I would propose something like `#[benchmarking(cached)]` or `#[benchmarking(whitelisted)]`.

[2022-08-29 20:48] bkchr commented on #12131
Ahh yeah that looks right. However, we don't use the substrate task manager facilities.

We need to be able to pass some custom spawn function. So that we can instrument the future.

[2022-08-29 21:58] notlesh commented on #10784
Closing this as #10785 was merged some time ago.

[2022-08-29 21:58] #10784 closed

[2022-08-29 22:10] notlesh opened #12142 "`Benchmark Overhead` lacks support for pre-runtime digests"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`Benchmark Overhead` supports `inherents` but not `pre-runtime digests`. Here is some additional context, copied from my [substate's stack echange](https://substrate.stackexchange.com/question

[2022-08-29 22:54] shawntabrizi commented on #12142
cc @ggwpez

[2022-08-30 06:13] dnjscksdn98 commented on #10583
Faced to the same issue when exporting blocks. Is there any updates on this issue?
But I do also think there's no problems to the exported block data. Just for the error message.

[2022-08-30 07:58] ggwpez commented on #10583
This also happens when benchmarking sets up a client.
It does not need the additional components, so shutting them down is fine.
Maybe the code could be changed to actually never start these components, but `new_partial` does it.

[2022-08-30 14:53] notlesh commented on #12142
Nimbus injects the digest in its `produce_candidate()`. Specifically, `seal_header()` produces and returns a `DigestItem`:

https://github.com/PureStake/nimbus/blob/ec08bbeebfc07c790013434bb437376789107d35/nimbus-consensus/src/lib.rs#L268

which is injected into `BlockImportParams` inside `produce_candidate()`:

https://github.com/PureStake/nimbus/blob/ec08bbeebfc07c790013434bb437376789107d35/nimb

[2022-08-30 15:01] notlesh commented on #12142
I can give your suggestion a shot to see if that is a viable solution. A good starting point would be to hack up `utils/frame/benchmarking-cli/src/extrinsic/bench.rs` to inject a hard-coded signature and see if it helps.

If this works, would it make sense to add an additional field to `OverheadCmd::run()` to provide digests?

[2022-08-30 19:21] bkchr commented on #12142
@notlesh but the seal digest is a post runtime digest. Why do you need this for `execute_block`?

[2022-08-31 08:42] shawntabrizi opened #12149 "Make new Weight struct `#[codec(compact)]`"
The fields in the new weight struct should be `#[codec(compact)]`, which will involve a storage migration for any places where weight is stored.

Makes sense to do this the same time we need to do a storage migration for the second field of Weight.

[2022-08-31 09:08] bkchr commented on #12149
You should be able to implement `scale_codec::CompactAs` and then you should not need any migration.

[2022-08-31 09:26] shawntabrizi commented on #12149
So the implementation will try compact decode, and if it fails, try u64 decode?

[2022-08-31 09:41] bkchr commented on #12149
No, then you can write `#[compact]` as before. So, nothing would change in the declaration of dispatchables. However, weight would still be stored by default without compaction.

[2022-08-31 10:10] shawntabrizi commented on #12149
okay, but actually i would like to also make the values compact by default in the future

[2022-08-31 10:16] shawntabrizi commented on #12149
@bkchr here is me using compact as for now, but should make it actually compact in the future as mentioned in this issue:

https://github.com/paritytech/substrate/pull/12138/commits/b6eb595b9c926ae1fb158d52c4284d8e90528b2b

[2022-08-31 11:08] bkchr commented on #12149
Okay :P Yeah, when we switch to the two dimensional we will need some migrations anyway.

[2022-08-31 12:13] bkchr commented on #12133
When moving out the bitswap protocol, we need to revert the changes done in this pr: https://github.com/paritytech/substrate/pull/12082

[2022-08-31 13:03] pmikolajczyk41 opened #12156 "`try-runtime` - specifying runtime & cutting off unnecessary configuration burden"
I'm trying to change the way how local runtime is passed. Currently, we must pass path to a chainspec, build genesis storage and retrieve `:CODE:` from there. Not only it is the second time we build the storage (the first time is in `create_runner` function in the client code), but we also do it completetly unnecessary.

I would like to propose two things:
  1) we add a new shared parameter for al

[2022-08-31 15:22] sam0x17 commented on #10251
@shawntabrizi just a note that if I try to derive `impl_for_tuples(5)` on the trait, it won't work in automatic mode. Do we want to try to do semi-automatic mode? Could you elaborate a bit more about the scenarios where we need to use this with tuples?

[2022-08-31 16:12] shawntabrizi commented on #10251
Yes, you should do a semi-automatic implementation which concatenates the vectors together.

We need the tuple implementation so that we can reference all the whitelisted keys of all the pallets, or else there is no other smooth way to get that across all the pallets.

The impl should look something like:

[code]

This is how you would do it for 2 item tuples, and the `impl_for_tuples` should allo

[2022-08-31 17:13] notlesh commented on #12142
A potential (and quite trivial) fix: #12159.

Note that I tested a similar concept against moonbeam and substrate `v0.9.26` but there has been significant refactor of these parts of benchmarking since. I do believe this will work equivalently.

Also note (and maybe this is relevant to your question, @bkchr ) that I could not push the digests after `build_block()` as @ggwpez suggested because it is

[2022-08-31 20:58] sam0x17 commented on #10251
Is every storage item in `frame/system/src/lib.rs` supposed to be tagged with `#[benchmarking(cached)]` now or is it just certain ones?

[2022-09-01 07:22] ToufeeqP commented on #5902
Any progress on this?

[2022-09-01 08:03] Chralt98 opened #12160 "Why does `pallet_democracy` use a `Vec` instead of `BoundedVec` as votes?"
https://github.com/paritytech/substrate/blob/435218f5c4d0045d92d094641c915c31513cf2bf/frame/democracy/src/vote.rs#L140

Couldn't we use a `BoundedVec` here? Why do we need a `Vec` here? The bound would be the maximum number of votes.

From here:

https://github.com/paritytech/substrate/blob/435218f5c4d0045d92d094641c915c31513cf2bf/frame/democracy/src/lib.rs#L1389-L1392

[2022-09-01 08:29] Dinonard opened #12161 "construct_runtime issue with instance parsing & formatting"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hello,

I've noticed an issue while building one of our runtimes after uplifting to `polkadot-v0.9.28` and to Rust `nightly-2022-07-24`.

Running `cargo fmt` will remove `::` in front of insta

[2022-09-01 08:48] bkchr commented on #12161
This is a bug in rustfmt. It should not remove some tokens in a macro.

[2022-09-01 08:49] shawntabrizi commented on #12160
@Chralt98 yes it should. There is a tracking issue to make all of these pallets use all bounded storage, and democracy is still in progress: https://github.com/paritytech/substrate/issues/8629

[2022-09-01 08:49] #12160 closed

[2022-09-01 08:53] Dinonard commented on #12161
In that case, I will post this to `rustfmt` repo.

[2022-09-01 10:31] #11928 closed

[2022-09-01 10:39] #12042 closed

[2022-09-01 15:38] sander2 commented on #10279
Thank you @bkchr . I tried to implement your suggestion but unfortunately, being unfamiliar with the codebase, I did not succeed. I wanted to try to call `maintain(ChainEvent::NewBestBlock{...})` in the `ChainEvent::Finalized` branch. However, the `tree_route` arguments need to be different for both calls and I don't know how to construct it. Furthermore, I'm not sure if the approach would have wo

[2022-09-01 15:45] #11911 closed

[2022-09-01 17:32] Ethereumx commented on #10185
@dutterbutter would you please explain why the tag is set,,?

[2022-09-01 21:10] #1097 closed

[2022-09-02 10:54] IkerAlus opened #12169 "Transaction priority should take into account the inclusion fee"
The concept of transaction priority is used to prioritize transactions in the transaction pool for block inclusion. At the moment, this concept of priority is defined in the `get_priority` function [here](https://github.com/paritytech/substrate/blob/e986f05062a5c7a8608967febcd5c1d2bb02eb40/frame/transaction-payment/src/lib.rs#L652).

If we look at this function, the transaction priority for "norma

[2022-09-02 17:45] shawntabrizi opened #12176 "The rest of the way to Weights V2 (Tracking Issue)"
Here is a tracking issue for all the steps I can think of, before we need to start going through all the various runtime logic, and actually use the new multi-dimensional weights v2.

- [ ] deprecate `RefTimeWeight` https://github.com/paritytech/substrate/pull/12157
- [ ] Remove `Ord` from the one dimensional weight type
    -  implement `any_gt` `any_lt` `all_gt` `all_lt` (and the equal to varian

[2022-09-02 19:21] ggwpez commented on #10608
We investigated the impact of the flags in order to find good default settings.
Writing some kind of blog article (like you are doing :heart:) is better for more advanced insight.

[2022-09-03 08:09] dmitry-markin commented on #7746
Done in https://github.com/libp2p/rust-libp2p/pull/2846.

[2022-09-03 09:34] bkchr commented on #7746
Nice! So we will be able to close this with the next libp2p update.

[2022-09-03 11:43] dmitry-markin commented on #7311
Now when https://github.com/paritytech/substrate/issues/5727 is implemented, do we still need this issue?

[2022-09-03 13:08] sudipghimire533 commented on #12067
If I could get bit of help and quite explanation about how & why, I would love to take this.

[2022-09-03 15:14] dmitry-markin commented on #8530
What is the acceptable solution? Giving the node initial reputation enough for it to get connecting, e.g., within 2 minutes?

How come such a bug in outgoing connections building does not severely affect substrate networking?

[2022-09-03 15:21] realnimish opened #12180 "`[pallet-contract]` State changes doesn't persist after calling `Contracts::set_code()` from the chain-extension"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I am trying to update the code of smart contract using the chain-extension functionality instead of using the `ink_env::set_code_hash` method. The contract pallet successfully emits the `Contr

[2022-09-03 20:34] #12115 closed

[2022-09-03 22:09] bkchr commented on #12067
What kind of help do you need?

[2022-09-04 06:57] DamianStraszak commented on #12101
Thanks @arkpar and @bkchr -- after few days of the testnet running on the new version there seems to be no stuck nodes anymore. I thinks the issue can be closed.

[2022-09-04 09:30] NingLin-P commented on #10824
Here come the next challenger :) , I'm going to have a try.

[2022-09-04 10:16] bkchr commented on #12101
Ty for reporting back!

[2022-09-04 10:16] #12101 closed

[2022-09-04 15:21] EmisonLu opened #12182 "[wasmtime] Out of bounds memory access when run cargo bench"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hi! When I run the command `cargo bench --features=wasmtime` in the `substrate/client/executor`, I get the following error when benchmarking `dirty_1mb_of_memory_from_kusama_runtime_with_pooli

[2022-09-04 18:23] kianenigma opened #12184 "Improve election pallet testing setup and checks"
Recently, we added some events to some of the tests in `pallet-election-provider-multi-phase`.

This is generally a good patterns and I want all tests to basically finish with an assertion over the events that got fired during the tests. The author should verify that the events are sensible to the best of their abilities.

Here is another example: https://github.com/paritytech/substrate/pull/11343

[2022-09-04 18:52] ggwpez commented on #12182
Cannot reproduce on latest master commit 78bff0efb83b8b3cff1d09561c335c9b76504066

[2022-09-05 05:37] EmisonLu commented on #12182
Sorry, I forgot to mention it! The test environment is macOS, on the latest master commit [78bff0e](https://github.com/paritytech/substrate/commit/78bff0efb83b8b3cff1d09561c335c9b76504066)

[2022-09-05 08:01] kianenigma commented on #12156
I overall love the idea. I must confess that I am not sure if this approach works though, because it does touch a bit of the service code that I am unfamiliar with.

currently, one of the main points of confusion around try-runtime is exactly this: Which runtime is actually being used?

This is specially complicated if you use `--execution Native`, because in that case if the spec versions don't m

[2022-09-05 09:27] kianenigma commented on #9724
I've made a draft of the proper way to do this in https://github.com/paritytech/substrate/tree/kiz-properly-bound-staking-validators

@Doordashcon this is how you should go about doing https://github.com/paritytech/substrate/pull/12125. Nonetheless, as noted in https://github.com/paritytech/substrate/pull/11967#pullrequestreview-1079629888, this might be a little bit of an involved issue since it

[2022-09-05 10:47] #11954 closed

[2022-09-05 11:47] kianenigma opened #12187 "Tracking issue for bounding `pallet-staking` storage items"
If we simply remove the `pallet::without_storage_info`, we get an error about the following items:

<details>
<summary>Full Errors</summary>
[code]
</details>

- `Invulnerables`
- `StakingLedger`
- `Payee`
- `Validators` / `ValidatorPrefs`
- `Nominators` / `Nominations`
- `ErasStakers` / `ErasStakersClipped` / `Exposure`
- `ActiveEraInfo`
- `ErasRewardPoints`
- `Forcing`
- `UnappliedSlashes`
- `Bo

[2022-09-05 11:47] kianenigma commented on #9724
Replaced with https://github.com/paritytech/substrate/issues/12187

[2022-09-05 11:47] #9724 closed

[2022-09-05 11:48] kianenigma commented on #12039
Replaced with https://github.com/paritytech/substrate/issues/12039

[2022-09-05 11:48] #12039 closed

[2022-09-05 17:31] bkchr commented on #12156
I would drop `Native`. We want to get rid off it any way, so we should not start adding support here. For overriding the wasm files, you can have a look at: https://github.com/paritytech/substrate/blob/ed12e6065c505a5225e2156985a75d1fb75fa0a4/client/cli/src/params/import_params.rs#L91

2.

Currently that is not really possible. You at least need `SharedParams`. That is a little bit shitty, but wou

[2022-09-05 19:21] EclesioMeloJunior opened #12191 "Spamming `Grandpa: Neighbor message` increases reputation"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I was testing the interoperability between Gossamer and Substrate nodes when, **_by mistake_**, I introduced a code to spamming `Neighbor Messages` to substrate nodes, and when I looked into t

[2022-09-06 06:34] #12077 closed

[2022-09-06 08:40] Doordashcon commented on #12187
Hello @kianenigma I'd like to keep working on `MaxActiveValidators` with guidance from you or anyone from your team.

As for the trivial ones, I'll look into that as well, if that's alright with you.

[2022-09-06 11:08] sam0x17 commented on #10251
@shawntabrizi just an update I was struggling for a bit trying to figure out how best to capture the `#[benchmarking(cached)]` macro calls in aggregate and am now doing this from within the parsing code in `frame/support/procedural/src/pallet/parse/mod.rs`. Doing a bit of yak shaving so I can scan for such calls in a hygenic way. Let me know if this is not where I should be detecting these. Some r

[2022-09-06 11:21] kianenigma commented on #12187
Then you can close the existing PRs, and build on top of https://github.com/paritytech/substrate/commit/4682f3fbda7bce7e45d8efa06e5817e93368e3d8, thanks!

[2022-09-06 11:29] kianenigma commented on #5902
@the-right-joyce addding this to SDK node, please remove if off topic.

[2022-09-06 11:57] dmitry-markin commented on #12191
@EclesioMeloJunior do I understand correctly that you are not getting `Duplicate gossip` reports? I.e, `TRACE tokio-runtime-worker peerset: Report 12D3...: -4 to ###. Reason: Duplicate gossip`. Do you have any idea in what aspect your neighbor packets are different?

[2022-09-06 12:00] pmikolajczyk41 commented on #12156
@kianenigma @bkchr

please check out my PoC: https://github.com/paritytech/substrate/pull/12193

[2022-09-06 12:08] kianenigma commented on #10251
Is this only meant for benchmarking, or will also do something in production?

If former, then it should be called `#[benchmarking(whitelisted)]` as @bkchr said. If latter, I honestly don't quite agree with it. This is equivalent to: in any pallet, if you want some storage items to be cached, read them all in `on_initialize`. With the exception that if for whatever reason that storage item was not

[2022-09-06 12:11] dmitry-markin commented on #12191
Looking at the error message produced it looks like the packets can only differ in [`commit_finalized_height`](https://github.com/paritytech/substrate/blob/20037d573c0c2b319998541c6140df4c3d07eb56/client/finality-grandpa/src/communication/gossip.rs#L376)

[2022-09-06 12:12] kianenigma commented on #12127
I would be happy to see a PR that makes them consistent, if not, let's close the issue to keep the backlog small :)

[2022-09-06 12:24] #11810 closed

[2022-09-06 12:52] kianenigma opened #12194 "try-runtime: make snapshot file contain more data"
... such that the `execute-block` command is 100% reproducible with a snapshot file.

Currently, a snapshot file only contains the state. For operations such as execute-block or offchain-worker, we also need the parent hash, block data, etc.

[2022-09-06 12:54] kianenigma opened #12195 "try-runtime: fix proof size"
as spoken with Alan from moonbeam, the current proof size that's reported in the `on-runtime-upgrade` is not correct. IIRC, it had something to do with reading/writing the code, which is not on-par with reality.

All in all, make sure that the proof size reported by try-runtime is 100% accurate.

[2022-09-06 12:56] kianenigma opened #12196 "try-runtime: allow execution of any runtime api as well"
with arbitrary hex-encoded data passed over CLI.

[2022-09-06 12:57] kianenigma opened #12197 "try-runtime: work with block numbers"
All of the commands work with block hash now. This is okay, but a nice addition would be the ability to work with block numbers as well.

[2022-09-06 13:20] #9201 closed

[2022-09-06 13:33] mxinden commented on #7746
For the protocol: https://github.com/libp2p/rust-libp2p/pull/2869

[2022-09-06 13:56] kianenigma opened #12199 "pallet-staking: properly call into `try_state` in tests"
... instead of manually re-implementing some of the checks in `mock.rs`

https://github.com/paritytech/substrate/blob/20b5aac7e09e8b25abaa48c6781e653b36ba3ca0/frame/staking/src/mock.rs#L550-L555

kinda related to https://github.com/paritytech/substrate/issues/12130.

Ideally, in all pallets, we should call in that pallet's try-state at the end of each tests, but I am not sure if and how there is a

[2022-09-06 14:01] kianenigma commented on #12197
Optionally, print the timestamp of any block that you are working with.

[2022-09-06 14:02] kianenigma opened #12200 "try-runtime: JSON output"
Current outputs are all optimized for human readability. @chevdor mentioned that it would help automation if we could output JSON as well.

[2022-09-06 14:16] bkchr commented on #7746
@dmitry-markin please keep track on this and when it is released, please update libp2p. :)

[2022-09-06 16:05] dmitry-markin commented on #12191
It looks like sending [`NeighborPacket`s](https://github.com/paritytech/substrate/blob/20037d573c0c2b319998541c6140df4c3d07eb56/client/finality-grandpa/src/communication/gossip.rs#L370) with increasing [`commit_finalized_height`s](https://github.com/paritytech/substrate/blob/20037d573c0c2b319998541c6140df4c3d07eb56/client/finality-grandpa/src/communication/gossip.rs#L376) is perfectly legitimate b

[2022-09-06 16:32] sam0x17 commented on #10251
I agree @kianenigma, perhaps instead of having it manually read those storage items just to ensure they are cached, we could instead statically determine that there is at least one read of the item, and panic otherwise. That way the data access is still up to the programmer, and you won't be able to whitelist something that isn't actually read.

[2022-09-06 17:51] bkchr commented on #10251
I think it goes into the right direction.

[2022-09-06 18:16] ggwpez commented on #10251
Wait a second, I thought this change would also affect production; not just benchmarking.
To explain my understanding:
- `#[pallet::storage::cached]`: Access the value in `on_initialize` and whitelist it in benchmarks.
- `#[benchmarking(whitelisted)]`: Only whitelist in benchmarks and without production change.

@shawntabrizi which one did you mean now?

[2022-09-06 18:20] ggwpez commented on #12182
MacOS is not officially supported, see [Which Operating Systems are officially supported?](https://substrate.stackexchange.com/questions/3945/which-operating-systems-are-officially-supported).

[2022-09-06 19:04] donkey-donkey commented on #11410
If you are using a tuple as a key how do recommend keeping track of all the keys of each tuple?
thanks

[2022-09-06 19:13] mustermeiszer commented on #12127
We overwrote the impl on our side. Just wanted to raise this, as I thought primitives should be consistent. Will close this then.

[2022-09-06 19:13] #12127 closed

[2022-09-06 21:04] EclesioMeloJunior commented on #12191
@dmitry-markin

No, I only see the peer reputation increasing:

[code]

I executed another tests and I make sure that the neighbor message keep the same, so all the `neighbor messages` sent from my node to substrate nodes are `02010100000000000000000000000000000000000000`, as you can see in the following log

[code]

I provided a full log file here -> https://gist.github.com/EclesioMeloJunior/12e9

[2022-09-07 04:18] sam0x17 commented on #10251
Note that it now uses proper parsing to find the `#[benchmarking(cached)]` calls as of https://github.com/paritytech/substrate/commit/2bbb92efb85f02beb3f4e860a43bfb0dd5a52132#diff-31689280b5d369636895bc2216ea1e87f80e7c00ca4353c214f5b2a262ba9a4eR128-R141

[2022-09-07 08:54] #11444 closed

[2022-09-07 09:00] dmitry-markin commented on #12191
Thanks, this makes the matter more interesting. Going to investigate further.

[2022-09-07 11:11] gilescope commented on #12111
https://github.com/hack-ink/array-bytes/blob/38fb70e60306f2d6096bc2453fbcec150c59237c/src/lib.rs#L243 - Shouldn't these unchecked functions be marked as unsafe functions? I should not be able to call them from safe code because they are not safe.

[2022-09-07 11:15] pepyakin commented on #12182
I think macOS should be supported for development. It's just we don't recommend running nodes in production on macOS.

[2022-09-07 11:38] AurevoirXavier commented on #12111
In https://paritytech.github.io/substrate/master/sc_service/index.html?search=unchecked, there are also a lot of unchecked functions.

IMHO, `unchecked` is a marker, you should know what you are doing.
For me, I only use unchecked functions in tests or some panic-ble parts.
Just like you can write `.unwrap()` in runtime code but you do not.

But any discussion is welcome.

[2022-09-07 13:16] bkchr commented on #12111
This function is not really unchecked as @gilescope is saying. You are using there `transmute` without checking the input. You should use `str::from_utf8`.

[2022-09-07 13:19] AurevoirXavier commented on #12111
For this context (hex conversion), `str::from_utf8` do a lot of unnecessary checks. I'll consider marking this function as unsafe.

[2022-09-07 13:37] pepyakin commented on #12182
I actually did, and it does reproduce for me.

[2022-09-07 15:24] gilescope opened #12206 "rustdoc does not show storage items in pallets"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

There's no docs around storage items in pallets. This seems to be as they're not public enough. Could we add `--document-private-items` when we automatically generate our rust docs. This helps

[2022-09-07 15:29] gilescope commented on #12206
Could we emit an attribute in the storage macro to force rustdoc to document it even though it's private?

[2022-09-07 15:31] gilescope commented on #12206
Not yet it seems: https://github.com/rust-lang/rust/issues/66528

[2022-09-07 16:17] AurevoirXavier commented on #12111
- https://github.com/hack-ink/array-bytes/pull/15

[2022-09-08 05:02] KiChjang commented on #12104
At the very least, I think the `ResultQuery<Error::ErrorVariant>` syntax has to be changed, most likely to a more idiomatic `ResultQuery<Error>` syntax.

Then the question becomes "how do we specify the error variant to use for the ResultQuery`, and I think there are several idiomatic methods of doing so: the first one that I can immediately think of is to ensure that the `OnEmpty` type parameter

[2022-09-08 05:09] KiChjang commented on #9584
This is already done with the advent of #12138.

[2022-09-08 05:09] #9584 closed

[2022-09-08 08:41] bkchr commented on #12191
@EclesioMeloJunior could you may provide a way to reproduce this?

[2022-09-08 08:57] #12073 closed

[2022-09-08 09:23] athei opened #12209 "Release all crates to crates.io on polkadot release"
As a first step towards having a nicer developer experience when using substrate/polkadot/cumulus we want to allow users to depend on it via crates.io. Git dependencies are just annoying and prevent everyone from releasing their own stuff to crates.io.

This is is just the first step and has a very limited scope. We don't care about narrowing down changes to minor and fix releases. We just bump th

[2022-09-08 09:24] athei opened #12210 "Make depending on substrate easier"
# The Vision

Today, depending on substrate is not the best experience:

- You have to depend on a lot of small crates in your manifest and update them to upgrade to a new version
- The crates are not released to crates.io which prevents anyone using substrate from releasing there, too. This is especially annoying for tooling
- There is no semver: The API surface is huge and every release is break

[2022-09-08 09:44] kianenigma commented on #12206
Depends on the storage item? some are public, some are not. Here's one that is public and its docs does show up:

https://paritytech.github.io/substrate/master/pallet_nomination_pools/pallet/type.PoolMembers.html

[2022-09-08 09:48] kianenigma opened #12211 "try-runtime: proper flag to disable `spec-name/version` checks."
The flags to check this are a little bit messed up now.

Currently, we allow both spec-name and version to be relaxed via this misleading flag name:

https://paritytech.github.io/substrate/master/try_runtime_cli/struct.SharedParams.html#structfield.no_spec_name_check

We should rename this flag to `no_spec_check`.

Possible we should also prevent spec names from EVER not matching, because it is al

[2022-09-08 09:51] kianenigma commented on #12187
@Doordashcon please note that @Ank4n will be looking into `HistoryDepth` and generally push forward this tracking issue.

[2022-09-08 10:30] SaltyCucumber opened #12214 "Storage and Events are missing parameters and descriptions"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The metadata from which docs are generated is missing for Storage and Events (https://github.com/polkadot-js/docs/issues/345)

Example of missing metadata:
https://github.com/paritytech/substr

[2022-09-08 10:46] #12020 closed

[2022-09-08 11:27] ggwpez commented on #10479
Yea there are still crates failing. Anyway we can this cleanup lean step by step.

[2022-09-08 11:48] ggwpez commented on #12214
Two things:
1. Your problem with the first example is that the map keys are not documented or what exactly?
2. Is there a CI check that we can use to find this stuff? Maybe the submwasm from @chevdor can spot missing docs in the metadata?

[2022-09-08 12:17] #11761 closed

[2022-09-08 12:22] SaltyCucumber commented on #12214
Here is an example, in polkadotjs apps I opened a form
![Screenshot 2022-09-08 at 15 17 33](https://user-images.githubusercontent.com/748932/189119783-262104de-a229-400c-a966-7e9d506a9418.png)

I have no idea what the form wants from me with u32. So I go to docs
![Screenshot 2022-09-08 at 15 19 44](https://user-images.githubusercontent.com/748932/189120093-e6a3b949-3de9-45f4-940c-d1d002fa2d74.png)

[2022-09-08 13:07] arkpar opened #12217 "Node keeps loosing peers."
Start a new warp sync using latest polkadot+substrate master with an empty db dir in GCP. The nodes keeps loosing almost all peers every couple of minutes.

[code]

Notice how a number of peers jumps from 20+ to 2.
Unfortunately our network protocol don't include reason for why other peers decide to disconnect. However it looks like this is happening after we announce latest blocks to other peers.

[2022-09-08 13:09] ggwpez opened #12218 "Remove legacy benchmarking code"
We should have replacements for all benches in `bin/node/bench/`. That code is two years old and, besides the CI bench regression guard, unused.

To go through the files on by one:
- `construct.rs` Block construction benchmark: replaced by `bin/node/cli/benches/block_production.rs`. We could add a `benchmark block-production` or alike to have it work with any runtime.
- `import.rs` Block import be

[2022-09-08 14:22] bkchr commented on #12217
@dmitry-markin and @altonen could both of you please both look into this?

[2022-09-08 14:28] bkchr commented on #12214
Did you check the metadata?

@jacogr do you also extract the docs from scale-info for the events?

[2022-09-08 15:11] jacogr commented on #12214
I actually keep a decoded version around in the repo updated against latest metadata, see https://github.com/polkadot-js/api/blob/master/packages/types-support/src/metadata/v14/substrate-types.json for Substrate, (not actually used anywhere in code, but I find it very useful to check when updates are made to visually see what has changed).

Here is an extract of what is provided for events, in thi

[2022-09-08 15:20] bkchr commented on #12214
Ty @jacogr.

So, I don't really get what the problem is here?

[2022-09-08 16:18] bkchr commented on #12104
"idiomatic" is just such a random word in Rust that everyone uses, but that has actually no real meaning.

`OnEmpty` would require that I create some extra type and implement the trait for it? This sounds like an awful user experience to me. Yes we are not here close to the Rust syntax. However, this may works in the future when you can have custom const values.

[2022-09-09 06:09] clangenb opened #12225 "`full_crypto` feature breaks `no_std` build"
The reason is that the ed25519-zebra version on crates.io is not yet `no_std` compatible. The master branch in that repository is however: https://github.com/ZcashFoundation/ed25519-zebra. substrate doesn't detect this because the `full_crypto` feature is not used in `no_std` in its codebase.

* Issue opened there: https://github.com/ZcashFoundation/ed25519-zebra/issues/60

[2022-09-09 08:43] kianenigma opened #12226 "migrate pallet-staking events to named enum"
as in:

[code]

[2022-09-09 09:26] burdges commented on #12225
We should send them a PR for no_std of course.  If they're reluctant to merge it then please send a no_std PR to https://github.com/penumbra-zone/ed25519-consensus too.

[2022-09-09 09:26] Ank4n opened #12227 "`MaxUnlockingChunks` should be configurable via Runtime"
StakingLedger in the `pallet-staking` is using a hardcoded value of [MaxUnlockingChunks](https://github.com/paritytech/substrate/blob/master/frame/staking/src/lib.rs#L353). Pallet-staking also has a [MaxUnlockingChunks in the configuration](https://github.com/paritytech/substrate/blob/master/frame/staking/src/pallet/mod.rs#L192) which is not used anywhere.

I discussed this with @kianenigma, we sh

[2022-09-09 09:37] clangenb commented on #12225
The thing is, they have already implemented `no_std` compatibility on their master branch since last may. They only need to publish a release on crates.io, which I have requested now.

I kind of assumed that you do not want to add arbitrary git repositories as third-party dependencies without referencing a specific tag, as downstream implementors get simply the newest commit on master branch, whic

[2022-09-09 11:25] kianenigma opened #12228 "election-provider: allow duplicate submissions"
## Overall context

The current EMP signed submission phase rules out the possibility for two miners to submit the same score. In such a case, the solution is instantly rejected. The fundamental reason for this is using a btree-map of scores under the hood.

Instead, what we want is to allow duplicate submissions to exist, but incorporate the block number at which they have been submitted in them

[2022-09-09 12:46] burdges commented on #12225
cool, yeah they can simply do a release I'd think.

[2022-09-09 16:37] benluelo opened #12231 "Associated iterator types for `InspectEnumerable`"
The current definition of the InspectEnumerable traits forces you to use `Box<dyn Iterator>` for the method return types. Given that the iterator types can usually be named ([and that `impl Trait` in traits is a long ways away](https://rust-lang.github.io/impl-trait-initiative/)) I think it would be beneficial to define associated types for each method:

[code]

These associated types could always

[2022-09-10 16:21] #11533 closed

[2022-09-10 16:21] shawntabrizi commented on #11533
agreed with basti here, best to have only one behavior

[2022-09-10 20:10] bkchr commented on #12231
Sounds reasonable.

[2022-09-12 08:01] kylezs opened #12236 "Expose `STORAGE_KEYS_PAGED_MAX_COUNT` for usage in clients"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

If a client wants to get storage keys, it makes sense for the client to know the maximum page size for a query without a) having to read the node source code or b) getting a query failure on t

[2022-09-12 09:55] bkchr commented on #12236
WDYT of removing the error and making the `STORAGE_KEYS_PAGED_MAX_COUNT` implicit. Aka if you request more than that, you will automatically in max `STORAGE_KEYS_PAGED_MAX_COUNT`

[2022-09-12 09:59] kianenigma opened #12240 "Add a maximum value for `trait MultiplierUpdate`"
... and enforce it in all implementations, including the one being added in https://github.com/paritytech/substrate/pull/12222

Outcome should be:

[code]

This would help implementations ensure that even if the fees should increase forever, they will not go above a certain threshold.

This remains backwards compatible by setting the maximum to `Bounded::max_value()`.

[2022-09-12 10:07] kylezs commented on #12236
Hmm, when reading the client code removing the error would be a bit misleading. e.g. if for some application the developer knows they can only have a max of 3000 items in their storage so they do two two queries of 1500, it reads as though they will get all 3000, but in reality, it'll "fail" silently after getting 2000. So I'm probably in favour of keeping the error.

I think either exporting the

[2022-09-12 10:12] acatangiu commented on #11937
Closing as not needed.

[2022-09-12 10:12] #11937 closed

[2022-09-12 13:32] kianenigma opened #12244 "Idea: Random call generator for fuzz-testing"
We could create a tool which generates a set of calls from the metadata of a pallet. Could even be done in PolkadotJS, as general fuzzy testing framework.

_Originally posted by @ggwpez in https://github.com/paritytech/substrate/issues/12002#issuecomment-1243619988_

[2022-09-12 13:33] kianenigma commented on #12244
another alternative would be to use https://docs.rs/arbitrary/latest/arbitrary/. If this works out, it plugs nicely into the rest of the Rust ecosystem.

[2022-09-12 13:46] ggwpez commented on #12244
Yea, using a fuzzy library with test-case minimization, auto retry and all the extras would be smart.

[2022-09-12 14:03] shawntabrizi commented on #12244
The problem is that a lot of the pallet calls only make sense when set up with other calls. For example, the steps of a treasury bounty or democracy proposal.

Additionally, i question whether a spectrum of inputs would reveal anything that just looking at the extremes would not reveal. But yeah, if it is easy to implement, would be interested to see. I think SR Labs already does this quite a bit

[2022-09-12 16:52] ggwpez commented on #12244
I think @kianenigma exclusively focused on sanity checks.
But yea, we need some kind of setup and a set of invariants which are then checked each time.

Probably makes the most sense when it interacts with multiple pallets.
Stuff like reference counting, or reserved/locked balance, I think there are a lot of spots where stuff can go wrong.

[2022-09-12 19:12] offerijns commented on #12244
I think this is similar to invariant testing as implemented in Foundry, for Solidity: https://github.com/foundry-rs/foundry/pull/1572 (which was inspired by dapptools: https://github.com/dapphub/dapptools/blob/master/src/dapp/README.md#invariant-testing).

I’ve also discussed this a bit with SR Labs recently: they currently are indeed fuzzing calls and checking basic invariants (e.g. “does not pan

[2022-09-12 20:21] bkchr commented on #12244
If we would use some learning/AI based fuzzer (not sure what the correct naming is here), could we not use this to let it start with random bytes? Start from zero it let it walk through creating and applying transactions. Not sure there would be any useful output coming from this. However, we could try and see :D

[2022-09-13 05:29] Doordashcon commented on #12187
Dropping this

[2022-09-13 08:06] kianenigma commented on #11736
We could probably use a small PR for origin at some point too?

[2022-09-13 08:09] Szegoo commented on #11736
I will open a new PR for that.

[2022-09-13 08:15] kianenigma commented on #12244
I don't think this is a showstopper. If you generate enough random calls, with enough iteration, any setup that you can think of should be created. Perhaps you need to call `on_inititalize` in between as well. I do a similar thing for the pools fuzz testing merged recently, and it does eventually lead to all possible outcomes (at least based on events, I can say we hit a lot of the corners).

I th

[2022-09-13 08:23] kianenigma commented on #12244
I hope we standardize the `try_state` or something similar soon, and do actual state testing. Checking for panics only is, in my opinion, even _worse_, because it actually gives the _false_ sense that things are being checked, but in reality are, in my opinion, very meaningless. A runtime can be extremely faulty but not generate any panics.

[2022-09-13 10:04] KiChjang opened #12248 "[Deprecation] Deprecate `decl_*` macros"
We've now basically migrated from the previous function-like `decl_*` macros into the `#[pallet]` attribute macros, and it's time that we start deprecating/removing the old `decl_` macros.

[2022-09-13 11:31] bkchr opened #12249 "Support Warp sync from non genesis"
Currently Warp sync always starts from genesis. We should make it work from the latest available finalized block. This should make warp syncing work after a restart.

We should add multiple zombienet tests that abort the execution of the syncing node in different stages to ensure that we can always continue to sync after the next restart.

[2022-09-13 11:33] bkchr opened #12250 "Make Warp Sync the default Sync mode"
We should make warp sync the default sync mode. Only if someone starts with `--state-pruning archive` we should switch to the catch up sync mode, aka download and execute every block.

This depends on: https://github.com/paritytech/substrate/issues/12249

[2022-09-13 12:05] bkchr commented on #10279
I will assign this to someone :)

[2022-09-13 12:07] dmitry-markin commented on #12217
To share intermediate results: I was able to reproduce the issue on polkadot+substrate master, but also on polkadot-0.9.28 & polkadot-0.9.16. So, it looks like this is not something introduced by the recent changes. Also, a couple of times everything worked fine (on master), so I'm starting to be suspicious that the issue might be caused by some external factors.

[2022-09-13 12:17] ggwpez opened #12251 "Record PoV size in `benchmark overhead`"
With Weights V2 we will need to extend the `BlockExecutionWeight` and `ExtrinsicBaseWeight` with a PoV size.
Part of https://github.com/paritytech/substrate/issues/12176

[2022-09-13 12:27] #10966 closed

[2022-09-13 12:27] ggwpez opened #12252 "`ExtrinsicSuccess` reports wrong weight consumption"
## Observation

The weight that `ExtrinsicSuccess` reports does not contain the `ExtrinsicBaseWeight`.
Example output from PolkadotJS after setting `System.Remark` weight to `0`:

![wrong weight return](https://user-images.githubusercontent.com/10380170/189899526-e00fdd06-4dd6-493f-bfcb-f5c87e3b745c.png)

This should report the `ExtrinsicBaseWeight` of ~86µs but just shows 0 instead.
The `System::

[2022-09-13 12:38] ggwpez commented on #12217
I saw this quite a while ago on my PC as well, but thought it was normal. Like dropping peers from 30 to 10 or even less, and then slowly creeping back up.

[2022-09-13 12:41] nazar-pc commented on #12217
I didn't look into warping, but if it downloads significant chunks of data, it might have the same root cause as https://github.com/paritytech/substrate/issues/12105, namely keep alive timeout.

[2022-09-13 13:30] arkpar commented on #12249
The challenge here is that we'd need to delete the existing state from the database somehow.

[2022-09-13 13:39] arkpar opened #12255 "Single block missing after warp sync."
Currently after the warp sync we end up with the full block history, except there's one block body missing.
Warp sync selects block `X` as target. It then downloads warp proofs, which includes header for `X`. Then it dowloads the state and passes the state + header to the client, where it gets imported. After that sync starts gap sync process, which downloads block headers and bodies up to block `

[2022-09-13 13:43] bkchr commented on #12255
Cc @altonen @dmitry-markin

[2022-09-13 14:39] dmitry-markin commented on #12217
I tried reducing keep alive timeout from 10 sec to 1 sec (locally) to see if it affects the peer count, and it looks like it doesn't. Overall, the peer count jitter seems purely random: sometimes the peer count is stable on 20-30 peers, and sometimes it starts dropping to almost 0.

[2022-09-13 15:54] crystalin commented on #12195
Yes, the difference is because during the runtime upgrade of a parachain you have 2 parts.
1. Sending the runtime wasm
2. Getting it enacted and running the runtime upgrade.

In the try-runtime both are done at the same block it seems so the PoV is the sum of both action, while in reality those 2 happen in a different block

[2022-09-13 16:14] benluelo opened #12257 "BiBounded{Vec,BTreeMap}"
The current `Bounded*` types are incredibly useful, but sometimes it is necessary to have a minimum amount of items as well as a max. We currently maintain our own `BiBoundedVec` in-house, but I think that other people would find this useful as well.

Two ideas:

- Two separate types, with the `BiBounded*` type a wrapper over the `Bounded*` type to reuse immutable methods:
[code]

- Only one type

[2022-09-13 17:22] benluelo commented on #12257
I was going to suggest a third-party crate, but they all seem to use const generics (logically). There is #10613, but it hasn't been touched since January; I think it could use some love.

There also doesn't seem to be a good bounded map crate (from what I could find), so I think keeping the current bounded structures would be good.

I considered this, but it has the same issue as the second optio

[2022-09-13 19:29] nazar-pc opened #12260 "Use one blake2 implementation"
I noticed that Substrate uses both `blake2` and `blake2-rfc` crates directly.

If there a specific reason for doing so or can we unify usage to one of them (presumably `blake2` as it seems to be more common in general and is shared by indirect dependencies like `snow`) instead and remove extra dependency?

NOTE: `blake2-rfc` is also used in `parity-db`, so to remove it from dependency tree updatin

[2022-09-13 19:45] bkchr commented on #12249
Isn't this just the same as pruning?

[2022-09-13 20:16] arkpar commented on #12249
Each block execution produces a set of trie nodes that must be inserted/deleted into the state db to reflects insertions/deletions into the trie. Pruning simply delays deletions till some later point in time by keeping temporary journals of what has been deleted. Warping to a new state means there's no delta update to the trie, but instead the old must trie be deleted and the new one is populated

[2022-09-13 20:16] davxy commented on #12260
- Looks like blake2 supports keyed hashing as well
https://docs.rs/blake2/0.10.4/blake2/struct.Blake2sMac.html
- Where is the blake2 MAC (aka keyed) used?

[2022-09-13 20:20] nazar-pc commented on #12260
Hm, I was referring to https://github.com/RustCrypto/hashes/issues/360

I'm not sure it is used in Substrate (honestly didn't check), but if one is superior in terms of feature set and comparable in performance, there is a higher chance of pulling the other dependency indirectly anyway. Still beneficial to have one dependency in Substrate, but both will be compiled in the end.

[2022-09-14 07:49] davxy commented on #12260
I've made a small recognition and **looks like** (as I was expecting) the keyed hash is not used within the Substrate repo:

https://github.com/paritytech/substrate/blob/23bb5a6255bbcd7ce2999044710428bc4a7a924f/primitives/core/src/crypto.rs#L135

https://github.com/paritytech/substrate/blob/23bb5a6255bbcd7ce2999044710428bc4a7a924f/primitives/core/src/crypto.rs#L369

Parity-db is using the keyed ve

[2022-09-14 09:20] IkerAlus commented on #9735
@AurevoirXavier I assume it is because with `as_multi` the whole call to be executed from the multisig account is stored whereas with `as_multi_approve` only the hash of the call is stored.

[2022-09-14 10:37] clangenb commented on #12225
@burdges I have not heard anything from them. Do you mind talking to them?

[2022-09-14 12:58] nbaztec opened #12267 "Update libp2p from 0.46.1 to 0.48.0"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Substrate currently has `libp2p:0.46.1` as one of its dependencies, which via transitivity(`libp2p-tcp` > `if-watch`) depends upon `windows:0.29.0` which contains a security vulnerability http

[2022-09-14 14:16] bkchr commented on #12267
@dmitry-markin is already working on this.

[2022-09-14 14:20] dmitry-markin commented on #12267
Here is the draft PR for reference: https://github.com/paritytech/substrate/pull/12256

[2022-09-14 15:24] #9735 closed

[2022-09-14 15:30] kianenigma commented on #12257
I think unfortunately we have to re-implement new types. Reusing the same type for lower bound will be an issue, since operations that reduce the size are currently infallible.

What would be the main benefit of bringing the types here to substrate? I am not against it, but it can also be an independent crate, kinda like https://github.com/encointer/substrate-fixed/blob/master/RELEASES.md, which e

[2022-09-14 16:12] ggwpez commented on #12236
Could we actually make this a CLI flag? That would help with the `try-runtime` runner when scrapping the whole state from a local node.

[2022-09-14 16:19] dmitry-markin opened #12268 "warp sync stuck at downloading block #1 with `Verification failed` messages"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Warp sync fails to download blocks with the following error messages:
[code]

The complete logs are [here](https://gist.github.com/dmitry-markin/7230ebf833e179091811288342ce4513).

### Steps t

[2022-09-14 17:25] arkpar commented on #12268
Looks like this is caused by #12213
`check_inherents` is now called for old blocks.

[2022-09-14 17:28] ggwpez opened #12269 "CI: Prevent feature leaking"
https://github.com/paritytech/substrate/pull/11976 fixed the `runtime-benchmarks` feature bleed.
Now to lock it in place we can create a CI action which verifies this.
`cargo tree --locked --workspace -e=no-dev -e features | grep 'feature "runtime-benchmarks"'` reports empty as time of writing this.
Something like this can be used as check. I made a script which then analyzes the dependencies and

[2022-09-14 17:53] dmitry-markin commented on #12268
Yesterday version as of Sep 12 18:10:32 UTC works fine (polkadot `6b141d2de2700c1d517b52011e6d161e80bc7540`, substrate `dd1f1b5f291aa2325eddf5f26037b84cfbbe0957`).

[2022-09-15 08:12] altonen commented on #8686
@nazar-pc I've also started to slowly work on this. So far I'm just getting familiar with the code and seeing how deep it goes but if you have any pending changes you've made since #11940 that you feel like sharing, that would be much appreciated so we don't do the same work twice.

[2022-09-15 08:46] gavofyork opened #12272 "Expose Referenda pallet's tracks metadata"
There is currently no way for the UI to retrieve metadata on the tracks which each Referenda pallet instance supports. Since it is not a constant, this cannot be done trivially with the usual means of exposing metadata.

[2022-09-15 10:35] Chralt98 opened #12275 "[pallet_assets] How to destroy an asset with potentially `u32::MAX` accounts?"
Hey valuable Substrate maintainers,

I found out, that the witness limits the number of deletions [here](https://github.com/paritytech/substrate/blob/23bb5a6255bbcd7ce2999044710428bc4a7a924f/frame/assets/src/functions.rs#L682), but when there are too many accounts for one asset, then a sufficiently high number for the accounts in the witness param would lead to a weight which exceeds the maximum b

[2022-09-15 10:37] sea212 opened #12276 "[Feature Request] Add Lock and Unlock events to pallet balances"
**What is requested?**
Whenever some balance is locked or unlocked, a corresponding event `Locked` or `Unlocked` should be emitted.

**What problem would it solve?**
The events in the balances pallet already map any state change to an account very well, but they are not complete yet. Software that relies on the completeness of events (besides information in transactions), such as blockchain indexe

[2022-09-15 12:33] nazar-pc commented on #8686
I don't have anything refactoring-wise pending.

[2022-09-15 12:41] Szegoo opened #12278 "Error when compiling `sc-network-bitswap`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Error when trying to compile `sc-network-bitswap`.

**The error message**:

error: failed to run custom build command for `sc-network-bitswap v0.10.0-dev (/Users/sergejsakac/substrate-rename-o

[2022-09-15 12:59] Dinonard opened #12279 "Callbacks for pallet-assets"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Hi there,

it would be very useful if we could register callback methods for when new assets in `pallet-assets` are created, destroyed or manipulated in some other way.
The motivation behind i

[2022-09-15 14:43] jacogr commented on #11969
Replaced by https://github.com/paritytech/substrate/issues/12272 (with a PR in https://github.com/paritytech/substrate/pull/12273)

[2022-09-15 14:43] #11969 closed

[2022-09-15 16:01] bkchr commented on #12278
The failing build script directly tells you what you should do:
[code]

If you do this, it should work.

[2022-09-15 16:11] #12278 closed

[2022-09-15 16:18] NukeManDan commented on #7735
For consideration: https://forum.polkadot.network/t/parachain-technical-summit-next-steps/51/14
`Pure proxy` :thinking:

[2022-09-15 17:59] #12272 closed

[2022-09-15 18:02] shawntabrizi commented on #12276
@sea212 do you want to make the PR that solves this?

[2022-09-16 06:20] joepetrowski commented on #12279
Seems reasonable to me at first glance. @tonyalaribe - can you look into it more?

[2022-09-16 06:31] joepetrowski opened #12284 "Extension to Treasury Pallet for Assets"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

This would be one step toward https://github.com/paritytech/polkadot/issues/5293 and also related to https://forum.polkadot.network/t/a-better-treasury-system/291.

We should have an extension

[2022-09-16 07:14] jsidorenko commented on #12275
cc @tonyalaribe

[2022-09-16 07:21] jsidorenko commented on #12284
What if we create a separate struct like AssetOrNative that will keep inside the information about the assetId or currency and the amount? I would be glad to use it inside the uniques-pallet so that users could set the price for their NFT in a different token. But in my case, there won't be a conversion needed, which means if the price is set in USDC, then it will be the only token to pay for the

[2022-09-16 08:39] kianenigma commented on #12279
Should be an easy addition -- and a `() impl` does nothing.

[2022-09-16 08:40] sea212 commented on #12276
Sure, I'll prepare a PR soon.

[2022-09-16 09:46] kianenigma commented on #10613
Generally speaking, I realized again that `Get` can break everything.

For example, if you put a `type Foo: Get<u32>` into the metadata, but the `Get<_>` is actually implemented by a real storage that can change on the fly, PJS api breaks.

[2022-09-16 10:50] jsidorenko commented on #12275
What if we change the assets deletion process a bit:
1) we mark an asset as soft-deleted and thus prevent any transfers
2) we create a method to wipe user balances for such a token by passing either the addresses or the number of accounts to wipe. This would allow calling the same method multiple times
3) and finally, completely delete the token

[2022-09-16 11:27] joepetrowski commented on #12275
It's a bit of an edge case, but `freeze_asset` should really be used in advance of deleting an asset anyway in order to provide the correct witness data. Otherwise, a simple transfer getting between your transaction construction and inclusion will invalidate the `destroy` call.

[2022-09-16 11:52] tonyalaribe commented on #12275
So an alternate solution would be to destroy the maximum number of accounts, and then emit a PartiallyDestroyed event to encourage reexecuting the action to complete destroying the asset. Like the [refund and dissolve pattern in cloud loans](https://github.com/paritytech/polkadot/blob/master/runtime/common/src/crowdloan/mod.rs#L501L572)

[2022-09-16 12:07] jsidorenko commented on #12275
yeah, that could work as well

[2022-09-16 14:16] #12268 closed

[2022-09-16 14:26] EclesioMeloJunior commented on #12191
@bkchr I was able to reproduce this bug because by mistake I introduced a code in the gossamer client to spam the same neighbor message (within an interval of some seconds) to a substrate peer (https://github.com/ChainSafe/substrate-node-template/tree/afbe177f3fd40728cd4a7ea1ab3a5c03873f7cd1), both running locally

[2022-09-16 16:22] tonyalaribe commented on #12275
I'll create a PR for this.

[2022-09-16 19:23] benluelo commented on #12257
I think extracting this out into a separate crate would be a good move, could be done in tandem with https://github.com/paritytech/substrate/issues/10613 too. Would this be something kept under the paritytech organization?

[2022-09-16 21:45] #10251 closed

[2022-09-17 01:08] nazar-pc commented on #12250
I am a bit concerned about this because it implies a bunch of assumptions about properties of the chain like consensus and with Substrate being a generic framework it would be unfortunate to have our chain broken because the default sync is no longer compatible with it.

I'm not sure what is the scope of this issue though, maybe we can patch it and override the default mechanism somehow even after

[2022-09-17 02:21] liuchengxu commented on #10360
@bkchr Any update on this issue? I can help here if you want.

[2022-09-17 05:02] bkchr commented on #10360
Yeah you can take this @liuchengxu. Sorry for not yet having someone working on this. It fell under the radar.

[2022-09-17 05:04] bkchr commented on #12250
Good point and clearly something that should be considered while doing this :)

[2022-09-17 16:52] yourarj commented on #12248
@KiChjang I would like to take it up.

[2022-09-18 09:55] MrishoLukamba commented on #12227
Taking it

[2022-09-19 07:36] Chralt98 opened #12292 "[pallet_lottery] Is the random number generation safe?"
Hey Substrate Team!

I read this post of Shawn https://substrate.stackexchange.com/a/128/2484 and found out, that random numbers for lotteries are not reliable, even with VRF on GRANDPA since the validators could earn more money through the lottery than for the block production. So I would derive, that the usage of random numbers for lotteries is not safe in production, when the stake is high enou

[2022-09-19 07:38] bkchr commented on #12292
This sounds like a perfect question for stackexchange. Please post it there.

[2022-09-19 07:38] #12292 closed

[2022-09-19 07:41] Chralt98 commented on #12292
https://substrate.stackexchange.com/questions/4889/is-the-random-number-generation-safe-for-pallet-lottery

[2022-09-19 07:45] burdges commented on #8311
I've not looked at `pallet_lottery` but in general it depends upon the usage of the lottery.

It's clearly impossible for any blockchain to simultaneously close a lottery and produce randomness with which to decide the lottery, but you might survive doing this if the lottery was low enough value.

In our case, all block producers learn their babe/sassafras VRFs two/three epochs in advance, so you

[2022-09-19 10:52] acatangiu opened #12293 "BEEFY: Implement peer reputation changes for Request Response protocol exchanges"
PR https://github.com/paritytech/substrate/pull/12124 added a custom Request-Response protocol to BEEFY, including scaffolding to adjust peer reputation based on this protocols network exchanges.

This issue tracks defining the reputation change deltas for the various error-cases and plumbing them in.

[2022-09-19 10:52] #10824 closed

[2022-09-19 10:53] acatangiu opened #12294 "BEEFY: Implement peer reputation changes for gossip exchanges"
BEEFY voter gadget uses its own gossip sub-protocol, but currently doesn't make use of the peer reputation changes API available there.

This issue tracks defining the reputation change deltas for the various error-cases and plumbing them in.

[2022-09-19 10:53] ruseinov opened #12295 "[Improvement] Make sure try-runtime executes migrations and their pre/post checks sequentially."
**The problem:**

When we have several migrations for the same pallet supplied for the runtime - their pre-update checks are being executed before any of the migrations, which means that at least storage version checks are failing. This makes it impossible to test several migrations at a time, which sometimes is a necessity and requires manual intervention.

Code example:
[code]

**The solution:**

[2022-09-19 11:38] acatangiu opened #12296 "BEEFY: integrate request-response protocol peer selection strategy with all of sync"
PR https://github.com/paritytech/substrate/pull/12124 added a custom Request-Response protocol to BEEFY, including a simple peer selection strategy based on connected peers' gossiped votes.

In the long run we want to integrate with the smarter `sync` [peer selection strategy](https://github.com/paritytech/substrate/blob/master/client/network/sync/src/lib.rs#L257-L272), once that is decoupled from

[2022-09-19 12:53] yourarj commented on #12041
@kianenigma
I see similar pattern in balances, democracy, transaction-payment and vesting too. Are these also candidate for #[pallet::storage_version]?

[2022-09-19 12:57] Dinonard commented on #12279
Thanks for the feedback!

I'll prepare a PR during tomorrow and reference this issue.

[2022-09-19 13:16] MrishoLukamba commented on #12226
is anyone still on this issue?

[2022-09-19 14:16] Ank4n commented on #12227
@MrishoLukamba Feel free to pick it up.

[2022-09-19 16:02] apopiak commented on #11538
Any news on this?

[2022-09-19 21:23] branan opened #12302 "pallet::call macro does not preserve lint attributes"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The `pallet` procedural macro does not preserve any attributes on fns in a `#[pallet::call]` impl. This means that it is impossible to add a `#[allow(lint)]` or `#[deny(lint)]` attribute to a

[2022-09-20 06:57] DaviRain-Su opened #12304 "error: generic arguments must come before the first constraint"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

use `pallet-uniques v4.0.0-dev (https://github.com/paritytech/substrate.git?branch=polkadot-v0.9.28`

[code]

### Steps to reproduce

_No response_

[2022-09-20 07:40] MrPai opened #12306 "Utility.batch_all wrapped in Proxy is not transactional"
### Is there an existing issue?

- [x] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [x] This is not a support question.

### Description of bug

In this PR: https://github.com/paritytech/substrate/pull/11431,
the macro ```#[transactional]``` has been removed from 'utility.batch_all', it works good normally, however if it's wrapped in `

[2022-09-20 08:13] bkchr commented on #12304
It was fixed in master: https://github.com/paritytech/substrate/commit/c24431eb6a95197550b30715a4c124be1aea79de

[2022-09-20 08:47] kianenigma opened #12308 "nomination-pools: Funds mistakenly sent to pool bonded account"
Someone in Kusama sent some funds directly to the bonded account: https://kusama.subscan.io/account/F3opxRbN5ZavB4LTn2K51eNErsqJkWgkh3DqekS2HWmTd8G

As far as I can say now:

Nonetheless, it is worth exploring this outcome, write tests for it, and see if there something can be done about it.

[2022-09-20 10:42] #12304 closed

[2022-09-20 13:19] kianenigma commented on #12302
@sam0x17

[2022-09-20 13:19] shawntabrizi commented on #12306
Assuming you are on the latest master, these kinds of issues should be resolved starting here: https://github.com/paritytech/substrate/pull/11927

[2022-09-20 13:21] kianenigma commented on #12257
not necessarily, it can be under any org.

[2022-09-20 14:17] #12211 closed

[2022-09-20 15:05] #12255 closed

[2022-09-20 15:53] kianenigma commented on #9587
@Ank4n

[2022-09-20 20:48] bkchr commented on #11538
@paritytech/ci anyone could look at this?

[2022-09-20 21:02] bkchr commented on #12296
What you mean by smarter `sync` peer selection? You just link a struct there.

You should already be able to follow the sync peers by listening on the `event_stream` from the networking service.

[2022-09-20 21:07] bkchr commented on #12295
The implementation of the `OnRuntimeUpgrade` trait for tuples could, if `try-runtime` feature is enabled, run `pre_check` and `post_check` before/after the `on_runtime_upgrade` call of a single tuple element. This should solve your problem here.

[2022-09-21 00:26] shawntabrizi commented on #12111
Would make sense to me to have SR Labs or someone else audit the crate before we switch to it?

[2022-09-21 00:38] shawntabrizi commented on #12257
@benluelo thanks for the thoughtfulness you put into this.

I think with your comments in mind, I would be open to creating a new type, and adding it to Substrate.

If we plan to migrate it somewhere else in the future or whatever else, we can deal with that, but if you are interested to make the crate, sounds good to me.

Could we then also make `BoundedVec` a `BiBoundedVec<Max, Min = 0>` and han

[2022-09-21 01:52] jamesbayly commented on #5902
Throwing some more weight into this, we'd like to start allowing access to certain unsafe methods for our customers, but without being able to easily determine which methods are unsafe, we can't build an allowlist (without exposing everything)

[2022-09-21 02:14] MrPai commented on #12306
Got it, thanks.

[2022-09-21 02:14] #12306 closed

[2022-09-21 06:12] #12111 closed

[2022-09-21 06:13] AurevoirXavier commented on #12111
I'm looking forward to this.

[2022-09-21 08:10] koute opened #12318 "Investigate Cranelift's new incremental compilation cache"
[Most recent version of `wasmtime`](https://github.com/bytecodealliance/wasmtime/blob/main/RELEASES.md#100) has a new incremental compilation cache which might significantly improve our cold startup times; quoting the changelog:

Related issue where we see that cold startup time is a problem: https://github.com/paritytech/polkadot/issues/5821

We should check whether this could help us, and if so

[2022-09-21 09:08] ruseinov commented on #12295
@bkchr yep, I'm going to investigate this today.

[2022-09-21 11:07] kianenigma commented on #5902
I am not in the weeds but it sounds to me like a fairly simple fix. I am surprised we don't have this already.

[2022-09-21 11:53] radupopa2010 commented on #11538
Linking https://github.com/github/git-sizer
It has some good suggestions on how to go about reducing repo size.

[2022-09-21 12:36] alvicsam commented on #11538
Recreated gh-pages from scratch as a quickfix. Need to investigate what else can be removed.

[2022-09-21 12:44] Szegoo commented on #12184
I will give this a try.

[2022-09-21 13:29] DylanVerstraete opened #12320 "Performance regression in block import after upgrading to polkadot 0.9.24"
We noticed a huge drop in performance when trying to sync an archive node on our existing networks with a node that has polkadot-0.9.24 depedencies. With around 5-8 peers the speed comes down to 25-35 blocks per second.

On substrate V3 the block import speed was around 100-200 blocks per second.

V3 node output:

[code]

Polkadot 0.9.24 output:

[code]

[2022-09-21 15:08] Ank4n opened #12323 "Add a migration helper for reducing HistoryDepth config value in staking pallet"
[PR](https://github.com/paritytech/substrate/pull/12230) introduced HistoryDepth  as a config value in staking pallet which bounds several storage item in the pallet. In order to lower this value for a runtime once it has been already set, we need to handle migration of the storage items affected.

We should add a  generic migration function `fn migrate_history_depth(from: u32, to: u32) -> Weight`

[2022-09-21 15:36] DylanVerstraete commented on #12320
After making our node compatible with polkadot-0.9.29 depedencies, block import speed improved by 50% to 45-60 blocks per second

[code]

[2022-09-21 17:31] #12064 closed

[2022-09-22 09:58] dcolley commented on #11842
polkadot/utlls/staking-miner v0.9.27 has the same problem on Polkadot with `state_getStorage`:
_(v0.9.29 on Kusama is fine)_

[code]

[2022-09-22 10:37] jacogr commented on #11842
That is from the node itself, not the API - `Object({"code": Number(-32702), "data": String("Exceeded max limit of 15728640")`

[2022-09-22 10:39] kianenigma commented on #11672
A rate limit on the maximum change is also a good idea.

[2022-09-22 11:00] dcolley commented on #11842
this call will get the response:

[code]
Above works on command line, but jsonrpsee throws "Response is too big" error

[2022-09-22 11:03] DylanVerstraete commented on #12320
Maybe related issue: https://substrate.stackexchange.com/questions/2002/database-corruption-on-syncing-parachain-to-rococo/4952#4952

[2022-09-22 11:07] ggwpez commented on #11842
So you mean there is a but in the staking miner? Then please open an issue for it.
I think the staking miner needs additional flags on its connected node, something like `--ws-max-out-buffer-capacity 1000 --rpc-max-payload 1000`.
Not sure where that is documented.

[2022-09-22 12:12] acatangiu commented on #11797
this is actually something different - by building leaf `on_finalize()` you actually get:

[code]

and at this point you also run into trouble with 1-block deep forks writing **different** leaf contents to offchain db for same `(parent, pos)` key.

The offchain-db thing can be fixed by also doing https://github.com/paritytech/substrate/issues/11799.

-------------------

@seunlanlege Is the mixed

[2022-09-22 12:17] dcolley commented on #11842
@ggwpez thanks for that, I'll try that on the polkadot validator and see if it helps.

[2022-09-22 12:22] seunlanlege commented on #11797
So you're correct that this makes sense, but only from a leaf index perspective.

But light clients won't be tracking leaf indexes, they'll be tracking block heights.

And it's a bit wonky from that perspective that a leaf emitted a block `N` contains data about `N-1` especially when there's no clear advantage to having it this way.

Whereas it's easier to reason that a leaf emitted at block `N` c

[2022-09-22 12:30] bkchr commented on #12320
Can you give an exact commit? And can you also link to the different versions of your node you are speaking about?

[2022-09-22 12:31] DylanVerstraete commented on #12320
Substrate V3 node: https://github.com/threefoldtech/tfchain/tree/1.12.3/substrate-node
Substrate polkadot-0.9.24 node: https://github.com/threefoldtech/tfchain/tree/2.1.0/substrate-node

[2022-09-22 12:37] acatangiu commented on #11797
Aha, that makes sense. So to summarize, you're saying for a light client, the best experience to interact with `pallet-mmr` is if it exposed leafs with following format:

[code]

right?

[2022-09-22 12:43] bkchr commented on #12320
And your V3 wasn't just faster because you used the native runtime?

[2022-09-22 12:46] dzmitry-lahoda commented on #7735
For me any names are both same. They do not speak me what they will do. Official docs lack scenarios, may be like this https://github.com/ComposableFi/composable/blob/main/docs/governance.md#multisignature-proxy-setup

[2022-09-22 12:51] DylanVerstraete commented on #12320
No I don't think so.

[2022-09-22 12:58] seunlanlege commented on #11797
yes correct.

[2022-09-22 13:08] bkchr commented on #12320
Okay. @koute maybe something you could take a look at some point? The regression seems to be relative high.

[2022-09-22 13:09] bkchr commented on #12320
@DylanVerstraete it would be nice to post the exact commands you used to launch your node.

[2022-09-22 13:13] DylanVerstraete commented on #12320
[code]

[2022-09-22 14:15] #7735 closed

[2022-09-22 15:48] olanod commented on #7735
IMO *pure proxy* doesn't really solve the problem, if anything it will confuse people even more 🤷🏽

[2022-09-22 16:35] pepyakin opened #12331 "Note on the API design that involves code auto-generation"
One of the best things about Rust is the balance between explicit and implicit things. See [here](https://blog.rust-lang.org/2017/03/02/lang-ergonomics.html) to get the mental framework here. One example I want to highlight is importing things.

If you worked with languages like C, to print something, you would write `#include <stdio.h>`, and it would pull `printf` among other things. This can be

[2022-09-22 17:00] vgeddes commented on #11797
I'm happy with this change too. It makes sense for me and would allow us to improve some of the code in our off-chain relayers. As the relationship between block-height, leaf-index, and the desired leaf-paras-root was a bit confusing.

+1

[2022-09-22 17:34] shawntabrizi commented on #12331
cc @KiChjang @bkchr @sam0x17

[2022-09-22 17:42] sam0x17 commented on #12331
I agree that this is a good place to use a builder pattern and I really like the syntax. One key requirement when doing something like this is to make sure it is well documented. This can be tricky with builder pattern because you absolutely need concrete examples since the normal way people poke around (seeing what methods exist on a thing) is more difficult with the builder pattern. So yeah I re

[2022-09-22 18:05] pepyakin commented on #12331
Just to clarify, I did not mean to fix only this particular macro. The builder pattern is also not as important, as my main point not to conjure identifiers out of thin air. I do not exclude that there could be other approaches, but that is also not the point of this post.

To address your comment, though, I agree that when you split a single API into a set of APIs, which is the case with the buil

[2022-09-22 19:28] bkchr commented on #12331
I thought about this already since quite some time. Aka that this `_context` and `at` parameter were not my best idea. I also thought that we should do a builder pattern, but in reverse. So, something like:

[code]

Then there is also no problem around the documentation as there would be visible from the a normal trait.

[2022-09-22 19:53] Ank4n commented on #12323
@kianenigma  Not sure if its a nonsense idea. But I am thinking wouldn't it be great if there is a hook in the pallets like `fn on_config_change(key, old_val, new_val)` whenever runtime is upgraded with a new configuration value. And in this hook, we should be able to take care of very hidden/opaque migrations that are needed on config change, such as reducing `HistoryDepth`.

I am assuming we wil

[2022-09-22 23:21] xlc commented on #9587
What we really want is async operations. We already have proper abstraction for it with years of experiences and I want to make sure we don't repeat the same mistakes and introduce more race condition bugs

[2022-09-23 03:08] KiChjang commented on #12331
I do believe that this is the direction that we were supposed to move towards (i.e. no magical identifiers coming out of nowhere), but the one macro that gives me pause is `construct_runtime`. It currently spits out quite a lot of identifiers during macro expansion, such as `RuntimeCall` and `RuntimeEvent`. We can't use the builder pattern here for this macro, so I'm wondering what should be the s

[2022-09-23 05:57] sam0x17 opened #12333 "docs for pallet macros are hard to find because of how we parse pallet macros"
If you look at the majority of the `pallet::` macros, you'll notice most of them don't actually have an explicit macro definition associated with them anywhere. This is because we use these macros essentially as markers that are picked up, acted upon, and removed by the pallet expansion macros. They don't actually exist anywhere in the code as macros in their own right.

This works great for our p

[2022-09-23 06:03] sam0x17 commented on #12333
rust analyzer perspective:

before:
<img width="866" alt="Screen Shot 2022-09-23 at 2 01 56 AM" src="https://user-images.githubusercontent.com/1855021/191900350-d97dd662-bdbe-4b14-8bfa-45aedb40a34b.png">

after:
<img width="866" alt="Screen Shot 2022-09-23 at 1 25 18 AM" src="https://user-images.githubusercontent.com/1855021/191900391-4428b21f-6d65-462e-bf24-1242209959b0.png">

[2022-09-23 06:12] koute commented on #12320
Sure, I can take a look at this.

[2022-09-23 07:53] Szegoo commented on #11672
Ok, so if I understand this correctly the `root` of the pool should be able to set the commission rate, but we also want each pool member to define what is the maximum commission that they are willing to pay, this is what the `Commission` struct from the above example should be used for, right?

[2022-09-23 08:03] Szegoo commented on #11672
Ok, so if I understand this correctly the `root` of the pool should be able to set the commission rate, and also define some maximum for it so that we don't have the problem mentioned in #6920 right?

[2022-09-23 08:13] DylanVerstraete commented on #10103
@remzrn we face a similar issue on our networks. Did you get it resolved already?

[2022-09-23 09:15] seunlanlege commented on #11799
Will pick this up on monday

[2022-09-23 09:36] #8436 closed

[2022-09-23 09:54] alvicsam commented on #11538
It seems that recreating `gh-pages` reduced size to 8 GB, so now it looks like this:

<details>
 <summary>git-sizer output</summary>

[code]

</details>

The way how I calculated it:

[code]

Other heavy objects need investigation

[2022-09-23 10:51] bkchr commented on #12333
I like the idea.

IMO these stubs just really just be stubs, meaning they just forward the input tokens. We can then add a doc comment that these macros only work in the context of the `pallet` macro. This should be good enough imo.

[2022-09-23 11:24] ggwpez commented on #9587
What kind of operations? For example iterators on `StorageMaps`? So that `StorageMap::iter_keys().map(` would be multi-block operation.
Or rather wrapping a whole migration code block in some kind of async macro and using storage operations as yield points?
[code]
I think this is more complicated than having some kind of block number counter.
What are the race conditions do you see with this appro

[2022-09-23 11:38] bkchr commented on #10103
@DylanVerstraete try to revert this pr: https://github.com/paritytech/substrate/pull/9132 it could may be the problem

[2022-09-23 11:44] kianenigma opened #12337 "fast-unstake: decouple from nomination pools + staking"
The first draft of this pallet was written with the tight coupling approach for the sake of simplicity.

- Moving Forward

1. [ ] We can use `StakingInterface` as a proxy into a staking pallet.
2. [x] We won't rely on nomination pools anymore and won't provide the feature to join the pool on the fly.

If we happen to want to still support pool join, we can either:

1. You provide some `opaque: Vec

[2022-09-23 11:58] ggwpez opened #12338 "bench: Use `log::*` instead of `println`"
Good first issue:

The legacy code in `utils/frame/benchmarking-cli/src/pallet` needs some love.
Replace all `println` with respective `log::*` calls and think of a good log target. Maybe `frame::benchmarking::pallet`.

[2022-09-23 12:13] bkchr commented on #12331
You would need to change the syntax to make this more obvious. However, I don't have any idea about a good syntax.

[2022-09-23 12:27] DylanVerstraete commented on #10103
Reverting only that PR does not really work, since this code depends on the `ProviderCache` which was removed at some point..

[2022-09-23 12:36] acatangiu opened #12339 "pallet-mmr: Change runtime API and RPC API to work with block numbers instead of leaf indices"
### Issue

This issue was triggered by a good observation made by @serban300 in https://github.com/paritytech/substrate/pull/12324#issuecomment-1255984160:

Current `pallet-mmr` APIs work with leaf indices, leaving the burden of translating block numbers to leaf indices to the users of the pallet.

Light clients might have an easier experience dealing only with block numbers, and avoiding managing

[2022-09-23 12:43] benluelo commented on #12257
Awesome! I don't think I can commit to maintaining this as a separate crate right now, but if it were to be made somewhere else I would absolutely contribute to it.

As for right now, `Bounded*<Max>` collections would have to be a wrapper around their `BiBounded*<Max, Min = 0>` counterparts, and just delegate the methods that are fallible for both to the wrapped type (this boilerplate could of cou

[2022-09-23 12:47] acatangiu commented on #11799
Doing this will normally require an offchain database migration for any runtime deploying https://github.com/paritytech/substrate/pull/11594 (Rococo runtime >= 9260).

Right now though, `pallet-mmr` is only deployed on Rococo which is still running runtime version `9250`; if we get this change in soon, then we might get away upgrading directly from `9250` without needing database migration.

[2022-09-23 12:49] bkchr commented on #10103
The important point is probably to add a call to `initialize_block` before calling `authorities`. So, something like this:

[code]

[2022-09-23 12:54] bkchr commented on #12191
Yeah my question was more on how to run gossamer to recreate this spam ;) Or at least to show the code and then @dmitry-markin could maybe adapt it to rust.

[2022-09-23 13:20] Szegoo commented on #12337
I am going to attempt this.

[2022-09-23 13:39] sam0x17 commented on #12333
Yes and I think I'm also going to add a link or comment next to the stubs pointing to where the code related to that stub actually is just as a reference for programmers looking for it

[2022-09-23 13:41] Ank4n commented on #12226
@Szegoo No one is working on this currently.

[2022-09-23 14:24] DylanVerstraete commented on #10103
Something like this? https://github.com/DylanVerstraete/substrate/blob/c66577f77b10269f4f7b2070fad7f16803170e60/client/consensus/aura/src/import_queue.rs#L208

I tried it, doesn't work. I still get the same error...

[2022-09-23 14:30] #12295 closed

[2022-09-23 17:02] DylanVerstraete commented on #10103
Okay, I think I found the issue to all of this. For adding / removing validators we use: https://github.com/gautamdhameja/substrate-validator-set

Which implements the `SessionManager`. Now, when adding a validator, I doesn't modify the Aura pallet storage. When the session rotates, the validator gets added to the aura pallet storage automatically, but this is a block later than the actual adding

[2022-09-23 19:59] rphmeier commented on #12308
Generally speaking, if you identify an `AccountId` which is verifiably deterministically generated, you can know with overwhelming probability that nobody holds the private key for such an account.

[2022-09-24 01:18] xlc commented on #9587
The main reason we want to split some operations to multiple blocks is due weight limit, not just because we want to do it due to business reason (which I think is out of scope for this issue).

Before a language natively supports async operations, we use callbacks to implement it. So it will be something like this

[code]

Later, if we somehow get async support, we can make it

[code]

[2022-09-24 08:12] kianenigma commented on #12337
@Szegoo not recommended, as we're doing a lot of development on this and it might change. I'd recommend sticking to `mentor` tagged issues.

[2022-09-24 08:42] Szegoo commented on #11736
Shouldn't this issue be closed?

[2022-09-24 11:05] KiChjang commented on #11736
Yes.

[2022-09-24 11:05] #11736 closed

[2022-09-24 13:49] Szegoo commented on #12339
I will give this a try.

[2022-09-24 15:17] #12252 closed

[2022-09-25 07:39] jasl opened #12346 "Corruption: Bad block content"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Sorry I can give furthur more detail, because it's a user forward me but I can't contact him again

The node's version are based on polkadot-v0.9.29 branch

![IMAGE 2022-09-25 15:38:55](https:

[2022-09-25 09:58] ggwpez commented on #12308
Do we have fool-proof UI for the nom pools in place? Or are users interacting with them manually?

[2022-09-25 21:29] bkchr commented on #12346
Looks like a broken db. Maybe some file system corruption. If this happens again and isn't a faulty file system, please reopen

[2022-09-25 21:29] #12346 closed

[2022-09-26 07:36] Chralt98 opened #12350 "How to conditionally include extrinsics?"
In Zeitgeist we have the main-net and test-net and the runtimes are separated. There is the prediction-markets pallet, which is used by both runtimes. Now, we'd like to include a specific feature, which affects the prediction-market pallet. But this should only be allowed for the test-net, but since both runtimes use the same code, we thought about using Rust features.

Shawn nicely explained, tha

[2022-09-26 07:47] #11912 closed

[2022-09-26 07:47] #12094 closed

[2022-09-26 12:08] acatangiu commented on #12339
As shown in https://github.com/paritytech/substrate/pull/12345 there is also the option to change only RPC API to use block numbers, while leaving existing Runtime API unchanged.

[2022-09-26 12:41] jasl opened #12354 "[Feature Request] User friendly DB broken warning instead of panic"
I was submit several times of panics led by DB corrpution

For example
- https://github.com/paritytech/substrate/issues/12346
- https://github.com/paritytech/substrate/issues/9836

I propose that Substrate can show a human readable error instead of panic which made users confused and the chain devs maybe ask for digging in

[2022-09-26 22:22] Roznovjak commented on #12304
Would it be possible to backport the fix to 0.9.28?

[2022-09-26 22:41] #5148 closed

[2022-09-26 22:42] #6040 closed

[2022-09-26 22:46] #8225 closed

[2022-09-27 06:16] alebaffa opened #12357 "sp-state-machine v0.12.0 does not compile with latest rustc 1.66.0-nightly"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`sp-state-machine v0.12.0` does not compile with latest Rust `nightly`. It does compile currectly with `stable`.

Versions in use:
- `rustup 1.25.1 (bb60b1e89 2022-07-12)`
- `rustc 1.66.0-nigh

[2022-09-27 09:18] DylanVerstraete commented on #10103
@bkchr Seems like my last comment is not working actually. What could I be missing here?

[2022-09-27 09:25] #12357 closed

[2022-09-27 09:33] #4984 closed

[2022-09-27 09:36] clangenb commented on #12225
@burdges This is now in the polkadot-v0.9.29, and now we need to patch this on our end. May I ask you again to talk to them directly to publish a release? Thank you very much!

[2022-09-27 10:25] olaitanade commented on #11549
Has this been done ?

[2022-09-27 11:44] #12226 closed

[2022-09-27 14:22] EclesioMeloJunior commented on #12191
hey @bkchr and @dmitry-markin sure! I've created a gist with instructions of how to reproduce it -> https://gist.github.com/EclesioMeloJunior/e3e003464ab3fe53bd882f9817b07029, please let me know if you face problems trying to reproduce the steps :D

[2022-09-27 14:56] seunlanlege commented on #12339
And while this change is harmless, it's actually unneccessary. As light clients need to be aware of the `leaf_index` which they can use to derive the `leaf_postion` which is needed when verifying mmr proofs with the [ckb-merkle-mountain-range lib ](https://crates.io/crates/ckb-merkle-mountain-range)

[2022-09-27 15:24] Szegoo commented on #12017
@ggwpez I am gonna pick this up :)

[2022-09-27 15:44] #12227 closed

[2022-09-27 16:31] jsdw opened #12370 "Support filtering the metadata to only contain information for specific pallets"
It's not infrequent that users only want metadata for specific pallets. For instance, the `cargo-contract` and `staking-miner` tools both use `Subxt` to generate an interface, but both only care about a few specific pallets and don't need information about all of the rest. Additionally, tools like Sidecar implement the functionality to strip metadata to contain only specific pallets in JS land.

O

[2022-09-27 19:44] burdges commented on #12225
We need this fast then?  We'll likely need to republish their crate ourselves, but I'll ask again right quick..

[2022-09-28 06:24] takahser commented on #2116
According to [Kusama Network](https://www.youtube.com/c/KusamaNetwork)'s YouTube video _[Part 1: How to Register a Parachain on Polkadot and Kusama](https://www.youtube.com/watch?v=BaWcQxKRFmM)_ it should be possible to generate the genesis file and the runtime wasm file by running the following command:

<img width="925" alt="image" src="https://user-images.githubusercontent.com/5393704/192701100

[2022-09-28 06:29] Doordashcon commented on #12001
Hello @kianenigma would like to get a clear understanding of what this will accomplish.

[2022-09-28 06:58] acatangiu commented on #12339
Seeing how `pallet-mmr` has only been deployed on `Rococo` so far, I'm leaning heavily to just break the API without backwards compatibility if that's acceptable to you.

[2022-09-28 07:47] clangenb commented on #12225
Well, it seems we are the only people using this feature combination so far, and patching it with the git repository works, fortunately. But the sooner, the better!

Thank you very much!

[2022-09-28 07:51] bkchr commented on #12370
I'm not convinced by this. Why is it harder to strip the metadata on the client side? Why do we even need to strip? Is there any performance reason? Is the decoding taking that much time?

Especially in the light of: https://github.com/paritytech/substrate/issues/10478 https://github.com/paritytech/substrate/issues/10057

I don't see any reason why we should do this. If the client side really has

[2022-09-28 08:37] vgeddes commented on #12339
sounds fine with us 👍

[2022-09-28 09:52] xlc opened #12374 "More tests for utility.batch / batchAll / forceBatch"
https://github.com/paritytech/substrate/pull/12321 introduced a regression that only allow root and signed to use batch call. Batch call is also commonly used for non root governance actions as well.

We need more tests to cover this area to ensure we won't have this kind of regression in future.

[2022-09-28 10:06] eskimor opened #12375 "Babe only calls `create_inherent_data_providers` after block got already deactivated again"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When running Zombienet tests I am able to witness the following scenario reproducibly:

1. Block gets imported into overseer
2. 6 seconds pass - new block comes in, old one is deactivated
3. b

[2022-09-28 10:22] KiChjang commented on #12149
After #12277, the new `Weight` struct has its fields all `#[codec(compact)]` by default, and so the struct itself does not need to be `#[pallet::compact]` anymore.

[2022-09-28 10:22] #12149 closed

[2022-09-28 10:34] KiChjang opened #12377 "Remove `*_old_weight` extrinsic after migration to extrinsics with new `Weight` struct is complete"
In #12277, we created new extrinsics that utilizes the new 2D `Weight` struct as part of its parameters, and deprecated those that still uses the old `Weight` struct. The deprecated extrinsics are renamed and they all end with `_old_weight`. We have chosen this method of migration because we want to allow downstream dependencies to still be able to decode into the deprecated calls, but warn upon c

[2022-09-28 10:35] jsdw commented on #12370
I haven't measured the decode time, but that wasn't something that was an issue for me (although in some contexts perhaps it is important).

From the perspective of tools like Subxt, which store/download metadata to compile an interface with, I think my reasons boil down to:
- Smaller metadata takes less space to store and transmit. Eg, we added stripping of metadata in txwrapper because others ra

[2022-09-28 10:42] eskimor commented on #12375
I am suspecting something like the following at this point:

1. The block in question is not considered the best - it is a dead fork - hence no inherent data is requested.
2. New slot, [we get asked for the best block](https://github.com/paritytech/substrate/blob/6f2e1390303efa8ea73e969c8db8a77ac7a02e72/client/consensus/slots/src/slots.rs#L152)
3. We give some stupid answer (we select best, based

[2022-09-28 10:54] eskimor commented on #12375
We made the decision in 1, we learned about `0xf06bbfca26d7a6d5437080b0fd84822811612b5709181695c394d849ddc0ad2f` only slightly later, so we proposed `0x1a395e8c50737bd260dc147d7280b9ec0343dc1a793e18b93496e9d117ad95a7` there:

[code]

[2022-09-28 10:57] bkchr commented on #12375
We [creating the inherents for the parent block](https://github.com/paritytech/substrate/blob/519fbaae886e2773b37363970433d36cbb47d853/client/consensus/babe/src/lib.rs#L1172-L1176) when we need to verify the inherents of a child block. This is probably what you are observing.

[2022-09-28 11:12] eskimor commented on #12375
Ok, while this is weird and would perfectly explain the issue, I am still confused. First from the logs it looks like [this code path](https://github.com/paritytech/substrate/blob/6f2e1390303efa8ea73e969c8db8a77ac7a02e72/client/consensus/slots/src/slots.rs#L152-L169) is triggered:

[code]
-> We are asked for the best chain - we answer - babe requests inherent data.

Second, it really seems like Po

[2022-09-28 11:21] bkchr commented on #12375
Makes sense, then we need to include the BABE logic of selecting the fork with the highest weight in Polkadot.

This is probably also triggered, because 6 seconds are over. The path is, every 6 seconds we trigger, create the inherents and the n BABE is checking if the local node is the next validator.

[2022-09-28 11:24] bkchr commented on #12370
Whatever passes the data to the signing device, could just strip it down?

Hashing the metadata will be very important IMO and that will for sure require the entire metadata. We may could put parts into a trie and use that to make it smaller. Could maybe improve offline signer devices, because we don't need to send the entire metadata.

[2022-09-28 12:18] eskimor commented on #12375
Ok that is actually done in Polkadot. Shouldn't we pick the fork with the most primary blocks? Oh.... ... that's a different `BlockWeight` :facepalm: ... ok, then we are fine in this regard. Thanks!

[2022-09-28 12:29] jsdw commented on #12370
Mmm, with hashing I could imagine we could hash each pallet separately and then hash those hashes, and require that final hash in the tx payload. Whether a client obtains full metadata, or just certain pallets + the remaining hashes, I think it would be able to have confidence that the metadata it cares about was not different from what the node expects then.

The complexity there would be how to

[2022-09-28 13:01] acatangiu commented on #12339
Yes, decision is to implement full breaking change. Let's change Runtime API too in #12345

[2022-09-28 13:25] mustermeiszer commented on #12053
I wanted to reopen this, as this occurs more often now on my side. @KiChjang WDYT about this now?

[2022-09-28 13:45] mustermeiszer opened #12380 "Align - `codec` versions"
Currently, there are two dependencies in substrate that have differing codec versions from the otherwise used `version = 3.0.0`

* https://github.com/paritytech/substrate/blob/1b1a5e12c0e391c7ed4e3ffa332eb2fe928d257f/frame/conviction-voting/Cargo.toml#L17-L20
* https://github.com/paritytech/substrate/blob/1b1a5e12c0e391c7ed4e3ffa332eb2fe928d257f/primitives/io/Cargo.toml#L19

Would it be possible t

[2022-09-28 13:58] bkchr commented on #12375
Can this be closed @eskimor?

[2022-09-28 14:31] eskimor commented on #12375
Not everything is clear to me yet, especially your comment above: I don't think this is coming from verification, because it reports the same hash we gave it a line earlier. And even if it came from verification ... why would we re-create the paras inherent a second time? .. given that heads already get deactivated, this will not even work usually.

So the original issue is not quite resolved, alt

[2022-09-28 14:33] KiChjang commented on #12053
I'm not particularly enthusiastic about implementing this, because this is code that eventually will be removed as the compiler improves. We are basically monkey-patching the compiler trait logic by using our own macros for the benefit of saving a few keystrokes now.

I can be convinced otherwise if there is a demonstration of this being a high priority issue that negatively affects pallet develop

[2022-09-28 14:41] mustermeiszer commented on #12053
But your macros are already doing this. Just not consistently.

What is mainly of annoyance here ist that I need associated types where I could use more concrete trait bounds.

[2022-09-28 15:04] KiChjang commented on #12053
How exactly do our macros carry over where clauses from the `Config` trait to other trait impls?

[2022-09-28 16:05] mustermeiszer commented on #12053
See above:

These do NOT take over the bounds:
* frame_support::traits::Hooks
* frame_support::traits::OnFinalize
* frame_support::traits::OnIdle
* frame_support::traits::OnInitialize
* frame_support::traits::OnRuntimeUpgrade
* frame_support::traits::OffchainWorker
* frame_support::traits::IntegrityTest

These DO take over the bounds:
* frame_support::traits::PalletsInfoAccess
* frame_support::tra

[2022-09-28 16:22] KiChjang commented on #12053
The commonality in the traits that you listed as "carrying over" are all because they're generated by the pallet macro. For the others that you mentioned, they aren't traits impls that are generated during macro expansion, and instead are explicitly written out by the developer.

This is why on the very first comment on this issue, I said that it isn't necessarily a good idea, since the macro is r

[2022-09-28 20:04] #11352 closed

[2022-09-28 21:33] bkchr commented on #12375
Which line after? I don't exactly know which line you mean :D

- Every 6 seconds we will create the inherent data for the best block.
- For every block being received on the network, we also create the inherent data in the context of the parent block.

[2022-09-28 23:05] iTranscend commented on #11799
Hi, I've gone ahead to make the changes suggested in the Issue spec.

I haven't updated the tests yet, but I'll do that over the next few days.

I've opened a draft PR [here](https://github.com/paritytech/substrate/pull/12384).

[2022-09-29 08:58] mustermeiszer commented on #12053
Ah, now I understand what you meant. Yes, that would be great and I totally agree, that the macro shouldn't change explicit impls made by the dev.

[2022-09-29 12:14] eskimor commented on #12375
If you look a the logs, you will find this pattern always:

[code]
which is likely coming from [this](https://github.com/paritytech/substrate/blob/6f2e1390303efa8ea73e969c8db8a77ac7a02e72/client/consensus/slots/src/slots.rs#L152-L169) code.

I am not able to find a single instance where I see something like

[code]

-> It doesn't look like inherent data is _ever_ requested during verification. Alt

[2022-09-29 12:25] eskimor commented on #12375
The issue would be mitigated a bit via https://github.com/paritytech/polkadot/issues/5506, but not fully resolved due to secondary block producers.

I think in summary this is just an artifact of heavy load, if we are able to import blocks long before the next slot starts this race does not exist. It is only an issue if blocks come in right when we are about to start the next slot. I'll demote to

[2022-09-29 12:32] #12375 closed

[2022-09-29 16:26] serban300 opened #12387 "BEEFY: Simplify hashing for `pallet-beefy-mmr`"
Right now `pallet-beefy-mmr` Declares a new [`Hasher` trait](https://github.com/paritytech/substrate/blob/61b9a4d1a8a9bf39c1d89a8dd02f82785c10860c/frame/beefy-mmr/primitives/src/lib.rs#L51) and a new [`Keccak256` struct](https://github.com/paritytech/substrate/blob/61b9a4d1a8a9bf39c1d89a8dd02f82785c10860c/frame/beefy-mmr/primitives/src/lib.rs#L61) which implements it. I was wondering if this is ne

[2022-09-30 03:14] #12053 closed

[2022-09-30 05:47] MrishoLukamba commented on #12380
@kianenigma @shawntabrizi

[2022-09-30 05:52] acatangiu commented on #12387
No 1 sounds good to me, for no.2 it'd be better to see an RFC/PR 👍

[2022-09-30 07:39] bkchr commented on #12380
What you mean by this?

These are all compatible versions to each other, so you can use 3.1.5 downstream.

[2022-09-30 08:14] serban300 opened #12391 "pallet-mmr: Discuss reducing the number of methods in runtime API and RPC API"
Since we're changing the pallet-mmr runtime & RPC APIs as part of #12339 it's a good opportunity to revisit some other decisions related to the API:

1. Whether we should have 2 separate methods `generate_batch_proof()` and `generate_historical_batch_proof()`. Since in the end `generate_batch_proof()` is a special case of `generate_historical_batch_proof()`. See the discussion here: https://github

[2022-09-30 08:18] #12350 closed

[2022-09-30 08:52] mustermeiszer commented on #12380
But are distinct traits from a compiler perspective.

## Example
[code]

will not compile as my `MaxEncodedLen` is not equal to Substrates `MaxEncodedLen`. I can of course bound the `AssetId` to my local `MaxEncodedLen`.

I think my main interest was, why different codec versions across Substrate and if we should adapt to that.

[2022-09-30 08:53] mustermeiszer commented on #12380
Maybe it's also just a local setup thing, why my machine does not agree on a common compatible version between Susbtrate and Centrifuge. TBH it is not important enough to waste our times here, so I will close this.

[2022-09-30 08:53] #12380 closed

[2022-09-30 10:06] #11380 closed

[2022-09-30 11:55] mateuszaaa opened #12392 "Runtime api not available just after client creation? Exported method is not found"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The runtime api is not available on client instance, just after it is created

https://substrate.stackexchange.com/questions/5103/runtime-api-not-available-just-after-client-creation-exported-

[2022-09-30 15:31] kianenigma commented on #12392
No need to create an issue, this will hopefully be answered in SE.

[2022-09-30 15:31] #12392 closed

[2022-09-30 17:07] JayPavlina commented on #11783
What is `multi-assets support`?

[2022-09-30 17:52] Polkadot-Forum commented on #11783
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/uniques-pallet-nfts-september-update/410/4

[2022-09-30 18:45] shawntabrizi commented on #11783
@JayPavlina tips is an opt-in approach to royalties, rather than building royalties, and knowing that users can bypass it easily using things like wrapping the token.

In this case, there is still a way for an original NFT creator to get paid some portion of a sale, which is via the TIP feature. You can imagine, if you buy any NFT on a platform which supports tips, they will make sure that the fin

[2022-10-01 07:42] kianenigma commented on #12001
I think my description is pretty exact, don't have much to add to it after reading it again.

What I would consider is just keeping this fully backwards compatible and creating a new transaction `create_with_pool_id` instead of breaking the old one.

[2022-10-01 13:45] Doordashcon commented on #12001
can I be assigned to this?

[2022-10-02 15:55] kianenigma opened #12398 "doc-only module to group all storage items of a pallet"
A simple one: create a

[code]

for nicer discoverability in rustdocs.

Essentially, similar to this page, but better:

https://polkadot.js.org/docs/substrate/storage/#staking

[2022-10-02 15:55] kianenigma commented on #12398
cc @sam0x17

[2022-10-02 16:43] sam0x17 commented on #12398
This would be a good add-on or follow-up to https://github.com/paritytech/substrate/pull/12334

[2022-10-02 19:44] bkchr commented on #12398
We should not only list all the public storage types. We should probably support having all of them shown in the docs, not just the public ones.

[2022-10-02 21:10] bkchr commented on #12331
How should this even look like? I mean what you are proposing there is a completely different DSL. One of the main points we are only operating on types is that the state is the storage and we don't use the memory to store any state. I also don't really get what your builder pattern should look like here? What would it do? If you really want to have some builder pattern, we could also make it work

[2022-10-02 21:23] bkchr opened #12399 "Observe disk usage and shutdown on <1GB space left"
We should have some kind of service running in the node that can observe given paths. For each of the given paths we should ensure that Xbytes is left. Where `X` is configurable and could be set to `1GB` by default. The service should run as essential task, so that the node shuts down when the service ends. The service should also directly return an error on startup if we are already below the con

[2022-10-02 21:27] bkchr commented on #12380
As I said above, the versions should all be represented by one in your downstream project. That is how semver works.

[2022-10-03 06:06] MrishoLukamba opened #12400 "Add Copy derive Macro on MultiAddress enum"
I think MultiAddress enum should implement Copy trait.
@Ank4n @kianenigma @shawntabrizi

[2022-10-03 06:45] #12400 closed

[2022-10-03 07:12] acatangiu commented on #12391
I agree with this, but drop "batching" or "historical" from new "universal" API name, should be simple generate_proof(), verify_proof(), and verify_proof_stateless() with optional extra params.
Documentation should also be very clear to explain specific param combinations.

[2022-10-03 07:37] kianenigma commented on #12323
I like the idea overall, but the reason that we have so far tried to not automate things too much about this has been that doing such things in a blockchain is really hard. For example, if we write this script, perhaps in a blockchain it takes a lot of weight to do this whole migration.

Our simplistic strategy so far has been to "let the developer deal with it", not because we couldn't do it for

[2022-10-03 07:38] kianenigma commented on #12323
in `pallet-bags-list` we have an example of this:

https://github.com/paritytech/substrate/blob/dc22e48e1da70b84fb7b8a1ffc2076cf1b6e1d99/frame/bags-list/src/list/mod.rs#L143

[2022-10-03 07:44] kianenigma commented on #12398
Yeah, let's do that. Might be a little confusing though because some of them might not be public in the Rust code.

This `pub mod storage_types {}` should have a clear documentation saying that what's named here might not be publicly available in the API and is only listed as reference.

[2022-10-03 07:47] kianenigma commented on #11549
Seemingly not.

[2022-10-03 08:47] olaitanade commented on #11549
Can I work on this ?

[2022-10-03 08:49] Lederstrumpf commented on #12391
Documentation should also be very clear to explain specific param combinations.

ditto: I support unification, and if unified, then batching & historical qualifiers are superfluous and should be dropped.

[2022-10-03 08:52] altonen commented on #12133
The last bullet will be fixed as part of one of the upcoming pull requests that move syncing out of `sc-network`. Right now the protocols (even their names) are too deeply integrated into the code.

[2022-10-03 08:53] serban300 commented on #12391
Sounds good ! I also agree with these naming scheme.

[2022-10-03 09:56] KiChjang commented on #11549
Sure, I'm not aware of anyone working on this yet, please go ahead and work on this!

[2022-10-03 11:13] #9252 closed

[2022-10-03 11:21] kianenigma opened #12405 "election-provider: allow smaller solutions."
Currently, the election-provider-multi-phase pallet has a very very strict check that any solution must be of a certain size to pass the feasibility check.

This is not needed. In staking, we actually two values:

- `Validators`: akin to `DesiredTargets`
- `MinimumValidators`: missing.

We need to change the `fn desired_targets` API to actually return two numbers, analogous to the two values above

[2022-10-03 13:00] #12093 closed

[2022-10-03 14:54] kianenigma opened #12409 "revive `sub-du` in `utils/frame`"
I am suggesting that we bring sub-du, originally implemented with rust and using an older version of metadata here:

https://github.com/paritytech/substrate-debug-kit/blob/master/sub-du/src/main.rs

back to substrate. This can be a useful tool to report the state size of any substrate based chain.

Notes:

1. There is an argument that this could easily be implemented in TS as well, which is correc

[2022-10-03 17:05] ascjones opened #12410 "Contracts: return `proof_size` with `ContractResult` from dry-runs"
Currently, in order to choose a value for `gas_limit` a UI would first dry-run the extrinsic via `state_call` and use the resulting [`ContractResult::gas_required`](https://github.com/paritytech/substrate/blob/37664fe5b3513eb996225f016eceaf74963b8133/frame/contracts/primitives/src/lib.rs#L36) as a parameter to the actual extrinsic.

Now that weights are two dimensional and also include `proof_size

[2022-10-03 19:44] burdges commented on #12410
As an aside, actual runtimes could change since other transactions could impact Merkle proof CPU time, but not sure this impacts weight.  It won't change much usually though..

[2022-10-04 00:07] gatsbyz commented on #1989
`./target/release/subkey inspect //Alice`  works geat for me

[2022-10-04 05:38] cmichi opened #12412 "Contracts: Return emitted events for dry-runs"
Contract dry-runs should return the events that would be emitted.

This will e.g. enable user interfaces to indicate better what the consequence of signing and submitting a particular transaction is.

A current UX movement for blockchains is to counter the "blind sign and submit" behavior ("yolo sign and submit"). We should provide better means to assess the effect of a transaction before submitti

[2022-10-04 07:13] kianenigma commented on #12405
cc @jakoblell curious what you think before we start this.

[2022-10-04 07:15] kianenigma commented on #12412
Would be good if the `system_dryRun` does the same.

[2022-10-04 07:19] kianenigma commented on #12398
I think they are rather unrelated in terms of what needs to be done for it, but yeah perhaps a follow-up for you once you are finished there, feel free to assign to yourself :)

[2022-10-04 07:21] kianenigma commented on #12308
Staking dashboard, PJS apps and subscan all support pools pretty good by now.

[2022-10-04 08:02] altonen commented on #8686
I have removed rest of the syncing code from `sc-network`, demo/PoC is [here](https://github.com/paritytech/substrate/tree/sync-refactoring-ref). It's not meant to be reviewed as-is and acts more as a reference because it's a) too big for a single PR b) has some solutions that are still a little rough around the edges and c) and is lacking tests. I'll be working next towards splitting it into smal

[2022-10-04 09:26] Polkadot-Forum commented on #11216
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/redesign-event-system/625/1

[2022-10-04 09:42] xlc commented on #12412
Yeah we should just improve `system_dryRun` https://github.com/paritytech/substrate/issues/7555

[2022-10-04 09:54] gavofyork commented on #11216
I don't think events need to/should be "structured"; this would add a lot of conceptual, storage and implementation overhead. I do think we want a quick and easy means of proving that an event happened in a block, as well as proving the context in which it happened (I'm thinking especially an extrinsic index and possibly some call stack).

Some form of secondary trie structure would be the obvious

[2022-10-04 10:08] serban300 commented on #12387
Implemented in #12393

[2022-10-04 10:08] #12387 closed

[2022-10-04 10:09] xlc commented on #11216
Currently it is very hard (if not impossible) to identify event-call association within a reasonably complicated call (e.g. multisig + proxy + batch). Nested event solves this.
However, it is possible to simulate nested event without implementing nested event. Similar to the ItemCompleted event in batch call, we can just insert some separator event and we just need a well defined parser to convert

[2022-10-04 10:21] gavofyork commented on #11216
Indeed.

[2022-10-04 11:00] xlc opened #12415 "In block in memory storage"
We don't really have a block scoped temporary variable solution currently. We are currently just use storage for that and kill them at on_finalize hook to ensure they are never persisted. However this is just a workaround and could be improved to reduce overhead of enocde/decode/hash/overlay work.

This isn't as simple as an unsafe static global variable as we are exiting wasm context during block

[2022-10-04 11:02] #2858 closed

[2022-10-04 11:02] bkchr commented on #421
Also done.

[2022-10-04 11:02] #421 closed

[2022-10-04 11:04] bkchr commented on #12415
Probably the same as: https://github.com/paritytech/substrate/issues/5396 ?

[2022-10-04 11:06] xlc commented on #12415
Right. I knew it exists but wasn't use the right keyword when searching. Now we just need to actually have it implemented.

[2022-10-04 11:06] #12415 closed

[2022-10-04 11:06] xlc commented on #5396
This helps with https://github.com/paritytech/substrate/issues/11216

[2022-10-04 11:53] bkchr commented on #2116
@takahser you need to use the parachain node template.

[2022-10-04 12:15] bkchr commented on #12370
If we have some sort of "metadata merkle proof" we could indeed only pass the relevant parts to the offline signer plus the proof. Otherwise we would need to send the entire blob.

[2022-10-04 13:20] ggwpez commented on #12001
We would then need an `ClaimedId` event or something, otherwise UI could get confused to why a PoolId is now pointing to a different pool.

[2022-10-04 14:19] cheme commented on #5396
In itself transient storage do not look like a lot of work to me (I just did draft it here https://github.com/paritytech/substrate/compare/master...cheme:transient_storage), but it did add some host function and can make a few thing a bit more complex (I remember a discussion about making proof of execution for individual extrinsic where we could call storage_root between extrinsic to allow it: th

[2022-10-04 14:22] bkchr commented on #5396
Why?

In what way?

[2022-10-04 14:27] cheme commented on #5396
It would be possible but you would need to either attach the transient storage state at start of extrinsic or a root of it, but anyway I don't think it is a use case we want to support (proof of execution of a single extrinsic of a block).

I just fear that the host function would be use to store big blobs, but that was a bit silly (a runtime should not allow doing so).

[2022-10-04 14:42] dmitry-markin commented on #12191
Thanks @EclesioMeloJunior for the exhaustive gist with instructions! I've reproduced the error and is seeing the reputation of gossamer node increasing every second. Looking into substrate part.

[2022-10-04 14:47] burdges commented on #5396
We'll want other storage options with other proving semantics ala KZG, so I'm worried if merely doing a hash map is a problem.  It's also simpler if you know some storage type simply goes away, but..

If you want a transparent option, then you could mark state writes as transient in the block, and then declare the block invalid if not removed when the block concludes.  In this way, the block produ

[2022-10-04 14:50] ggwpez commented on #11549
AFAIK this needs https://github.com/paritytech/substrate/pull/11649

[2022-10-04 17:33] ruseinov commented on #12337
With the way fast-unstake is currently using pallet-staking Storage/Constants/Methods it seems like `StakingInterface` is not going to be enough to decouple one from another.

What we would need to do for full decoupling:
1. Remove direct calls to pallet-staking, like: `Staking::<T>::chill, Staking::<T>::slashing_spans`. For that we'd need to introduce some new methods to the StakingInterface
2. R

[2022-10-04 18:06] pepyakin commented on #5396
Since then, we also had some discussions which may be useful to contextualize this a bit.

1. The discussion about custom storage tries. I am not able to find the issue to link, but the general idea is to give the Substrate Runtime ability to manipulate data structures other than the vanilla key-value storage available right now. Such a structure would be similar to the existing child-tries (and i

[2022-10-04 19:28] burdges commented on #12370
Are nodes choosing in advance for which pallets they prepare extracted metadata?  Or they only do this upon request?

[2022-10-04 20:20] bkchr commented on #12370
We currently don't do this and I'm still not convinced that the node/runtime should do this.

[2022-10-04 20:24] bkchr commented on #5396
As these elements are not part of the trie, do we really need to add them to the storage root? I don't think so?

[2022-10-04 22:16] #12184 closed

[2022-10-05 02:44] web3pioneer opened #12422 "Memory leak when substrate run as validator"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

the money(resident memory) will increase about  100M per four hours  , and at last will  run out fo menory  and break.

Server specs 1:
Intel(R) Xeon(R) Gold 6151 CPU @ 3.00GHz 4 cores
8GB RAM

[2022-10-05 06:38] acatangiu commented on #11799
Do you need any help here?

[2022-10-05 06:41] #12296 closed

[2022-10-05 07:05] cheme commented on #5396
As part of this issue of course not, as part of the use case where a modified system runtime would call and store storage_root between each extrinsic (to create proof for single extrinsic), it may indeed not be needed and in case it is (let's say to harden stuff or for legal reason) the transient storage could still be stored to storage before intermediary storage_root calls (as long as the transi

[2022-10-05 08:17] athei commented on #12410
Yes state can always change in-between and make the gas estimation stale. In practice it works well.

[2022-10-05 08:38] kianenigma commented on #12337
All of the above can reasonably be added to `StakingInterface`. It is reasonable for a interface to staking to be able to `chill` or `force_unstake` stakers, and to report what is its current bodning duration and validator count.

The slashing span thing can be abstracted away and should be dealt with purely on the staking side. We need that value only for weighing anyhow.

I am not saying we shou

[2022-10-05 09:18] jsidorenko commented on #11783
@JayPavlina `Multi-assets support` is the ability to specify the price for your NFT in a non-native token.
No dex or conversion between tokens will be supported. If you set the price in USDC, then it will be possible to buy that NFT with USDC only.

Re smart attributes, I'll add them to the roadmap. Thanks for the heads up!

[2022-10-05 09:22] seunlanlege commented on #11949
Bump

[2022-10-05 09:59] tomaka commented on #12370
I'm very much against doing what the OP says.

We don't want to introduce multiple flavors of metadata. This makes everything more complex. Our number one priority in everything we design nowadays should be to reduce the complexity as much as possible.

If you manipulate subsets of the metadata, please for the sake of our sanity do not call it "metadata" and do not make it possible to confuse it w

[2022-10-05 10:05] bkchr commented on #5396
You should only store information in transient storage that are not important for the state, IMO. Aka you would also not need it for any intermediate proof. Data that isn't being able to be accessed later, doesn't need to be part of the storage root.

[2022-10-05 10:21] arkpar commented on #5396
Related: https://github.com/paritytech/substrate/issues/9170

[2022-10-05 10:44] arkpar commented on #5329
This is now irrelevant

[2022-10-05 10:44] #5329 closed

[2022-10-05 11:10] #12410 closed

[2022-10-05 11:58] kianenigma commented on #2116
This seems existent with the `export-state` subcommand, it is just a matter of using it right.

[2022-10-05 11:58] #2116 closed

[2022-10-05 12:06] kianenigma commented on #10557
The client can heuristically pass a package of transactions into the runtime in the single API call as well.  For example, if the client is almost sure that all of the transactions in the pool can fit in the next block.

Is this the main reason for the current design? Also, isn't there any way for wasm to handle panics internally, i.e. something like `catch_unwind` in `no_std`?

[2022-10-05 12:09] kianenigma commented on #9170
Looking at @cheme's suggestion [here](https://github.com/paritytech/substrate/issues/5396#issuecomment-1267082066), as a non-expert in the field, I am actually tempted to say a transient `OverlaySetChange` with new host functions to manipulate it is a very easy way to solve this.

[2022-10-05 12:14] kianenigma commented on #11842
As noted this is fixable with `--rpc-max-payload`.

[2022-10-05 12:14] #11842 closed

[2022-10-05 12:24] bkchr commented on #12422
Can you please try latest master?

CC @koute

[2022-10-05 12:38] Polkadot-Forum commented on #11184
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/community-bootnodes-and-snapshot-providers/630/1

[2022-10-05 12:38] Polkadot-Forum commented on #12249
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/community-bootnodes-and-snapshot-providers/630/1

[2022-10-05 12:38] Polkadot-Forum commented on #12250
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/community-bootnodes-and-snapshot-providers/630/1

[2022-10-05 13:01] pepyakin commented on #10557
I did not participate in designing this, so I am not sure about the original intention, but yes using separate instances in the block builders definitely solves this.

And yes, the present-day wasm cannot really handle unwinding correctly, even with `std`. While it's possible to provide the host functions to create try-catch blocks, an attempt at unwinding will lead to at least memory leaks and at

[2022-10-05 14:47] bkchr commented on #10557
Proper try catch will also require this for Parachains: https://github.com/paritytech/substrate/issues/10222

[2022-10-05 14:51] dcolley commented on #11842
`polkadot -h` reveals

![image](https://user-images.githubusercontent.com/1845970/194091119-828c402e-dea9-4419-a593-26d546bd3a71.png)

so better to use
[code]

[2022-10-05 15:19] jsdw commented on #12370
I don't think that this introduces multiple flavours of anything personally; it just acknowledges that on the whole we can see metadata as being per-pallet and not one giant blob. It's just taking an API call that returns "all of the items" and adding the ability to state which items you want back.

I do very much agree with keeping things simple though, and since it's been highlighted that this c

[2022-10-05 15:43] shawntabrizi opened #12427 "Archive Node Stops Syncing After Some Time"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/1860335/194101978-6f294b5e-cf94-4d34-849e-529336677e3e.png">

I have a kusama and polkadot archive node syncing on

[2022-10-05 15:44] shawntabrizi commented on #12427
As a note, this has happened to me a few times already, just opening the issue now that I know it is somehow happening over and over.

[2022-10-05 18:58] ggwpez commented on #11549
The blocking issue is now merged. I think we need this done as dependency for https://github.com/paritytech/substrate/issues/8629.

[2022-10-05 19:23] MrishoLukamba commented on #11549
Anyone on this. Or i should take it quickly

[2022-10-05 20:23] olaitanade commented on #11549
@MrishoLukamba I am working on it.

[2022-10-05 20:54] bkchr commented on #12427
Please run with `-lsync=trace` and provide the logs when it stopped again.

[2022-10-05 21:04] bkchr commented on #12370
This can just be done wherever you need to send this data to the signer. It just makes no sense to do this in the runtime. Think about you are having some kind of wallet. In your way you would request every time the chunk of metadata for the transaction you want to send and then pass this to the signer? You can just get the entire metadata and split it in your local application.

[2022-10-06 04:19] iTranscend commented on #11799
Hi @acatangiu.
I've started working on the changes you suggested but I don't think I'll be able to finish them up as quick as they are needed.
I'd love it if someone else can pick up from where I stopped so we can get away with upgrading directly from `9250` without needing a database migration.

[2022-10-06 04:45] web3pioneer commented on #12422
i tried   monthly-2022-08 on two different server.
i have also tried   the lastest master for servery hours.
 i will try lastest master again for more thime

[2022-10-06 06:24] tomaka commented on #12370
I just want to add to this that to me the direction what we should take, and the direction I took with the new JSON-RPC API is "batteries not included".

In other words, the JSON-RPC API **does not** try to give you exactly what you want. It gives you a set of low-level primitives, and on top of that you need a non-trivial piece of code to manipulate the data that you receive.

It is not realistic

[2022-10-06 06:34] ozgunozerk opened #12430 "RUSTSEC-2021-0139: ansi_term is Unmaintained"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Details
Status	unmaintained
Package	`ansi_term`
Version	`0.12.1`
URL	[ogham/rust-ansi-term#72](https://github.com/ogham/rust-ansi-term/issues/72)
Date	2021-08-18
The maintainer has advised thi

[2022-10-06 07:07] dzmitry-lahoda opened #12431 "Panic in transaction validation shows bad error message in user interface"
# Description

Panic on this line:

https://github.com/paritytech/substrate/blob/fc67cbb66d8c484bc7b7506fc1300344d12ecbad/primitives/api/proc-macro/src/impl_runtime_apis.rs#L91

Leads to non human friendly errors in polkadotjs and hard to handle errors in typescript client:
[code]

# Expected

Error should show original message produced by decoder

# Solution

Replace panic with return of Result

[2022-10-06 07:12] kianenigma opened #12432 "remote-externalities: batch size backoff"
The last CI job was much faster. Sadly it still times out at the final request https://gitlab.parity.io/parity/mirrors/polkadot/-/jobs/1920635

@kianenigma we could opt for some dynamic batch size by retrying with a smaller batch size if it fails.

_Originally posted by @ggwpez in https://github.com/paritytech/ci_cd/issues/573#issuecomment-1268800807_

[2022-10-06 09:15] bkchr commented on #12422
And master didn't showed the same behavior?

[2022-10-06 09:38] Chralt98 opened #12433 "[pallet_collective] Benchmark fails with `MaxProposals` greater `255`"
Hey valuable Substrate maintainers,

the current benchmark of `pallet_collective` fails on `propose_proposed` with `DuplicateProposal`, when the `MaxProposals` number is set greater than `u8::MAX`. This happens because the proposal hash inside the benchmark is generated based on the `MaxProposals` number and produces duplicated (non-unique) hashes after the number of `255` is reached.

https://git

[2022-10-06 11:57] tomaka opened #12435 "Peering mismatch"
When connecting a local Substrate node to a bootnode, the local Substrate node thinks that it has successfully peered with the bootnode, while in reality the bootnode has kicked out the Substrate node.

This has been investigated on Westend, but I've originally seen it happen on Polkadot.

The bootnode logs:

![image](https://user-images.githubusercontent.com/1412254/194305773-f9b5c394-28b1-4c24-a

[2022-10-06 12:02] tomaka commented on #12435
Another maybe important information is that I originally tried to debug the problem between smoldot and the bootnode. The bootnode refuses smoldot (just like it refuses Substrate) and closes the substream, but contrary to Substrate smoldot detects that the substream has been closed.

So I would lean towards the bug being on the receiver side.

[2022-10-06 12:03] tomaka commented on #12435
Another maybe important piece of information is that I was originally debugging this between smoldot and the bootnode. The bootnode refuses smoldot (just like it refuses Substrate), and closes the substream, and smoldot picks up the substream closing.

So I would lean towards the bug being on the receiving side, where the substream is actually closed by the bootnode but Substrate doesn't detect it

[2022-10-06 12:12] #12240 closed

[2022-10-06 12:28] bkchr commented on #12435
CC @altonen @dmitry-markin something for you to look into. :)

[2022-10-06 13:21] tomaka commented on #12435
To debug, I would suggest to start two Substrate nodes, on one of them replace [this](https://github.com/tomaka/polkadot/blob/3cb5a4069974cdfae3f6aad18626e1dde19ce3fb/client/network/src/protocol.rs#L756-L760) with `if true`, connect the nodes together, and check whether what happens in the `NotificationsInSubstream` and `NotificationsOutOpen` (in `client/network/src/protocol/notifications/upgrade/

[2022-10-06 14:10] sam0x17 commented on #8965
Would it instead be desirable to make the existing `construct_runtime!` macro be the production one and do a `construct_dev_runtime!` that can be opted into? Otherwise I feel like this is going to be a significant breaking change across the ecosystem possibly?

[2022-10-06 14:23] kianenigma commented on #11549
Has any draft been made? We think with the bounded calls, this should be pretty trivial.

[2022-10-06 20:31] #12333 closed

[2022-10-06 22:01] shawntabrizi commented on #12427
Here is a log where I believe the behavior is coming up again:

https://drive.google.com/file/d/1vixihBVXw5-8XDuvhOsqOlSMdkD6pw-8/view?usp=sharing

I think it is specifically triggered when I leave my laptop closed for a while, then open it back up.

Note, in this case, I was running both a Polkadot and Kusama node, and the Kusama node got into this problem, but the Polkadot node seems to be worki

[2022-10-07 02:50] xlc opened #12442 "Ability to fork network for testing purpose"
I would like to fork a relaychain or parachain from latest height to conduct testing. Ethereum have a lot of very good toolchain to allow developer to have an local fork Eth mainnet for testing & experiment purpose.

While we do have tools like https://github.com/maxsam4/fork-off-substrate that allow export the onchain data to create a new chain, it is not the idea use case for testing purpose. It

[2022-10-07 06:47] seunlanlege commented on #11949
Bumping this again, The composable runtime includes pallet-ibc, and pallet-cosmswasm which goes over these limits and prevents even our local polkadot-launch set up from working as the relay chain nodes fail to instantiate our parachain wasm.

This issue is going to block us from deploying our runtime to production. Please help @bkchr @koute

[2022-10-07 06:48] bkchr commented on #11949
You are free to open a pr to do the changes I proposed above @seunlanlege.

[2022-10-07 06:52] bkchr commented on #12442
This would also require to overwrite the signature verify host functions to always return `true`, so that we could include any kind of extrinsic etc. This isn't very complicated, just wanted to leave this here.

[2022-10-07 07:29] bkchr commented on #12431
If you enable the following feature: https://github.com/paritytech/substrate/blob/f77f788c8cd8692f716a54f13c434a8774246d7a/primitives/io/Cargo.toml#L91

This should be gone.

[2022-10-07 10:18] kylezs opened #12443 "impl StorageDecodeLength for BTreeSet"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Would be nice if it were possible to call `decode_len` on an unbounded BTreeSet. Is there a limitation that makes this impossible atm?

### Steps to reproduce

_No response_

[2022-10-07 13:00] bernardoaraujor opened #12444 "[pallet-assets] add asset_exists(id: AssetId) function"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

While working on an implementation of an Asset Registry for https://github.com/paritytech/trappist/issues/51, we needed to check whether an Asset exists.

We are currently doing the following,

[2022-10-07 14:19] #11565 closed

[2022-10-07 14:21] gavofyork commented on #11549
Actually, we don't want to make both `MaxEncodedLen`; `Parameter` is except since dispatchable params might reasonably be unbounded. But `Member` should still be, I think.

[2022-10-07 14:23] gavofyork commented on #12070
@ggwpez I don't think there's any changes needed to be made here, but could you check through all production pallets and make sure we're not doing this anywhere?

[2022-10-07 18:00] ggwpez commented on #12070
I think we have to tackle #8629, otherwise we have no guarantee that all storage items are bound.

[2022-10-07 18:03] ggwpez commented on #11565
I think there is still a case where through preemption or re-scheduling an agenda can be all `None`.
But we could add a simple perpetual migration that clears out the all-`None` empty agendas on every runtime upgrade. @gavofyork

[2022-10-07 18:53] remzrn commented on #10103
@DylanVerstraete : I thought I did, but we discovered a couple of days ago that we didn't unfortunately.
I did something similar to the fix that @bkchr proposed. You can see the change is quite trivial: https://github.com/edgeware-network/edg-aura/commit/c92b1fab4ea61232841710f7ac275cdb963a51c2.
Initializing the block works for syncing the past, because it rotates the session so update the validat

[2022-10-07 19:03] DylanVerstraete commented on #10103
@remzrn My applied fix does not work because indeed when syncing history it uses the runtime at that block.

What we have noticed in our research about this issue is the following:

We use https://github.com/gautamdhameja/substrate-validator-set for adding/removing validators, the previous version (which was compatible with susbtrate 3.0.0) used to force rotate a session when you added a validator

[2022-10-07 19:22] remzrn commented on #10103
@DylanVerstraete : Yes it makes sense that a change in the runtime does not help with the past, which is why we tried to slightly amend substrate.
I was thinking about a lot of ugly workarounds, but frankly I don't think asking validators to change binaries in the middle of a sync is very doable. I would rather hardcode a block at which we shall switch the logic, even though I hope parity can thin

[2022-10-07 19:30] DylanVerstraete commented on #10103
@remzrn I'm not really following in why your change would not work for future created blocks that contain an authoritiy set change. Isn't the point of your change to circumvent this?

[2022-10-07 20:00] remzrn commented on #10103
The point of the change, at meta level, is just to be able to comply with the logic that was enforced when the chain history was built. Initializing the block achieves this, it seems. The problem is the disconnect between who builds the block and who the authorities are. I will try to give an example: 3 validators v0, v1, v2 are in the set. Block 100 is an era change, and v0 and v1 stop, but v3 an