[2022-10-10 05:07] Doordashcon commented on #12444
@bernardoaraujor who should ideally have the privilege of calling this function/extrinsic?

[2022-10-10 05:52] joepetrowski opened #12458 "Make Assets Pallet Privileges `Option`"
Change the [privileged asset roles](https://github.com/paritytech/substrate/blob/73c4f94ce0cb41e35bd7fbc7095590b98a351dbb/frame/assets/src/types.rs#L34L41) from `AccountId` to `Option<AccountId>`. When the `owner` is set to `None`, only governance would be able to restore

This would look similar to the [`PoolRoles` struct](https://github.com/paritytech/substrate/blob/73c4f94ce0cb41e35bd7fbc709559

[2022-10-10 06:01] joepetrowski commented on #12444
Can you explain the context in which you are unable to do this?

For example, within FRAME, you can just use `Asset::<T, I>::contains_key(id)` ([example](https://github.com/paritytech/substrate/blob/a47f200/frame/assets/src/lib.rs#L513)).

`Asset` is also a [`pub` storage item](https://github.com/paritytech/substrate/blob/a47f200/frame/assets/src/lib.rs#L252), so any UI or tool using a library lik

[2022-10-10 08:21] dnjscksdn98 commented on #10472
any updates for this issue?

[2022-10-10 08:38] gavofyork opened #12460 "registrar: Avoid freebies in `provide_judgement`"
In `provide_judgement`, evaluate the return value of `repatriate_reserved` and do not store the judgement if it fails. The registrar will still have to pay the fees without getting any compensation but at least the user won't get a confirmed identity for free.

[2022-10-10 10:47] kianenigma commented on #11440
cc @ruseinov

[2022-10-10 12:05] bernardoaraujor commented on #12444
This is coming from a [pallet](https://github.com/paritytech/trappist/tree/master/pallets/asset-registry) that has a loose-coupling with `pallet-assets`.

Correct me if I'm wrong, but as far as I could tell, I could only read `Asset` if I used tight coupling.

[2022-10-10 13:48] kianenigma commented on #8250
@gpestana

[2022-10-10 14:48] tomaka opened #12461 "Remove the child trie feature"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I would suggest to remove child tries before they make it in production.

Conceptually this feature doesn't bring any advantage over a single trie.
It is overly complicated, with many differen

[2022-10-10 15:08] cheme commented on #12461
Child tries are already in production.

Removing them is still somehow partially doable: migrate some data, personally I think it makes sense to have them iff we want to have different kind of child trie in the future. But the host function are already quite called and would need to remain.

Conceptually over a single unbalance trie it forces what would otherwise be a branch to be at a given locat

[2022-10-10 15:34] dmitry-markin opened #12463 "Crafted GRANDPA neighbor messages can increase peer's reputation"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

This is a follow-up to https://github.com/paritytech/substrate/pull/12462. #12462 fixes a bug https://github.com/paritytech/substrate/issues/12191 with duplicate GRANDPA neighbor messages incr

[2022-10-10 15:39] arkpar commented on #12461
We are going to eventually support amortized O(1) deletion of child tries at the database level.

@tomaka What do you mean by "retrieving the hash of trie node. " and how would that replace the child tree functionality?

[2022-10-10 16:12] nbaztec opened #12464 "benchmark pallet panics with --record-proof"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Running a benchmark with `--record-proof` leads to a panic in the runtime. Removing the flag fixes the issue, but having the proof sizes recorded is quite important for benchmark analysis.

[c

[2022-10-10 17:33] ggwpez commented on #12464
Thanks for reporting. https://github.com/paritytech/substrate/pull/11637 will change the behaviour and should fix this as well.
I will still take a look if it is easy to fix, although I am not sure if there are tests in place that it actually works correctly.

[2022-10-10 18:12] bkchr commented on #12463
@andresilva do you think that this is problematic?

[2022-10-10 20:05] dharjeezy commented on #12460
I want to pick this up. @gavofyork @bkchr
Meanwhile, should any specific error be thrown if the result coming from `repatriate_reserved` is an error?

[2022-10-10 20:20] ggwpez commented on #12443
Where do you want to use this? `BTreeSet` is not a storage item where we would normally need `decode_len`.

[2022-10-10 20:34] bkchr commented on #12460
You probably want to introduce a new error variant, but nothing fancy.

[2022-10-10 20:58] dharjeezy commented on #12460
Alright. done

[2022-10-10 21:35] bkchr commented on #12443
Why @ggwpez?

[2022-10-11 05:51] tomaka commented on #12461
Correct me if I'm wrong, but writing key K of child trie C could be replaced with writing the key `concat(C, K)`.
The only feature that child tries provide and that can't be replicated is the ability to determine their trie root hash, but this could be replicated by adding a host function that returns the node value of a certain node.

As far as I know, child tries are used only for contracts, so

[2022-10-11 07:33] bkchr commented on #12461
Child tries are already used by Polkadot for crowdloans. All contributions per crowdloan are stored in one child trie.

[2022-10-11 07:34] cheme commented on #12461
Also used by crowdloan in polkadot and kusama. I remember parachains team asking question about the api, so I would not be surprise if used by some parachain.
I also know that regularly people team are looking at using some specialized child trie for their projects, and I really support the idea of allowing different kind of child trie/state (which current CT implementation show the foundation).
B

[2022-10-11 07:37] kianenigma commented on #12443
sounds reasonable to have IMO.

[2022-10-11 07:37] bkchr commented on #12443
Yeah.

[2022-10-11 07:39] tomaka commented on #12461
Why should it? What's an example use case?

Personally I find it completely insane that we even consider that kind of insanely complex design.
Can we not declare the trie as "done", remove child tries as too weird and complex, and move on to something else? Do we really have to dig into the trie further and further just for the sake of justifying our jobs as engineers?

[2022-10-11 07:40] gilescope commented on #11648
No but RPCs were never on chain upgradable  so this is very much an
awesomeness unlock.

On Thu, 21 Jul 2022 at 16:29, Alexander Theißen ***@***.***>
wrote:

[2022-10-11 08:03] kianenigma commented on #12442
https://github.com/polytope-labs/substrate-simnode is a good external tool for now.

Skipping signature checks in try-runtime (or in any case) as Basti said is quite easy. We can also just add a new runtime api for try-runtime that receives an extrinsics, and just applies the `Call`. Although then you miss out on some other aspects like `SignedExtra`

[2022-10-11 08:05] kianenigma commented on #12442
Currently, try-runtime is independent of the client. There is no client. This makes development on it quite easier. I am not sure if we can/should try and add what you are asking now, or first try and integrate try-runtime into the client, and afterwards attempt this.

[2022-10-11 08:07] cheme commented on #12461
On paper the design is just writing merkle proof of another state in a parent state and allow composing both state proof.
As people use to say api design is bad, maybe this is the issue. Or it is just the thing in place that are too complex and would
require an overhaul, or removal as you propose.
I really don't see composing two merkle state as 'insanely' complex, it is just put the merkle root o

[2022-10-11 09:06] shiyivei commented on #11622
Thanks for your replying

I met it when used substrate-node-template to develop, i didn’t commit any thing, I just ask for help, I ‘m a newer to substrate, this question makes me confused, thanks
  ( https://github.com/substrate-developer-hub/substrate-node-template),

From: Bastian Köcher ***@***.***>
Date: Thursday, June 9, 2022 at 13:30
To: paritytech/substrate ***@***.***>
Cc: shiyivei ***@***

[2022-10-11 09:40] bkchr commented on #12442
I also thought about this over the years. I once wanted to create "Polkadot Doppelgaenger" :D Basically a different binary that is having the the special host functions to accept any signature. In general I don't think that we need that much from Substrate to make this work. In my head you would have in your own chain some kind of different binary, that is setting up the service to use manual seal

[2022-10-11 10:54] burdges commented on #12461
Afaik we should do O(1) deletion below any node, not merely at child tries.

We discussed trie write-locks for runtime multi-threading too, but they too should happen anywhere, not just at child trie boundaries.

We do want alternative storage proof types, like MMR, KZG, and zk proof friendly Merkle trees, especially for zkUTXOs ala ZCash sapling, ZEXE, etc., and non-membership proof friendly null

[2022-10-11 10:55] kianenigma commented on #6927
The main problem currently is that a normal proxy requires a hefty deposit, while a staking controller is basically a free proxy.

I suggest the following steps to solve this, roughly:

[code]

As a first step, staking's inner controller management system will be the `ProxyProvider`

[code]

Then, we should be able to throw away most of the controller logic and replace it with an external `ProxyPr

[2022-10-11 11:35] Polkadot-Forum commented on #6927
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/staking-deprecating-controller-for-proxies-strategy-implementation/724/1

[2022-10-11 12:10] andresilva commented on #12463
This could be improved but doing so requires adding some complexity that I'm not sure is worth it for now. Neighbor packets can be spoofed, either by increasing the `commit_finalized_height` or just claiming you are in a future `set_id` and/or a future `round`. In order to detect this we'd have to look at what the other peers are reporting, maybe calculate some median set_id/round and then identif

[2022-10-11 12:22] pepyakin commented on #12442
I have a gut feeling that it's not enough to substitute only signature verification. I am pretty sure that in the long tail there are cases which would require doing something else from the Substrate Runtime Interface or maybe even won't work at all.

I think it's worth looking into making the runtime aware of that it is being try-runtimed. There are two options:

1. Runtime. There is a variable t

[2022-10-11 12:29] bkchr commented on #12463
So, we can close this issue @andresilva?

[2022-10-11 12:36] bkchr commented on #12442
For sure, but most of the stuff you are mentioning sounds to me like it could be solved with the "wasm override" feature. Aka you just fork off the main net. Keep this thing running and then use some wasm that is equal to the one on chain, but compiled with some special flags that give you more outputs or has special checks enabled.

For fuzzing we had recently this issue: https://github.com/parit

[2022-10-11 12:40] kianenigma commented on #12130
wild dream: have a standard testing framework, call it automatically after each _TEST_.

[2022-10-11 13:13] pepyakin commented on #12442
Yes, thanks, I am aware. Me and Kian already discussed those things over time. But I agree on the points.

Yes, that's true, but that's not the point. I think it's an important consideration so I will reiterate it here to just be safe that we are on the same page.

I think it might be a good idea to place the responsibility for mocking on the wasm runtime and not on the host functions in Substrate

[2022-10-11 13:20] andresilva commented on #12463
I updated the issue title and labels, I think this is something we might want to improve eventually, so might make sense to keep it in the tracker. Realistically I don't see us handling this anytime soon.

[2022-10-11 14:10] pmikolajczyk41 commented on #12442
Some time ago we (Aleph Zero team) were playing a bit with such idea:
 - we ran a chain for some time (~simulating a real chain like mainnet)
 - we killed the nodes and removed their keystores (~simulating a fork, where we do not have access to the session keys)
 - we ran new nodes (with new keys) with a temporal runtime/node (by the code-substitute mechanism) that was accepting new keys and thus

[2022-10-11 14:32] jak-pan commented on #12374
+ if this fails it doesn't throw any traceable event. (At least not on Kusama as we learned hard way)

[2022-10-11 17:31] lexnv opened #12475 "Add API for block pinning"
The block pinning is a feature required by the [RPC Spec V2](https://paritytech.github.io/json-rpc-interface-spec/introduction.html).

The [block pinning](https://paritytech.github.io/json-rpc-interface-spec/api/chainHead_unstable_follow.html#pinning) feature should be called for subscribers of the `chainHead_unstable_follow` method.

Each block produced by the `chainHead_unstable_follow` (new blo

[2022-10-11 17:33] ggwpez commented on #12443
Ah, I see we have `impl<T: Encode> StorageDecodeLength for Vec<T> {}`, so it could be done analogous for `BTreeSet`.

What I meant was that there is no `StorageBTreeSet` type, only `BoundedBTreeSet`. So if you want to decode the length of a `StorageValue<BTreeSet>`, you already have the whole thing fetched and have no PoV gain from it.

[2022-10-11 17:45] lexnv commented on #12475
// CC @bkchr @skunert @jsdw  @niklasad1

Is there anything special that we should do for storage and runtime calls at a pinned block, other than what was done in #12476 ?

[2022-10-11 18:23] emresurmeli opened #12478 "Delegating and undelegating votes with conviction when there is an existing lock"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

If there is an existing lock due to a previous vote delegation change or undelegation, any new change or undelegation will restart the lock period for the larger DOT amount and the longest con

[2022-10-11 18:33] bkchr commented on #8686
This should entirely go out of `sc-network`. I think what we should do is the possibility to register in the sync protocol callbacks aka channels that get informed when sync adds or removes a peer. Then we could use this to make any protocol that follows the same peers as sync to use these callbacks. `sc-network` should really not assume anything about the protocols running on top of it.

[2022-10-11 20:20] #10279 closed

[2022-10-12 06:05] joepetrowski commented on #6927
How do you plan to handle this on the proxy pallet side? For example, if you add an additional proxy now, it calculates the total [deposit required](https://github.com/paritytech/substrate/blob/ccc8f6cc3debf7276cbdff78c7a906be6221ca35/frame/proxy/src/lib.rs#L648). So even though they got the staking proxy for free, if they try to add another proxy to the same account, it will try to take the 20 DO

[2022-10-12 06:08] Ank4n commented on #12228
This makes sense but thinking out loud, assuming we intend to open up staking miner for the community in future, wouldn't a vector solution be inefficient and stop us from doing that?

[2022-10-12 06:18] joepetrowski commented on #12444
I see, so you are looking for either a `pub fn asset_class_exists(id) -> bool;` function within [Inspect](https://github.com/paritytech/substrate/blob/0ba251c/frame/support/src/traits/tokens/fungible.rs#L36), or

[code]

within the Assets pallet? Seems like a good issue for @vieira-giulia to figure out. Also posting https://substrate.stackexchange.com/questions/922/pallet-loose-couplingtight-coupl

[2022-10-12 07:43] DylanVerstraete commented on #10103
This is true, we have done this on 2 networks already and it all went smoothly. Since no authorities changes were made between running the old binary and the new binary (we don't have a notion of era's on our chain, only sessions).

[2022-10-12 08:04] bkchr commented on #10103
The problem of your fix is that you did not revert the commit/pr I mentioned. If you take a close look to the code that I removed back then, I removed code that [fetched the authorities from the cache](https://github.com/paritytech/substrate/blob/ede9bc19e883005d6bb71f325f13c90e03cea9c2/client/consensus/aura/src/lib.rs#L549-L555). This cache was filled on import [here](https://github.com/paritytec

[2022-10-12 08:09] DylanVerstraete commented on #10103
@bkchr will this code be reverted in the next release?

[2022-10-12 08:10] bkchr commented on #10103
@DylanVerstraete which code?

[2022-10-12 08:11] DylanVerstraete commented on #10103
@bkchr the removing of the cache https://github.com/paritytech/substrate/blob/ede9bc19e883005d6bb71f325f13c90e03cea9c2/client/consensus/aura/src/lib.rs#L549-L555

[2022-10-12 08:22] DylanVerstraete commented on #10103
@bkchr Sorry for the confusion but we did not really fix out problem. We circumvent our problem by running the old binary until the block where upgraded our network to polkadot-0.9.24 dependencies (syncing stops there automatically). We then run our upgraded version of our chain to sync the remainder.

To get to the point where the syncing stops you can do this:

[code]

Syncing will stop at heigh

[2022-10-12 08:26] DylanVerstraete commented on #10103
This explains why the syncing stops: https://github.com/paritytech/substrate/issues/10103#issuecomment-1256337881

[2022-10-12 11:27] DamianStraszak commented on #12427
I'm pretty sure it's the same issue as I faced here https://github.com/paritytech/substrate/issues/12101

You seem to be running on the polkadot-v.0.9.26 version which does not contain fixes to the sync protocol. If you upgrade to >=0.9.28 you should be fine.

[2022-10-12 11:32] bernardoaraujor commented on #12444
yes... as long as it's accessible via loose coupling, it should be enough.

[2022-10-12 12:05] ggwpez commented on #9587
Okay so there are a few other cases where multi-block or multi-call aka. *async* operations would be usefull:
https://github.com/paritytech/substrate/pull/12367#discussion_r991535381 (which uses `remove_prefix`)
https://github.com/paritytech/substrate/pull/12310 (which also wants to delete a `StorageMap` which could produce a too high weight for one call/block)

[2022-10-12 12:27] rossbulat commented on #12228
How so, from a performance perspective?

[2022-10-12 12:51] Ank4n commented on #12228
Yes, the sorting would get expensive.

[2022-10-12 13:00] niklasad1 commented on #12228
@Ank4n

is implying that sorting a `Vec` is `O(n log n)` vs `O(log n)` for a Binary Tree (BTreeMap) however this not really a concern right now because we haven't had more than 2 or 3 solutions per round and it's likely that solutions with the same score occurs which this fixes.

When we get `solutions > 1000` I would be more concerned about that but this is still a temporary fix until we got a `t

[2022-10-12 13:01] Ank4n commented on #12228
Can you lose bond even if its a valid solution?

[2022-10-12 13:06] niklasad1 commented on #12228
Right, it was like that with a `BTreeMap` with a `BoundedVec` that is not true anyway I guess.
Not sure, @kianenigma can probably explain that :P

[2022-10-12 13:36] Ank4n commented on #12228
This test `early_ejected_solution_gets_bond_back` shows if the queue is full and a new solution is added which is better than the weakest, the weakest solution is ejected and they get their bond back.

[2022-10-12 16:52] acatangiu opened #12484 "client/beefy: add some bounds on enqueued votes"
When BEEFY voter runs behind rest of voters it will [enqueue gossiped votes](https://github.com/paritytech/substrate/blob/b324e511771b4e2d809d8319b98f3e36083c9ee2/client/beefy/src/worker.rs#L412) and process them as it catches up.

We should introduce some bounds on this queue to not grow forever if voter is stuck - we should instead drop votes once bounds are hit.

[2022-10-13 09:06] koute commented on #12320
@DylanVerstraete Here's a patch which will speed up your blocks/sec when syncing by 10x from ~50 bps to ~500 bps:

[code]

Basically, you were using the interpreted WASM executor. If you switch to the compiled executor (which is the default, as long as it's enabled at compile time) you can not only regain all of that lost performance but also significantly speed up your syncing compared to what it

[2022-10-13 09:06] #12320 closed

[2022-10-13 09:24] #12191 closed

[2022-10-13 09:26] bkchr commented on #12427
Good spot! Yeah, @shawntabrizi please upgrade. Reporting issues with outdated versions is tricky :P

[2022-10-13 09:27] xlc commented on #12442
I spend two days trying to use smoldot / https://github.com/polytope-labs/substrate-simnode to implement this but found neither are suitable. smoldot is not mature enough and it is simply not possible to build a Substrate based node without pulling native runtime, which is something I want to avoid for generic tool.

Maybe build a new test node from scratch will be easier. We can always pull in co

[2022-10-13 09:31] DylanVerstraete commented on #12320
@koute verified, thank!

[2022-10-13 09:51] gilescope opened #12487 "assets-pallet should be able to store assets from different reserves."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

With the introduction of the bridge hub there are likely to be different sets of assets that statemint would need to keep track of that could well have clashes in asset ids. I propose that we

[2022-10-13 10:07] kianenigma commented on #11672
indeed, I meant to say that.

[2022-10-13 10:13] #12339 closed

[2022-10-13 10:14] kianenigma commented on #11672
Having a rate change as well, this is the commission struct that has to be stored/updated per-pool (new field of `BondedPools`):

[code]

[2022-10-13 10:25] remzrn commented on #10103
@bkchr : Thanks for the pointers, but I think it's not the only problem: I thought about the digest logs and the cache, but at the time concluded it was not where the information about authorities could come from because the cache does not seem to be implemented for full clients.
The code you point out where the update happens is just returning a set (Key, value) that gets propagated into a map do

[2022-10-13 10:33] gilescope commented on #12487
As Joe points out we could change AssetId from `u32` to a hash (`[u8; 32]`) and then we don't need to know the specifics of whether it's a (MultiLocation,AssetId) pair or some other addressing system.

[2022-10-13 13:40] bkchr commented on #10103
This pr should fix your problem: https://github.com/paritytech/substrate/pull/12492

It introduces a compatibility mode. I added some docs and explanations to the pr and the code itself. If you have more questions, I'm here to help you ;)

[2022-10-13 13:46] DylanVerstraete commented on #10103
@bkchr awesome thanks!

[2022-10-13 13:59] takahser commented on #11783
Can you include support for [SFTs](https://blockworks.co/web3-watch-what-are-semi-fungible-tokens-and-why-is-coinbase-making-a-movie/) (semi-fungible tokens, which are supported in [EIP-1155](https://eips.ethereum.org/EIPS/eip-1155)) in the roadmap as well? Major NFT marketplaces [have been supporting it](https://opensea.io/blog/announcements/erc1155-marketplace/) for a while already.

[2022-10-13 14:15] revoltez opened #12493 "Error during build: failed to run custom build command for sc-network-bitswap"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Compiling sc-network-bitswap v0.10.0-dev (https://github.com/paritytech/substrate.git?branch=polkadot-v0.9.30#a3ed0119)
error: failed to run custom build command for `sc-network-bitswap v0.10.

[2022-10-13 14:18] jsidorenko commented on #11783
I'll put it into Nice-to-have section for now. I think we should merge the new pallet into the master once we get the opened pull requests ready + the smart attributes implemented. After that, we could start to gather feedback and think about the next wave of improvements

[2022-10-13 14:27] bkchr commented on #12493
Try `rm -rf /home/ezio/.cargo/git`.

And then try again.

[2022-10-13 17:22] remzrn commented on #10103
On a testnet it seems the behaviour is as expected before and after the block change (I have tried to put it in the middle of an era, to avoid specific turn behaviours), it also seem to sync the past blocks as expected. I will let it run to see if I reach the tip of the chain correctly, but usually the problems - if any - pop up rather early, so it seems all good!

[2022-10-13 17:27] evilrobot-01 commented on #11783
The `mint` call/dispatchable currently requires an `item` to be specified, which could lead to transactions failing with `AlreadyExists` in a hyped public mint which sells out in seconds. Perhaps consider adding an option which allows items to be automatically assigned based on a requested quantity, to allow minting more than one item in a single transaction. This may also require mint limits per

[2022-10-13 17:30] #11808 closed

[2022-10-14 01:48] anonymousGiga commented on #12493
I ran ```rm -rf /home/ezio/.cargo/git```, but it didn't solve the problem. I proposed a pr #12494 to solve this problem.

[2022-10-14 07:19] koute opened #12495 "Remove the `wasmtime` feature flag"
Followup of https://github.com/paritytech/substrate/pull/12486

We've just made the `wasmtime`-based executor to be compiled by default. The feature flag for it is still there, so it can still be disabled if necessary.

@bkchr suggested that we should just remove it, and I agree. I don't really see much of a reason to keep it. That said, let's let it sit for a release and see if anyone complains,

[2022-10-14 07:30] altonen commented on #12493
Could this be an issue with your version of `protoc`? I'm running version `3.21.7` and it works fine here and our CI is happy as well with whatever version it is running on.

[2022-10-14 07:37] kianenigma commented on #12041
yes, but not as a part of this issue.

[2022-10-14 08:17] kianenigma commented on #12228
This pallet is configured in production to have a maximum of 16 or 64 submissions. In this scale, arguing over sorting complexity is moot IMO.

In the future, we might want to scale this to a larger value, but by then we would have to re-design a big part of this and this `Vec` won't remain. #11762

And yes, you can lose bond even if you submit a valid solution.

[2022-10-14 13:29] acatangiu commented on #11799
Unfortunately `offchain_worker` is not reliable enough to allow for this.. see https://github.com/paritytech/substrate/pull/12446#issuecomment-1279011413

Closing the issue as "Not possible".

[2022-10-14 13:29] #11799 closed

[2022-10-14 13:33] acatangiu commented on #11797
I'm sorry @vgeddes @seunlanlege but this doesn't seem to be possible :cry: see https://github.com/paritytech/substrate/pull/12446#issuecomment-1279011413

Closing for now, please reopen if you have any other ideas.

[2022-10-14 14:31] revoltez commented on #12493
i have version 3.0.0, installed it by following the instructions from the docs

[2022-10-14 14:33] revoltez commented on #12493
didn't work

[2022-10-14 16:07] kianenigma commented on #11424
A custom signed extension can certainly achieve this, either in a more rudimentary way, or by using the existing `providers` method.

By rudimentary, I mean, you can simply have a an extra `BlockNumber` in your transaction and if this is not met, `TransactionValidity::Future` (IIRC) is returned.

This basically makes a subset of what scheduler does available to all accounts.

I am not entirely sur

[2022-10-14 16:08] kianenigma commented on #11424
scheduler is not really meant to be used by any origin IMO and is only for special origins.

[2022-10-14 17:32] remzrn commented on #10103
Fixed by #12492

[2022-10-14 17:32] remzrn commented on #10103
Fixed by #12492

[2022-10-14 17:32] #10103 closed

[2022-10-15 00:43] dharjeezy commented on #12484
@acatangiu I will like to work on this

[2022-10-15 09:32] dharjeezy commented on #12443
Can I pick this up? @kianenigma @ggwpez

[2022-10-15 10:15] niklasad1 commented on #1017
@bkchr sorry missed this, sure I can try to fix this one.

[2022-10-15 12:29] Szegoo commented on #12017
@ggwpez You mentioned in https://github.com/paritytech/substrate/pull/12368 that we could move `Metric` to `sc-sysinfo` also, I will open a small PR for that if you didn't change your mind.

[2022-10-15 13:16] burdges commented on #12225
Did we ever try https://github.com/penumbra-zone/ed25519-consensus ?

I voted zebra way back because zcash foundation maintains it but.. at least penumbra is not just one person now.

[2022-10-15 16:44] ggwpez commented on #12017
Please try to do it in one. I dont want to increase the review overhead for such a rather simple issue @Szegoo

[2022-10-15 16:45] ggwpez commented on #12443
IMO yes @dharjeezy

[2022-10-15 16:55] Szegoo commented on #12017
@ggwpez Ok, I will close this issue and move Metric in the same PR.

[2022-10-15 17:13] dmitry-markin opened #12499 "Upgrade libp2p primitives to use tokio implementations"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Transports and protocols in libp2p currently have different implementations for `tokio` and `async-std` runtimes (see https://github.com/libp2p/rust-libp2p/pull/2962). Due to historical reason

[2022-10-16 05:51] Szegoo opened #12500 "Add max supply to Assets pallet."
Having a max supply could be useful when creating an asset. It should be something optional.
I thought of something like this:

[code]

The same would go for the `force_create`.

[2022-10-16 05:51] Szegoo commented on #12500
If this is confirmed I will open a PR for this.

[2022-10-16 07:19] KiChjang commented on #12500
How is max supply different from the concept of total supply?

[2022-10-16 07:23] Szegoo commented on #12500
Total supply is something that changes when we call the mint function. Max supply is a constant that is set during the creation of the asset(it is specified by the caller). Max supply is always equal to or greater than the total supply. This could limit how many tokens could someone mint.

[2022-10-16 07:43] KiChjang commented on #12500
In practice, if max supply needs to be respected, we'd just disable the mint functionality, and total supply would just be equivalent to max supply. I don't see the reason to add another storage item just for this.

[2022-10-16 07:52] Szegoo commented on #12500
That could be an approach to this, but I believe that in some situations we don't want all of the max supply to be created. By setting a max supply we would limit how much can be minted, but the total supply may never actually reach max supply.

[2022-10-16 12:21] brenzi commented on #12040
@MrishoLukamba any news on this issue? This blocks #12153 and we'd be happy to contribute if you no longer work on it

[2022-10-16 12:45] MrishoLukamba commented on #12040
am working . I was off due to personal reasons.

[2022-10-17 09:37] acatangiu opened #12508 "pallet-mmr: prune stale offchain db entries"
MMR nodes are saved in off-chain db under fork-resistant keys based on `frame_system::block_hash()`, as such only nodes added by latest `frame_system::BlockHashCount` can be accessed that way.

Nodes added by blocks older than `frame_system::BlockHashCount` are moved by `offchain_worker` to "canon" (not fork resistant) location - thus being made available regardless of age.
See https://github.com/

[2022-10-17 09:39] acatangiu commented on #12508
Possible solution outlined here https://github.com/paritytech/substrate/pull/12498#discussion_r996677117:

- change fork-resistant key to `(prefix, pos, parent_hash)` and hope (I need to verify) there is functionality to get all entries matching `(prefix, pos)` partial key,
- keep offchain db entry `last_pruned_leaf_number`
- in offchain worker attempt to prune `(last_pruned_leaf_number, current -

[2022-10-17 09:57] acatangiu commented on #12508
Unfortunately, [`OFFCHAIN` column uses default `hash` (and not `btree`) structure](https://github.com/paritytech/substrate/blob/273e264b27dbfdae4074b790e934d80097e7e0c0/client/db/src/parity_db.rs#L43), meaning "key prefix" cannot be used for retrieving items :cry:

[2022-10-17 10:08] acatangiu commented on #12508
I think we need to create a client-side gadget, and move all the offchain stuff there.

**PROs**:
- `pallet-mmr` is simplified, only cares about runtime state/storage,
- no more `offchain_worker` canonicalization required; it is simplified and moved to client-side code/gadget,
- we can actually follow finality and "properly" canonicalize offchain entries,
- simplifies runtime api (generating proof

[2022-10-17 13:08] Ank4n commented on #12001
Thinking out loud, I believe it wouldn't be too hard to to keep track of all the pools that are destroyed and ready to be claimed. In that case we would not really need another fn `create_with_pool_id`. The existing fn `create` would first try to get the `last_reclaimable_pool_id` and if not available, increment `pool_id`.

[2022-10-17 13:40] shawntabrizi commented on #12427
cool, thanks!

[2022-10-17 13:40] #12427 closed

[2022-10-17 16:44] #12199 closed

[2022-10-17 21:04] kianenigma opened #12514 "Simplify getting the block author."
Seeing questions like: https://substrate.stackexchange.com/questions/5394/how-to-get-the-current-block-author/5395#5395

I wonder, wouldn't it make the world easier for everyone if we make sure the small bit of logic that extracts authorship data from the header is extracted before all pallets (i.e. in executive or system) and then make the current block author a storage item in the system?

I thi

[2022-10-17 22:09] burdges commented on #12514
Is this going to check a signature too?  Or assume the block was already imported?

[2022-10-18 07:22] bkchr commented on #12514
No this isn't about signature checking. Just to get the block author if the current block.

I'm clearly against this. The solution to none of our problems should be that we add stuff to the `System`, if we can prevent this. `System` already carries to much data and associated types etc. Another point here would also be that there can exist a block authoring (and it already exists) where you don't

[2022-10-18 07:28] #12443 closed

[2022-10-18 09:16] kianenigma commented on #12514
Either already imported, or being authored by validator x.

In both cases, we only need an account id.

[2022-10-18 09:24] MrishoLukamba commented on #12514
in a case where the block dont have an author we should just return None. I think knowing block author's account's Id may come into use inside runtime.

[2022-10-18 09:47] kianenigma commented on #12130
To achieve executing this after each test:

have a new macro `construct_runtime_with_ext_builder`.

This generates, per pallet (e.g. staking)
1. For each filed of `GenesisBuild`, a struct `StakingBuilder { genesis_field_1, genesis_filed_2, .. }`
2. For each `type` in `Config` that's `Get<u32>`, a `parameter_types! { static Config1: _ = .., Config2: _ = .. }`
3. And `setter` functions for all of th

[2022-10-18 09:47] bkchr commented on #12514
Yes for sure. However, I'm still not convinced that this should live in `System`. We should improve the docs to make it more clear on how to get this data.

[2022-10-18 09:55] kianenigma commented on #12514
I just think for 99.99% of the cases, any blockchain, at any given context has a block author. Do you have a common example where this does not hold? otherwise I could take your argument and extract things like weight and length from system as well.

[2022-10-18 10:11] bkchr commented on #10298
With this pr here: https://github.com/paritytech/substrate/pull/12501 we can probably close this?

[2022-10-18 10:12] bkchr commented on #9109
I think this can be closed, if not please reopen.

[2022-10-18 10:12] #9109 closed

[2022-10-18 10:14] burdges commented on #12514
I'd expect drand "blocks" have no block author, so it's plausible block author makes little sense in other threshold signed schemes (think ICP/dFinity).  I think wacky dag merge schemes could do multiple block authors, or maybe no block author.

We only design SSLEs to anonymize block producers only before block production, but actually shuffle SSLEs or sassafras could be adapted to anonymize bloc

[2022-10-18 10:14] bkchr commented on #12514
If you find a proper way, please do it :heart:

https://github.com/paritytech/cumulus/blob/master/client/consensus/relay-chain/src/lib.rs this here doesn't has any author. I mean, yes there is a node that builds it. However, there is no requirement that this node is having any session key or whatever on chain. So, there also doesn't exist any account id.

[2022-10-18 10:16] athei commented on #10298
Yea. I don't think wasmer is happening any time soon.

[2022-10-18 10:16] #10298 closed

[2022-10-18 10:37] gituser commented on #12493
I have the same issue, polkadot v0.9.29 compiled just fine on the same machine whilst v0.9.30 fails to compile with exactly same error.

OS is `Ubuntu 18.04.6 LTS`

[2022-10-18 14:56] GuruKathryn opened #12522 "Thread 'tokio-runtime-worker' panicked at 'SinkImpl::poll_flush called after error.'"
Panic output below. This occurred at 107613 blocks. Full log file attached.
[- BUG - tokio-runtime-worker - Sun Oct 16 2022.pdf](https://github.com/paritytech/substrate/files/9811746/-.BUG.-.tokio-runtime-worker.-.Sun.Oct.16.2022.pdf)

====================

Version: 3.0.0-dev-unknown

   0: backtrace::capture::Backtrace::new
   1: sp_panic_handler::set::{{closure}}
   2: std::panicking::rust_panic

[2022-10-18 15:47] shredding commented on #11736
Please update the documentation as well. It'll save the next dev after me hours of frustration.

[2022-10-18 16:41] ggwpez commented on #12493
Cannot confirm. The `substrate-node-template` repo clearnly builds for me both tags `polkadot-v0.9.30` and `polkadot-v0.9.29` with the following Rust version on `Ubuntu 20.04.4 LTS`:
[code]
Maybe try again with updated Rust.?

[2022-10-18 17:49] MrishoLukamba commented on #12484
am working on it

[2022-10-18 17:50] dharjeezy commented on #12484
Oh... I already started @MrishoLukamba

[2022-10-18 18:12] MrishoLukamba commented on #12484
Okey continue

[2022-10-18 18:29] bkchr commented on #12522
What Substrate version are you using? Could you try latest master?

It would also be nice to if you could write on what you have done.

[2022-10-18 18:41] GuruKathryn commented on #12522
We are using 0.9.26 (babe/grandpa). We played with 0.9.30 but hit some errors compiling. We will try that version again soon. We have not attempted to correct the bug. This is the only time we have seen this error. We have run dozens of node experiments with various configurations (all on this same 0.9.26) before and after this event, without seeing this bug. It was completely new and has not surf

[2022-10-19 06:23] omegapcs opened #12525 "CRYPTO WALLET AND CURRENCY"
How can one create very own Blockchain currency & tokens for exchange?

kuding.founder@omegapro123.onmicrosoft.com
[]()![Logopit_1665926263606.png](https://user-images.githubusercontent.com/56591614/196612976-404ab2eb-5e67-41b6-b4b9-830f8d9591a3.png)

[2022-10-19 06:58] svyatonik commented on #12508
I can't say much - @andresilva was there when it was designed that way (offchain worker) - maybe there's some strong reasoning behind that. But do you want to keep using offfchain storage for storing MMR nodes or regular DB?

[2022-10-19 08:23] acatangiu commented on #12508
We would still use `offchain` column in the DB so that runtime can still add to it through `indexing-api`. That way, building the MMR _still happens on-chain_, but canonicalization and pruning of non-canon forks would be done by client-side gadget and could be driven by GRANDPA finality.

Also generating proofs RPC would not change, but instead of calling runtime API it would call some gadget API.

[2022-10-19 09:44] gituser commented on #12493
@ggwpez v0.9.29 compilation worked just fine, why the sudden change?
I'm using latest rust, I do update it before I build polkadot.

[code]

[2022-10-19 10:50] the-right-joyce commented on #11295
hi @altonen, so here are the main ideas/solutions we had planned for the Sync in general:
- We want to have explicit separate components for different sync modes, i.e. decouple the sync protocol and state machine. Have a state machine controlling which sync mode we should be using.
- Sync should be its own protocol like all the other protocols that are defined on top of sc-network

The state machi

[2022-10-19 11:11] #12525 closed

[2022-10-19 13:23] gituser commented on #12493
@ggwpez it might be some cache issue after all, I've tried multiple times rolling back to `v0.9.29`, building, then building `v0.9.30` and then issuing `cargo clean` and building again `v0.9.30` and compilation worked.

Very strange indeed, but the issue is still there somehow.

[2022-10-19 13:29] #12460 closed

[2022-10-19 13:49] acatangiu opened #12531 "pallet-mmr: gate MMR offchain canonicalization behind `--enable-offchain-indexing=true`"
`pallet-mmr`
1. uses `sp_io::offchain_index` API to save full MMR leaves content to offchain db,
2. it also defines an `offchain_worker()` fn that does canonicalization of data in offchain db.

**Issue**
When `--enable-offchain-indexing=true` is not set, (1) doesn't write anything to offchain db, while (2) keeps on spamming error logs on failures to do canonicalization.

**Proposed solution**
Also

[2022-10-19 13:50] bkchr commented on #11295
When sync fails, there is no real solution than let the operator step in. For example, If something like warp sync fails because some block can not be verified, we can not just fall back to initial sync.

While the above images mainly concentrate on the different syncing strategies and how they work on a high level. They also contain some useful information for this issue. Currently in Substrate w

[2022-10-19 14:05] GuruKathryn commented on #12531
Thank you for posting this! We have been suffering under this issue for a while. Would love to see it fixed.

[2022-10-19 14:05] acatangiu commented on #12531
Thanks for reporting the issue!

[2022-10-19 14:05] savudani8 opened #12533 "Allow currency slashing to fail"
I would like to request allowing the [slash](https://github.com/paritytech/substrate/blob/07e1b6d72747f3cde49e85e4ff68ff158daebe16/frame/support/src/traits/tokens/currency.rs#L124) function in FRAME to fail.

Our particular use case is executing a hook function before the actual slash. While the slash itself may not fail, the hook could fail ideally. The `Currency` trait restricts the possible imp

[2022-10-19 14:08] bkchr commented on #12522
Yeah, I think this is the same problem as here: https://github.com/paritytech/polkadot/issues/5639

Running `cargo update -p yamux` should fix it.

[2022-10-19 14:09] #12522 closed

[2022-10-19 14:14] GuruKathryn commented on #12522
Roger that! Thanks!

[2022-10-19 14:46] bkchr commented on #12533
CC @kianenigma

[2022-10-19 15:29] Bart200c commented on #11863
Hey, is anyone still working on this? Looking forward to this feature being merged!

[2022-10-19 15:47] ggwpez commented on #11863
@Bart200c There is a (somewhat stale) MR for it https://github.com/paritytech/substrate/pull/11910

[2022-10-19 16:30] NZT48 commented on #11863
I will try to address all the open questions and update MR in the next two weeks, thanks for reopening it

[2022-10-19 20:05] #12228 closed

[2022-10-20 09:07] sam0x17 commented on #8965
Note that after a while I realized that the suggested syntax:

[code]

will not work because the `pallet::` macros are only valid _inside_ of a pallet module and the way the `pallet` macro machinery works, an additional outer macro would conflict with `pallet`'s role as the outer macro that parses everything within the `pallet` module.

Instead, I recommend this syntax:

[code]

In other words add

[2022-10-20 12:02] nazar-pc opened #12538 "Crash on runtime upgrade related to wasmtime (Rasbian only)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Initially reported by a user at https://forum.subspace.network/t/failed-to-allocate-bytes-exception-when-running-docker-on-aarch64/606 is a crash that is essentially this:

### Steps to reprod

[2022-10-20 12:43] bkchr commented on #12538
CC @koute

[2022-10-20 13:30] koute commented on #12538
Technically it's not failing when trying to allocate memory; it's failing to allocate address space. As long as overcommit is enabled the amount of RAM shouldn't actually make a difference whether this fails or not (unless it's mmaped with `PROT_WRITE` in which case you can't request more space than there is RAM, but AFAIK it isn't the case here). My educated guess would be that either Raspbian or

[2022-10-20 20:10] shawntabrizi commented on #12427
I haven't had any issues since upgrading, so thanks!

[2022-10-21 05:46] xlc commented on #12442
https://github.com/AcalaNetwork/chopsticks is now MVP ready

[2022-10-21 05:46] #12442 closed

[2022-10-21 08:19] acatangiu commented on #12484
Yes, the approach is good and you should put bounds on both `pending_votes` and `pending_justifications`.

[2022-10-21 08:32] acatangiu commented on #12484
You should also bound inner vec in `pending_votes`, use `BoundedVec` or some simple custom vec wrapper for `BoundedBTreeMap<NumberFor<B>, BoundedVec<_, _>>`.

Bounds sizes should be smth in the order of a few MBs for each map - just define some constants, document them and we can fine tune the value as a final detail.

For the inner votes `Vec` it would be great to have some way to configure bound

[2022-10-21 08:47] kianenigma commented on #12195
Thinking about this again, I am not sure if the `:CODE:` is the cause of the issue actually. Any discrepancy must have been due to `pre_upgrade` and `post_upgrade` being executed in the call as well, which I will address in #12537.

`:CODE:` is actually never read from within the runtime in a try-runtime call, so it should on-par.

All in all, after `#12537`, the PoV that try-runtime reports for `

[2022-10-21 12:39] crystalin commented on #12195
@kianenigma now that I think about it, It is porbably another case of the `state_version: 1`
@bkchr told me that the current behavior with state_version 0 is to include the blob in all the blocks until it is applied (which is what we observe) but this behavior is fixed with state_version 1.

[2022-10-21 13:01] bkchr commented on #12195
You mean the code? This should currently also not happening. At least for your Parachain in production. With `try-runtime` it could happen.

[2022-10-21 13:41] bkchr commented on #12195
I remember the discussion, but not why I said this xD I mean, for the PoV containing the wasm blob twice should probably be solved by `state_version=1`, because the deletion still pulls the data into the PoV. For the other case of always including the `code` in every PoV, it mays happens because `PendingValidationCode` for whatever reason is somehow a branch node. To find this out we would need to

[2022-10-22 09:32] Szegoo commented on #12029
@MrishoLukamba Are you also working on the first part of the issue or is it free to work on?

[2022-10-22 09:41] MrishoLukamba commented on #12029
Am working on it.

[2022-10-22 21:38] jasl opened #12548 "Failing to decode the SCALE encoded input in the `state_call` RPC causes a runtime panic"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When trying upload an Ink contract via https://contracts-ui.substrate.io/add-contract

The node's runtime will panic.

[code]

### Steps to reproduce

It can be reproduced since `polkadot-v0.9

[2022-10-22 21:44] jasl commented on #12548
IMO it looks like ContractsUI hasn't compatible with latest `pallet-contracts` Runtime API change, so it's pass bad RPC call, but this shouldn't made the Runtime crash

[2022-10-23 10:14] athei commented on #12548
I don't think behavior is specific to contracts. It is what happens when the `state_call` RPC can't decode the arguments.  If this is desired behavior is another question.

[2022-10-23 10:16] jasl commented on #12548
I don't think this relates to recent contracts Runtime API change either.
The Runtime shouldn't panic when given a bad input, it should just reject it.

[2022-10-23 10:25] athei commented on #12548
The title of a issue is a bit of a clickbait, though. Cause the runtime only panics when you have direct access to a node via RPC. And only this one node's runtimes panics. Purely offchain. In this case it might be a bit ugly but not at all dangerous.

Still, I think it shouldn't be a panic but an error.

[2022-10-23 10:27] jasl commented on #12548
Do you think it's more clear to rename the title to "Bad Runtime RPC call lead the Runtime panic"?

[2022-10-23 18:59] athei commented on #12548
I renamed in a way that I think describes the problem.

[2022-10-23 19:47] bkchr commented on #12548
Panic is completely fine. This is done this way since always and otherwise we would need to wrap return type of a runtime function into an extra result. If you don't follow the Abi, there is no other way than panicking because the input is invalid.

[2022-10-23 19:47] #12548 closed

[2022-10-23 21:42] jasl commented on #12548
Does it means the node need to recreate one when the Runtime panicked? I'm concerning that could be a DoS vector of node (not the network).

[2022-10-24 09:21] dharjeezy commented on #12484
Alright @acatangiu
Will open a PR soon enough

[2022-10-24 09:48] kianenigma commented on #12195
@crystalin have you had the chance to try any try-runtime with the correct state version and see if that gives a value that is aligned? Or even better, if you have the resources, you can try the new branch in #12537.

[2022-10-24 10:10] ggwpez opened #12550 "Introduce `DefensiveMin` and `DefensiveMax`"
Add traits to run min/max operations defensively. In some cases we use min/max but do not expect the else case to trigger. These traits would help with finding if these cases actually ever trigger.

_Originally posted by @kianenigma in https://github.com/paritytech/substrate/issues/12515#issuecomment-1283925928_

trait `DefensiveMin`:
- fn `defensive_min` by using `<=`
- fn `defensive_strict_min`

[2022-10-24 11:47] #7746 closed

[2022-10-24 13:43] dharjeezy commented on #12550
I want to pick this up @ggwpez
Can you give me an example of how this can be used like this example [here](https://github.com/paritytech/substrate/pull/12515/files#diff-a66e1f9bb70b6a5516c58534be76d45cf3339c5a56df4534ebfda632afb63bccR384)

[2022-10-24 13:57] gavofyork commented on #11216
One further requirement: O(1) for checkpointing/commit/reversion in transactional processing.

[2022-10-24 14:54] filippoweb3 opened #12555 "Vested balance can be immediately used as a free balance if there are enough bonded tokens"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

If I have X bonded tokens that I am not using for anything else (no governance), if I receive a vested transfer of Y tokens where Y << X, those tokens are immediately available for transfer wi

[2022-10-24 15:46] crystalin commented on #12195
I've been redoing the test and it seems to be fixed in current version of substrate

try-runtime =>
[code]

Real runtime upgrade:
[code]

(Block 72 is the one doing the migration)

[2022-10-24 17:48] #12063 closed

[2022-10-24 18:08] bkchr commented on #12548
No. You need to reset the memory. However, we reset the memory anyway for every new call into the runtime. So, there is no difference to the normal behavior.

[2022-10-24 18:23] jasl commented on #12548
So the only issue here is this should be a error or just suppress it, or end-user will confuse this

[2022-10-24 20:59] ggwpez opened #12559 "Block number inconsistency between bench tests and runs"
In benchmark-tests and runs the block number is set implicitly to `1` after the setup if it was `0`.
This is confusing since normally the user must set it manually in the `TestExternalties`.
Could be changed to either:
- Never touch the block-number and let the user deal with it - same as in tests
- Always set the block-number to one before the setup

Two benchmark tests to demonstrate the current

[2022-10-25 07:07] bkchr commented on #12548
Who is the end user here? The node operator?

[2022-10-25 07:30] jasl commented on #12548
Yes, the node operator, including me, when I saw "This is a bug. Please report it at:" my instant thinking is collecting info and submit to here, then you explain to me this is not bug, it's design, but the node said it's a bug, so I guess others would submit this too

Another old story is https://github.com/paritytech/substrate/issues/12354
3 years ago I first met this, I submit to Substrate, I r

[2022-10-25 08:28] kianenigma commented on #12195
The small difference is also because try-runtime only executes `OnRutnimeUpgrade`, while in reality, even if the migration block is empty, it called into `OnInitialize` as well.

[2022-10-25 08:32] tomaka commented on #10623
I don't actually understand why https://github.com/paritytech/substrate/pull/9732 is needed.
Can we not generate and send back on the network a Merkle proof that contains hashes, even when the storage itself doesn't contain these hashes?

[2022-10-25 09:27] bkchr commented on #12548
Yeah that is because it panicked in the native runtime. A panic in the wasm runtime doesn't print this.

For the wasm runtime we have the following feature: https://github.com/paritytech/substrate/blob/master/primitives/io/Cargo.toml#L91

When this feature is enabled, the panics will be returned as an error of the execution and not directly printed to the log.

[2022-10-25 09:36] bkchr commented on #10623
The problem for now is that if you want to proof that the `hash` of some data is part of the trie isn't that easy. We don't store the hash of the data in the trie directly. We could return a storage proof that a certain leaf is part of the trie. So, you would need to build the leaf, hash the leaf and then you could check that the leaf is part of the trie. However, when the data is for example insi

[2022-10-25 09:52] bkchr commented on #12555
I get the confusion. However, I don't think there is any bug or something as all requirements are holding. The point here being that `Locks` are not stacking and instead the lock with the highest locked value determining the amount of locked tokens. Here in your case `0.5KSM` should be locked because they are staked and `0.2KSM` should be locked as they are vested. Both requirements are still true

[2022-10-25 09:53] tomaka commented on #10623
I don't understand your comment.

What I want is ask a full node: what is the hash of `:code`?

The full node would then return a storage proof.
A storage proof normally contains trie nodes, and in the case of leaf nodes they contain the storage item of the node, either hashed or unhashed.

I suppose that right now the implementation just copy-pastes the content of the trie into the storage proof.

[2022-10-25 09:55] tomaka commented on #10623
Ok I understood now.
If you modify the leaf nodes to contain the hashed value, you modify the hash of the leaf node. There's no way to prove that the proof is correct without including the unhashed value in it.

[2022-10-25 10:15] bkchr commented on #10623
Exactly :+1: In the future the leaf/branch nodes will directly contain the hash and we can provide this proof easily.

[2022-10-25 10:19] bkchr commented on #11317
There was no consensus on this rename, so let's close this.

[2022-10-25 10:19] #11317 closed

[2022-10-25 11:11] koute commented on #12538
That's interesting. It might be a kernel-level limit or something along those lines. It's a little hard to debug this without actually having access to the hardware. I'll see if I can compare Ubuntu and Raspbian's kernel configs and see if there are any differences that pop up related to this.

[2022-10-25 12:53] nazar-pc commented on #12538
I can expose Raspberry PI 3 1G over Internet to you, though it is extremely weak and would probably be frustrating to work with.

[2022-10-25 13:17] filippoweb3 commented on #12555
@bkchr I see alright then it makes somehow sense. Thanks a lot for the reply!

[2022-10-25 13:17] #12555 closed

[2022-10-25 13:34] koute commented on #12538
So that would be with the affected Raspbian installed on it?

That could help; we could try. Doesn't really matter that the hardware's weak as long as I can poke-and-prod it through SSH with root access and maybe run some test programs; that's usually the fastest way to figure out problems like these.

[2022-10-25 13:39] koute commented on #12182
I can reproduce this too.

This triggers only when a precompiled CoW executor is used. Might be an upstream `wasmtime` issue; I'll have to try to make a minimal reproduction to verify.

[2022-10-25 20:50] ggwpez commented on #12550
Example being something like:
[code]
That is at-least how I imaging it. Should be possible in Rust hopefully.

[2022-10-26 07:35] Doordashcon commented on #11638
Hello @kianenigma, from the issue description I gathered the following.

1.  Anyone that joins includes the initial depositor?
2.  Members who are already part of a pool need an extrinsic to set a claimable action.
3.  New members can set a claimable action upon joining a pool.
4. This change won't be backward compatible.

[2022-10-26 07:52] radkomih opened #12564 "Mismatch between the specification and the implementation (Substrate)"
Hi there,
While I was trying to implement the `Core_version` conforming to the specification (I don't use Substrate), I noticed that it was producing a bit different SCALE encoded result compared to the one compiled from Substrate. According to the [spec](https://spec.polkadot.network/#defn-rt-core-version), the `state_version` should be a 32-bit unsigned integer, but I see that the implementation

[2022-10-26 08:43] #12493 closed

[2022-10-26 11:48] bkchr commented on #12564
Please open an issue in the spec repo. The `state_version` should be an `u8` and not `u32`. Going to close this as the spec is wrong ;)

[2022-10-26 11:48] #12564 closed

[2022-10-26 19:07] jamesbayly commented on #5902
@kianenigma would you be able to give any indication if this can be added, and if so, any idea on the timeline?

[2022-10-27 02:17] #9031 closed

[2022-10-27 15:07] #11671 closed

[2022-10-27 18:28] Dairston commented on #11999
IMPORTANT:

Metamask wallet 12 word seed phrase password: Asd

cross about grape horror village dad drill short husband soccer author merry

0xc28668af51eB08b8b2b45c438238652a11e65103

start your own distr88ibuted dao

110393Dm1V PASSCODE MAYBE* 4 ADDRESS BEG. W.

0X27 For Meta Proposal

+

+ DAO CULTDAO.IO

twitter backup:
6p2zh6ae9n9n

view-source:https://www.luden.com/

0xc28668af51eB08b8b2b45c

[2022-10-28 00:30] nazar-pc commented on #12538
Emailed access details to you

[2022-10-28 06:35] Chralt98 opened #12574 "[pallet_collective] Usage of `Vec` instead of `BoundedVec`"
I found an instance, where other pallets are using a `BoundedVec`, but `pallet_collective` does not.

https://github.com/paritytech/substrate/blob/6195ef41946017ec860d2d8ad58f9bc18b5797bf/frame/collective/src/lib.rs#L221

[2022-10-28 08:09] JimYam opened #12575 "failed to run custom build command for `libp2p-core v0.37.0`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

`cargo build --release`
bug:
[code]

### Steps to reproduce

_No response_

[2022-10-28 08:14] #12575 closed

[2022-10-28 09:47] Polkadot-Forum commented on #7894
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/preventing-attacks-on-xcm-reserves/902/3

[2022-10-28 11:53] gavofyork opened #12577 "Host functions and database support for non-Merklised-persistent data structures"
Related: #11216
Related: #5396

New overlay items:
- `Vec<u8>`, keyed by `name: [u8; 32]`.
- `BTreeMap<Vec<u8>, Vec<u8>>`, keyed by `name: [u8; 32]`.

These obey transactional principles. They may, at the direction of the runtime through a host function, be persisted in a regular, non-Merklised database. An RPC may be provided in order to query the contents (if stored).

New host functions for cre

[2022-10-28 12:11] dharjeezy commented on #12458
I see this issue is not solved yet. Can i go ahead to open a PR for it @joepetrowski @vieira-giulia

[2022-10-28 12:13] cheme commented on #12577
Small question, I wonder if for the blob api we could address a given position, something like:
`blob_set_at(name: [u8; 32], data: &[u8], offset: u32)` to avoid needing to pass the whole data in memory.
Could be true for access too (so we can stream content in memory efficient way).
Also could make mmr proof or similar merklized compact structure over indexed content (the blob) directly usable wit

[2022-10-28 12:16] #12338 closed

[2022-10-28 13:38] #12225 closed

[2022-10-28 14:55] dharjeezy commented on #12574
I will like to take this issue up and fix. @Chralt98

[2022-10-28 15:18] #12374 closed

[2022-10-28 15:26] ggwpez commented on #12574
The pallet bounding is ongoing here https://github.com/paritytech/substrate/issues/8629
In this case it is in the genesis config and therefore not a problem anyway.

[2022-10-28 15:26] #12574 closed

[2022-10-28 15:57] kpp commented on #9162
* TLS code is merged in https://github.com/libp2p/rust-libp2p/pull/2945
* The implementation is almost ready to merge: https://github.com/libp2p/rust-libp2p/pull/2289 thanks to the huge help from Protocol Labs.
* There is a new competitive implementation with less code: https://github.com/libp2p/rust-libp2p/pull/2801

[2022-10-28 16:06] Polkadot-Forum commented on #12577
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/new-host-functions-for-non-merklised-optionally-persisted-data-types-substrate-12577/922/1

[2022-10-28 16:17] vieira-giulia commented on #12458
Hey, yea I do have a branch for it, figuring out what this implies in the rest of the pallet and tests, just having some problems with my computer to run things.
Anyway, I remember hearing you talk you already had this change implemented for another reason in another branch so if you just want to open a PR that's fine for me

[2022-10-28 16:27] Polkadot-Forum commented on #12458
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/preventing-attacks-on-xcm-reserves/902/5

[2022-10-28 16:59] burdges commented on #9162
Any idea what the performance looks like?

[2022-10-28 17:44] kpp commented on #9162
I am working on it.

[2022-10-28 18:12] dharjeezy commented on #12458
Alright @vieira-giulia i have gone ahead to open the PR

[2022-10-28 19:15] sourabhniyogi commented on #5902
For indexing (using traces, which we actively us), it would be very useful to have the rpc_methods return which are "safe" vs "unsafe" and similarly for ws [is subscribeStorage vs state_traceBlock "safe" vs "unsafe"]  -- We actively use "traces" from subscribeStorage / state_traceBlock in our indexing, and found many public ws endpoints differ slightly on subscribeStorage for mysterious reasons an

[2022-10-29 07:54] senseless opened #12601 "Feature Request: Local multicast reserved peer discovery"
**Context:**
We're working on deploying public RPC services for all relay networks and common goods parachains. In an attempt to reduce our overall bandwidth consumption we've begun deploying --reserved-nodes flag with a reduction for in/out peers per node. We were able to successfully reduce our average bandwidth utilization from 10Mbit/s to 3Mbit/s per node a 70% decrease in bandwidth utilizatio

[2022-10-29 09:22] #12337 closed

[2022-10-29 14:57] #12001 closed

[2022-10-29 15:25] tomaka commented on #10623
Another use case for having only hashes in the storage proofs is when you want to implement `state_getKeysPaged`.
This JSON-RPC function returns the list of all keys starting with a certain prefix.
This is used for example to get the list of validators, I believe.

Having the values in the proof adds a lot of unnecessary bloat.

As a side note, it would also be great to add a networking protocol t

[2022-10-29 17:47] kianenigma commented on #12001
تست

[2022-10-29 21:13] ggwpez opened #12580 "Idea: Reflections for `WeightInfo` functions"
Currently we have the `WeightInfo` trait which exposes several weight functions in the form of:
[code]

Sometimes you want to iterate over all weight functions and do something weight their name or result (eg in https://github.com/paritytech/substrate/pull/12485).

One way to do this would be to have another type; `WeightMetaInfo` whose implementation is auto-generated as well:
[code]

This would

[2022-10-29 22:18] benluelo commented on #11866
#11869 implemented similar behaviour to this (adding an `iter_mut()` method to the Bounded* collections), but as per my comment (https://github.com/paritytech/substrate/pull/11869#issuecomment-1219815985) I still think that this would be useful functionality to have. I often create one bounded collection from another with the same length, which results in unsightly `.expect(...)`s throughout the c

[2022-10-29 22:42] ggwpez commented on #11866
Yea… I guess that is a valid concern. Do you want to implement `map/try_map` as well?

[2022-10-29 22:46] benluelo commented on #11866
Yeah I can definitely do that! (#11869 actually started out as that :sweat_smile:) I'll open a new PR for it :+1:

[2022-10-29 22:55] ggwpez commented on #11866
FYI there is [`defensive_truncate_from`](https://github.com/paritytech/substrate/pull/12515) which can at-least get rid of these expects.

[2022-10-30 10:09] #1262 closed

[2022-10-30 10:11] kianenigma opened #12583 "idea: `#[pallet::constant(non_volatile)]`"
This came up in a discussion with @gpestana recently. There are a number of `Get<_>` associated types in a runtime that should not really change after being once set. If they are to be changed, we probably need a migration. For example, all of the `type MaxSomething: Get<u32>` might imply a migration if we reduce them.

The idea is to mark these with a special flag that says they should not change

[2022-10-30 10:17] ggwpez commented on #12583
Having volatile *constants* is a weird design to begin with. I think a constant should be constant by definition.
Maybe:
[code]

[2022-10-30 12:01] kianenigma commented on #12583
totally agree, and taking it a step further, I think `pallet::constant` was bad to begin with because the name doesn't have much to do with the semantic, which is "put it in metadata".

[code]

[2022-10-31 08:11] gpestana opened #12589 "Refactor `NposSolver` to be generic over the election algorithm"
Currently, the `NposSolver::weight()` trait is generic over a [`frame_election_provider_support::WeightInfo`](https://paritytech.github.io/substrate/master/frame_election_provider_support/trait.NposSolver.html) which returns the weights of running two flavors of phragmen.

This means that the `NposSolver` trait is not ergonomic for developer who'd like to use their own election algorithm. We could

[2022-10-31 08:13] gpestana commented on #12589
Related to https://github.com/paritytech/substrate/issues/8250 and https://github.com/paritytech/substrate/pull/12588

@kianenigma as discussed, this is probably not very important, but opening this issue for idea bookeeping.

[2022-10-31 11:59] kianenigma opened #12591 "Can benchmarking functionality have used externalities extensions?"
Having a talk with @cheme about externalities, it appears that a lot of the optional host functions that can be used in some context and not others are declared as:

[code]

But it seems like the benchmarking code is declared right into the main `trait Externalities`.

Why is this? could it have been done otherwise?

[2022-10-31 12:02] kianenigma opened #12592 "rename `#[runtime_interface]` to `#[host_function]`"
I think it is really self-explanatory. It is a macro that is defining a host function. period.

[2022-10-31 15:31] koute commented on #12538
@nazar-pc Thanks for the access. You can now shut it down.

I've finished investigating the issue. I've verified that it's only possible to reserve 512GB of address space on your Raspberry Pi and anything more will return an out-of-memory error. This is due to the Raspbian's kernel being configured with only a 3 level virtual memory translation table allowing for pointers only up to 39 bits in siz

[2022-10-31 15:44] zdave opened #12595 "Mixnet key storage and management"
Each mixnet node will need a key pair for Diffie-Hellman key exchange with message senders. The public keys of all mixnet nodes will need to be known by all message senders. Ideally the mixnet nodes would rotate their keys automatically every few hours to provide forward security.

This issue is to discuss how these keys should be stored and managed.

For the initial mixnet release, the current pl

[2022-10-31 17:28] arrudagates commented on #3419
This issue has been stale since early 2020, has there been any progress on this? Or maybe a better way to do what I quoted?

[2022-11-01 00:48] Polkadot-Forum commented on #1650
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/how-to-make-a-fuzz-er-for-wasm-runtime/936/1

[2022-11-01 07:52] M4n5ter opened #12596 "panic while building `subkey`, error: failed to run custom build command for `tikv-jemalloc-sys v0.5.1+5.3.0-patched`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

[code]

[code]

[code]

### Steps to reproduce

_No response_

[2022-11-01 10:24] athei opened #12598 "New trie cache causes `child_storage_get` to panic in PVF"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When a cumulus built block is validated which uses child trie storage the PVF panics with the following error:

[code]
Please note:
- It does **not** happen when you set `--trie-cache-size 0`

[2022-11-01 12:20] bkchr commented on #12596
Do you have `make` installed?

[2022-11-01 12:27] bkchr commented on #12592
I'm against this. I choose the name as counterpart of `runtime-api`. The macro provides you the interface to program your runtime against. As part of this process it also generates the host functions.

[2022-11-01 12:38] M4n5ter commented on #12596
oh, I recently reinstalled the system and I forgot about it. Now that machine is where I work, so I can't confirm it for now.

I successfully built on another system with a similar environment, this issue should be caused by no `make` on the system

[2022-11-01 12:43] bkchr commented on #12596
So it is solved now?

[2022-11-01 12:49] M4n5ter commented on #12596
Thank you for your reply, it is solved.

[2022-11-01 12:50] #12596 closed

[2022-11-01 21:34] xlc commented on #4939
fixed by https://github.com/AcalaNetwork/chopsticks

[2022-11-01 21:34] #4939 closed

[2022-11-01 21:35] Polkadot-Forum commented on #9210
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/open-discussion-thread-fall-2022-roadmap-roundup/542/7

[2022-11-01 21:52] Lohann commented on #11783
Hey, I think we are going to the wrong path here, I don't think Uniques pallet should support more features (auto-incremental collection id, nested ownership, etc)...

In my opinion, instead we should go to a path where we make Uniques minimal and easy to extend with new features, otherwise soon we will need to implement Uniques V3, because V2 doesn't support all features the community needs.

Exa

[2022-11-01 22:03] Lohann commented on #11783
In my ideal world, instead of [Features Flags](https://github.com/paritytech/substrate/pull/12367), I think the uniques pallets should be extensible pretty much like how [Substrate's SignedExtra](https://github.com/paritytech/substrate/blob/polkadot-v0.9.30/bin/node-template/runtime/src/lib.rs#L306-L315) allow us to extend Transactions, this way the community can focus on build extensions, instead

[2022-11-01 23:13] bkchr commented on #12591
No. It currently could not. The problem is that you need access to the overlay and that overlay is already part of the object that implements the externalities crate. However, if we move everything over to just use extensions, we probably could do the switch for benchmarking to have their own extension and I would like this.

[2022-11-02 10:57] dcolley commented on #12601
For some context - this network will host public RPC servers.

The api call is documented here: https://polkadot.js.org/docs/substrate/rpc#addreservedpeerpeer-text-text
addReservedPeer is not authenticated. If the RPC external is enabled, it can be spammed.

I was able to add a peer to my own server with polkadot.js
![image](https://user-images.githubusercontent.com/1845970/199471117-6ecd14da-128d

[2022-11-02 11:17] senseless commented on #12601
It should be doable with ansible and some simple scripting on the host. I didn't realize that RPC call was there. If it's too complex of a change, don't worry about it, we can proceed with the ansible + rpc solution.

Thanks @rphmeier @dcolley

[2022-11-02 11:21] kianenigma commented on #9210
@xlc if you want this, it is just a matter of taking the above PR, and merging master in it AFAIK.

I will mark it as mentor to attract more folks.

[2022-11-02 11:39] kianenigma commented on #12592
How is "api" and "interface" counterpart of one another?

This has been a point of confusion for students and those wanting to learn substrate.

I agree that perhaps we can leave the macro. But we need some docs that explain host functions, externalities, and these macros from a FRAME developer PoV. the current naming and lack of explanation is a bit confusing.

This can be done in the docs, but I

[2022-11-02 12:25] ggwpez commented on #12591
You are talking specifically about these functions here?
https://github.com/paritytech/substrate/blob/c8653447fc8ef8d95a92fe164c96dffb37919e85/primitives/externalities/src/lib.rs#L282-L287

We could try feature gating them at least. But that would introduce the `runtime-benchmarks` feature into some crates which normally dont have it, like `sp-state-machine`.
Do you think its worth it?

[2022-11-02 12:29] bkchr commented on #9210
One thing that I asked myself in the recent weeks is if we also need some kind of "two phase" `on_finalize`. My idea here being that in the first phase you are wrapping up and maybe still calling into other pallets, while the later phase is then to only do some clean ups or whatever. It may happens that you write data to some storage item that you then need to remove at the end of the block. Howev

[2022-11-02 12:30] bkchr commented on #12591
I don't think it is wort it. I would like to solve it as I pointed it out above.

[2022-11-02 12:37] bkchr commented on #12592
I see it the following way:

- "runtime api": This is the api the runtime provides to the outside. When you want to call something in the runtime, you need to provide an api. This api can then be called from the host side.
- "runtime interface": When writing your runtime, you need to develop it against some kind of interface. This interface is provided by `runtime-interface` macro. With this inter

[2022-11-02 13:12] bkchr opened #12605 "Improve performance of `storage::append`"
`storage::append` currently works by appending the [new data directly to the old data](https://github.com/paritytech/substrate/blob/0d64ba4268106fffe430d41b541c1aeedd4f8da5/primitives/state-machine/src/ext.rs#L795-L823). Instead it would be better if keep appending the raw data to some `Vec<u8>` and keep the number of items in a separate field:

[code]

`materialized` would be used when the runtim

[2022-11-02 15:27] olanod opened #12606 "Instantiatable Scheduler with custom filter"
Would it make sense to make the scheduler pallet instantiatable where different instances are configured to allow different kinds of calls based on a specified filter?

I think scheduling tasks is a very helpful feature that regular users don't get to enjoy since it's usually left to be a privilege of the root origin. If we allow alternate instances with limited scope of things that can be schedul

[2022-11-02 17:36] rphmeier commented on #12601
@senseless @dcolley - great to hear that the RPC approach works well enough. I will close this issue now as 'wontfix', simply because the code changes are so involved & introduce a large maintenance burden. Please don't hesitate to open a new issue if there are improvements to the RPC layer that can be introduced to make peer-set management easier from external processes.

[2022-11-02 17:36] #12601 closed

[2022-11-02 18:02] dharjeezy commented on #12606
If this is confirmed, I will like to take on this issue @olanod

[2022-11-02 19:14] altonen opened #12607 "`sync::syncs_header_only_forks` test is flaky"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

There is a bug somewhere in the code which causes this test to freeze randomly. Bisecting doesn't help beyond a certain point because some of the history doesn't build (e.g., the commit that i

[2022-11-02 19:27] olanod commented on #12606
Great, let's hear a bit more from others and if it makes sense feel free to grab it :)

[2022-11-02 21:23] ggwpez commented on #12606
I am very much in favour of having a way of doing this but the scheduler pallet has some shortcomings which make it an inviable option IMO.
Example would be that there is no fairness guarantees to anything. It does not even guarantee execution of the scheduled calls.
You could easily prune other peoples by scheduling at a specific block to which their call would be re-scheduled in an overweight co

[2022-11-02 21:42] olanod commented on #12606
I'd still expect the scheduler origin of the more restricted instances to be relatively trustworthy, perhaps instances can opt to have a "less trusted mode" that only enables the use of `schedule_after` that could also use `on_idle` to execute tasks with less priority than more important instances?

[2022-11-02 22:18] ggwpez commented on #12607
Huh cannot reproduce. Even with `taskset -c 0` to just run it on one CPU. Maybe my PC is too fast :stuck_out_tongue: ?
Anyway, added it to the ever-growing list of flaky tests https://github.com/paritytech/substrate/issues/11321 …

[2022-11-02 22:25] bkchr commented on #12606
The entire scheduler crate was not written with the idea that the origin is open to the "wild". It doesn't take any fee for storing a call or something like this. So, currently it means that scheduling a call would be free.

[2022-11-02 23:31] #12231 closed

[2022-11-03 10:30] ehsanhajian commented on #12601
I think you're talking about one datacenter. because for multicast support, igmp protocol needs to be enabled on all network devices. in addition to that, the security concerns for igmp is very high. if someone spoof your multicast IP or if someone send igmp flooding, that would be terrible to manage. igmp protocol maybe good for a managed network but it's very risky.

[2022-11-03 10:53] olanod commented on #12606
@bkchr and would you say the pallet's scope should remain unchanged? I'm not saying we open the scheduling to the "wild", a second instance in Polkadot for example would still configure a trusted origin as the scheduler but it can be a faster governance track that handles less critical topics or has a specific purpose(e.g. sending XCMs, treasury spends, etc.).
Besides this simpler approach it migh

[2022-11-03 11:20] #11866 closed

[2022-11-03 17:49] MrishoLukamba commented on #12605
i would like to tackle it and get some guidance.

[2022-11-03 19:51] #12550 closed

[2022-11-03 21:03] bkchr commented on #12605
What guidance? If you want to work on this, you should start looking into the code and coming up with a way to implement this.

[2022-11-03 21:26] jasl opened #12613 "lock import error: Backend error: Can't canonicalize missing block number #2482889 when importing {BLOCK_HASH} (#2486985)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I submitted to [StackExchange](https://substrate.stackexchange.com/questions/5632/block-import-error-backend-error-cant-canonicalize-missing-block-number-blo)

[code]

I tried wait few hours a

[2022-11-03 21:55] MrishoLukamba commented on #12605
Okey

[2022-11-03 22:13] bkchr commented on #12605
I have layed out the basic idea in the initial issue description. I would recommend as I said to look into the code first. I didn't spend that much more time thinking about the actual implementation. However, this is also part of the job when wanting to tackle this. Any kind of questions you have, you can post here.

[2022-11-03 22:45] burdges commented on #12605
There is one [one compress call](https://github.com/RustCrypto/hashes/blob/master/blake2/src/macros.rs#L102) in finalization, so an append proof could be an internal blake2b state, but this does not really jive with the hash function interface, so technically such a use case requires re-analysis.  ugh..

[2022-11-03 22:47] bkchr commented on #12605
I can not really follow what you are talking about. However, this issue isn't about hashing.

[2022-11-03 23:20] MrishoLukamba commented on #12605
Me too. I will raise the PR and iterate

[2022-11-03 23:49] burdges commented on #12605
It's not about hashing, but..

I'm saying if _all_ you want is a more efficient _proof_ of appending to a hash function, to make PoV blobs smaller, then we could actually do that pretty nicely.  It requires some further analysis of the has function though, so not really solvable right here.  If you do care a lot about then, then ask me to find someone to work it out though.

[2022-11-04 09:20] kayabaNerve opened #12614 "Substrate always attempts to finalize the parent of a finalized block, even if it's already finalized"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

https://github.com/paritytech/substrate/blob/564cdeb9026a556133cab6ff20a6f7426e24b38e/client/service/src/client/client.rs#L657-L667 is run regardless of the parent's status.

This is in-conseq

[2022-11-04 10:25] Srikarrao1 commented on #8089
What if both "libsecp256k1", "secp256k1" in , and we're still unable to achieve ECDSA state [](url)

[2022-11-04 13:10] gituser commented on #12493
getting same error when trying to build v0.9.31:

[code]

[2022-11-04 13:35] bkchr commented on #12493
We fixed this on master.

[2022-11-04 13:36] bkchr commented on #8089
@Srikarrao1 I don't get your question?

[2022-11-04 13:51] Srikarrao1 commented on #8089
I want to acheive functionality of ECDSA crate by integrating functions such as Signer, Verifier and Signature traits in substrate based primitives, appreciate your response!

[2022-11-04 14:13] kianenigma opened #12617 "Allow vested funds to be staked via nomination pools"
Currently, vested funds cannot be staked.

Since we have vested transfer, it should be possible to move the vested fund to the pool, and stake it.

Ideally, we want vested funds to be stake-able similar to direct staking.

Although, this is not super critical as vesting funds were mainly used for initial sales of DOT and are mostly done by now.

I am not 100% sure if this possible, ergo unconfirme

[2022-11-04 15:11] Nick-1979 opened #12618 "facility to fetch fastUnstake.reseve"
If an account wants to do a successful registration for **fastUnstake**, the following conditions needs to be meet:

1- the account has some fund staked and not being exposed in the last "erasToCheckPerBlock"
2- the account needs to have enough funds to be **reserved**, that will be slashed if the first condition was not met.

The erasToCheckPerBlock can be fetched via _api.query.fastUnstake.erasT

[2022-11-04 16:03] kianenigma commented on #12618
@ruseinov cc

[2022-11-04 21:51] bkchr commented on #8089
Still don't get it.

[2022-11-04 22:15] bkchr commented on #12493
@gituser that doesn't work. You could try to delete your `target` directory and try to build again. That sometimes fixes it.

[2022-11-05 11:32] gituser commented on #12493
@bkchr that didn't help

[2022-11-05 13:09] cmichi commented on #11444
@athei @agryaznov This issue is closed, is this correct? If so, could you then please create a follow-up issues in `ink` for removing the `seal_` prefixes from the FFI?

[2022-11-05 16:20] KiChjang commented on #12500
It is very crucially important for you to understand that storing data on blockchain isn't free. If you can't articulate what "some situations" are concretely, then we will not add such a field to bloat the size of the DB unnecessarily. I suggest that you actually go and investigate around parachains to see whether there's such a need, under what circumstances do they need it, and how this new fie

[2022-11-05 16:45] Szegoo commented on #12500
@KiChjang In the previous comment I was just trying to note that there might be a situation where we might have a max supply without ever reaching it. I am very well aware that storing information on blockchain isn't cheap. In this issue I was just giving off an idea to see whether it would be worth implementing to the assets pallet. If you believe that there wouldn't be any scenario where this wo

[2022-11-05 17:13] KiChjang commented on #12500
Sorry, but you are presenting this idea to us. You are supposed to elaborate on your use case, not the other way around.

I have already told you what the best path for you to proceed. We are simply not going to implement something that does not add value until it is demonstrated.

[2022-11-05 17:26] #12500 closed

[2022-11-05 19:44] Szegoo commented on #12017
@ggwpez Should we deprecate the host perf check in polkadot then and have it in substrate implemented in a generic way?

[2022-11-05 21:52] tifecool commented on #12580
I'm interested in picking this up, but not sure I quite get the proposal.

From my understanding, something like this is what's being asked for:

[code]

[2022-11-05 22:14] ggwpez commented on #12017
I have to look into the PVF check command again and chat with who created it. For now it is still fine to have both IMO.

[2022-11-05 23:14] xlc commented on #12580
One way could refactor out all the code generation logic. Instead of generate codes that hard to be consumed by other tools, it should generate data.

e.g.
[code]

In that way it is easy to work with `WeightInfoData` and do whatever check. Could do some derive on the `enum Call` to be able to iterate all the calls.

[2022-11-06 10:03] gpestana opened #12621 "Emit a `MembersSet` event in the collective pallet when a new council is elected"
Emitting an event when new members are set would improve the visibility of the governance state.

[2022-11-06 10:07] gpestana opened #12622 "Add optional delays in collective pallet to increase security"
Adding block delays to when a new council can propose motions and execute approved motions can increase the security of the governance protocol by allowing the community (or sudo) to kick rogue councils and/or revert proposals. These delays should be optional.

- [ ] Add an optional delay between a council being elected and being able to propose motions;
- [ ] Add an optional delay between a counc

[2022-11-06 10:56] bkchr commented on #12622
Instead of having a delay, the council should not be able to execute anything that is related to moving funds or similar. Especially they should not get sudo rights.

[2022-11-06 11:05] gpestana commented on #12622
@bkchr that's a good point. Unfortunately that was exactly what happened in this incident https://blog.mangata.finance/blog/2022-10-08-council-incident-report/

The suggested delays would help to some extent but I agree that the root issue is the council having sido privileges.

[2022-11-06 11:09] bkchr commented on #12622
Yeah I knew what you were talking about, this is the reason I brought this up. For me this is a configuration error. Delays will not fix this. Council could also propose some change that is just a hash and send the preimage in the last moment. You wouldn't know what you want stop.

Just don't give council root origin. There are also million other ways to fuck up your runtime, you can not solve all

[2022-11-06 14:20] kianenigma commented on #12622
A delay for council stuff makes less sense to me.

A delay in the elections-phragmen pallet is not a bad idea. Essentially, you _announce_ the next council a few blocks before it is _enacted_.

[2022-11-06 14:21] kianenigma commented on #12621
Doesn't this already exist? https://paritytech.github.io/substrate/master/pallet_elections_phragmen/pallet/enum.Event.html#variant.NewTerm

[2022-11-06 15:36] davxy opened #12623 "Tx Pool not correctly updated after warp sync"
Currently the `EnactmentState` instance maintained by the `BasicPool` is not updated after a warp sync.

[code]

As can be seen from the log, there are attempts to find a route from the best block the `EnactmentState` is aware of (in this case the genesis one) to the one contained within the blockchain event notification (finality or best).

The end result is an early exit from the `BasicPool::upd

[2022-11-06 16:05] davxy commented on #12623
@ggwpez do the lines about missing blocks have **exactly** this format?

[code]

Just to be sure that are produced here:

https://github.com/paritytech/substrate/blob/cafbb668d2e57ede83f11f59d8bf291aa8d0c765/client/transaction-pool/src/lib.rs#L742

[2022-11-06 17:19] kianenigma commented on #11638
cc @rossbulat please look into this.

[2022-11-06 17:22] kianenigma commented on #11638
Okay, my thoughts on this are:

The only reasonable action for you is that you will allow the pool operator to call `bond_extra(BondExtra::Rewards)` on your behalf, at any point in time. Seems safe to me, but there might be edge cases where the operator can abuse this.

This must be entirely optional. Existing pool members should not be affected by this.

We can explore doing this with a lazy migr

[2022-11-06 23:10] bkchr commented on #12623
I also think that this is the best solution. So, basically if there is any error for new best we take the given tree route. If tree route fails for new finalized, we just update the last finalized block in the enactmentstate, same for best block. So, when there is an error we print this as debug and still let the internal state progress.

[2022-11-07 08:37] xlc opened #12625 "unnecessary dependencies"
I am trying to pull `cumulus-test-relay-sproof-builder` into [Chopsticks](http://github.com/AcalaNetwork/chopsticks), but it pulls many unnecessary dependencies ([and it doesn't build](https://github.com/paritytech/cumulus/issues/1814)).

[code]

It shouldn't trying to build `sp-application-crypto`, `sp-staking`, `sp-authority-discovery`, `sp-consensus-slots`

[2022-11-07 08:47] bkchr commented on #12625
We don't need duplicate issues.

[2022-11-07 08:47] #12625 closed

[2022-11-07 09:14] acatangiu commented on #12531
This will be fixed by implementing https://github.com/paritytech/substrate/issues/12508

[2022-11-07 09:35] alvicsam opened #12629 "Fix tests for Rust 1.65"
In order to update rust version in CI image tests should be fixed:
[This PR](https://github.com/paritytech/substrate/pull/12628) contains ci image with updated rust and can be used for fixing them.

[code]

cc https://github.com/paritytech/ci_cd/issues/653

[2022-11-07 10:41] bkchr commented on #12629
@alvicsam you just need to run `.maintain/update-rust-stable.sh 1.65.0`

[2022-11-07 11:52] Polkadot-Forum commented on #2980
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/eliminating-pre-dispatch-weight/400/14

[2022-11-07 12:19] michalkucharczyk commented on #12623
Simple solution could be ignoring the `tree_route` and simply updating the `recent_best_block` / `recent_finalized` w/o calling enactment/finalization process. This is easiest solution that can be implemented.

If we cannot compute tree_route because there are no blocks in backend, we also cannot handle enactment process (and cannot trigger any tx-related events).

[2022-11-07 12:57] kianenigma commented on #6641
cc @Ank4n

[2022-11-07 13:00] #11440 closed

[2022-11-07 13:33] GuruKathryn commented on #12531
Awesome! 🎉

[2022-11-07 14:49] ggwpez commented on #12623
So warp sync is currently broken? Maybe we should add a test to the release-process.

Yes @davxy.
[code]

[2022-11-07 19:35] ggwpez opened #12635 "Block record is missing from the pruning window"
The node crashes when restarted after a warp-sync. It only happens for ParityDB. RocksDB works fine. cc @cheme

# Reproduce
1. Start a Polkadot node `v0.9.31` or later: `polkadot --sync warp --db paritydb -d new-data-dir`
2. CTRL-C after warp sync when old blocks download starts (`⏩ Block history ....`)
3. Restart the node with the same command

It prints this and dies:
[code]

Quote from @davxy

[2022-11-07 20:11] bkchr commented on #12635
CC @arkpar

[2022-11-07 20:12] #12623 closed

[2022-11-07 20:18] cheme commented on #12635
The ~15 secs are because paritydb now flush wal when exiting. The final operation is big (commit all state), and might be related. From other feedback, this last operation also makes memory grow a lot which is an issue to warp synch on low memory machine.
So I already wanted to check if import state could be split in multiple commits.
The error in itself may be something else (maybe something like

[2022-11-07 20:56] ggwpez commented on #12635
It takes one to 15 minutes for me, depending on hardware and Bandwidth.

[2022-11-07 21:12] cheme commented on #12635
just took me 5 minute, quite long (probably could run faster if synching against a single other local full node).
From a few test, I did observe another failure if I ctrl+c during "importing state" step (same with rocksdb).
For parity-db I did observe the error everytime, but actually even without exiting the synch, after warp synch node is stuck on
[code]
which I don't see with rocksdb.

[2022-11-07 21:19] ggwpez commented on #12635
The `tree_root` error should be fixed by https://github.com/paritytech/substrate/pull/12632

[2022-11-07 21:40] #8965 closed

[2022-11-07 21:43] cheme commented on #12635
Just run with parity-db log, nothing wrong (last queued commit up to 8803 got processed and enact, wal log0 size of state ald log1 growing when syncing are both flushed and delete properly on exit).
So I don't feel like this is related to db being corrupted, but will test tomorrow with parity-db master (or latest publish).

[2022-11-07 21:44] rossbulat commented on #11638
This is a nice addition, but for many users it will be a fun experience to go back to the dashboard on a daily basis and discover how much reward they've received. This also encourages more time on the dashboard & engage more with the network. So adding a feature, although nice, potentially prohibits this positive user pattern & they will forget about checking Polkadot in the future.

[2022-11-07 22:50] arkpar commented on #12635
This should be fixed with https://github.com/paritytech/substrate/pull/12239
Waiting for review @bkchr

[2022-11-07 22:57] #12607 closed

[2022-11-08 06:50] burdges commented on #12577
Blake2 has a tree-hashing mode.  It'd seemingly support `32*log(blob.len()/32)` reads, and likely writes, into a `blob: Vec<u8>`, but would not support efficient insertions, deletions, or moves.

I'd expect this gives smaller Merkle proofs than our trie directly, given our radix 16 trie bloats PoVs by 4x in dense trees, but even more size efficient options exist for typical Merkle proofs.

[2022-11-08 08:01] cheme commented on #12577
I remember seeing different hash function using tree structure, but did not do my homework yet, remember also blake3 using it by default. Also think those kind of hash function are good candidates for `blob_hash32` (but maybe just an mmr structure is easier to garantie some good binary change performance).

[2022-11-08 08:07] #12629 closed

[2022-11-08 09:04] #12598 closed

[2022-11-08 10:16] lexnv opened #12644 "Substrate test-linux-stable fails"
Substrate CI checks are failing on origin/master.

This is most probably related to the rustc version used by our CI.

[code]

[2022-11-08 12:08] bkchr commented on #12644
@lexnv merge master. We updated the rustc version.

[2022-11-08 12:08] #12644 closed

[2022-11-08 12:21] kianenigma commented on #6920
Also, we want to allow nominators to optionally set a maximum commission, and if any of their validators go above this limit, they should be automatically removed. We can either do this on_idle, or do it via a permissionless transaction.

This should be a new issue in itself.

[2022-11-08 12:22] kianenigma opened #12647 "Allow nominators to set `max_commission` on their approvals"
Also, we want to allow nominators to optionally set a maximum commission, and if any of their validators go above this limit, they should be automatically removed. We can either do this on_idle, or do it via a permissionless transaction.

This should be a new issue in itself.

_Originally posted by @kianenigma in https://github.com/paritytech/substrate/issues/6920#issuecomment-1307125377_

[2022-11-08 12:53] ggwpez commented on #12580
Thanks for the ideas @xlc. Using data here instead of math terms should make it easier downstream indeed.
Could be extended to take the correct component ranges into account, instead of just `u32`.
The only problem I see is that pallet `Call` does not correspond 1:1 to benchmark functions. Sometimes we use a `.max` in a `pallet::weight` annotation or something.
Also I would like to have some `for_

[2022-11-08 13:11] bkchr commented on #5396
Something semi related would be to have some kind of storage item that you can write in a block, but reading it in a block would always return the old value. Currently such a behavior could be achieved by having some intermediate storage item that you "move" in `on_finalize` to the correct storage item. This could be used in Aura for example for the authorities. Currently when there is a new sessi

[2022-11-08 13:16] cheme commented on #5396
I did implement it in the past (as a way to avoid lock in an experimental thread branch), it is pretty straightforward to do (just don't query the change overlay).

[2022-11-08 13:36] bkchr commented on #5396
Yeah, it shouldn't be too hard to implement. Just will require some new host function.

[2022-11-08 14:28] AurevoirXavier opened #12649 "`Index` vs `Nonce`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Why do we need two different names for the same thing?

IMO this adds extra learning effort for developers.

[code]

### Steps to reproduce

_No response_

[2022-11-08 15:01] decentration opened #12650 "bug in the process of upgrading parathreads"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Blockage alert!!

It seems the subport issues are not being checked currently. Please upgrade 2113 (to a permanent slot) as soon as possible.

We are waiting for the parathread to be upgraded

[2022-11-08 16:38] Doordashcon commented on #11638
Hopefully making this feature optional should mitigate this risk, I also think nominators would want to check the actions of their pool operators from time to time.

[2022-11-08 17:53] bkchr commented on #12650
No need to open an issue here, because that doesn't help. I messaged @al3mart on element.

[2022-11-08 17:53] #12650 closed

[2022-11-08 17:58] al3mart commented on #12650
Taken care of it just now

[2022-11-08 18:51] shawntabrizi opened #12652 "Improve Benchmarks for Pallet Election Provider Multiphase"
Looks mostly good to me!

There are still a few benches which previously incorrectly generated with zero weights and/or now use the minimum times as the base weight and have one of their components start at a high number (mainly from `pallet_election_provider_multi_phase`), and I'd still like to do *something* about them (which is not trivial because the components' ranges *cannot* overlap for tho

[2022-11-08 20:10] Szegoo commented on #12649
@AurevoirXavier I am probably wrong, but it seems like there aren't any instances of using an alias for Index/Nonce. And if I understand the issue correctly the problem you are mentioning is caused by using type aliases.

[2022-11-09 01:19] nazar-pc opened #12654 "`finality_grandpa::Commit` doesn't implement `core::fmt::Debug`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I have added `sp-debug-derive = { version = "4.0.0", default-features = false, features = ["force-debug"] }` to my runtime and it stopped compiling with this:
[code]

Looks like something went

[2022-11-09 01:56] nazar-pc opened #12655 "Proof size for chains without PoV causes runtime panic"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

#12383 in particular claims that chains without PoV should not care about proof size, but it doesn't seem to be the case.

The runtime I'm working on after Substrate upgrade was panicking with

[2022-11-09 02:44] AurevoirXavier commented on #12649
In some repos, people alias the index to nonce.

As the example shows.

And in the Substrate repo:
We pass the `Index` to the `Nonce` field.
https://github.com/paritytech/substrate/blob/a1dee7ecd2a157c490d189f0932b32aa12106857/bin/node/rpc/src/lib.rs#L110

We also pass the `Index` to the `Index` field.
https://github.com/paritytech/substrate/blob/a1dee7ecd2a157c490d189f0932b32aa12106857/bin/node/r

[2022-11-09 02:53] burdges commented on #12649
Aside:  Nonce, aka number used only once, typically indicates a security break if you reuse the same number twice.  I think nonce advancement cannot stop every possible attacks scenario, like if say two machines sign for a shared account on different forks of the chain, so nonce may warn of some niche scenarios.  In principle, you could've stronger by coupling signing to consensus more tightly, bu

[2022-11-09 04:08] koute commented on #12652
One way of fixing this would be to add a new mechanism to the benchmarking machinery to introduce simple greater-than/less-than constraints between the components.

For example, the benchmarks use these constants:

[code]

Obviously `ACTIVE_VOTERS` cannot be bigger than the total number of `VOTERS`.

In one of the benchmarks we have this:

[code]

So we could add something like this to constraint

[2022-11-09 05:28] nazar-pc commented on #12655
`u64::MAX` instead of `1` worked, despite I don't see how from the error. Weird...

[2022-11-09 05:28] #12655 closed

[2022-11-09 06:15] sam0x17 opened #12656 "trustless auditing for FRAME pallets"
Based on the forum discussion at https://forum.polkadot.network/t/rfc-trustless-in-code-auditing-annotations/988 and some internal discussions, it has become clear there is significant desire within FRAME to have auditing machinery that will allow us to annotate pallets with some attribute macro containing a hash code generated from the AST nodes that make up the actual contents of the pallet. Thi

[2022-11-09 08:21] bkchr commented on #12655
CC @KiChjang

[2022-11-09 08:46] bkchr commented on #12656
If you do this, then you would require that pr that is only merged when it is audited. Imagine we are using `construct_audited_runtime` in Polkadot. We would  not be able to merge anything without it being audited. General this should be fine and would just require to adapt the process. However, another thing would be testing. This stuff should not get into the way of playing/adding new features o

[2022-11-09 09:26] bkchr commented on #12595
Will only validators be mixnet nodes? Or can everybody be a mixnet node? And why do we need to know all public keys? We are doing a key exchange.

If only validators will be mixnet nodes, this can work. However, when we want to have all nodes to be mixnet nodes, we can not really use session keys. The question would also be, do we need to proof to someone that for example I'm owning a particular p

[2022-11-09 09:48] burdges commented on #12595
Agreed.  We need some mechanism to choose who is a mix node, but not necessarily our validator selection criteria.

In fact, we'd make the mix net software separate from substrate in an ideal world, but doing so would create a lot of work for people to set it up.  It's kinda tricky..

[2022-11-09 10:04] xlc commented on #12595
what is mixnet?

[2022-11-09 11:06] ordian opened #12658 "Get rid of `parity-util-mem` dependency"
Originally reported in https://github.com/paritytech/substrate/pull/12657#issuecomment-1308484924

Steps:
1. Identify all the usage: https://cs.github.com/paritytech/substrate?q=malloc_size
At the moment it seems there are two
* substrate (informational only): https://github.com/paritytech/substrate/blob/cbb48e5e503300817b6837d6597659ed35212e99/client/state-db/src/lib.rs#L500-L506
* polkadot: http

[2022-11-09 11:12] gituser commented on #12493
@bkchr is there any way to apply that fix without creating a fork of this repository and changing dependencies somehow in the build process?

it seems cargo makes a fresh git checkout of substrate repo every time i try to build polkadot.

[2022-11-09 11:29] bkchr commented on #12493
Not that easily. Sorry for the problems! It will land in 0.9.33.

[2022-11-09 11:31] bkchr commented on #12595
https://en.wikipedia.org/wiki/Mix_network

[2022-11-09 11:54] ggwpez commented on #12655
There was a SE question about it https://substrate.stackexchange.com/questions/5557/construct-runtime-integrity-test-failing
since some of the invariants dont hold anymore with `pov_size = 0`.

[2022-11-09 12:06] bkchr commented on #12655
But he said that he used `1` and not `0`?

[2022-11-09 12:11] ggwpez opened #12660 "FEPS weights not updated by script"
No idea why #12325 did not update the weights for the [election-provider-support](https://github.com/paritytech/substrate/blob/82b538e3ae6e035b39a3ac8f069c9fb06757b6ac/frame/election-provider-support/src/weights.rs#L29) but should be fixed.

[2022-11-09 12:12] ggwpez commented on #12655
Looks like only for the `NORMAL` and not for the `OPERATIONAL` class.

[2022-11-09 13:05] ggwpez opened #12662 "*decode-all* check for `post_migrate` hook"
There are a few cases when migrations did not verify that the resulting state of a pallet is decodable with the new runtime.
This can easily happen when using `StorageMap::translate` since it just ignores un-decodable elements and carries them over into the new runtime.

We could add a check that tries to decode the whole state after a migration (or batch thereof) to verify that the state is not c

[2022-11-09 13:23] bkchr commented on #12660
Duplicate of https://github.com/paritytech/substrate/issues/12652

[2022-11-09 13:26] ggwpez commented on #12660
That issue is for `pallet-election-provider-multi-phase` but this issue is for `frame-election-provider-support`.

[2022-11-09 13:28] ggwpez commented on #12660
I guess we can use the linked issue for both, will edit it.

[2022-11-09 13:28] #12660 closed

[2022-11-09 13:29] ggwpez commented on #12652
Somehow the FEPS weights were not updated in the last MR #12325 [election-provider-support](https://github.com/paritytech/substrate/blob/82b538e3ae6e035b39a3ac8f069c9fb06757b6ac/frame/election-provider-support/src/weights.rs#L29). Did you use the script or do it manually?

[2022-11-09 15:00] sam0x17 commented on #12656
I agree a feature flag might be useful for toggling this off. As for the
trustless thing, I’m more referring to the annotations as a way of
verifying that the code you have right here matches what was at some point
audited versus trusting your mastery of git blame and what some old PR says
about the auditing status of the pallet, but point taken. My point is more
that anything short of this you ha

[2022-11-09 15:08] burdges commented on #12647
We likely should do this, as exchange's staking services suck, but I dislike it..  lol

[2022-11-09 15:20] burdges commented on #12656
You cannot use negative or default features here, as they complicate people causally playing, and cargo features are additive, but an automated process could use `cargo build --features requireaudits` of course.

[2022-11-09 15:57] kianenigma opened #12665 "allow swapping from one pool to another"
I am not quite sure if this will be feasible. Just opening an issue for bookkeeping.

[2022-11-09 16:34] burdges commented on #12595
Mixnets provide anonymity using onion encryption like Tor, but each packet is routed separately.

Tor should be more secure if you've a stream of traffic, like TCP, HTTP, etc. because each packet taking different routes means your stream quickly hits a route where all nodes are malicious.

All known theoretical models of anonymity need both latency and cover traffic, so folks think Tor does not be

[2022-11-09 16:39] lexnv commented on #12475
Just to summarize from what @bkchr suggested in  #12476:

## API pinning / unpinning
Substrate Client needs to expose an API for pinning / unpinning blocks.

A block that is pinned with this API has the following guarantees:
- client/db code does not prune the block's body / header / justification [here](https://github.com/paritytech/substrate/blob/2a1b79f3ce13128b4915309e31f86d4dbeee32a8/client/d

[2022-11-09 17:29] Polkadot-Forum commented on #12176
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/polkadot-release-analysis/1026/2

[2022-11-09 17:29] Polkadot-Forum commented on #12320
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/polkadot-release-analysis/1026/2

[2022-11-09 18:03] ggwpez commented on #12656
Why do we need rust features for this?
Can we not add some syntax to the `construct_runtime!` macro that asserts all pallets to be audited in a test?

[2022-11-10 01:27] kianenigma commented on #12617
Okay, some thoughts on this:

vesting works off the basis of locks. locks prevent us from transferring funds from the user account to the pool account, which we absolutely have to do.

One option would to to keep the funds in the user account, and mint fake tokens in the pool side. but this is tricky because we have to make sure that the funds that are locked in pools cannot be reused in the nativ

[2022-11-10 01:53] kianenigma commented on #12617
Here's a draft of a stupid, but possibly viable approach:

[code]

[2022-11-10 01:56] nazar-pc commented on #12655
Yeah, I think because `NORMAL_DISPATCH_RATIO` was 75% and 75% of `1` is `0` :man_shrugging:

[2022-11-10 04:15] koute commented on #12658
Just a note: when do this we should not forget to add back jemalloc to the relevant binary crates (since it is currently included through `parity-util-mem`).

[2022-11-10 04:16] nazar-pc opened #12671 "Add ability to optionally clean up `wbuild/*/target` in wasm-builder"
With switch to new Substrate version we started hitting space limits in GitHub Actions CI.
Turned out, `wasm-opt-sys` contributes a lot and generally with growing number of runtimes size of `wbuild` becomes a growing challenge.

It would be very helpful to be able to control whether wasm-builder can delete corresponding `target` after building WASM files (that are the only ones needed AFAK in the

[2022-11-10 05:12] sam0x17 commented on #12656
I agree and am not really clear why we would need a feature for this. If someone is playing/tinkering, they simply wouldn't use `construct_audited_runtime!` (or pass whatever argument to `construct_runtime!` if we decide to do it that way). If they wish to tweak an existing pallet, they mere have to remove or comment out the `#[audited()]` macro line above that pallet definition. I also plan to in

[2022-11-10 07:13] bkchr commented on #12658
We didn't had jemalloc anywhere enabled in Substrate. It always requires that downstream enabled jemalloc in their bins.

[2022-11-10 07:22] bkchr commented on #12656
The moment you start changing a pallet, polkadot would stop compiling. This is a really shitty experience. It is not about "tinkering" of other users, it is about our work flow. Like you add some new pallet or fix something in a pallet and you want to test this. If there would be an extra construct runtime, it would require that you always change the macro name back or you would need to update the

[2022-11-10 07:28] sam0x17 commented on #12656
I definitely understand where you're coming from @bkchr -- the last thing I would want to do with this is create a shitty developer experience. That said, I think the workflow becomes pretty clear -- if you want to "open up" an already-audited pallet for editing, you simply comment out the `#[audited()]` line for that pallet, or, as you said, we add some feature flag for this, which I'm happy to d

[2022-11-10 07:59] burdges commented on #12656
That's too heavy a change for new developers.  It's harmful security theater for experienced developers.

This workflow breaks the whole process obviously.  lol

Integration tests exist, so this cannot work.  I'll remark that profiling exists before you suggest `#[not(cfg(feature = "debug"))]` so that'll never work either.

We should simply write a log file of audit violations, and leave the log f

[2022-11-10 08:09] sam0x17 commented on #12656
@burdges thanks for spelling this out, I have a much clearer picture now!

In that case, I think it would be quite reasonable to have deployment tooling fail if a log file indicating auditing failures exists. Do you know where approximately in the deployment code a good injection point might be for this? I'm not familiar with the deployment machinery.

[2022-11-10 08:18] joepetrowski commented on #11446
Part of https://github.com/paritytech/substrate/issues/8453 and a highly requested feature for assets on Statemint.

[2022-11-10 08:55] burdges commented on #12656
I donno, but let's see what others more involved with the code and process say.  I just wanted to make it really clear that pushing the actual check to late in the packaging/deployment pipeline makes the most sense from a security point of view too.  :)

[2022-11-10 12:23] #11227 closed

[2022-11-10 13:02] wilwade commented on #7025
We had this issue and it turned out that it was that we had a line break at the end of the file.

- Wrong: `echo "key" > node_key_file`
- Correct: `echo -n "key" > node_key_file`

(Or just make sure you don't use an editor that is adding in the new line on save like I was...)

[2022-11-10 13:41] tomaka commented on #12475
Just relinking my comment about smoldot's API: https://github.com/paritytech/substrate/pull/12476#issuecomment-1307828819

[2022-11-10 14:04] bkchr commented on #12475
First, thank you for creating this good write-up @lexnv!

Sounds like a good idea to me. If we need db support for this, we could still implement this later.

For sure we need a limit! I think we should go this way. In the node we should "trust" all logic to not pin blocks indefinitely and that everything has some reasonable upper bound. For now I would not try to put this upper bound into the pin

[2022-11-10 14:20] arkpar commented on #12475
There are two kinds of blocks/states that may be pinned.

1. Finalized blocks.
If not pinned, these blocks are discarded when they are out of the pruning history window. Pinning them simply means delaying pruning. I.e temporarily increasing pruning window. In fact, the hard limit on the pinned blocks and the size of the pruning history could be the same. The default pruning window is big enough an

[2022-11-10 14:35] joao-paulo-parity opened #12678 "Annotate crates not meant to be published with `publish = false`"
For the upcoming Automated Substrate crates' Release effort, it'll be easier to detect if a crate is not meant to be published if its `Cargo.toml` includes a `publish = false`. This is recommended in https://doc.rust-lang.org/cargo/reference/manifest.html#the-publish-field and also is a common practice for other Rust projects, e.g. https://github.com/awslabs/smithy-rs/blob/b2c989630fe42560264be8fe

[2022-11-10 15:32] lexnv opened #12679 "ci: Update macos instances rustc / cargo to v1.65"
The `let ... else` statement has been standardized in [v1.65](https://blog.rust-lang.org/2022/11/03/Rust-1.65.0.html#let-else-statements).

However the macos instances that perform the `cargo-check-macos ` are running
an older version

[code]

This is causing the CI checks on https://github.com/paritytech/substrate/pull/12544 to fail.

[2022-11-10 16:27] jonasW3F commented on #12647
I have a new perspective on this, given the issues that we are currently facing with kusama validators potentially running at a loss. They seem to generally be reluctant to change their commission and react to market situations, because they are afraid to lose nominators. We mostly treated it as a bad thing to increase commission, but we should make the community sensitive about the fact that this

[2022-11-10 17:01] #12679 closed

[2022-11-11 07:14] joepetrowski opened #12685 "Generalized Collective Extension Pallet(s)"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

There are ideas/initiatives for new entities that are meant to provide info on-chain that serves the network in varying capacities.  These usually have no hard governing power, although they c

[2022-11-11 09:44] haerdib opened #12689 "Crate `array-bytes` adds GPL 3.0 license dependency to `sp-core`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

[sp-core](https://github.com/paritytech/substrate/blob/2badd7203b915ae80499544056b3dc5496ccd80e/primitives/core/Cargo.toml), licensed under [Apache 2.0](https://github.com/paritytech/substrate

[2022-11-11 13:47] acatangiu opened #12692 "client/beefy: BEEFY equivocation processing"
BEEFY must deal with equivocations. That includes at least:
- detect equivocations
- report equivocations
- initiate slashing

Also, since BEEFY is based on GRANDPA, there is an edge case that Alistair mentioned:

[2022-11-11 18:36] Kofituo commented on #11080
I'm facing this same issue

[2022-11-11 19:46] kianenigma commented on #11080
The mentioned version is quite old. did either one of you try this on a more recent version?

[2022-11-11 22:14] MrishoLukamba commented on #12605
So after reading and familiarizing myself with `OverlayedChanges` , this issue affects almost every piece of code inside sp-state-machine. Because it only work with `Vec<u8>` and now we must change it to work with `AppendedValue`. Because its not only affecting appending functionalities but also retrieving.

So 1. Can I tackle this issue step by step and not wait untill I finish it.
2. And on what

[2022-11-12 00:35] pangwa commented on #12613
experienced the same error and a fresh sync doesn't help.

[2022-11-12 00:41] bkchr commented on #12613
@pangwa so you can reproduce this every time?

[2022-11-12 01:21] bkchr commented on #12605
I don't get this question.

Not sure what you mean by the "retrieving side". In the end we will still output a `Vec<u8>`.

[2022-11-12 01:27] pangwa commented on #12613
It happens twice.
My node is still syncing.  The parachain node stuck at the block(e.g. 2182153 )where the block import error happens. the block finalization is still in progress and catching up  block 2182153(1443366/2182153). I'll try to restart the node after the block finalization catches up to 2182153.

I can see errors after restart which reports below error.
`
Candidate included without bei

[2022-11-12 01:30] bkchr commented on #12613
@pangwa could you run with `-ldb=trace`? We would need the logs around the failure.

[2022-11-12 10:10] kianenigma commented on #7555
First, we should move the system RPC to also be just a normal runtime api callabale by `state_call`.

Then, we should also add a new variant that doesn't accept an extrinsic, but instead a call and an origin. This should be really helpful in testing gov proposals for PJS apps.

[2022-11-12 10:44] kianenigma commented on #12662
cc @Ank4n

[2022-11-12 10:46] kianenigma commented on #12662
[code]

And we put this in the runtime.

[2022-11-12 10:47] kianenigma commented on #12662
also related #12199, we should run `try_state` after all migrations as well. I already fixed this in #12537. maybe someone wants to backport the changes to master earlier?

[2022-11-12 10:48] kianenigma commented on #11638
indeed this should be option, and default is current behavior.

[2022-11-12 10:53] kianenigma commented on #12592
You win basti :D.

[2022-11-12 10:53] #12592 closed

[2022-11-12 11:24] maltekliemann opened #12696 "Why is it allowed to call `remove_proxy` on a pure proxy?"
Crosspost of a question on stackexchange: https://substrate.stackexchange.com/questions/5569/why-is-it-allowed-to-call-remove-proxy-on-a-pure-proxy

Using `pallet-proxy`, you can execute the following sequence of calls:

- Create a new pure proxy account using `anonymous`. Let's say this reserves 10 DEV on your main account.
- Call some function which reserves 15 DEV on the newly created anonymous

[2022-11-12 12:23] pangwa commented on #12613
Hey, it looks like the node get synced after I performed a resync(deleting all the chain data and resync the node). The logs mentioned above seems to be harmless.

[2022-11-12 13:22] jasl commented on #12613
@bkchr I have the log, do you find any interesting?

[2022-11-12 13:55] shawntabrizi commented on #12696
Lets first answer the top level question.

It completely makes sense to allow calling `remove_proxy` on an pure account. Imagine I create a pure proxy, and control it with some hot wallet. My hot wallet is compromised, or I want to rotate keys, so I add a new proxy to the pure account, and of course, I will want to remove the old hot keys as a proxy.

So your question is more like, why should we a

[2022-11-12 14:05] bkchr commented on #12613
I totally had overseen this, looked into the logs and didn't see anything useful right now.

[2022-11-13 08:40] Kofituo commented on #11080
I've fixed this now
`pallet_balances` should come before `pallet_staking` in the `construct_runtime` macro

[2022-11-13 14:05] mustermeiszer commented on #12658
Looking forward to having this!

[2022-11-13 21:42] mustermeiszer opened #12697 "`BlockImport`-Interface"
This issue is more a temperature check, whether there is a will to change the `BlockImport` interface.

Currently, the traits needed for a "client" are all - I did not check every trait, but most - taking `&self` as a parameter, with the sole conception of `BlockImport` that is taking `&mut self` introduced in the following PR: https://github.com/paritytech/substrate/pull/3058.

As the default Sub

[2022-11-13 22:09] xlc commented on #7555
We are currently using [Chopsticks](http://github.com/AcalaNetwork/chopsticks) to test governance proposals and it should work with Kusama/Polkadot as well.

Eventually some parts of Chopsticks could be compiled into wasm and runnable in browser, and then we will be able to use this to dry run extrinsics instead of asking a node to do it, which could be a DoS vector for fullnode.

[2022-11-13 22:13] xlc opened #12698 "Limit resource usage of state_call"
Do we have any resource limits of making runtime API calls via `state_call` RPC?

For Ethereum nodes, we can submit RPC call to ask it to arbitrary EVM computation but up to some hard coded gas limit, which could be like 10x of the block gas limit. This ensures a single RPC call cannot consume too much CPU on the node.

I think we need a similar mechanism for `state_call`. Make it accept an option

[2022-11-13 22:17] xlc commented on #12696
I guess the real issue is that we don't have a clean way to destroy a pure proxy without losing funds in some cases.

E.g. I have account `A` that created a pure proxy `P` and add account B as a delay proxy of `P`.
I normally use `P` via `A`.
One day, I lost account `A` somehow. So I use `B` to restore my access and remove `A` from `P`.
The reserved funds are forever stuck for no good reason.

[2022-11-14 02:41] AurevoirXavier commented on #12689
I'll consider changing array-bytes's license to Apache 2.0.

[2022-11-14 09:42] kianenigma commented on #7555
Yeah, but I guess in the meantime we can also add this. A webpage we can technically already run a smaldot node, and it can be configured to respond to unsafe RPC calls only locally. Or, there are other ways to whitelist origins for unsafe RPCs etc.

[2022-11-14 11:02] nazar-pc opened #12699 "Unify Prometheus library with libp2p"
Substrate currently uses `prometheus` library, while libp2p uses `prometheus-client`, which is now the official Rust library, see libp2p change: https://github.com/libp2p/rust-libp2p/pull/2442

In our node we have both Substrate and another libp2p-based library used and it would be ideal to push all metrics into the same endpoint, but due to completely different libraries used this is not currentl

[2022-11-14 11:12] tomaka commented on #12605
Maybe a random remark, but how are you sure that this is the case?

Right now, if I understand correctly, you append the new item to the storage value and update the number of elements at the start. This means that, most of the time, the operation will be very inexpensive (memcpying the new element), except when:
- The `Vec` needs a relocation.
- The number of elements goes from 63 to 64, or from

[2022-11-14 11:19] tomaka commented on #12699
My two cents: I find the entire Prometheus code extremely over-engineered. The Prometheus format is [dead simple](https://prometheus.io/docs/instrumenting/exposition_formats/#text-format-example), and I don't understand why we even need a third party library for that.
All the Prometheus libraries are just a glorified `HashMap<String, u64>` with a function to turn it into the text format linked abo

[2022-11-14 11:26] maltekliemann commented on #12696
Thanks for the replies.

Hmm, I'm actually not sure if that's true. My point is that calling something like `remove_proxies` on an anonymous account, in addition to having the somewhat surprising effect of nuking the calling account, also messes up the reserves. I would say it should be a rule that a pallet never unreserves more funds than it reserves (if I'm wrong about this, maybe you can give a

[2022-11-14 11:41] nazar-pc commented on #12699
If you write an ergonomic wrapper for those hashmaps and serializer to text format you'll end up with a custom library anyway, so might as well use something off-the-shelf. I think the biggest value is in more complex kinds of metrics like histograms and summaries, not sure how widely used they are in Substrate though.

[2022-11-14 14:54] muharem commented on #12685
It make sense to me.
We just need to understand better the possible use cases to have a good general model for it.
We probably can talk about it more offline, and write down the results here.

[2022-11-14 15:02] gavofyork opened #12701 "`reserve` operation should ensure `repatriate_reserved` works."
Any pallet implementing `ReservableCurrency` or `fungible::MutateHold` should ensure that the `reserve`/`hold` operation can be followed by a `slash` or repatriation of the reserved amount without bringing the state becoming invalid. I.e. something like this should always succeed:

[code]

Right now, this will fail as the balance is both reserved/slashed and used for a provider ref.

The solution

[2022-11-14 16:00] altonen commented on #11295
I've started working on this as well, mainly just getting it out of `Protocol`. Right now it has been moved to `ChainSync` which is not really in line with what we want to do (long term) but it's a step closer to getting syncing out of `sc-network`. Maybe I will move it into a separate, standalone task so it would poll itself and expose some interface for `ChainSync` instead.

[2022-11-14 16:06] vjgaur commented on #7557
I want to take up this as my first substrate issue. Would you please mind explaining a little on this issue for me to get started ?

[2022-11-14 16:07] Chralt98 opened #12704 "Client side connection issues after upgrading Polkadot v0.9.23 to v0.9.26"
[code]

The above is shown in the 0.9.23 version. This does not happen after the upgrade to 0.9.26. It's worth to mention, that this messages informs us, that there was a new external address found for **ip4**. After that message, the 0.9.23 version did found peers and sync with them.

We experience client side connection issues after the dependency update to polkadot-v0.9.26 in [this PR](https://

[2022-11-14 20:19] bkchr commented on #12704
CC @altonen @dmitry-markin

[2022-11-14 20:41] xlc commented on #7557
Verify similar to `remove_proxy`

https://github.com/paritytech/substrate/blob/69198d1e5735798c8baa1921c6e2091c93260752/frame/proxy/src/lib.rs#L286-L293

Add new method `pub remove_all_proxy_delegates`, move the logic there, call this method from `remove_proxies`.

[2022-11-14 20:50] xlc commented on #7555
One of the goal of Chopsticks is to make it a library that can be run in browser. Then it can be used to simulate transactions within browser and get all the changed storages.

[2022-11-14 21:10] bkchr commented on #12689
@AurevoirXavier would be nice if you could do this! Maybe dual licensing also works, but I'm no lawyer :P

[2022-11-14 22:02] xlc commented on #12698
Without this, we need to either
- make `state_call` unsafe (which will cause big troubles given now custom RPCs are effectively deprecated in favor of runtime APIs)
- or ensure all runtime APIs are not DoS vector (which is not possible due to the block builder API)
- or require node to filter & whitelist the API calls to `state_call`.

[2022-11-14 22:15] bkchr commented on #12697
The client should have been written holding an internal state. Then we would not require this complicated trait implementation.

So to your question, use an internal Mutex.

[2022-11-14 22:27] bkchr commented on #12698
If you would use `apply_extrinsic`, it would reject the extrinsic if it would use too much weight. So, that is already "safe".

[2022-11-14 22:34] #12433 closed

[2022-11-14 22:49] MrishoLukamba commented on #12605
[code]

[2022-11-14 23:02] MrishoLukamba commented on #12605
this snippet function is actually appending data , and yes it is cloning the old data. What I was thinking is because the `overlay` storage item is a vector of `InnerValue` which is `struct { value: Vec<u8>, extrinsic; u32 } `. If I modify
the `overlay` storage item to be `AppendedValue` I think I will be getting somewhere on solving this and also I will have to modify how child storage work also.

[2022-11-15 02:43] joao-paulo-parity opened #12705 "Unable to `cargo check` the `pallet-contracts-proc-macro` crate"
Reproduction Dockerfile

[code]

Output of the final step of `docker build --network=host .`

[code]

Note that I've also tried to use `FROM docker.io/rust:1.64.0` in the Dockerfile, but it still didn't work

[2022-11-15 02:45] joao-paulo-parity commented on #12705
I've been able to work around that, locally, by enabling the `full` feature of `syn`.

[code]

[2022-11-15 08:08] mustermeiszer commented on #12697
That was not my question. The client is the Substrate https://github.com/paritytech/substrate/blob/940a458a8eaf05fdeda441dad82b2df186bf260e/client/service/src/client/client.rs#L98-L120 and the problem is the current definition of the `BlockImport` parameters taking `&mut self`, making it impossible to use it as an `Arc<Client>` unless using the annoying HRTB I mention above.

Sources:
* `BlockImpo

[2022-11-15 09:44] bkchr commented on #12605
Sorry, but I don't get what you have written above.

[2022-11-15 10:41] bkchr commented on #12697
I know what you were speaking about.

I meant, that using `Arc<Client>` was wrong from my perspective. It should have been:

[code]

In the end the entire client object is a failure, one central component that combines all the things. We want to get rid off this anyway.

[2022-11-15 11:09] AurevoirXavier commented on #12689
- https://github.com/hack-ink/array-bytes/pull/22

Maybe a dual license for Apache x GPL is meaningless.

But I did release the restriction.

Anyway, you could use it under Apache-2.0 now.

[2022-11-15 11:27] vivekvpandya commented on #12704
I tried some debugging in libp2p and substrate networking and I find following noticeable difference in syncing peers (at 0.9.23)
[code]
and not syncing peers (at 0.9.26)
[code]

[2022-11-15 11:32] vivekvpandya commented on #12704
Also please consider https://substrate.stackexchange.com/questions/4990/parachain-not-syncing-with-peers

[2022-11-15 11:57] haerdib commented on #12689
Awesome. Thank you very much for the quick reaction !

[2022-11-15 13:12] athei commented on #11082
Resolved by https://github.com/paritytech/substrate/pull/12695

[2022-11-15 13:12] #11082 closed

[2022-11-15 13:27] mustermeiszer commented on #12697
Totally agree on the above! Then I will close this and adapt once the refactor goes through. Thanks @bkchr!

[2022-11-15 14:17] AurevoirXavier commented on #12689
So, I think this could be closed now.

[2022-11-15 14:29] joao-paulo-parity opened #12711 "Check all cargo features of Substrate on CI"
Problem: feature tests are hardcoded at the moment

https://github.com/paritytech/substrate/blob/eb1a2a8e8d1a84724cdcb80f706c9b17bed6d4a7/scripts/ci/gitlab/pipeline/test.yml#L159

https://github.com/paritytech/substrate/blob/eb1a2a8e8d1a84724cdcb80f706c9b17bed6d4a7/scripts/ci/gitlab/pipeline/test.yml#L173

The current approach has at least two problems

- We're not testing all the features
- When

[2022-11-15 14:59] haerdib commented on #12689
It's not closed on my end yet, because substrate still depends on the GPL version of array-bytes. A dependency bump will solve it.

[2022-11-15 16:26] AurevoirXavier commented on #12689
It looks like that I need to release a new version.

[2022-11-16 05:37] vjgaur commented on #7557
Ok cool

[2022-11-16 06:54] vjgaur commented on #7557
Hi please find my PR. I am unable to add a reviewer

[2022-11-16 08:02] cheme commented on #12605
I am a bit late in this conversation, but in one of my branch (https://github.com/cheme/substrate/tree/threads) I got a similar system:
- overlay store changes: https://github.com/cheme/substrate/blob/b0f194bf319472dd4ffe1211028c02bd5cdf3a77/primitives/externalities/src/lib.rs#L382 these can be successive calls to append.
- on append, if overlay is empty we just add a Change::Append entry in overl

[2022-11-16 08:04] cheme commented on #12605
Another thing that was needed (but is often convenient) was to switch readonly externalities to &mut eg https://github.com/cheme/substrate/blob/b0f194bf319472dd4ffe1211028c02bd5cdf3a77/primitives/externalities/src/lib.rs#L76

[2022-11-16 09:04] kianenigma opened #12715 "nomination-pools: handle changes to `MinCreateBond`"
this value should reflect how much the depositor puts in at the beginning. The question is, how to deal with it if this value changes.

If the value decreases, the depositor can unbond the difference. A test should demonstrate this, if already there isn't one.

If the value increases, we need a way to nudge the depositor into topping up the pool. A permissionless transaction can call `bond_extra`

[2022-11-16 09:53] kianenigma commented on #7555
Indeed, but I am asking what we can do now to make it easy to dry-run a `Call` in polkadot js apps. I am personally in favor of it.

[2022-11-16 11:09] Chralt98 commented on #12704
I investigated more time into it. I don't have the bootnode logs for you, but I have the following information.

Look at your test [here](https://github.com/paritytech/substrate/blob/1cca061ede75a4c693a3b71bd1b61d7275fe29e4/client/network/src/discovery.rs#L1138-L1191). On the 0.9.26 version we never get the case, that `Adding self-reported address ... to Kademlia DHT /battery_station_v2/kad` happe

[2022-11-16 11:26] #12705 closed

[2022-11-16 11:42] ruseinov opened #12719 "[Staking] Approval Stake tracking"
This is basically a redesign and revival of the original PR: https://github.com/paritytech/substrate/pull/11013 .

The first part is done here: https://github.com/paritytech/substrate/pull/12034 and merely introduces a TargetList without any significant logic changes.

The work on the second part is done here: https://github.com/paritytech/substrate/pull/12645

After discussing this with @kianenig

[2022-11-16 12:32] vivekvpandya commented on #12704
Please ignore this comment as it is not useful.

[2022-11-16 12:35] vivekvpandya commented on #12704
[fail_fine.txt](https://github.com/paritytech/substrate/files/10021680/fail_fine.txt)
[work_fine.txt](https://github.com/paritytech/substrate/files/10021681/work_fine.txt)

Here in fail_fine log I see following error
[code]

which I don't see in working case.

[2022-11-16 13:05] ruseinov commented on #12719
@kianenigma This seems to be the situation in which we'd like to clear the ApprovalStake of a Validator and remove them from the storage map: https://github.com/paritytech/substrate/blob/845780086e0ecad3fb334ad6d038c599ba53af54/frame/staking/src/pallet/impls.rs#L621-L620

[2022-11-16 13:07] Chralt98 commented on #12704
Yeah the protocol negotiation for the Zeitgeist protocols is not happening on the new version.

[2022-11-16 13:09] Chralt98 commented on #12704
`INFO tokio-runtime-worker beefy: [Relaychain] 🥩 run BEEFY worker, best grandpa: #0.`

This above log happens on the old version, but not on the new one.

[2022-11-16 13:52] ruseinov commented on #12719
@kianenigma I'm not sure if we need
[code]

According to the current logic in the old PR of yours we'll still need to do most of the operations on Staking side, because we need to do things like [chill_stash](https://github.com/paritytech/substrate/blob/845780086e0ecad3fb334ad6d038c599ba53af54/frame/staking/src/pallet/impls.rs#L272-L271), where we need to know `targets` for `do_remove_nominator`,

[2022-11-16 14:00] ruseinov commented on #12719
Additionally, we also need to take care of this: https://github.com/paritytech/substrate/blob/845780086e0ecad3fb334ad6d038c599ba53af54/frame/staking/src/pallet/impls.rs#L863 .

[2022-11-16 16:30] tonyalaribe commented on #11446
For clarity, does this refer to the `LockableCurrency` trait? https://docs.rs/frame-support/latest/frame_support/traits/trait.LockableCurrency.html

[2022-11-16 16:35] joepetrowski commented on #11446
AFAIU the goal is to introduce a new trait and then migrate pallets to it, eventually deprecating the `Currency` traits:

- Swtich over trait requirements from `Currency` to `fungible::*` in pallets.

I'm not sure off the top of my head if `fungible::Lockable` should have the same API as `LockableCurrency` though. Can @gavofyork confirm?

[2022-11-16 17:38] altonen commented on #12704
We did change some DHT-related stuff a while back (such as removing support for multiple DHTs) but I'm not convinced this issue is related to Kademlia. The nodes are discovered through some means and an attempt at establishing a connection is made to both but they timeout so I think the question here is why do they timeout.

If you don't have access to these bootnodes' logs, are you able to reprod

[2022-11-16 21:20] xlc commented on #7555
We could see if we can have this feature backed into polkadot.js or substrate-connect

[2022-11-17 07:30] Chralt98 commented on #12704
@altonen Thanks for your quick answer. I currently don't know how to start a local bootnode for v0.9.23 to simulate the behaviour to connect a v0.9.23 node with a new v0.9.26 node and then give you the log output of the v0.9.23 node. Can you please help me out there?

Apart from that I think [this](https://github.com/paritytech/polkadot/issues/5854) issue seems related to our problem. Maybe it's b

[2022-11-17 09:37] joepetrowski opened #12724 "Allow Multiple Asset Providers for Asset Tx Payment"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

The Assets Transaction Payment pallet only allows one instance of the Assets pallet to pay for transaction fees. In the future, we may want to deem assets from multiple instances `sufficient`

[2022-11-17 10:30] kpp commented on #9162
https://github.com/libp2p/rust-libp2p/pull/2289 is merged.

[2022-11-17 10:36] kpp commented on #9162
@burdges

<details>
  <summary>localhost: QUIC with libp2p-perf</summary>

[code]

</details>

<details>
  <summary>localhost: TCP with libp2p-perf</summary>

[code]

</details>

<details>
  <summary>a realworld bench on 2 VMs</summary>

[code]

</details>

[2022-11-17 11:31] elenaf9 commented on #9162
@kpp are those benchmarks for the now merged implementation (libp2p/rust-libp2p#2289) or for libp2p/rust-libp2p#2801?

[2022-11-17 11:34] altonen commented on #12704
Yeah, the article you linked should allow you to setup a local network of nodes and test whether this issue is reproducible and if so, see what  happens on bootnode side from the logs.

That error message may be related to some response channel getting dropped due to request timeout and may be related to this error you've posted earlier.
[code]

[2022-11-17 12:03] burdges commented on #9162
Interesting, so quite a dramatic loss of performance for now.

[2022-11-17 12:40] Chralt98 commented on #12704
[debug_logs.zip](https://github.com/paritytech/substrate/files/10031515/debug_logs.zip)

Thanks @altonen , that you look into it.

[2022-11-17 12:41] sandreim opened #12726 "pallet-mmr: could not prune: no entry in pruning map for block"
[code]

I'm see a lot of these errors on Versi nodes after upgrading to a PR in which I merged recent master.

CC @acatangiu

[2022-11-17 13:16] tomaka opened #12727 "Substrate sometimes sends back an empty response to light client requests"
### Is there an existing issue?

- [ ] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

cc https://github.com/paritytech/smoldot/issues/2975

I don't know under which condition (I don't know if it's a new version or if the node is overwhelmed or something), but Substrate sometime

[2022-11-17 13:27] tomaka commented on #12727
I have no idea how this could happen.

Here are the relevant pieces of code:
- https://github.com/paritytech/substrate/blob/78f8f708781da6fd340ef2a1fc288060a35295ad/client/network/light/src/light_client_requests/handler.rs#L214-L232
- https://github.com/paritytech/substrate/blob/78f8f708781da6fd340ef2a1fc288060a35295ad/client/network/light/src/light_client_requests/handler.rs#L88-L138
- https://gi

[2022-11-17 14:05] acatangiu commented on #12726
thanks for the report! this is being already tracked in https://github.com/paritytech/substrate/issues/12531 (and will come in with https://github.com/paritytech/substrate/issues/12508)

[2022-11-17 14:05] #12726 closed

[2022-11-17 14:07] acatangiu commented on #12531
temporary workarounds (while waiting for the fix) here: https://substrate.stackexchange.com/a/5432

[2022-11-17 14:19] tomaka commented on #12727
Could be caused by https://github.com/paritytech/substrate/pull/12372, but I don't see how

[2022-11-17 14:56] kianenigma commented on #12618
The fix is simply to put a `#[pallet::constant]` on top of `type Deposit: Get<_>`.

[2022-11-17 15:09] tomaka commented on #12727
What I suspect happens is:
After https://github.com/paritytech/substrate/pull/12372, the node is supposed to return a response with no proof, and a problem in the protobuf library causes it to omit the field even though the protobuf format is never supposed to emit messages fields.

This still raises a question, however: why would Substrate fail to answer these requests? The requests that lead to

[2022-11-17 15:33] #12618 closed

[2022-11-17 19:51] bkchr commented on #6910
This was done by just returning the all relevant authorities from the runtime.

[2022-11-17 19:51] #6910 closed

[2022-11-17 20:39] bkchr commented on #12724
The problem is that the signed extension currently holds one `asset_id`. If you would have one or multiple asset instances, we would need to be able to distinguish from where to withdraw the asset.

[2022-11-17 20:48] joepetrowski commented on #12724
Couldn't we change [this part](https://github.com/paritytech/substrate/blob/23bb5a6/frame/transaction-payment/asset-tx-payment/src/lib.rs#L231) of the signed extension?
[code]

[2022-11-17 21:33] bkchr commented on #12724
Primary it is about this: https://github.com/paritytech/substrate/blob/23bb5a6/frame/transaction-payment/asset-tx-payment/src/lib.rs#L151

I mean it is solvable, but we would need to solve it in a generic way.

[2022-11-18 02:04] Ralith commented on #9162
Much faster than the go stack on localhost, though.

How much latency is there between the two VMs, and what was the instantaneous throughput like at the end of the test? The discrepancy between localhost and "real world" is interesting, and hints at significant room for improvement in our congestion controller, which is known to have a few significant TODOs still (e.g. HyStart for Cubic). Which c

[2022-11-18 07:47] Szegoo commented on #12617
This looks like an interesting issue to work on. @kianenigma are you working on this? If not I would like to give this a try.

[2022-11-18 09:10] tomaka commented on #12727
The problem is simply that we didn't backport https://github.com/paritytech/substrate/issues/12727 (see also https://github.com/paritytech/substrate/pull/12732)

Diff that solves the problem:

[code]

I'm not opening a PR right now because it conflicts with https://github.com/paritytech/smoldot/pull/3013.

[2022-11-18 09:22] dandanlen opened #12733 "Export a top-level Error enum from `construct_runtime!`"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

*Not technically a bug, more of feature request, but then there is no other category of issue, and I opened a [stackexchange](https://substrate.stackexchange.com/q/5839/2192) issue but got lit

[2022-11-18 09:27] Chralt98 commented on #12704
After 1,5 hours the 0.9.26 node finally syncs with other 0.9.23 nodes on the network (even without running a local 0.9.23 node). Why couldn't we connect earlier?

[2022-11-18 09:52] kianenigma commented on #12617
I am discussing it with Polkadot auditors if this is reasonable, let me come back to you :)

[2022-11-18 11:01] tomaka commented on #12727
The answer to that is very simple: smoldot sends storage queries during the warp syncing as well, for reasons that are a bit complicated to explain and off-topic here.
I was confused and thought that these requests were made against the current finalized block, but they're actually not and instead of targeting old blocks.

[2022-11-18 12:05] altonen opened #12735 "Fork sync targets are handled inefficiently"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

While refactoring the syncing code, I looked into `sync_to_tip_when_we_sync_with_multiple_peers` and while the test itself is dubious (more on that below), it also showed that fork sync target

[2022-11-18 12:41] ruseinov commented on #12701
some work towards that goal: https://github.com/paritytech/substrate/pull/12004
planning to take over this sometime soon

[2022-11-18 13:21] #12495 closed

[2022-11-18 14:01] #12727 closed, assigned to nobody

[2022-11-18 14:57] zdave commented on #12595
For the initial release (AIUI) we're just planning to support anonymous submission of transactions on the Polkadot relay chain. The simplest option is for the mixnet node set to be the validator set, so that's what we were planning to go with, for now at least.

To send a message through the mixnet you need to know the public keys of all the nodes on the path, as you do a key exchange with each on

[2022-11-18 16:35] dandanlen commented on #12733
It's the same use case as polkaJs and subxt - but both are general-purpose client libraries. If I want to write one specifically for my runtime, what I have suggested above might be helpful.

[2022-11-18 20:09] joepetrowski opened #12738 "Trait Bounds for AssetId vs. MultiLocation"
In order to support bridged/parachain assets on Statemint, we want to be able to use `type AssetId = MultiLocation`. However, `MultiLocation` does not meet the bounds of `AssetId`.

From [c290950](https://github.com/paritytech/substrate/blob/c290950/frame/assets/src/lib.rs#L213):
[code]

From [gav-xcm-v3](https://github.com/paritytech/polkadot/blob/gav-xcm-v3/xcm/src/v3/multilocation.rs#L55) (at [

[2022-11-18 20:20] bkchr commented on #12595
No, your explanations are already on the correct path :P However, personally I still miss an overall explanation on what you need and how it should work to help here.

[2022-11-18 20:29] Ralith commented on #9162
I'm not sure what you mean. Quinn implements three different congestion controllers (New Reno, Cubic, and BBRv1), all of which are fairly well documented. The underlying logic is very similar to that used in the Linux kernel TCP implementation, but there's a few optimizations to Cubic that we haven't implemented yet.

[2022-11-18 20:33] bkchr commented on #12733
Subxt already has an issue for exactly what you want: https://github.com/paritytech/subxt/issues/313

[2022-11-18 21:20] kpp commented on #9162
@elenaf9 these are for https://github.com/libp2p/rust-libp2p/pull/2801. I will re-do it for the master branch too.

[2022-11-19 08:55] Szegoo commented on #12738
It seems like removing `HasCompact` would result in increasing the `max_recursion` limit to a great value. Also since the `AssetId` type has to implement the `MaybeSerializeDeserialize` trait
[code]
which means that the `AssetId` type also needs to implement `DeserializeOwned` which doesn't have a procedural macro, so it has to be implemented by hand AFAIU. And we cannot remove this trait since `A

[2022-11-19 09:02] joepetrowski commented on #12738
I'm not sure of the implementation constraints, but I do question this since the [Uniques pallet's `CollectionId`](https://github.com/paritytech/substrate/blob/c290950/frame/uniques/src/lib.rs#L98) is considerably more lenient.

[code]

I agree with you that the solution is probably to implement these for `MultiLocation`, but I don't fully understand why.

[2022-11-19 09:52] ruseinov commented on #7756
One other idea is to do this:
[code]

And then `Compound(Compound(Dest, Perbill, Dest), Perbill, Compound(Dest, Perbill, Dest))` is possible. The level of recursion could be limited to avoid going too deep.

[2022-11-19 10:20] niklasad1 commented on #12711
@joao-paulo-parity

I suggest trying [cargo-hack](https://github.com/taiki-e/cargo-hack#--each-feature) we are using it in jsonrpsee for instance but I reckon that it's quite slow and sure if that is acceptable in substrate.

https://github.com/paritytech/jsonrpsee/blob/master/.github/workflows/ci.yml#L68-#L92

[2022-11-19 13:30] Szegoo commented on #12738
@joepetrowski You are right that is a bit weird. Maybe the reason for this is that the `AssetId` is used in the definition of `GenesisConfig` for the pallet.
When I removed these trait bounds locally and made them the same as the ones in the unique pallet the error message was pointing to the `GenesisConfig` struct definition saying that `Serialize/Deserialize`(i.e. `MaybeSerializeDeserialize`) ha

[2022-11-19 13:54] ruseinov commented on #12719
After discussing this, we've decided to go with the approach where the approval stake tracker (TargetList + storage) is an event listener and so is the VoterList tracker.

Most of the tracking logic has to go into the tracker pallet and use StakingInterface to fetch necessary data, like stash balances and Nominations.

[2022-11-19 14:12] ruseinov commented on #12719
[code]

[2022-11-19 14:20] ruseinov commented on #12719
As a temp solution we only take care of TargetList which is not actually used, while maintaining the VoterList logic. This will duplicate the logic for now, but that's fine for testing.  (Basically we'll have a set of the same rules within the eventListener and in Staking).

[2022-11-19 15:22] burdges commented on #12595
At least some of libp2p's abstractions sound pretty dangerous for anonymity stuff, so maybe we should consider basing this upon smaldot's networking.  I'd actually suggest exploring whether it made sense to add to add to arti, except tor won't be done with relay support in arti for another year.

[2022-11-19 16:40] joepetrowski commented on #12738
I learned that `MaybeSerializeDeserialize` is needed for a genesis config because it needs to be able to read the JSON chain spec.

[2022-11-20 10:45] kianenigma commented on #7681
for nomination pools we added a `OnSlash` hook which can probably be used to fix this as well.

[2022-11-20 11:01] rossbulat commented on #10941
This can also be applied to pools - stake my rewards to a pool. `TryBondPool`.

[2022-11-20 13:33] kianenigma opened #12742 "Consider automatic rebaging when rewards are received or slashes happen"
Currently, we don't rebag nominators to the correct bag after rewards and slashes.

As of #12645, we would have to keep track of validators as well in a bags-list, and they would HAVE TO BE ACCURATE, both for rewards.

Perhaps we should do the same for nominators too.

[2022-11-20 13:41] kianenigma opened #12743 "Tracking Issue for upcoming staking parameter changes."
- [ ] Kusama should have unlimited nominators.
- [ ] Once we have #12645, `MaxElectableTargets` should be something smaller, and `MaxValidatorCount`, should be unlimited.

The goal is for all "intentions" to be unbounded.

[2022-11-20 13:58] kianenigma commented on #12652
@gpestana we can also now look into the cost of verifying an un-reduced solution.

[2022-11-20 14:43] kianenigma opened #12746 "store `min-active-bond` onchain"
two options:

1. when snapshot is being created, store the minimum voter. Either in EPM or in Staking side.
2. when `collect_exposure`, track a map of all nominators, their stake, at the end, take the min.

Option 1 makes a whole lot more sense, so this should be in `impl ElectionDataProvider for Staking`, in the `fn get_npos_voters()`.

[2022-11-20 14:51] kianenigma commented on #12746
This will be almost zero cost for the chain, and it will be great for UIs.

[2022-11-20 15:00] kianenigma opened #12747 "nomination-pools: rename state-toggler to bouncer"
😎

Should be reflected in the UIs as well.

[2022-11-20 15:20] Polkadot-Forum commented on #12621
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/thoughts-on-governance-security-and-configs-for-parachains/1166/1

[2022-11-20 15:20] Polkadot-Forum commented on #12622
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/thoughts-on-governance-security-and-configs-for-parachains/1166/1

[2022-11-21 08:00] blackjooohn opened #12750 "Bad input data provided to query_info: Input buffer has still data left after decoding!"
====================

Version: 4.0.0-424ffcc-x86_64-macos

   0: backtrace::backtrace::trace
   1: backtrace::capture::Backtrace::new
   2: sp_panic_handler::set::{{closure}}
   3: std::panicking::rust_panic_with_hook
             at /rustc/6bda5b331cfe7e04e1fe348c58a928fc2b650f4f/library/std/src/panicking.rs:610:17
   4: std::panicking::begin_panic_handler::{{closure}}
             at /rustc/6bda

[2022-11-21 08:38] bkchr commented on #12750
This just means that someone has send an invalid transaction to the node to query. No error.

[2022-11-21 09:33] dandanlen commented on #12733
So... great! Clearly I'm not the only one who thinks this would be useful. The issue has been open in subxt for over a year, though, so apparently not getting much love. Moreover, like I said, `subxt` is a general purpose library, and for various reasons we'd rather write our own simple client. Subxt is a general purpose library that generates client code from the type metadata. It's very clever a

[2022-11-21 09:41] kianenigma commented on #12617
A total of 800 accounts in Polkadot have vesting schedule, not so significant.

[2022-11-21 09:42] kianenigma commented on #12061
If this approach works, we should also make it workable for crowdloan funds.

[2022-11-21 13:40] kianenigma commented on #12747
cc @DrW3RK need wiki update.

[2022-11-21 13:59] ordian opened #12752 "BABE: vrf verification fails"
The `collating_using_undying_collator` started to fail spuriously on master:
[code]
Example job: https://gitlab.parity.io/parity/mirrors/polkadot/-/jobs/2068264

Looks like after https://github.com/paritytech/polkadot/pull/6127#issuecomment-1310980025 more often than before.

This could be a legitimate issue and needs further investigation.

[2022-11-21 14:04] bkchr commented on #12752
In Cumulus this can be reproduced by running the following command:
[code]

(as the while already indicates, it takes some runs to happen)

[2022-11-21 14:47] michalkucharczyk commented on #12752
VRF verification _sometimes_ fails with this substrate `warp sync` zombienet network:
https://github.com/paritytech/substrate/pull/12751 (at https://github.com/paritytech/substrate/pull/12751/commits/4850ad20890e875633b2af1ed1d069c4f8625e98).

[code]

Interestingly changing `charlie`'s config  from `db_snapshot` to `--sync full` "hides" the problem.

[2022-11-21 14:56] #11837 closed

[2022-11-21 14:58] bkchr commented on #12752
BTW, as far as I have seen, there was no update of any dependencies related to schnorrkel in the recent time. (Looking at Cargo.lock for this)

[2022-11-21 15:09] koute commented on #12752
Using the reproduction invocation posted by @bkchr I've whipped up a crappy script to launch a bunch of invocations in parallel and check if any of them fail.

It looks like the chance for this to reproduce is roughly ~10%, and every time it takes roughly ~90 seconds for the problem to appear (based on 160 total test runs, 5 serial runs of 32 parallel runs).

Here's the script in case anyone wants

[2022-11-21 15:57] zdave commented on #12595
Could you elaborate on this?

[2022-11-21 15:59] burdges commented on #12595
I'm firstly worried about learning peer information from the DHT, which afaik is how libp2p works, and how it comes up here.

[2022-11-21 16:02] koute commented on #12752
So basically it looks like it's basically failing at the first block of a new epoch:

[code]

(Same slot as was passed to the failing `vrf_verify`.)

[2022-11-21 16:11] zdave commented on #12595
Hmm ok. For forwarding messages the plan is just to piggy-back on the authority discovery component, which AIUI already looks up and connects to all the nodes in the current (and next) validator set. For nodes sending messages I think they would need to look up the peer information for the first hop, but not for subsequent hops.

[2022-11-21 16:31] zdave commented on #12595
So the plan is to use the [Sphinx message format](https://cypherpunks.ca/~iang/pubs/Sphinx_Oakland09.pdf). The sender of a message determines the path of the message through the mixnet up front. It builds the message by repeatedly encrypting and extending, starting with the final hop and working backwards, so that each hop can only see the information relevant to it. The key used to encrypt/decryp

[2022-11-21 16:41] koute commented on #12752
Looks like there's something wrong on the block producer here; this isn't an issue where an imported block fails verification, this fails on the block producer itself. (Although when compiled without debug assertions it'll most likely fail when that block is imported on another node, which is most likely what @michalkucharczyk seen in his reproduction.)

[2022-11-21 16:58] Szegoo commented on #12617
@kianenigma Do you think this feature would be used then? Or do you think this shouldn't be implemented?

[2022-11-21 18:23] lemunozm opened #12754 "Add ensure_ops methods (as checked_ops but returning ArithmeticError instead)"
Hi! Because of the high safety standards needed in these contexts, mathematical operations tend to be made using the checked version. The checked version follows the same pattern in most cases:

[code]

This has two issues:
- Your algorithm becomes more difficult to read. When the code tends to be mathematical, readability is even more important. If it's difficult to read, it's very easy to have h

[2022-11-21 20:43] bkchr commented on #12754
Sounds reasonable to me.

WDYT @kianenigma?

[2022-11-22 08:19] #12133 closed

[2022-11-22 10:16] tomaka commented on #7467
Would be closed by https://github.com/paritytech/substrate/pull/12529

[2022-11-22 11:02] Ank4n opened #12756 "Use the new `desired_targets_checked` method exposed by Election Provider"
Election Provider defines a bound `MaxWinners` which limits the size of winners it can elect. `ElectionProvider` also assumes `ElectionDataProvider` will respect this bound and return a `desired_targets()` that is lower than this. As such, this call is unsafe to use and caller is expected to handle the case when above assumption fails.

We can improve on this by introducing a `desired_targets_chec

[2022-11-22 11:17] tomaka commented on #10623
Coming back. I still don't think that this is blocked on the deployment on https://github.com/paritytech/substrate/pull/9732.

What we can do when receiving a request for a "proof without values" is:

- If the chain uses `state_version = 0`, then send the values anyway.
- If the chain uses `state_version = 1`, then don't send the values.

The format of the nodes in the proof lets us know the diffe

[2022-11-22 11:36] muharem commented on #12685
After looking into the on-chain functionality provided for Alliance (substrate alliance pallet) and Ambassador Program ([drafted pallet](https://github.com/paritytech/cumulus/compare/master...joe-ambassador-pallet)) I can generalize and describe it in the next way,
1. storred on-chain members of the collective,

[2022-11-22 14:01] muharem commented on #12685
After looking into the on-chain functionality provided for Alliance (substrate alliance pallet) and Ambassador Program ([drafted pallet](https://github.com/paritytech/cumulus/compare/master...joe-ambassador-pallet)) I can generalize and describe it in the next way,
1. stored on-chain members of a collective,
    * an account can request to join (with deposit) or be added by a collective
    * a me

[2022-11-22 14:20] muharem commented on #12685
After looking into the on-chain functionality provided for Alliance (substrate alliance pallet) and Ambassador Program ([drafted pallet](https://github.com/paritytech/cumulus/compare/master...joe-ambassador-pallet)) I can generalize and describe it in the next way,
1. stored on-chain members of a collective,
    * an account can request to join (with deposit) or be added by a collective
    * a me

[2022-11-22 14:28] muharem commented on #12685
Pseudo implementation of a pallet from the "Proposal 2", from the comment above - https://github.com/paritytech/substrate/issues/12685#issuecomment-1323752848
The goal is to demonstrate the concept and API.
[code]

[2022-11-22 15:22] acatangiu opened #12759 "BEEFY: optimize voter event loop for fewer 'active' wakeups"
### Issue

Doing a bit of profiling showed [BeefyWorker::run()](https://github.com/paritytech/substrate/blob/ee9ddf1238ce2c4a82f95841b8ac477a3dc1f2db/client/beefy/src/lib.rs#L301) async task being _"active"_ more than it should, waking up many times even when there haven't been any external events relevant to the voter logic.

Investigating this showed the "culprit" to be [listening for `network-g

[2022-11-22 16:54] acatangiu commented on #12759
Actually `GossipValidator` has callbacks for peers connecting and disconnecting so just use that instead and avoid the extra `async task`.

[2022-11-23 04:54] koute commented on #12752
We already figured out the problem, but for posterity's sake let me just summarize the issue and paste most of the relevant info I wrote in the Element chat just so that it doesn't get lost forever.

This fails on the block producer right at the epoch boundary. When claiming a slot on the client (primary or secondary, doesn't matter) to build a block in BABE it picks the wrong epoch, which means t

[2022-11-23 07:10] #12752 closed

[2022-11-23 07:17] sudipghimire533 commented on #10802
We can close this?

[2022-11-23 07:38] Polkadot-Forum commented on #11783
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/statemint-update-roadmap/1200/1

[2022-11-23 07:38] Polkadot-Forum commented on #8453
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/statemint-update-roadmap/1200/1

[2022-11-23 07:39] #10802 closed

[2022-11-23 09:13] tomaka commented on #5685
The biggest difficulty in this issue is that we want the handshake generation and validation to be asynchronous.
The main objective of this issue isn't really to check whether a handshake is valid or not, but more to accept/deny the substream based on the context, and if you can't even do any asynchronous operation then you're very limited.

[2022-11-23 09:15] bkchr commented on #5685
Can we not move the generation and validation of handshakes to the specific notification protocol implementation?

[2022-11-23 09:17] tomaka commented on #5685
I didn't catch that sentence, but the reason why it's not in use is because it's not possible. If it was, we'd clearly use this feature. Making this possible is the entire point of the issue.

[2022-11-23 09:20] bkchr commented on #5685
But moving the validation to the notification protocol should be fairly simple or not? (I mean I don't know the exact details) But can you not put the handshake alongside the connected (or whatever the name is) event?

[2022-11-23 09:23] altonen commented on #5685
@tomaka

I think this scheme would make it asynchronous as the handshake would be sent to the protocol for validation and result of the validation would basically be that the substream is kept open or it's closed.

Could you elaborate on this? This scheme would allow the protocol to update the handshake bytes and that is what the block announcement protocol is currently doing by calling `NetworkNo

[2022-11-23 09:29] bkchr commented on #5685
Okay thank you. This wasn't totally clear for me, given your first post. Especially as you had included a variant that would have the validation function attached to it.

[2022-11-23 09:52] tomaka commented on #5685
It is fairly simple to moving it away, but it's very hard to make it asynchronous.

If this issue was simply about passing a `Box<Fn(&[u8]) -> bool` to the networking, I would have done it myself a long time ago.

This is not very useful, as the remote will believe that it has been accepted while it has in reality been denied.

What is the remote supposed do if it has already started sending notif

[2022-11-23 10:10] kianenigma commented on #12533
can you give a pseudo-code of what you want to achieve?

This goes beyond just slash. We should have a unified effort and make the entire `Currency` trait fallible once transactional is more stable.

In the short term, you can check if a slash has failed by inspecing the second return value. If you want to revert the slash, you can use https://paritytech.github.io/substrate/master/frame_support/st

[2022-11-23 10:33] #12759 closed

[2022-11-23 14:24] m-cat commented on #12658
I can pick this up. Some questions:

- What was this crate for and why is it bad?
- Are we deleting this crate entirely from `parity-common` or just the references to it?

[2022-11-23 14:37] michalkucharczyk opened #12769 "Add warp-sync `zombienet` test with validators"
This is followup of #11471.

The [warp-sync test](https://github.com/paritytech/substrate/blob/mku-basic-warp-sync-test/zombienet/0001-basic-warp-sync/0001-test-warp-sync.toml) for full-nodes was implemented in https://github.com/paritytech/substrate/pull/12675.

The [warp-sync test](https://github.com/paritytech/substrate/blob/mku-warp-sync-ci-test/zombienet/0001-basic-warp-sync/0001-test-warp-sy

[2022-11-23 14:52] burdges commented on #12533
We'll likely add notions of slashing failure eventually btw, but they'd add reports to the account, not really fail.

[2022-11-23 18:13] altonen commented on #5685
I looked into the implementation and what seems to happen, and correct me if I'm wrong, is that peer opens a substream, that gets validated on remote side and it's either accepted (the initiator is not informed) or it is rejected and the substream is closed. This proposal just moves the decoding of bytes to the actual protocol implementation and if it fails there, it protocol is closed just the sa

[2022-11-23 18:39] ordian commented on #12658
Tracking size of allocated memory given a reference in O(1) time.
I vaguely remember some code in parity-ethereum client implementing had some logic similar to https://github.com/paritytech/memory-lru (some cache limited in memory size).
Other than that, it's used as a (built-in) poor man's memory profiler, printing granular memory information periodically.
Because of the way it works, it's respon

[2022-11-23 18:47] tomaka commented on #5685
The substream is accepted by sending back a handshake (the handshake can be empty, in which case a single 0 byte indicating the length is sent back). The substream is rejected by closing the substream without sending back a handshake.

I have trouble interpreting your sentence because the words "open" and "closed" are ambiguous here.
First, the "low-level substream" is opened but the "notification

[2022-11-23 20:41] joepetrowski opened #12772 "PoV Limit Pallet"
As discussed in https://forum.polkadot.network/t/push-kusama-limits-with-pov-weight-limit-system-parachains/1068, we could write a pallet whose `on_initialize` would consume up to the weight limit of the block (or some percentage as a config parameter). For parachains with PoV and execution time limits, this could roughly look like:

1. Call(s) to `system.set_storage` that will consume the PoV siz

[2022-11-23 20:41] Polkadot-Forum commented on #12772
This issue has been mentioned on **Polkadot Forum**. There might be relevant details there:

https://forum.polkadot.network/t/push-kusama-limits-with-pov-weight-limit-system-parachains/1068/7

[2022-11-23 21:27] xlc opened #12773 "Add `MaxEncodedLen` to `trait Parameter`"
https://github.com/paritytech/substrate/blob/bac8e731ddf8d39a443741ff064fe7a6ad7b6602/frame/support/src/dispatch.rs#L93-L94

So we can avoid specify `MaxEncodedLen` in all the assosicated types.

[2022-11-23 21:48] ggwpez commented on #12773
We discussed this over here https://github.com/paritytech/substrate/issues/11549#issuecomment-1271662596

[2022-11-23 22:50] burdges commented on #12772
Argon2 is good if you need to hit ram lots, but you may need to hit storage really.

[2022-11-24 01:24] #12773 closed

[2022-11-24 11:35] kianenigma commented on #12617
This cannot work as I suggested. If multiple vested transfers are made into your account, and you already move parts of your vested funds to a nomination pool, then you are essentially delaying the release of the second vested schedule.

[2022-11-24 11:35] #12617 closed

[2022-11-24 12:38] kianenigma commented on #12772
cc @Szegoo ;) ?

[2022-11-24 12:41] kianenigma commented on #8701
I checked this again. Indeed, we need to remember that within an OCW thread, the snapshot hash will always match, because even if we progress 10 blocks, the thread is blind to the progress. But:

1. When we go over the pool, in `vlaidate_transaction`, we could utilize this.
2. When we resubmit cached offchain solutions, we could utilize this.

This is a good, medium difficulty, low priority task.

[2022-11-24 18:07] m-cat commented on #12658
So we considered removing the `mem_used` info completely. This is where it's actually used:
https://github.com/paritytech/substrate/blob/4e3a12bb3f2eea8ec87c304ce62b859357677933/client/state-db/src/lib.rs#L395-L397

But looks like that is always 0...
https://github.com/paritytech/substrate/blob/4e3a12bb3f2eea8ec87c304ce62b859357677933/client/state-db/src/pruning.rs#L348-L350
I did a double-take, b

[2022-11-24 18:55] bkchr commented on #12769
But this should be solved now?

[2022-11-24 20:19] andabak commented on #12613
Hi. Any updates/estimates on this issue? We believe this issue causes our nodes not being able to sync (Astar). Thanks!

[2022-11-24 20:34] Ank4n commented on #8701
I would like to attempt this and potentially pair with @gpestana if you are up for it?

[2022-11-24 22:51] #11752 closed

[2022-11-25 03:56] joao-paulo-parity commented on #12711
Thanks for the hint. I also found a similar one at https://github.com/frewsxcv/cargo-all-features#usage.

I think we could use something that just prints the crates and their features, then we'd use that output to generate the commands for a given execution strategy. Perhaps contributing a `--print` feature to those projects for this purpose would be worthwhile.

I've played a bit with a script fo

[2022-11-25 08:22] arkpar commented on #12658
Memory constraint for state-db is currently not used. As in not exposed to the CLI options. There was not much demand for is, as having predictable pruning history size is preferable. I guess we can remove it.

[2022-11-25 08:22] niklasad1 commented on #12711
oh didn't know that then it makes sense not to use it for substrate  where not all crates are published on crates.io

[2022-11-25 08:36] bkchr commented on #5685
But can we not defer sending back the handshake until the upper layers have accepted the handshake?

[2022-11-25 08:41] tomaka commented on #5685
Yes, that's exactly the objective of this issue. This is different from what I understand @altonen suggested which is to always send back the handshake to the remote and then later close the substream if its handshake fails validation.

All I'm saying is: either you make the handshake validation synchronous, in which case it's relatively easy to implement but not very useful, or you make the hands

[2022-11-25 08:45] altonen commented on #5685
I still need some time to look into this but when I'm looking at [this](https://github.com/paritytech/substrate/blob/master/client/network/src/protocol.rs#L1219) code, it seems me that the handshake is already either sent back at that point and we close the substream which leads me to me believe this is incorrect if I've understood your point @tomaka correctly. If this code is correct, however, I

[2022-11-25 09:03] jasl opened #12779 "[Feature request] support mock or generate private key on bechmarking and testing environment"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

This is not bug report.

I have searched StackExchange, I see there're people also ask the similar question, e.g. https://substrate.stackexchange.com/questions/5061/access-to-ecdsa-sign-inside

[2022-11-25 09:28] michalkucharczyk commented on #12769
Should be, but test is still not passing: https://gitlab.parity.io/parity/mirrors/substrate/-/jobs/2084982
([PR](https://github.com/paritytech/substrate/pull/12751) with recent master merged, [test toml](https://github.com/paritytech/substrate/blob/mku-warp-sync-ci-test/zombienet/0001-basic-warp-sync/0001-test-warp-sync.toml))

[2022-11-25 09:48] tomaka commented on #5685
Indeed, in the code that you've linked we have already sent back the handshake and we close the substream. The reason why we do that is precisely because it's not possible to do it correctly. So yes this code is not correct (and it actually causes a small cascade of small issues which are a bit long to explain here).

The place where substreams are accepted/denied is [the behavior.rs](https://gith

[2022-11-25 09:56] Szegoo commented on #12772
@kianenigma I would like to tackle this issue if it is not something urgent since I am a bit sick at the moment :/

[2022-11-25 10:51] bkchr commented on #12779
You can already generate private keys for benchmarking:
https://github.com/paritytech/substrate/blob/d1221692968b8bc62d6eab9d10cb6b5bf38c5dc2/frame/im-online/src/benchmarking.rs#L46-L48

The same also works from an offchain context.

They are using [`RuntimePublic`](https://github.com/paritytech/substrate/blob/d1221692968b8bc62d6eab9d10cb6b5bf38c5dc2/primitives/application-crypto/src/traits.rs#L94

[2022-11-25 10:51] bkchr commented on #12779
I basically have given the same answer on stackexchange :P

[2022-11-25 11:16] jasl commented on #12779
hmmm... I'll try
Thank you

[2022-11-25 14:45] serban300 opened #12780 "client/mmr: make it resilient to finality notifications loss"
Derived from this comment: https://github.com/paritytech/substrate/pull/12753/files#r1031660875

In-flight finality notifications might get lost on client crashes/restarts. In order to account for this we need to:

1. remember the last canonicalized block and canonicalize all the blocks between it and the blocks contained in the current finality notification if any
2. persist some state for the MM

[2022-11-25 14:47] #12779 closed

[2022-11-25 15:04] bkchr commented on #12733
So you want to use this error type in your node? Or where exactly? Or only in your runtime?

[2022-11-25 16:24] sandreim commented on #12772
I think the pallet approach is better than what we have already built as a test parachain for ZombieNet tests: https://github.com/paritytech/polkadot/blob/master/parachain/test-parachains/undying/collator/src/cli.rs#L67

We're planning to deploy it soon on Versi to test the limits when parachains actually do something.

[2022-11-25 20:32] m-cat commented on #12658
# Current Summary

## substrate

Removed the dep from `substrate` as well as mem info, but I ran into this error:

[code]

so we will need to remove the dep from `kvdb` in `parity-common`, first.

## polkadot (please help)

Removing the dep from `polkadot` was going well (apart from the same `kvdb` error).

Then I ran into this `ResidentSize` thing:

https://github.com/paritytech/polkadot/blob/mas

[2022-11-25 23:00] bkchr commented on #12658
You will need to implement some new trait, maybe directly this ResidentSize trait. However, for now it could probably be done local to the trait declaration?

[2022-11-26 01:06] ordian commented on #12658
TBH, I feel like we should get rid of memory-lru usage for runtime-api cache. Instead use a regular lru cache with a reasonable enough number of entries we can keep in memory for each type.

[2022-11-26 01:08] ordian commented on #12658
No, we don't. In fact this type can be removed completely along with old runtime api, but out of scope of this PR.

[2022-11-26 01:10] ordian commented on #12658
What do you mean? Why can just remove it? IIRC the `malloc_tracker` is there only as an optimization to allow for O(1) calculation. But the size_of is only used for information purposes only AFAIK, so can be removed unless I missed something.

[2022-11-26 10:28] dharjeezy commented on #12444
I have gone ahead to open a PR for this  @joepetrowski  @bernardoaraujor since it has not been worked on for over a month

[2022-11-27 16:25] gavofyork commented on #12701
@ruseinov any update here?

[2022-11-27 22:07] xlc opened #12789 "VersionedCall"
Previous discussion https://github.com/paritytech/substrate/pull/12740#discussion_r1031897810

We should introduce a `VersionedCall` that's opaque `Call` + `transaction_version` and it can validate stored `transaction_version` with current version and report error on mismatching.

And replace all stored calls to use `VersionedCall` to prevent unexpected bad execution due to breaking transaction ve

[2022-11-28 04:05] xiaozeplus opened #12791 "Rust WASM toolchain not installed, even I have installed"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When run `cargo build --release` to `substrate-node-template`, I met this problem like "Rust WASM toolchain not installed, please install it!", although I have installed it. The details are as

[2022-11-28 12:35] dandanlen commented on #12733
My use case is outside the runtime (but *with* access to the runtime crate: so I can use the concrete types of my runtime). I want to create a type-safe wrapper around the jsonrpc interface to submit extrinsics. And I want to be able to return a useful error when a call fails.

I can submit an extrinsic with an encoded `runtime::Call`, get the hash, and then watch for `runtime::Event`s for that ex

[2022-11-28 12:37] Slesarew opened #12793 "sp-core `full_crypto` is no_std incompatible"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

When building for `no_std` targets, `sp-core` dependency fails due to issue with [libsecp256k1](https://github.com/paritytech/libsecp256k1)

[code]

See more details and proposed fix https://g

[2022-11-28 14:20] m-cat commented on #12658
@ordian Okay, just raised the PR. I was seeing the code for the first time and it looked like the mem tracking was all over it. But yeah, in the end it was unused.

https://github.com/paritytech/trie/pull/172

[2022-11-28 14:58] sabinchitrakar opened #12794 "Upgrading Contracts Pallet from polkadot-v0.9.24 to polkadot-v0.9.30 breaks existing ink contracts."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

Trying to call any methods on existing contracts gives error contracts.ContractCodeNotFound. New contracts work without any issue. I can see that the code hash is still in the storage and the

[2022-11-28 16:37] m-cat commented on #12658
To do this we would need to provide size estimates for all the types, right? Doing that seems non-trivial, as some of the types are e.g. Vecs of Vecs, or even more complex. (That rhymed!)

This makes sense to me. I just need help picking the number of entries, then I'll be good to go. Maybe `1024` for all? Current sizes in bytes:

https://github.com/paritytech/polkadot/blob/master/node/core/runtim

[2022-11-28 17:08] ruseinov commented on #12701
@gavofyork not yet, been over at the staking retreat and now sub0, while doing some Staking work. planning to look into this in the next couple of days.

[2022-11-28 17:42] sam0x17 commented on #10848
So I've been working through the existing benchmarking macro code and I really like the syntax you propose @bkchr

That said, I'm curious what your thoughts are on detecting/annotating the components setup, the extrinsic call, and the post conditions verification code. My understanding based on how the underlying traits and structs work is we _do_ need to be able to separate these out in our macro

[2022-11-28 17:54] notlesh opened #12797 "Increased p2p Traffic on Relay Chain"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

After a recent client upgrade on Moonbeam, we are seeing a drastic increase in p2p traffic on the relay side. The traffic is associated with numerous peer connections which never seem to be re

[2022-11-28 18:13] notlesh opened #12799 "Reserved Nodes are no longer inclusive of in/out peer restrictions"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

A recent client change introduced a change in behavior where the set of `--reserved-nodes` is not counted against `--in-peers` or `--out-peers`. Previously this was counted against `--out-peer

[2022-11-28 18:52] #12738 closed

[2022-11-28 19:54] kianenigma opened #12801 "pallet-staking: tracka total unstaking amount"
Essentially, track `sum { ledger.unlocking.map(|u| u.value).sum() }`.

I imagine we can use it to:

1. future fancier unstaking process.
2. implement things like preventing all of the DOTs to be unstaked at once etc.

Perhaps it is a good practice to implement this using `StakingInterface` in a new `pallet-unstaking-tracker`. But I am not sure yet.

Either way, the logic for this is near-trivial.

[2022-11-28 20:07] ruseinov commented on #12801
Thinking about this, do you want to do this in a separate pallet or within the tracker?
It could also fit into EventListener paradigm, but I gotta check the code first.

[2022-11-29 00:00] ggwpez commented on #10848
Hey @sam0x17, the suggested code was actually from me :smile:
Currently we separate the setup, call and verify code since we only want to measure the time of the actual call.
So we definitely need some way of separating them; I think the separator approach could work. In this case it could throw an error message if there is no `#[extrinsic_call]` found.
For the call AFAIK it is wrapped in a bypass

[2022-11-29 00:35] joao-paulo-parity commented on #12678
@vjgaur Thanks for being willing to help. Unfortunately I don't know if I'm supposed to assign tickets in this project. I'll leave that up to the @paritytech/substrateteamleads.

[2022-11-29 00:36] joao-paulo-parity commented on #12678
Here's a list of all the crates in `master` as of this writing:

[code]

[2022-11-29 10:36] alvicsam opened #12803 "build-linux-substrate job fails in master pipeline"
Link: https://gitlab.parity.io/parity/mirrors/substrate/-/jobs/2096430

Error:

[code]

[2022-11-29 10:43] ordian commented on #12658
I'd prefer different sizes. For example, `SessionInfo` can be 10s or 100s of KiB and we cache it in the `RollingSessionWindow` anyway. Maybe 128?

 `SessionIndex` is tiny and caching 1000s of them is fine. I don't think we need to cache more than 1k items in general if we assume two forks and up to 500 blocks finality lag.

[2022-11-29 13:00] Jinsipang commented on #12803
Exactly, I'm also facing same issue

[2022-11-29 13:22] acatangiu opened #12804 "mmr: move RPC from frame to client"
Now that there is a dedicated client-side gadget with easy access to offchain db (https://github.com/paritytech/substrate/pull/12753), move all offchain-specific functionality including proof generation from the pallet to the gadget.

This will greatly simplify the pallet which will no longer need both `Storage<RuntimeStorage>` and `Storage<OffchainStorage>` abstractions - it will simply have `Sto

[2022-11-29 13:55] tomaka commented on #10623
Would it be possible to start implementing this, at least the necessary trie/client changes?

[2022-11-29 14:49] acatangiu commented on #12531
fixed by https://github.com/paritytech/substrate/pull/12753

[2022-11-29 14:49] #12531 closed

[2022-11-29 14:51] cheme commented on #10623
I did implement it in the past, but my branches are not really up to date.
I can plan to do it start of next week, I mean if nobody else plan to do it, I will do it start of next week :)

[2022-11-29 15:52] ruseinov commented on #12701
@gavofyork on it now!

[2022-11-29 15:53] sabinchitrakar commented on #12794
Found out that we were not running the migrations related to pallet_contracts which was causing the issue. The issue has resolved once we ran it. Thanks !.

[2022-11-29 15:53] #12794 closed

[2022-11-29 16:10] bkchr commented on #12678
[code]

All these don't need to be published.

[2022-11-29 17:25] vjgaur commented on #12678
thanks I take it up

[2022-11-29 17:44] vjgaur commented on #12678
@bkchr I raised a PR  with issue number [#7557](https://github.com/paritytech/substrate/pull/12714#issuecomment-1316460246) sometime ago whose code is yet to be merged. Can you please help me merge this pr ? There are no reviewers yet assigned to it.

[2022-11-29 19:38] joao-paulo-parity commented on #12678
@vjgaur FYI I have a WIP PR which includes the `publish` annotations at #12768, so it probably isn't worthwhile to have a another PR for this, as the change is pretty minor and not meaningful until we actually start publishing the crates

[2022-11-30 00:25] ruseinov commented on #12701
@gavofyork this is done here: https://github.com/paritytech/substrate/pull/12004
All this PR needs is test fixes, which is what I'm going to take care of shortly. Meanwhile I would appreciate a quick check if the solution is a correct one.

According to the specs of this ticket it should be. In my opinion it could be better, since we are basically duplicating some of that logic between `ensure_can

[2022-11-30 03:00] kianenigma commented on #11762
Another cool idea here would be to use pre-image pallet for image submission.

[2022-11-30 03:16] mmyyrroonn commented on #11225
@DylanVerstraete @vovacha @2075 @bkchr Hi, we meet the same issue here. We're trying to upgrade the substrate from released 3.0.0 to monthly-release-2021-06. How did you fix the issue?

[2022-11-30 04:58] vjgaur commented on #12678
Alright than I leave it and move one to some other issue, Thanks for letting me know

[2022-11-30 09:44] acatangiu commented on #12804
After giving this a try, I'm not convinced it's actually better. We still need to call into runtime to get MMR size when generating proof (so it's not really more efficient), and we ultimately end up with proof generation and verification split across multiple components. I now think keeping proof generation in the pallet is better. The gadget is then responsible for only offchain canonicalization

[2022-11-30 09:45] acatangiu commented on #12804
Fixed in https://github.com/paritytech/substrate/pull/12805

[2022-11-30 09:45] #12804 closed

[2022-11-30 11:59] bkchr commented on #12793
There was recently an issue around `no_std` incompatibility. Which was solved? https://github.com/paritytech/substrate/issues/12225

Maybe the problem is the target architecture.

[2022-11-30 12:32] Slesarew commented on #12793
Looks similar, but this time it's ECDSA, different crypto and different crate. Issue you refer to is about `ed25519-zebra` crate, while this is `libsecp256k1` crate, and it still persists even in 7.0.0

With a tweak proposed above it builds nicely, should be a simple fix since the lib is also owned by Parity.

[2022-11-30 13:23] Almugra opened #12809 "Error Connecting to Substrate Connection to websocket 'ws://127.0.0.1:9944/' failed."
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

I was trying to follow this tutorial https://docs.substrate.io/tutorials/get-started/build-local-blockchain/#install-the-front-end-template but after doing `yarn start` I get the error "Error

[2022-11-30 13:34] bkchr commented on #12793
Ahh the problem is that `libsecp256k1` is pulled in `build-dependencies`.

The solution to your problem is to add:
[code]

in your workspace `Cargo.toml`.

[2022-11-30 17:21] crystalin opened #12811 "Confusing blocks-pruning description"
### Is there an existing issue?

- [X] I have searched the existing issues

### Experiencing problems? Have you tried our Stack Exchange first?

- [X] This is not a support question.

### Description of bug

If only the finalized blocks are subject to removal, and all finalized blocks are canonical (maybe I'm wrong here?), what is the difference between parameter default (all finalized blocks) and

[2022-11-30 19:59] Slesarew commented on #12793
It does work indeed, did not notice that `generate` script still uses 2018 rust version. Setting rust edition to 2021 seems even better here.

[2022-11-30 19:59] #12793 closed